<script src="https://qureskincaredns.com/_sunil_homepage/assets/_sunil_swiper-bundle-min.js" defer="defer"></script>

<link rel="stylesheet" href="https://qureskincaredns.com/_sunil_homepage/assets/_sunil_swiper-bundle-min.css">
<link rel="stylesheet" href="https://qureskincaredns.com/_sunil_homepage/assets/_sunil_cartChanges.css">

{% if settings.sales_special %}
	<link href="https://qureskincaredns.com/_sunil_homepage/assets/_sunil_font-awesomes.css" rel="stylesheet" />
	<link rel="stylesheet" href="https://qureskincaredns.com/_sunil_homepage/assets/_sunil_new-homepage-womens_day.css">
	<link rel="stylesheet" href="https://qureskincaredns.com/_sunil_homepage/assets/womens_day.css">
	<link rel="stylesheet" href="https://qureskincaredns.com/_sunil_homepage/assets/_sunil_fonts.css">

	<div class="announcement_bar womens_day">
	  <span style="margin-right:5px"><svg xmlns="http://www.w3.org/2000/svg" width="10" height="15"
		  viewBox="0 0 10 15" fill="none">
		  <path fill-rule="evenodd" clip-rule="evenodd"
			d="M4.7638 8.14783C6.75368 8.14783 8.32759 6.57106 8.32759 4.67391C8.32759 2.77677 6.75368 1.2 4.7638 1.2C2.77391 1.2 1.2 2.77677 1.2 4.67391C1.2 6.57106 2.77391 8.14783 4.7638 8.14783ZM4.7638 9.34783C7.39477 9.34783 9.52759 7.25524 9.52759 4.67391C9.52759 2.09258 7.39477 0 4.7638 0C2.13282 0 0 2.09258 0 4.67391C0 7.25524 2.13282 9.34783 4.7638 9.34783Z"
			fill="#C92168" />
		  <path fill-rule="evenodd" clip-rule="evenodd"
			d="M4.27344 15.0001L4.27344 9.3479L5.47344 9.3479L5.47344 15.0001L4.27344 15.0001Z" fill="#C92168" />
		  <path fill-rule="evenodd" clip-rule="evenodd" d="M6.87841 12.9773H2.86719V11.7773H6.87841V12.9773Z"
			fill="#C92168" />
		</svg> </span>
	  <p>WOMEN'S DAY | SPEND $150</p> <a
		href="https://www.qureskincare.com/collections/best-sellers?_ga=2.74205201.2089103695.1708414452-1293912522.1708414435"
		class="pink_coloured">Get FREE Face Serum</a>
	</div>
{% else %}
	<link rel="stylesheet" href="https://qureskincaredns.com/_sunil_homepage/assets/_sunil_new-homepage2.css">
	<div class="announcement_bar">
		<p><span>FREE World-Wide Shipping</span> Orders Above $100 <a href="https://www.qureskincare.com/pages/exclusive-holiday-bundle-deal" class="green_coloured">SHOP NOW</a></p>
	</div>
{% endif %}