<div class="7-step">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="7-step-info new-steps">
          <div class="7-step-slider">
            <img src="https://cdn.shopify.com/s/files/1/0441/1431/3365/files/Rectangle_180_3a21d94d-1c62-4952-b7a4-ce493c299f05.png?v=1675684314" alt="">
            <div class="step-slider-con">
              <h5>STEP 1:</h5>
              <p>Twist open the chamber of the device and fill with one ampule of serum. Twist on needle head with lid to close it tight.</p>
            </div>
          </div>
           <div class="7-step-slider">
            <img src="https://cdn.shopify.com/s/files/1/0441/1431/3365/files/Rectangle_181_85961ccf-89ed-4fef-b3ff-bccc365bfec6.png?v=1675684469" alt="">
            <div class="step-slider-con">
              <h5>STEP 2:</h5>
              <p>Leave the device upside down for 1-2 minutes. During this time, wash your face and make sure your hands are clean.</p>
            </div>
          </div>
         <div class="7-step-slider">
            <img src="https://cdn.shopify.com/s/files/1/0441/1431/3365/files/Rectangle_181_1_685e220e-a522-4979-aa96-1fc6ddb96325.png?v=1675684469" alt="">
            <div class="step-slider-con">
              <h5>STEP 3:</h5>
              <p>Once the serum has had enough time to make its way into the needles, you can take off the lid and start micro-infusing!</p>
            </div>
          </div>
         <div class="7-step-slider">
            <img src="https://cdn.shopify.com/s/files/1/0441/1431/3365/files/Rectangle_181_2_65edef30-299c-494a-9e89-8f7dd2f271cf.png?v=1675684469" alt="">
            <div class="step-slider-con">
              <h5>STEP 4:</h5>
              <p>Start at the centre of the face and work your way outward to cover the full face. Take any leftover serum from the device and pat it onto your face and neck to leave on overnight.</p>
            </div>
          </div>
             <div class="7-step-slider">
            <img src="https://cdn.shopify.com/s/files/1/0441/1431/3365/files/image_60_9452a40c-7f05-45a8-a25e-51429b894fd8.png?v=1675684572" alt="">
            <div class="step-slider-con">
              <h5>STEP 5:</h5>
              <p>Once treatment is completed, place lid back on the needle head. Twist the lid off and dispose safely. Open a new sterile needle head and put it on the device ready for your next treatment.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% schema %}
  {
    "name": "Section name",
    "settings": []
  }
{% endschema %}