<section class="about-banner-main">
  <div class="qure-container">
    <div class="qure-row a-center">
      <div class="qure-col-6">
        <div class="about-banner-left">
          	<h2>About Qure</h2>
          <p>Like going to a beauty clinic 5 times <span>a week—without leaving your couch</span></p>
        </div>
      </div>
      <div class="qure-col-6">
        <div class="about-banner-img">
          	<img src="https://cdn.shopify.com/s/files/1/0441/1431/3365/files/about-banner-img.png?v=1600181551">
        </div>
      </div>
    </div>
  </div>
</section>

<section class="about-first-sec">
  <div class="qure-container">
    <div class="qure-row">
      <div class="qure-col-12">
        <div class="about-first-inner-con">
          <h2>Bypassing the “skin gatekeepers”</h2>
          <p>After seeing friends and family frustrated that they could only access professional skincare treatments inside high-end clinics, Qure’s founders decided it was 
            time to shake things up.</p>
          <p>And set out on a mission to democratize professional skincare—bypassing the industry’s “skin gatekeepers” to give you science-based, clinical-grade 
            skin treatments you can do easily, all by yourself, in the comfort and privacy of your own home.</p>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="value-main-area">
  <div class="qure-container">
    <div class="qure-row">
      <div class="qure-col-12">
        <div class="value-heading-area">
          	<h2>Our Values</h2>
        </div>
      </div>
    </div>
    <div class="value-con-area">
      <div class="qure-row">
        <div class="qure-col-3">
          <div class="value-inner-con">
            <div class="value-icon-area">
              	<img src="https://cdn.shopify.com/s/files/1/0441/1431/3365/files/qure-icon-no_bs.svg?v=1606039004">
            </div>
            <div class="value-txt-area">
              <h2>No BS</h2>
              <p>No puffed-up claims. Qure’s treatments are grounded in science. And they work. That’s our guarantee.</p>
            </div>
          </div>
        </div>
        <div class="qure-col-3">
          <div class="value-inner-con">
            <div class="value-icon-area">
              	<img src="https://cdn.shopify.com/s/files/1/0441/1431/3365/files/qure-icon-fast_working.svg?v=1606039004">
            </div>
            <div class="value-txt-area">
              <h2>Fast working</h2>
              <p>Used regularly, you will see a difference in  your skin 5-10 times faster than going once a week to a clinic.</p>
            </div>
          </div>
        </div>
        <div class="qure-col-3">
          <div class="value-inner-con">
            <div class="value-icon-area">
              	<img src="https://cdn.shopify.com/s/files/1/0441/1431/3365/files/qure-icon-affordable.svg?v=1606039004">
            </div>
            <div class="value-txt-area">
              <h2>Affordable</h2>
              <p>No more “skin gatekeepers,” this is clinical-grade skin care that everyone can afford.</p>
            </div>
          </div>
        </div>
        <div class="qure-col-3">
          <div class="value-inner-con">
            <div class="value-icon-area">
              	<img src="https://cdn.shopify.com/s/files/1/0441/1431/3365/files/qure-icon-skin_care_your_way.svg?v=1606039003">
            </div>
            <div class="value-txt-area">
              <h2>Skin care your way</h2>
              <p>Treat your skin when you want, where you want, and still get great results.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="about-left-right-main">
  <div class="qure-container">
    <div class="qure-row">
      <div class="qure-col-6">
        <div class="about-left-img-area">
          	<img src="https://cdn.shopify.com/s/files/1/0441/1431/3365/files/Photo1.jpg?v=1606150649" class="qure-img-fluid">
        </div>
      </div>
      <div class="qure-col-6">
        <div class="about-right-con-area">
          <h2>Putting you in control of your skin</h2>
          <p>Qure makes professional, clinical-grade treatments available to everyone. Meaning you no longer have to pay up thousands of dollars to go to a clinic once a 
            week for 6-8 weeks… and seeing almost no difference in your skin.</p>
          
          <p>Now, you can treat your skin, every day and see faster, longer- lasting results with the highest-quality skin therapies and topical products to treat and 
            heal your skin both inside and out.</p>
          
          <p>Qure is about putting you in the driver’s seat: about giving you the power to treat your skin with proven scientific processes, methods, and ingredients.</p>
          <p>Because no one knows your skin better than you do.</p>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="about-left-right-main second-sec">
  <div class="qure-container">
    <div class="qure-row">      
      <div class="qure-col-6">
        <div class="about-right-con-area">
          <h2>People first. Not profits.</h2>
          <p>Today’s popular home-based topical skincare brands are more interested in driving profits than developing scientific processes or formulas that are actually
            effective.</p>
          
          <p>People switch products and clinics month after month, disappointed by their results but clinging to the hope that they’ll one day find the “holy grail” of 
            skin care - because if they change what they use, they’ll achieve the results they desire.</p>
          
          <p>In reality? It’s not just what you use on your skin, but it’s how and how often you treat it that gives you long-lasting results.</p>
          <p>Salon and aesthetic clinic-based treatments know this, which is why they deliver results based on processes, not just chemical formulas. But going to a 
            clinic is not sustainable, and most people can hardly afford treating their skin once a month, let alone once a week… or the 5 times a week their skin 
            really needs for long-term results.</p>
          
          <p>And people are tired of being sold on golden promises of beautiful skin with no effort.</p>
          
          <p>They’re frustrated that the easy-to-come-by treatments aren’t the slightest bit as effective as they claim. And they’re angry that even the most expensive 
            products and treatments can’t or don’t treat the root cause of their skin care problems.</p>
          
          <p>They wish to find something that “meets them halfway” between the fancy clinics and the comfort and privacy of their own home. That lets them take control, 
            take charge of their own skin—giving them the power to decide when, where, and how they treat their skin, without sacrificing effectiveness.</p>
        </div>
      </div>
      <div class="qure-col-6">
        <div class="about-left-img-area">
          	<img src="https://cdn.shopify.com/s/files/1/0441/1431/3365/files/Photo2.jpg?v=1606150649" class="qure-img-fluid">
        </div>
      </div>
    </div>
  </div>
</section>

<section class="about-cta-main">
  <div class="qure-container">
    <div class="qure-row">
      <div class="qure-col-12">
        <div class="about-cta-inner">
          <h2>And this is exactly what Qure is all about:</h2>
          <p>Bringing you clinical-grade technologies and products for DIY skin therapies, in the comfort of your own home, and at a price everyone can afford.</p>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- <section class="about-newsletter-main">
  <div class="qure-container">
    <div class="qure-row">
      <div class="qure-col-12">
        <div class="newsletter-inner-con">
          <h2 class="g-canela-heading">we make really good emails</h2>
          <p>Receive emails on things you'll want to know about, including promotions, skincare tips, and more. Unsubscribe anytime.</p>  
          <div class="newsletter-con-main">
            <script type="text/javascript" async 
 src="https://static.klaviyo.com/onsite/js/klaviyo.js?company_id=VtM5fu"></script> 
      <div class="klaviyo-form-YpweK2"></div>
          </div>
        </div>
      </div>
    </div>
    
  </div>
</section> -->




<style>
  @media(max-width:767px){
    .newsletter-inner-form {
    max-width: 100%;
}
.field-cus-area .custom-input {
    flex: 0 0 100%;
    max-width: inherit;
}
.field-cus-area .sibmit-btn {
    width: 100%;
}

.newsletter-inner-con p {
    font-size: 14px;
    font-weight: 300;
    color: #000;
}

  }
</style>

{% schema %}
  {
    "name": "Section name",
    "settings": []
  }
{% endschema %}
