<section class="better">
  <h2>{{ section.settings.headings }}</h2>
  {{ section.settings.text }}
</section>
<section class="micro">
  <div class="micro-detail">
      <img src="//cdn.shopify.com/s/files/1/0441/1431/3365/files/Rectangle_43_1_4465d466-dc3d-4e86-9eab-8248c476395e_large.png?v=1676281590">
     <h2>Qure’s Micro-Infusion System</h2>
      <ul>
        <li>stamping doesn’t <b>over-damage</b> skin</li>
        <li>no downtime, faster healing &amp; recovery</li>
        <li>no disinfecting of needles required</li>
        <li>disposable heads mimizes risk of infection/ irritation</li>
        <li><b>maximum absorption &amp; results </b>as serum delivered into skin</li>
      </ul>
    </div>
    <span class="compare-vs">VS</span>
    <div class="needing">
      <img src="//cdn.shopify.com/s/files/1/0441/1431/3365/files/Group_1436_0c929061-0aeb-4471-96bd-e8b7548058e7_large.png?v=1676281609">
      <h2>Other At-Home Needling</h2>
      <ul>
        <li>rolling creates <b>unessesary damage</b> of skin</li>
        <li>slower recovery &amp; longer healing time</li>
        <li>disinfecting required</li>
        <li>infection/ irritation is increased if not disinfected well</li>
        <li><b>less effective absorption</b> of serum as applied topically</li>
      </ul>
    </div>
</section>
{% schema %}
  {
    "name": "Better Home Mobile",
    "settings": [
      {
        "type": "text",
        "id": "headings",
        "label": "Heading"
      },
      {
        "type": "richtext",
        "id": "text",
        "label": "Text"
      },
      {
        "type": "image_picker",
        "id": "left_img",
        "label": "Left Image"
      },
      {
        "type": "text",
        "id": "heading",
        "label": "Heading"
      }
    ],
    "blocks":[
      {
        "type":"content",
        "name": "Content",
        "settings":[
          {
            "type":"textarea",
            "id":"content",
            "label":"Content"
          }
        ]
      }
    ]
  }
{% endschema %}