<section class="Frequently-asked">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h2>What skin concerns does the Q-Rejuvalight Pro Facewear treat?</h2>
        <button class="accordion">Fine Lines and Wrinkles</button>
        <div class="panel">
          <div class="add-image">
            <img src="https://cdn.shopify.com/s/files/1/0441/1431/3365/files/Untitled-1_117e60c1-cc21-4c85-86e5-209a0f8a6b0c.png?v=1615286878">
          </div>
          <p>Collagen is the foundation of a youthful appearance but as we age, it tends to decrease and become less effective. Slathering on the greatest topical serums alone will only go so far with helping improve signs of ageing.</p>
          <p>Q-Rejuvalight Pro Facewear rejuvenates the skin from the inside out by naturally <b>stimulates collagen production</b> levels deep within the skin to:</p>
          <ul>
            <li>
              <span class="icon"><img src="https://cdn.shopify.com/s/files/1/0441/1431/3365/files/Untitled-1_6fc1c095-c6dc-463d-b6f9-dad7193e1e51.png?v=1613988006"></span>
              <span class="text">Effectively <b>reduce the depth of fine lines</b></span>
            </li>
            <li>
              <span class="icon"><img src="https://cdn.shopify.com/s/files/1/0441/1431/3365/files/Untitled-1_6fc1c095-c6dc-463d-b6f9-dad7193e1e51.png?v=1613988006"></span>
              <span class="text">Improves skin firmness</span>
            </li>
            <li>
              <span class="icon"><img src="https://cdn.shopify.com/s/files/1/0441/1431/3365/files/Untitled-1_6fc1c095-c6dc-463d-b6f9-dad7193e1e51.png?v=1613988006"></span>
              <span class="text"><b>Combats signs of ageing </b>and wrinkles. </span>
            </li>
            <li>
              <span class="icon"><img src="https://cdn.shopify.com/s/files/1/0441/1431/3365/files/Untitled-1_6fc1c095-c6dc-463d-b6f9-dad7193e1e51.png?v=1613988006"></span>
              <span class="text">Give you visibly <b>healthier, smoother, younger-looking skin.</b></span>
            </li>
          </ul>
          <div class="trial">
            <p>In a Clinical Trial…</p>
            <p><b>...70%</b> of subjects reported a lasting and clearly visible improvement in the <b>reduction of wrinkles and fine lines.</b></p>
            <p><b>91%</b> of subjects reported <b>improved skin tone.</b> </p>
            <p><b>82%</b> reported <b>enhanced smoothness</b> of their facial skin. </p>
          </div>
        </div>

        <!--         <button class="accordion">What’s included in the box?</button>
<div class="panel">
<ul>
<li>Q-Rejuvalight Pro Facewear </li>
<li>Detachable, adjustable head strap for a universal fit and hands-free use</li>
<li>Universal USB charging cord (5V)</li>
<li>Storage bag</li>
</ul>
</div> -->

        <button class="accordion">Breakouts and Acne</button>
        <div class="panel">
          <div class="add-image">
            <img src="https://cdn.shopify.com/s/files/1/0441/1431/3365/files/skin-1.png?v=1613990714">
          </div>
          <p>It’s easy to believe acne and breakouts happen because you’re doing something wrong. But you’re not: skin blemishes happen when hair follicles are blocked with dead skin, bacteria, and oil.  </p>
          <p>Q-Rejuvalight Pro Facewear says Later, acne and  <b>goes deeper than any topical cream can go</b> on its own to tackle acne at its root by:</p>
          <ul>
            <li>
              <span class="icon"><img src="https://cdn.shopify.com/s/files/1/0441/1431/3365/files/Untitled-1_6fc1c095-c6dc-463d-b6f9-dad7193e1e51.png?v=1613988006"></span>
              <span class="text">  Eliminating breakout-causing bacteria</span>
            </li>
            <li>
              <span class="icon"><img src="https://cdn.shopify.com/s/files/1/0441/1431/3365/files/Untitled-1_6fc1c095-c6dc-463d-b6f9-dad7193e1e51.png?v=1613988006"></span>
              <span class="text"> Regulating oil production </span>
            </li>
            <li>
              <span class="icon"><img src="https://cdn.shopify.com/s/files/1/0441/1431/3365/files/Untitled-1_6fc1c095-c6dc-463d-b6f9-dad7193e1e51.png?v=1613988006"></span>
              <span class="text">Reducing redness and inflammation</span>
            </li>
            <li>
              <span class="icon"><img src="https://cdn.shopify.com/s/files/1/0441/1431/3365/files/Untitled-1_6fc1c095-c6dc-463d-b6f9-dad7193e1e51.png?v=1613988006"></span>
              <span class="text"> Preventing future flare-ups</span>
            </li>
            <li>
              <span class="icon"><img src="https://cdn.shopify.com/s/files/1/0441/1431/3365/files/Untitled-1_6fc1c095-c6dc-463d-b6f9-dad7193e1e51.png?v=1613988006"></span>
              <span class="text">   Fading post-breakout marks </span>
            </li>
          </ul>
          <div class="trial">
            <p>In a Clinical Trial…</p>
            <p><b>...100%</b> of subjects saw a <b>significant reduction in their acne</b> after 2 weeks and positive results still apparent after 3 months.</p>

          </div>
        </div>
        <button class="accordion">Dark Spots and Hyperpigmentation</button>
        <div class="panel">
          <div class="add-image">
            <img src="https://cdn.shopify.com/s/files/1/0441/1431/3365/files/skin-2.png?v=1613990965">
          </div>
          <p>Hyperpigmentation can result in unwanted spots or patches of skin being darker than other areas. For dark spots, scars, or discoloration, it usually takes months, even years to fade from your face. Especially by just using topicals.</p>
          <p>Q-Rejuvalight Pro Facewear activates your skin’s natural healing process to:  </p>
          <ul>
            <li>
              <span class="icon"><img src="https://cdn.shopify.com/s/files/1/0441/1431/3365/files/Untitled-1_6fc1c095-c6dc-463d-b6f9-dad7193e1e51.png?v=1613988006"></span>
              <span class="text">  Help your <b>skin cells heal and rejuvenate naturally.</b></span>
            </li>
            <li>
              <span class="icon"><img src="https://cdn.shopify.com/s/files/1/0441/1431/3365/files/Untitled-1_6fc1c095-c6dc-463d-b6f9-dad7193e1e51.png?v=1613988006"></span>
              <span class="text"> Breaks down deposits of melanin so your skin heals to its normal pigment levels </span>
            </li>
            <li>
              <span class="icon"><img src="https://cdn.shopify.com/s/files/1/0441/1431/3365/files/Untitled-1_6fc1c095-c6dc-463d-b6f9-dad7193e1e51.png?v=1613988006"></span>
              <span class="text">Reduces the appearance of <b>dark spots and hyperpigmentation,</b> including <b>scars</b></span>
            </li>
            <li>
              <span class="icon"><img src="https://cdn.shopify.com/s/files/1/0441/1431/3365/files/Untitled-1_6fc1c095-c6dc-463d-b6f9-dad7193e1e51.png?v=1613988006"></span>
              <span class="text"> Leaves you with <b>even-toned</b> and <b>refreshed-looking skin</b></span>
            </li>
          </ul>
        </div>
        <button class="accordion">Inflammation, Rosacea, and Redness</button>
        <div class="panel">
           <div class="add-image">
            <img src="https://cdn.shopify.com/s/files/1/0441/1431/3365/files/skin-3.png?v=1613991516">
          </div>
          <p>Flushed cheeks, broken capillaries, swollen breakouts, painful wounds...  Inflammation can wreak havoc on skin health and appearance. </p>
          <p>Trying multiple topical creams that work only on the surface level can leave you feeling frustrated.</p>
          <p>Q-Rejuvalight Pro Facewear’s non-invasive, natural and painless LED technology heals the skin from the inside out to: </p>

          <ul>
            <li>
              <span class="icon"><img src="https://cdn.shopify.com/s/files/1/0441/1431/3365/files/Untitled-1_6fc1c095-c6dc-463d-b6f9-dad7193e1e51.png?v=1613988006"></span>
              <span class="text">   <b>Reduce inflammation </b>by increasing blood flow and circulation to damaged tissues</span>
            </li>
            <li>
              <span class="icon"><img src="https://cdn.shopify.com/s/files/1/0441/1431/3365/files/Untitled-1_6fc1c095-c6dc-463d-b6f9-dad7193e1e51.png?v=1613988006"></span>
              <span class="text"> Strengthen the skin’s barrier  </span>
            </li>
            <li>
              <span class="icon"><img src="https://cdn.shopify.com/s/files/1/0441/1431/3365/files/Untitled-1_6fc1c095-c6dc-463d-b6f9-dad7193e1e51.png?v=1613988006"></span>
              <span class="text"> Help skin cells and tissues <b>regenerate</b> and <b>heal faster</b></span>
            </li>
            <li>
              <span class="icon"><img src="https://cdn.shopify.com/s/files/1/0441/1431/3365/files/Untitled-1_6fc1c095-c6dc-463d-b6f9-dad7193e1e51.png?v=1613988006"></span>
              <span class="text">Promote healthy cellular function to soothe and calm sensitive skin.</span>
            </li>
          </ul>

        </div>
      </div>
    </div>
  </div>
</section>

{% schema %}
  {
    "name": "Skin Concerns Mobile",
    "class": "faq",
    "settings": [
      ]
  }
{% endschema %}

<style>
  #q-rejuvalight-pro-facewear .Frequently-asked .accordion {
    background-color: transparent;
    cursor: pointer;
    padding: 15px 5px 15px 5px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    transition: 0.4s;
    font-size: 20px;
    color: #101010;
    font-weight: 500;
    font-family: "Poppins";
    outline:0;
    border-bottom: 1px solid #101010;
  }
  #q-rejuvalight-pro-facewear .Frequently-asked button:focus{
    outline:0;
  }
  #q-rejuvalight-pro-facewear .Frequently-asked .accordion:after {
    content: '\f078';
    color: #101010 !important;
    font-weight: bold;
    float: right;
    margin-left: 5px;
    font: normal normal normal 14px/1 FontAwesome;
    line-height: 26px;
  }

  #q-rejuvalight-pro-facewear .Frequently-asked .accordion.active:after {
    content: "\f077";
    color: #101010 !important;
    font: normal normal normal 14px/1 FontAwesome;
    line-height: 26px;
  }
  #q-rejuvalight-pro-facewear .Frequently-asked .panel p{
    font-size: 16px;
    color: #333;
    font-weight: 400;
    padding:10px 0;
    margin: 0;
  }
  #q-rejuvalight-pro-facewear .Frequently-asked .panel ul{
    margin:0;
    padding:0;
    list-style:none;
  }
  #q-rejuvalight-pro-facewear .Frequently-asked .panel ul li{
    font-size: 16px;
    color: #333;
    font-weight: 400;
    padding: 5px 0;
  }
  #q-rejuvalight-pro-facewear .Frequently-asked .panel {
    padding: 0 18px;
    background-color: transparent;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
  }
  #q-rejuvalight-pro-facewear .Frequently-asked .panel .add-image{
    margin: 15px 0;
  }
  #q-rejuvalight-pro-facewear .Frequently-asked .panel .add-image img {
  	width:100%;
  }
  #q-rejuvalight-pro-facewear .Frequently-asked{
    background-color:#f9f9f9;
    padding: 75px 0;
  }
  #q-rejuvalight-pro-facewear .Frequently-asked h2{
    font-size: 35px;
    color: #1b1b1b;
    font-family: "Canela";
    text-align: center;
    margin-bottom: 50px;
  }
  #shopify-section-Frequently-asked-mobile .Frequently-asked {
    background-color: #c8e6dc !important;
  }
  @media (min-width:481px){
    #shopify-section-Frequently-asked-mobile .Frequently-asked{
      display:none;
    }
  }
</style>