<div class="new-sections homepage dekstop-view">
  <div class="container">
    <div class="row">
      <div class="col-md-12 mobile-hide">
        <div class="new-info">
          <div class="info-slider">
            <div class="slider slider-content">
              <div>
                <h2>"First mask in the world that adapts to your skin"</h2>
              </div>
              <div>
                <h2>“Their mask light therapy is a game changer. Say goodbye to clinics.”</h2>
              </div>
              <div>
                <h2>"The Qure LED mask and personalized mobile app, you will make your dreams come true"</h2>
              </div>
              <div>
                <h2>"A treatment for perfect skin that does not cause redness, and can be done at home"</h2>
              </div>
              <div>
                <h2>“Their Light Therapy Mask is a game changer.”</h2>
              </div>
              <div>
                <h2>"Qure LED Mask is becoming an indispensable part of the skincare routine worldwide"</h2>
              </div> 
            </div>
            <div class="slider slider-thumb">
              <div>
                <a href="#" rel="noindex nofollow">
                  <img src="https://cdn.shopify.com/s/files/1/0441/1431/3365/files/Harper_s-Baazar-1b.png?v=1623848622" alt="">
                </a>
              </div>
              <div>
                <a href="#" rel="noindex nofollow">
                  <img src="https://cdn.shopify.com/s/files/1/0441/1431/3365/files/Instyle-1b.png?v=1623848622" alt="">
                </a>
              </div>
              <div>
                <a href="#" rel="noindex nofollow">
                  <img src="https://cdn.shopify.com/s/files/1/0441/1431/3365/files/Cosmopolitan-1b.png?v=1623848622" alt="">
                </a>
              </div>
              <div>
                <a href="#" rel="noindex nofollow">
                  <img src="https://cdn.shopify.com/s/files/1/0441/1431/3365/files/Elle-1b.png?v=1623848622" alt="">
                </a>
              </div>
              <div>
                <a href="#" rel="noindex nofollow">
                  <img src="https://cdn.shopify.com/s/files/1/0441/1431/3365/files/Glamour-1b.png?v=1623848623" alt="">
                </a>
              </div>
              <div>
                <a href="#" rel="noindex nofollow">
                  <img src="https://cdn.shopify.com/s/files/1/0441/1431/3365/files/Grazia-1b.png?v=1623848622" alt="">
                </a>
              </div>
              
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-12 mobile-show">
    <div class="new-info">
      <div class="icon-sldier">
        <div class="new-add">
          <div class="icons-image">
            <img src="https://cdn.shopify.com/s/files/1/0441/1431/3365/files/Instyle-1b.png?v=1623848622" alt="">
          </div>
          <div class="icons-content">
            <h2>“Their mask light therapy is a game changer. Say goodbye to clinics.”</h2>
          </div>
        </div>
        <div class="new-add">
          <div class="icons-image">
            <img src="https://cdn.shopify.com/s/files/1/0441/1431/3365/files/Harper_s-Baazar-1b.png?v=1623848622" alt="">
          </div>
          <div class="icons-content">
            <h2>"First mask in the world that adapts to your skin"</h2>
          </div>
        </div>  

        <div class="new-add">
          <div class="icons-image">
            <img src="https://cdn.shopify.com/s/files/1/0441/1431/3365/files/Cosmopolitan-1b.png?v=1623848622" alt="">
          </div>
          <div class="icons-content">
            <h2>"The Qure LED mask and personalized mobile app, you will make your dreams come true"</h2>
          </div>
        </div>
        <div class="new-add">
          <div class="icons-image">
            <img src="https://cdn.shopify.com/s/files/1/0441/1431/3365/files/Elle-1b.png?v=1623848622" alt="">
          </div>
          <div class="icons-content">
            <h2>"A treatment for perfect skin that does not cause redness, and can be done at home"</h2>
          </div>
        </div>
        <div class="new-add">
          <div class="icons-image">
            <img src="https://cdn.shopify.com/s/files/1/0441/1431/3365/files/Glamour-1b.png?v=1623848623" alt="">
          </div>
          <div class="icons-content">
            <h2>“Their Light Therapy Mask is a game changer.”</h2>
          </div>
        </div>
        <div class="new-add">
          <div class="icons-image">
            <img src="https://cdn.shopify.com/s/files/1/0441/1431/3365/files/Grazia-1b.png?v=1623848622" alt="">
          </div>
          <div class="icons-content">
            <h2>"Qure LED Mask is becoming an indispensable part of the skincare routine worldwide"</h2>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>

<style>
  .info-slider .slider.slider-content div {
    opacity: 0;
}
.info-slider .slider.slider-content div:nth-child(1) {
    opacity: 1;
}
.info-slider .slider.slider-thumb {
    display: flex;
    justify-content: center;
}
.info-slider .slider.slider-content {
    height: 90px;
}
.info-slider .slider.slider-thumb.slick-initialized.slick-slider {
    display: block;
      width: 100%;
}
.info-slider .slider.slider-content.slick-initialized.slick-slider {
    height: auto;
}
.info-slider .slider.slider-content.slick-initialized.slick-slider div {
    opacity: 1;
}
  @media (max-width:767px){
    .icon-sldier .new-add {
    opacity: 0;
}
    .icon-sldier .new-add:nth-child(1) {
    opacity: 1;
}
    .mobile-show .icon-sldier {
    height: 100px;
}
    .mobile-show .icon-sldier.slick-initialized.slick-slider.slick-dotted {
        height: auto;
    }
    .mobile-show .icon-sldier.slick-initialized.slick-slider.slick-dotted .new-add {
        opacity: 1;
    }
  }
</style>



{% schema %}
{
"name": "Logo Section",
"settings": [
{
"id": "title",
"type": "text",
"label": "Main Title"
}
],
"blocks": [
{
"type": "text",
"name": "Slider",
"settings": [

{
"id": "prd_img",
"type": "image_picker",
"label": "Choose Logo"
}

]
}
],
"presets": [
{
"name": "Home Logo Section",
"category": "New Homepage"
}
]
}
{% endschema %}