<section class="hp-story">
  <div class="hp-story-content">
    <h2>The future of skincare is</h2>
    <span>bright</span>
    <a href="/pages/our-story">Our story</a>
  </div>
  <div class="hp-story-img">
    <div class="hp-story-block">
      <img src="https://cdn.shopify.com/s/files/1/0441/1431/3365/files/bright-01.png?v=1684307757" alt="story">
    </div>
    <div class="hp-story-block">
      <img src="https://cdn.shopify.com/s/files/1/0441/1431/3365/files/bright-02.png?v=1684307759" alt="story">
    </div>
    <div class="hp-story-block">
      <img src="https://cdn.shopify.com/s/files/1/0441/1431/3365/files/bright-03.png?v=1684307758" alt="story">
    </div>
    <div class="hp-story-block">
      <img src="https://cdn.shopify.com/s/files/1/0441/1431/3365/files/bright-04.png?v=1684307758" alt="story">
    </div>
  </div>
</section>
{% schema %}
{
  "name": "New Hp Story",
  "settings": [],
  "presets": [
    {
      "name": "New Hp Story",
      "category": "Story"
    }
  ]
}
{% endschema %}
