<section class="hp-skincare infudion-skin">
  <div class="container">
    <div class="hp-skincare-title">
      <h2>Qure’s 2-In-1 System isn’t like any other at-home needling treatment</h2>
      <p>Qure’s Micro-Infusion System <b>stimulates and infuses,</b> making it uniquely effective.<br><br>
      First, it “stamps” your skin with 24K gold 0.5mm <b>clinical-grade needles.</b> This creates controlled trauma in your skin, signaling an increase in collagen production, which naturally <b>boosts elasticity and smoothes fine lines and wrinkles.</b> The needles are thinner than human hair, so you won’t even feel them.<br><br>
      Second, the invisible micro-channels “infuse” clinically-formulated serums of your choice, into the top layer of your skin, <b>accelerating absorption for visible results.</b> </p>
    </div>
    <div class="hp-skincare-slider">
      <div class="hp-skincare-wrap hp-skinslide-1">
        <div class="hp-skin-review-title">
          <h3>Fine Lines and Blemishes</h3>
        </div>
        <div class="hp-skin-main">
          <div class="hp-skin-img">
            <div class="img-main">
              <div class="hp-skin-left skin-images">
                <img
                  src="https://cdn.shopify.com/s/files/1/0441/1431/3365/files/image_44_c0e4191f-8499-48a4-a880-1e65197cda5a_300x.png?v=1687267860"
                  alt=""
                >
                <span>BEFORE</span>
              </div>
              <div class="hp-skin-right skin-images">
                <img
                  src="https://cdn.shopify.com/s/files/1/0441/1431/3365/files/image_45_96ee0210-bb03-4ba0-a23e-3310f71d58a6_300x.png?v=1687267861"
                  alt=""
                >
                <span>AFTER 1 TREATMENT</span>
              </div>
            </div>
            <div class="hp-skin-verify">
              <div class="hp-skin-view">
                <img
                  src="https://cdn.shopify.com/s/files/1/0441/1431/3365/files/Mask_Group_1_e0b6911d-ab61-4fe3-bf10-e6ea479e7fac_300x.png?v=1684230836"
                  alt=""
                >
                Mica A.
              </div>
              <div class="hp-skin-veri">
                <svg width="16" height="17" viewBox="0 0 16 17" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M16 8.06738C16 6.90378 15.3388 5.88818 14.3736 5.37538C14.6372 4.37098 14.3804 3.25418 13.5964 2.47058C13.0112 1.88498 12.24 1.59378 11.468 1.59378C11.2068 1.59378 10.9456 1.62698 10.6916 1.69378C10.1792 0.728583 9.1636 0.0673828 8 0.0673828C6.8364 0.0673828 5.8208 0.728583 5.308 1.69378C5.0536 1.62698 4.7928 1.59378 4.5316 1.59378C3.7596 1.59378 2.9888 1.88538 2.4032 2.47058C1.6196 3.25418 1.3624 4.37058 1.626 5.37538C0.6612 5.88818 0 6.90378 0 8.06738C0 9.23098 0.6612 10.2466 1.6264 10.7594C1.3628 11.7638 1.6196 12.8806 2.4036 13.6642C2.9888 14.2494 3.76 14.541 4.532 14.541C4.7932 14.541 5.0544 14.5078 5.3084 14.441C5.8208 15.4062 6.8364 16.0674 8 16.0674C9.1636 16.0674 10.1792 15.4062 10.692 14.441C10.9464 14.5078 11.2072 14.541 11.4684 14.541C12.2404 14.541 13.0112 14.2494 13.5968 13.6642C14.3804 12.8806 14.6376 11.7642 14.374 10.7594C15.3388 10.2466 16 9.23098 16 8.06738Z" fill="#008763"></path>
                  <path d="M6.99133 10.734L4 8.13955L5.14101 7.15007L6.99133 8.75431L10.859 5.40063L12 6.39012L6.99133 10.734Z" fill="white"></path>
                </svg>
                Verified customer
              </div>
            </div>
          </div>
          <div class="hp-skin-content">
            <div class="hp-skin-percan">
              <span>93%</span>
              <p>saw <b>smoother, clearer</b> skin</p>
            </div>
           <div class="infusion-skin-bulle">
             <ul>
               <li>Smooths bumpy skin texture & evens out skin tone</li>
               <li>Helps reduce appearance of fine lines for <b>firmer, plumpler skin</b></li>
               <li>Helps <b>fade dark spots, post-acne marks, and hyperpigmentation</b></li>
             </ul>
           </div>
          </div>
        </div>
      </div>
      <div class="hp-skincare-wrap hp-skinslide-2">
        <div class="hp-skin-review-title">
          <h3>Skin Tone & Texture</h3>
        </div>
        <div class="hp-skin-main">
          <div class="hp-skin-img">
            <div class="img-main">
              <div class="hp-skin-left skin-images">
                <img
                  src="https://cdn.shopify.com/s/files/1/0441/1431/3365/files/IMG_0544_1_300x.png?v=1687327844"
                  alt=""
                >
                <span>BEFORE</span>
              </div>
              <div class="hp-skin-right skin-images">
                <img
                  src="https://cdn.shopify.com/s/files/1/0441/1431/3365/files/Facetune_03-02-2023-10-52-49_1_300x.png?v=1687327844"
                  alt=""
                >
                <span>AFTER 1 TREATMENT</span>
              </div>
            </div>
            <div class="hp-skin-verify">
              <div class="hp-skin-view">
                <img
                  src="https://cdn.shopify.com/s/files/1/0441/1431/3365/files/australia_300x.png?v=1675747081"
                  alt=""
                >
                Monika
              </div>
              <div class="hp-skin-veri">
                <svg width="16" height="17" viewBox="0 0 16 17" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M16 8.06738C16 6.90378 15.3388 5.88818 14.3736 5.37538C14.6372 4.37098 14.3804 3.25418 13.5964 2.47058C13.0112 1.88498 12.24 1.59378 11.468 1.59378C11.2068 1.59378 10.9456 1.62698 10.6916 1.69378C10.1792 0.728583 9.1636 0.0673828 8 0.0673828C6.8364 0.0673828 5.8208 0.728583 5.308 1.69378C5.0536 1.62698 4.7928 1.59378 4.5316 1.59378C3.7596 1.59378 2.9888 1.88538 2.4032 2.47058C1.6196 3.25418 1.3624 4.37058 1.626 5.37538C0.6612 5.88818 0 6.90378 0 8.06738C0 9.23098 0.6612 10.2466 1.6264 10.7594C1.3628 11.7638 1.6196 12.8806 2.4036 13.6642C2.9888 14.2494 3.76 14.541 4.532 14.541C4.7932 14.541 5.0544 14.5078 5.3084 14.441C5.8208 15.4062 6.8364 16.0674 8 16.0674C9.1636 16.0674 10.1792 15.4062 10.692 14.441C10.9464 14.5078 11.2072 14.541 11.4684 14.541C12.2404 14.541 13.0112 14.2494 13.5968 13.6642C14.3804 12.8806 14.6376 11.7642 14.374 10.7594C15.3388 10.2466 16 9.23098 16 8.06738Z" fill="#008763"></path>
                  <path d="M6.99133 10.734L4 8.13955L5.14101 7.15007L6.99133 8.75431L10.859 5.40063L12 6.39012L6.99133 10.734Z" fill="white"></path>
                </svg>
                Verified customer
              </div>
            </div>
          </div>
          <div class="hp-skin-content">
            <div class="hp-skin-percan">
              <span>90%</span>
              <p>reported <b>brighter, glowing</b> skin</p>
            </div>
           <div class="infusion-skin-bulle">
             <ul>
               <li>Brightens the skin for a <b>healthier, more radiant complexion</b></li>
               <li>Helps to fade dark spot for more <b>even toned skin</b></li>
               <li>Increases hydration and plumps skin for a <b>dewy appearance</b></li>
             </ul>
           </div>
          </div>
        </div>
      </div>
      <div class="hp-skincare-wrap hp-skinslide-3">
        <div class="hp-skin-review-title">
          <h3>Overall Transformation</h3>
        </div>
        <div class="hp-skin-main">
          <div class="hp-skin-img">
            <div class="img-main">
              <div class="hp-skin-left skin-images">
                <img
                  src="https://cdn.shopify.com/s/files/1/0441/1431/3365/files/Rectangle_140_07fb5f79-7a03-4e19-9571-46fe599229ff_300x.png?v=1687763309"
                  alt=""
                >
                <span>BEFORE</span>
              </div>
              <div class="hp-skin-right skin-images">
                <img
                  src="https://cdn.shopify.com/s/files/1/0441/1431/3365/files/Rectangle_142_dc8696d8-0e33-42f3-b5a4-431e3987b647_300x.png?v=1687763309"
                  alt=""
                >
                <span>AFTER 6 TREATMENTS</span>
              </div>
            </div>
            <div class="hp-skin-verify">
              <div class="hp-skin-view">
                <img
                  src="https://cdn.shopify.com/s/files/1/0441/1431/3365/files/Mask_Group_1_e0b6911d-ab61-4fe3-bf10-e6ea479e7fac_300x.png?v=1684230836"
                  alt=""
                >
               Ellie V.
              </div>
              <div class="hp-skin-veri">
                <svg width="16" height="17" viewBox="0 0 16 17" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M16 8.06738C16 6.90378 15.3388 5.88818 14.3736 5.37538C14.6372 4.37098 14.3804 3.25418 13.5964 2.47058C13.0112 1.88498 12.24 1.59378 11.468 1.59378C11.2068 1.59378 10.9456 1.62698 10.6916 1.69378C10.1792 0.728583 9.1636 0.0673828 8 0.0673828C6.8364 0.0673828 5.8208 0.728583 5.308 1.69378C5.0536 1.62698 4.7928 1.59378 4.5316 1.59378C3.7596 1.59378 2.9888 1.88538 2.4032 2.47058C1.6196 3.25418 1.3624 4.37058 1.626 5.37538C0.6612 5.88818 0 6.90378 0 8.06738C0 9.23098 0.6612 10.2466 1.6264 10.7594C1.3628 11.7638 1.6196 12.8806 2.4036 13.6642C2.9888 14.2494 3.76 14.541 4.532 14.541C4.7932 14.541 5.0544 14.5078 5.3084 14.441C5.8208 15.4062 6.8364 16.0674 8 16.0674C9.1636 16.0674 10.1792 15.4062 10.692 14.441C10.9464 14.5078 11.2072 14.541 11.4684 14.541C12.2404 14.541 13.0112 14.2494 13.5968 13.6642C14.3804 12.8806 14.6376 11.7642 14.374 10.7594C15.3388 10.2466 16 9.23098 16 8.06738Z" fill="#008763"></path>
                  <path d="M6.99133 10.734L4 8.13955L5.14101 7.15007L6.99133 8.75431L10.859 5.40063L12 6.39012L6.99133 10.734Z" fill="white"></path>
                </svg>
                Verified customer
              </div>
            </div>
          </div>
          <div class="hp-skin-content">
            <div class="hp-skin-percan">
              <span>91%</span>
              <p>reported <b>brighter, glowing</b> skin</p>
            </div>
           <div class="infusion-skin-bulle">
             <ul>
               <li>Skin appears <b>brighter, smoother, and more youthful</b></li>
               <li>Enhanced skincare results with <b>better serum absorption</b></li>
               <li>Promotes cell renewal and <b>minimizes appearance of pores and wrinkles</b></li>
             </ul>
           </div>
          </div>
        </div>
      </div>
      
    </div>
  </div>
</section>
{% schema %}
{
  "name": "infusion Skincare",
  "settings": [],
   "presets": [
   {
   "name": "infusion Skincare",
   "category": "Review"
   }
 ]
}
{% endschema %}
