<section class="new-hp-trust reason-trust">
  <div class="container">
    <div class="row">
      <div class="col-md-12 mobile-only">
        <h2 class="hp-section-title">
          Trusted and<br>
          recommended by world<br>
          leading Dermatologists
        </h2>
      </div>
      <div class="col-md-6 first-child">
        <div class="hp-trust-title">
          <h2 class="hp-section-title">Trusted and recommended by world leading Dermatologists</h2>
          <div class="hp-trust-review">
            <div class="hp-review-block left-block">
              <img
                src="https://cdn.shopify.com/s/files/1/0441/1431/3365/files/Ellipse_66_94c51ed0-353c-422b-92a0-6d40820255ee.png?v=1684232860"
                alt=""
              >
              <div class="hp-review-con">
                <p>"These devices definitely work but using them safely is the key to long term results..."</p>
                <h6><span>Dr Shah, MD</span> Certified Dermatologist</h6>
              </div>
            </div>
            <div class="hp-review-block right-block">
              <div class="hp-review-con">
                <p>
                 "In terms of safety, the micro stamping devices, this [Qure's Micro-Infusion]
is great..."
                </p>
                <h6><span>Dr Maxfield, MD</span> Certified Dermatologist</h6>
              </div>
              <img
                src="https://cdn.shopify.com/s/files/1/0441/1431/3365/files/Ellipse_65_f608bc10-0768-4a1b-bba1-431611b8b0bd.png?v=1684232860"
                alt=""
              >
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="hp-review-video">
          <div class="hp-review-viewers">
            <div class="hp-review-like">
              <svg width="14" height="13" viewBox="0 0 14 13" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" clip-rule="evenodd" d="M4.19355 5.28173L7.56128 1.60784C7.83039 1.45308 8.18025 1.31301 8.43951 1.30679C8.56882 1.30369 8.62741 1.33458 8.65446 1.36031C8.67957 1.38418 8.73691 1.45999 8.73691 1.68256C8.73691 2.74605 8.285 4.61314 8.05143 5.43065L7.92415 5.87611H12.2256C12.2343 5.88036 12.2561 5.89632 12.2791 5.94816C12.3267 6.05524 12.3733 6.31439 12.242 6.83976C11.9726 7.91725 11.2414 10.4038 10.8791 11.6143C10.7664 11.6903 10.5099 11.817 10.1348 11.817H4.19355V5.28173ZM3.66166 4.82764L7.11574 1.05955L7.15926 1.03344C7.46782 0.848306 7.96781 0.618987 8.42274 0.608068C8.65746 0.602435 8.92649 0.654538 9.13605 0.853781C9.34755 1.05487 9.43583 1.346 9.43583 1.68256C9.43583 2.67653 9.09122 4.23093 8.84463 5.17719H12.2315C12.4926 5.17719 12.7712 5.33443 12.9178 5.6643C13.0566 5.97658 13.0682 6.41636 12.92 7.00927C12.6381 8.13703 11.8667 10.7547 11.5179 11.9174L11.4925 12.0018L11.4303 12.0641C11.2469 12.2474 10.7847 12.5159 10.1348 12.5159H3.14551V12.5158H0V4.82764H3.66166ZM3.14551 5.52656H0.698925V11.8169H3.14551V5.52656Z" fill="white"></path>
              </svg>
              18K
            </div>
            <div class="hp-review-view">937K views</div>
          </div>
          <div class="review-img">
            <img
              src="https://cdn.shopify.com/s/files/1/0441/1431/3365/files/image_85_e9c26a4f-7cba-4f68-9cd8-731768b3521b.png?v=1684907895"
              alt=""
            >
          </div>
          <div class="hp-review-play">
            <a class="popup-btn js-open-modal btn open-popup-link" href="#v1"><span>Click To Watch Review</span></a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="mfp-hide" id="v1">
    <div class="video-popups">
      <div class="video-wrappers">
        <div class="video-containers">
          <iframe
            width="100"
            height="100"
            src="https://www.youtube.com/embed/JPWycy8cwN8?start=528"
            title="YouTube video player"
            frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
            allowfullscreen
          ></iframe>
        </div>
      </div>
    </div>
  </div>
</section>
<Style>
  div#v1 {position: relative;width: 900px;margin: 0 auto;} div#v1 .video-wrappers .video-containers { position:
  relative; padding-bottom: 56.25%; height: 0; } div#v1 .video-wrappers .video-containers iframe { position: absolute;
  left: 0; right: 0; top: 0; bottom: 0; height: 100%; width: 100%; } div#v1 .mfp-close { top: -40px; color: white;
  right: -6px; text-align: right; padding-right: 6px; width: 100%; } .hp-review-play a { padding: 0; }
  .new-hp-trust.reason-trust .hp-review-con p { font-size: 12px; line-height: 18px; letter-spacing: 0.3px; }
  .new-hp-trust.reason-trust .hp-review-block { padding: 17px 26px 18px 13px; } .new-hp-trust.reason-trust .right-block
  { padding: 9px 15px 9px 13px; } .new-hp-trust.reason-trust .right-block .hp-review-con p { padding-left: 24px; }
  .new-hp-trust.reason-trust .hp-review-con h6 span { margin-right: 2px; } .new-hp-trust.reason-trust .hp-review-con h6
  { font-size: 12px; line-height: 22px; letter-spacing: 0.278422px; }
  .new-hp-trust.reason-trust .hp-review-con p{
        font-size: 11px;
    line-height: 18px;
    letter-spacing: 0.3px;
  }
  .infus-video-sli img {
    width: 100%;
}
  .infus-video-sli .lp-video-item {
    margin: 0 10px;
    width: 360px;
}
  .infus-video-sli .lp-video-item .lp-v-name {
    margin-top: 0;
    padding: 42px 15px 35px 36px;
}
  .infus-video-sli .lp-video-item .video__play {
    border-radius: 27.515px;
    background: rgba(0, 0, 0, 0.35);
    padding: 5px 10px;
}

.infus-video-sli .lp-video-item .video__play svg.video__play-btn {
    width: 28px;
    height: 28px;
}
  @mdia (max-width:767px){ div#v1 { position:
  relative; width: 100%; margin: 0 auto; } } @media (max-width:767px){ div#v1 { position: relative; width: 100%; margin:
  0 auto; } .new-hp-trust.reason-trust .hp-review-con p { font-size: 10px; line-height: 16px; letter-spacing: 0.1px; }
  .new-hp-trust.reason-trust .hp-review-con h6 { font-size: 10px; line-height: 16px; letter-spacing: 0.1px; }
  .new-hp-trust.reason-trust .hp-review-block { padding: 13px 12px 13px 12px; } .new-hp-trust.reason-trust .container {
  padding-left: 15px; padding-right: 15px; }

  .new-hp-trust.reason-trust .right-block .hp-review-con p br { display: none; }.new-hp-trust.reason-trust
  .hp-review-viewers { top: 9px; left: 20px; }}
</Style>
{% schema %}
{
  "name": "Reason New Hp Trusted",
  "settings": [],
   "presets": [
     {
     "name": "Reason New Hp Trusted",
     "category": "Video"
     }
   ]
}
{% endschema %}
