<div class="lp-video">
  <div class="container">
    <div class="infusion-video-wrap">
      <div class="lp-video-item">
        <div class="lp-v-img">
         <span onnclick="javascript:void(0)" class="custom-popup open-popup-link">
            <img src="https://cdn.shopify.com/s/files/1/0441/1431/3365/files/doctorlyYT-Thumbnail-Doctorly_1_b1f97b1d-0a80-42d5-8b71-cdf59d7f01cc.png?v=1682945117" alt="">
           <div class="video__play">
            <svg class="video__play-btn" width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M10 0C4.489 0 0 4.489 0 10C0 15.511 4.489 20 10 20C15.511 20 20 15.511 20 10C20 4.489 15.511 0 10 0ZM10 2C14.4301 2 18 5.56988 18 10C18 14.4301 14.4301 18 10 18C5.56988 18 2 14.4301 2 10C2 5.56988 5.56988 2 10 2ZM8 6.53516V13.4648L14 10L8 6.53516Z" fill="black"></path>
            </svg>
            <span>Watch Video</span>
          </div>
          </span>

        </div>
        <div class="lp-v-name">
      <!--<p><strong>Doctorly Dr Shah &amp; Dr Maxfield, </strong><br/>Certified Dermatologists</p> -->
          <p>"This will definitely work and there have been studies to show that this will definitely work..."</p>
          <span> <b>Dr Shah & Dr Maxfield, </b> Certified Dermatologist</span>
        </div>
      </div>  
      <div class="lp-video-item">
        <div class="lp-v-img">
         <a href="https://www.youtube.com/watch?v=x-OSp0AfexY" class="custom-popup">
            <img src="https://cdn.shopify.com/s/files/1/0441/1431/3365/files/hqdefault_1.png?v=1671691943"  alt="">
           <div class="video__play">
            <svg class="video__play-btn" width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M10 0C4.489 0 0 4.489 0 10C0 15.511 4.489 20 10 20C15.511 20 20 15.511 20 10C20 4.489 15.511 0 10 0ZM10 2C14.4301 2 18 5.56988 18 10C18 14.4301 14.4301 18 10 18C5.56988 18 2 14.4301 2 10C2 5.56988 5.56988 2 10 2ZM8 6.53516V13.4648L14 10L8 6.53516Z" fill="black"></path>
            </svg>
            <span>Watch Video</span>
          </div>
          </a>
        </div>
        <div class="lp-v-name">
      <!--<p><strong> AliceintheRabbitHole,</strong> Skin care Expert</p> -->
          <p>"I expected it to be painful because this is 0.5 mm but truly this does not hurt, I am shocked! It’s actually painless.."</p>
          <span><b>AliceintheRabbitHole,</b>Skin care Expert</span>
        </div>
      </div>  
      <div class="lp-video-item">
        <div class="lp-v-img">
         <a href="https://www.youtube.com/watch?v=OI1HL25GlHc" class="custom-popup">
            <img src="https://cdn.shopify.com/s/files/1/0441/1431/3365/files/Mask_Group_13.png?v=1671692065"  alt="">
           <div class="video__play">
            <svg class="video__play-btn" width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M10 0C4.489 0 0 4.489 0 10C0 15.511 4.489 20 10 20C15.511 20 20 15.511 20 10C20 4.489 15.511 0 10 0ZM10 2C14.4301 2 18 5.56988 18 10C18 14.4301 14.4301 18 10 18C5.56988 18 2 14.4301 2 10C2 5.56988 5.56988 2 10 2ZM8 6.53516V13.4648L14 10L8 6.53516Z" fill="black"></path>
            </svg>
            <span>Watch Video</span>
          </div>
          </a>
        </div>
        <div class="lp-v-name">
    <!--<p><strong>Chris Gibson,</strong> Skin care Expert</p> -->
        <p>"You'll see a kind of dewy glowy look after you use it but within a couple of days your skin really looks quite amazing."</p>
        <span><b>Chris Gibson,</b>Skin care expert</span>
        </div>
      </div>    
    </div>
  </div>
            <div class="cus-modal">
            <div class="modal-content">
                <span class="close-button">×</span>
                <div class="video-wrap">
                  <iframe width="100" height="100" src="https://www.youtube.com/embed/JPWycy8cwN8?start=528" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
              </div>
            </div>
        </div>
</div>

<style>
  .lp-v-img .custom-popup {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}
.lp-v-img .custom-popup .video__play {
    position: absolute;
    display: flex;
    align-items: center;
}
  .lp-v-img .custom-popup .video__play svg path {
    fill: #fff;
}
  .infusion-video-wrap {
    display: flex;
}
  .lp-video-item {
    padding: 0 15px;
}
  .lp-video {
    padding: 45px 0 90px;
}
  .lp-video-item .lp-v-name {
    margin-top: 25px;
}
.lp-video-item .lp-v-name p {
    margin: 0;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 24px;
    letter-spacing: 0.3px;
    color: rgb(0 0 0 / 80%);
}
  .lp-v-img .custom-popup .video__play span {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 14px;
    letter-spacing: 0.3px;
    color: #FFFFFF;
    padding-left: 10px;
}
.infusion-video-wrap svg.slick-prev {
    top: auto;
    bottom: -39px;
    transform: rotate(-180deg);
    left: 47%;
    width: 35px;
}
.infusion-video-wrap svg.slick-next {
    top: auto;
    bottom: -48px;
    right: 43%;
    width: 35px;
}
/*   div#v2 {
    position: relative;
    width: 900px;
    margin: 0 auto;
}

div#v2 .video-wrap {
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
}

div#v2 .video-wrap iframe {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    height: 100%;
    width: 100%;
}

div#v2 .mfp-close {
    top: -40px;
    color: white;
    right: -6px;
    text-align: right;
    padding-right: 6px;
    width: 100%;
} */
  .cus-modal {
    z-index: 9;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(11 11 11 / 80%);
    opacity: 0;
    visibility: hidden;
    transition: visibility 0s linear 0.25s, opacity 0.25s 0s, transform 0.25s;
}

.cus-modal .modal-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 900px;
}

.cus-modal.show-modal {
    opacity: 1;
    visibility: visible;
    transition: visibility 0s linear 0s, opacity 0.25s 0s, transform 0.25s;
}

.cus-modal .video-wrap {
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
}

.cus-modal .video-wrap iframe {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    height: 100%;
    min-height: auto;
    width: 100%;
}

.cus-modal .close-button {
    color: rgb(255 255 255 / 65%);
    text-align: right;
    width: 100%;
    float: right;
    margin-top: -30px;
    margin-right: -3px;
    font-size: 28px;
    cursor: pointer;
}
  @media (max-width:767px){
    .infusion-video-wrap svg.slick-prev {
      left: 35%;
  }
    .infusion-video-wrap svg.slick-next {
    right: 32%;
  }
    .infus-video-sli .lp-video .slick-track {
    display: flex;
    flex-wrap: wrap;
}

.infus-video-sli .lp-video .slick-track .lp-video-item:nth-child(2) {
    order: 1;
}

.infus-video-sli .lp-video .slick-track .lp-video-item:nth-child(3) {
    order: 2;
}

.infus-video-sli .lp-video .slick-track .lp-video-item:nth-child(1) {
    order: 3;
}
.infus-video-sli .lp-video .slick-track .lp-video-item:nth-child(4) {
    order: 4;
}

.infus-video-sli .lp-video .slick-track .lp-video-item:nth-child(5) {
    order: 5;
}
.cus-modal .modal-content {
    width: 90%;
}
    .infus-video-sli .lp-video-item .lp-v-name {
    margin-top: 10px;
}
    .infus-video-sli .lp-video .slick-track .lp-video-item:nth-child(3) {
    order: 1;
}
.infus-video-sli .lp-video .slick-track .lp-video-item:nth-child(1) {
    order: 2;
}
.infus-video-sli .lp-video .slick-track .lp-video-item:nth-child(2) {
    order: 3;
}
  .infus-video-sli .lp-video .video__play {
    border-radius: 25.069px;
    background: rgba(0, 0, 0, 0.35);
    padding: 7px 5px;
}
    .infus-video-sli .lp-video .video__play span {
    color: #FFF;
    font-size: 15px;
    line-height: 9.004px;
    letter-spacing: 0.193px;
    text-shadow: 3px 3px 0px rgba(0, 0, 0, 0.25);
}
    .infus-video-sli .lp-video-item .lp-v-name {
    margin-top: 0;
    padding: 28px 32px 30px;
}
    .infus-video-sli .lp-video-item .lp-v-name p {
    font-size: 10px;
    font-style: italic;
    line-height: 16px;
    letter-spacing: 0.1px;
    margin-bottom: 10px;
}
    
.infusion-video-wrap ul.slick-dots {
    bottom: -55px;
}
.infusion-video-wrap ul.slick-dots li {
    width: 10px;
    height: 10px;
    margin: 0 7px;
    border-radius: 8px;
    background: #D9D9D9;
}
.infusion-video-wrap ul.slick-dots li button {
    display: none;
}
.infusion-video-wrap ul.slick-dots li.slick-active {
    background-color: #000;
}

  }
</style>
{% schema %}
  {
    "name": "Infusion-video-slider",
     "class": "infus-video-sli",
    "settings": [],
    "presets":[
    {
      "name": "Infusion-video-slider"
    }
  ]
  }
{% endschema %}