<div class="land-footer-top">
  <div class="land-footer-container">
    <div class="land-footer__item land-footer__logo-wrapper">
      <svg width="40" height="56" viewBox="0 0 40 56" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M18.4571 39.7897C16.3297 39.6172 14.3172 39.1189 12.4006 38.3331C10.0048 37.2789 7.87734 35.8798 6.05654 34.0973C4.21658 32.3148 2.74078 30.2065 1.6483 27.7915C0.555822 25.3573 0 22.7507 0 19.9715C0 17.1924 0.555822 14.5857 1.6483 12.1516C2.74078 9.7366 4.21658 7.60912 6.03737 5.80746C7.85817 3.98664 9.98562 2.56832 12.3814 1.53332C14.7772 0.49833 17.3071 0 19.9521 0C22.597 0 25.127 0.517497 27.5228 1.53332C29.9185 2.56832 32.046 3.98664 33.9051 5.7883C35.7451 7.60912 37.2209 9.71744 38.3134 12.1324C39.4058 14.5474 39.9617 17.1541 39.9617 19.9524C39.9617 22.7315 39.4058 25.3382 38.3134 27.7723C37.2209 30.1873 35.7451 32.2956 33.9051 34.0781C32.0652 35.8606 29.9377 37.2598 27.5228 38.3139C25.2611 39.2531 22.8845 39.7514 20.4121 39.8281C20.4312 39.8281 19.1854 39.8472 18.4571 39.7897ZM19.9712 38.7356C22.022 38.7356 23.8045 38.2564 25.2803 37.3173C26.7561 36.3781 27.9827 35.0748 28.9411 33.3881C29.8994 31.7206 30.6085 29.7273 31.0494 27.4465C31.5093 25.1657 31.7202 22.6549 31.7202 19.9332C31.7202 17.2116 31.4902 14.7007 31.0494 12.4008C30.5894 10.1008 29.8994 8.10745 28.9411 6.43996C27.9827 4.77247 26.7561 3.44998 25.2803 2.49165C23.8045 1.53332 22.022 1.05416 19.9712 1.05416C17.9205 1.05416 16.138 1.53332 14.6622 2.49165C13.1864 3.44998 11.9789 4.77247 11.0206 6.47829C10.0815 8.16495 9.39147 10.1583 8.93148 12.4583C8.47149 14.7582 8.26066 17.2499 8.26066 19.9524C8.26066 22.6549 8.49066 25.1273 8.93148 27.4465C9.39147 29.7465 10.0815 31.7398 11.0206 33.4073C11.9598 35.0748 13.1672 36.3973 14.6622 37.3364C16.138 38.2756 17.9205 38.7356 19.9712 38.7356Z" fill="white"/>
        <path d="M39.9999 44.0251C37.2783 44.0251 34.7867 44.2551 32.5059 44.6959C30.2251 45.1559 28.2318 45.8459 26.5644 46.8042C24.8969 47.7625 23.5744 48.9892 22.6353 50.465C21.6961 51.9408 21.2362 53.7042 21.217 55.7358H20.1245C20.1245 55.4675 20.1245 55.295 20.1245 55.295C20.2012 52.8225 20.6995 50.4459 21.6386 48.1842C22.6928 45.7884 24.0919 43.6609 25.8744 41.8017C27.6569 39.9618 29.746 38.4859 32.1801 37.3934C34.595 36.3009 37.2017 35.7451 39.9999 35.7451V44.0251Z" fill="white"/>
      </svg>
    </div>
    <div class="land-footer__item--links-wrapper">
      <a href="https://www.qureskincare.com/?_ga=2.153593528.1082076579.1641801316-156402579.1641554660" class="land-footer__item land-footer__rights">© 2022 Qure. All rights reserved.</a>
      <a href="https://www.qureskincare.com/pages/terms-and-conditions?_ga=2.153593528.1082076579.1641801316-156402579.1641554660" class="land-footer__item land-footer__terms">Terms & Conditions</a>
      <a href="https://www.qureskincare.com/pages/privacy-page?_ga=2.153593528.1082076579.1641801316-156402579.1641554660" class="land-footer__item land-footer__privacy">Privacy Policy</a>
    </div>
  </div>
</div>
<div class="land-footer-bottom">
  <div class="land-footer-container-bottom">
    <div class="land-footer__text">This product is not intended to diagnose, treat, cure, or prevent any disease or health condition. The information provided herein should not be considered as a substitute for the advice of a medical doctor or other healthcare professional. As each individual is different, results may vary.</div>
  </div>
</div>

{% schema %}
  {
    "name": "Landing footer",
	"class": "landing-section landing-footer-section",
    "settings": []
  }
{% endschema %}
