<div class="new-insta">
  <div class="new-insta-title">
    <h2>Join 30,000+ Qure Fans Revolutionizing Their Skincare at Home</h2>
    <a href="https://www.instagram.com/qureskincare/" target="_blank">@qureskincare</a>
  </div>
   <div class="swipers-container container">
      <div class="swiper-wrappers">
        <div class="inst-slide">
           <img src="https://cdn.shopify.com/s/files/1/0441/1431/3365/files/Rectangle_358.png?v=1675751195">
         </div>
        <div class="inst-slide">
           <img src="https://cdn.shopify.com/s/files/1/0441/1431/3365/files/Rectangle_359.png?v=1675751195">
         </div>
         <div class="inst-slide">
           <img src="https://cdn.shopify.com/s/files/1/0441/1431/3365/files/Rectangle_360.png?v=1675751195">
         </div>
        <div class="inst-slide">
           <img src="https://cdn.shopify.com/s/files/1/0441/1431/3365/files/Rectangle_361.png?v=1675751195">
         </div>
        <div class="inst-slide">
           <img src="https://cdn.shopify.com/s/files/1/0441/1431/3365/files/Rectangle_362.png?v=1675751195">
         </div>
      </div>
   </div>
</div>
{% schema %}
{
  "name": "Landing Instra",
  "settings": [
    {
      "type": "text",
      "id": "heading",
      "label": "heading"
    },
    {
      "type": "text",
      "id": "button",
      "label": "Button Label"
    },{
      "type": "url",
      "id": "link",
      "label": "Link"
    }
  ],
  "blocks": [
    {
      "type": "image",
      "name": "Image",
      "settings":[
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Landing Instra"
    }
  ]
}
{% endschema %}
