<div class="landing-icon">
  <ul>
    <li><img src="https://cdn.shopify.com/s/files/1/0441/1431/3365/files/Their_mask_light_th_11dd98fb-1da8-4134-a324-c34d7a3546aa.png?v=1655298501"></li>
    <li><img src="https://cdn.shopify.com/s/files/1/0441/1431/3365/files/Object_5_2a82855b-87b3-420e-b742-27149e0d26e8.png?v=1655298501"></li>
    <li><img src="https://cdn.shopify.com/s/files/1/0441/1431/3365/files/Object_6_9998aaa4-0c9a-4994-ba73-f6d677afc264.png?v=1655298501"></li>
    <li><img src="https://cdn.shopify.com/s/files/1/0441/1431/3365/files/Object_7.png?v=1655298502"></li>
    <li><img src="https://cdn.shopify.com/s/files/1/0441/1431/3365/files/Object_8.png?v=1655298501"></li>
    <li><img src="https://cdn.shopify.com/s/files/1/0441/1431/3365/files/Object_9_2ae22ddd-af7f-45f7-a41a-a832be7b0fb7.png?v=1655298501"></li>
  </ul>
</div>
{% schema %}
{
"name": "Section name",
"settings": []
}
{% endschema %}
