<section class="hp-video-watch mask-hp-video-watch">
  <div class="container">
    <div class="watch-detail">
      <div class="watch-slid">
        <div class="watch-img">
          <img src="https://cdn.shopify.com/s/files/1/0441/1431/3365/files/image_18_1779ba18-a876-427c-bbff-23f1820e84ac.png?v=1679471263" alt="watching">
          <div class="watch-play">
            <a href="//www.youtube.com/watch?v=_w8yWCPeijg" class="custom-popup"><span>Watch Video</span></a>
          </div>
        </div>
        <div class="watch-content">
          <p>
            "Qure has a fully customized mask which has 5 clinical-grade wavelength for anti-ageing, hyperpigmentation
            and acne and app makes it very easy to customize and control..."
          </p>
          <h6><span>Dr. Tripathi,</span> Board Certified Plastic Surgeon</h6>
        </div>
      </div>
      <div class="watch-slid">
        <div class="watch-img">
          <img src="https://cdn.shopify.com/s/files/1/0441/1431/3365/files/image_13_1_64fa62cf-ff43-49e4-9d11-44ce8838cc09.png?v=1682927677" alt="watching">
          <div class="watch-play">
            <a href="https://www.youtube.com/watch?v=1iXBgh7WPOY" class="custom-popup"><span>Watch Video</span></a>
          </div>
        </div>
        <div class="watch-content">
          <p>
            "Qure's anti-ageing treatment gets down deep into your skin to stimulate collagen & makes a big difference
            in skin texture, decreasing fine lines & wrinkles."
          </p>
          <h6><span>Dr Greeney,</span> Certified Dermatologist</h6>
        </div>
      </div>
      <div class="watch-slid">
        <div class="watch-img">
          <img src="https://cdn.shopify.com/s/files/1/0441/1431/3365/files/Mask_Group_2_2ab54d4a-c2e8-400f-a6df-e84753f32f6b.png?v=1679053290" alt="watching">
          <div class="watch-play">
            <a href="https://www.youtube.com/watch?v=DvA8FkhJqso" class="custom-popup"><span>Watch Video</span></a>
          </div>
        </div>
        <div class="watch-content">
          <p>
            "There are actually many of these on the market but I love this one for several reasons. It's well made, it
            has a comfortable adjustable headband, it comes with an app.."
          </p>
          <h6><span>Dr. Maren Locke,</span> Certified Dermatologist</h6>
        </div>
      </div>
      <div class="watch-slid">
        <div class="watch-img">
          <img src="https://cdn.shopify.com/s/files/1/0441/1431/3365/files/Mask_Group_92f3a31f-edb5-4e11-9858-808df81a3f91.png?v=1679053290" alt="watching">
          <div class="watch-play">
            <a href="https://www.youtube.com/watch?v=AeksxRPZyrA" class="custom-popup"><span>Watch Video</span></a>
          </div>
        </div>
        <div class="watch-content">
          <p>"This is one of my faves from @qureskincare. It’s a high quality mask and personalizable"</p>
          <h6><span>Dr Maxfield (Doctorly),</span> Certified Dermatologist</h6>
        </div>
      </div>
      <div class="watch-slid">
        <div class="watch-img">
          <img src="https://cdn.shopify.com/s/files/1/0441/1431/3365/files/Mask_Group_13_d8b7b0ac-8f31-445e-ae7b-8f77c078f522.png?v=1685359437" alt="watching">
          <div class="watch-play">
            <a
              href="https://cdn.shopify.com/videos/c/o/v/ebb5f0ed35b844f7b9f2486db670748b.mp4"
              class="custom-popup"
              ><span>Watch Video</span></a
            >
          </div>
        </div>
        <div class="watch-content">
          <p>
            "I like this one because it allows you to customize your treatment... This is a great skin care investment"
          </p>
          <h6><span>Dr Natasha Henry ,</span> Medical Doctor</h6>
        </div>
      </div>
    </div>
  </div>
  <div class="cus-modal">
    <div class="modal-content">
      <span class="close-button">×</span>
      <div class="video-wrap">
        <video>
          <source src="https://cdn.shopify.com/videos/c/o/v/ebb5f0ed35b844f7b9f2486db670748b.mp4" type="video/mp4">
        </video>
      </div>
    </div>
  </div>
</section>
<style>
            .cus-modal {
            z-index: 9;
            position: fixed;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            background-color: rgb(11 11 11 / 80%);
            opacity: 0;
            visibility: hidden;
            transition: visibility 0s linear 0.25s, opacity 0.25s 0s, transform 0.25s;
        }

        .cus-modal .modal-content {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 900px;
        }

        .cus-modal.show-modal {
            opacity: 1;
            visibility: visible;
            transition: visibility 0s linear 0s, opacity 0.25s 0s, transform 0.25s;
        }

        .cus-modal .video-wrap {
            position: relative;
            padding-bottom: 56.25%;
            height: 0;
        }

        .cus-modal .video-wrap iframe {
            position: absolute;
            left: 0;
            right: 0;
            top: 0;
            bottom: 0;
            height: 100%;
            min-height: auto;
            width: 100%;
        }

        .cus-modal .close-button {
            color: rgb(255 255 255 / 65%);
            text-align: right;
            width: 100%;
            float: right;
            margin-top: -30px;
            margin-right: -3px;
            font-size: 28px;
            cursor: pointer;
        }
    section.hp-video-watch.mask-hp-video-watch .video-wrap video {
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      height: 100%;
      min-height: auto;
      width: 100%;
  }
        @media (max-width:767px){
          .cus-modal .modal-content {
          width: 90%;
      }
        div#v1{
            width: 90%;
          }
        }
      section.hp-video-watch.mask-hp-video-watch {
        background-color: #fff;
    }
</style>
{% schema %}
{
  "name": "New Hp Video Watch",
  "settings": [],
   "presets": [
     {
     "name": "New Hp Video Watch",
     "category": "Video"
     }
   ]
}
{% endschema %}
