<div class="faq-section deks-view">
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="faq-title">
        <h2>{{ section.settings.heading }}</h2>
      </div>
    </div>
  </div>

  <div class="row">
<div class="accordion-container">

        
        <div class="set" id="aaccordion-no-mob-1">
          <a href="javascript:;">
            When will I see results?<i class="fa fa-plus"></i>
          </a>
          <div class="content">
            <p>Micro-Infusion treatment is an effective skin booster treatment, and you’ll notice a radiance boost, softer fine lines and overall a healthy fresh complexion in the next day or two.</p>
            <p>The more treatments you perform the greater skin benefits over time you’ll receive! This quick and easy home facial is perfect to perform a day or two before a big event, when you need to look to boost your skin’s complexion, fast.</p>
            <p>Don’t forget to keep up with your everyday skincare routine to boost the effectiveness of your Microinfusion results and keep skin healthy, hydrated, and glowing long-term. 
            </p>
          </div>
        </div>
        
        <div class="set" id="aaccordion-no-mob-2">
          <a href="javascript:;">
            Is it painful? Does it hurt?<i class="fa fa-plus"></i>
          </a>
          <div class="content">
            <p>You get to experience minimal discomfort and maximum results with Qure's Micro-Infusion System!</p>
            <p>Although the needles themselves are actually longer than most at-home needling systems (making it more effective), the ultra-fine needles are thinner than a human hair, so that means you’ll feel minimal to no pain during treatment. </p>
            <p>During the initial stages of treatment, you may experience a slight sensation or prickling feeling as the needles make contact with the skin but you’ll quickly get used to the feeling quickly.</p>
          </div>
        </div>
        
        <div class="set" id="aaccordion-no-mob-3">
          <a href="javascript:;">
            Can you use it around the eyes and on the neck?<i class="fa fa-plus"></i>
          </a>
          <div class="content">
            <p>Yes, you can micro-infuse around the eye area to help smooth crows feet. Just ensure to apply a very gentle pressure and only do 1 pass. Monitor your skin accordingly as everyone’s skin is different! </p>
            <p>Performing Micro-Infusion on the neck can help improve the appearance of fine lines, and rejuvenate skin. It can target issues such as neck creases, horizontal lines, and age-related skin concerns to help enhance the overall texture, tone, and youthfulness of the skin.</p>
          </div>
        </div>
        
        <div class="set" id="aaccordion-no-mob-4">
          <a href="javascript:;">
            How often can I do the treatment? <i class="fa fa-plus"></i>
          </a>
          <div class="content">
<p>We recommend a Micro-Infusion treatment every 2 weeks for the best results! </p>
          </div>
        </div>
        
        <div class="set" id="aaccordion-no-mob-5">
          <a href="javascript:;">
            When is the best time to perform a Micro-Infusion treatment?<i class="fa fa-plus"></i>
          </a>
          <div class="content">
            <p>We recommend doing the treatment at night before bed. Avoid being in the sun and using makeup for 24 hours after the treatment. For more information on post treatment care, <a href="/pages/microinfusion-safety-guide">visit our safety guide. </a>
</p>
          </div>
        </div>
        
        <div class="set" id="aaccordion-no-mob-6" style="display: none;">
          <a href="javascript:;">
            How many treatments do I get out of one Micro-Infusion device?<i class="fa fa-plus"></i>
          </a>
          <div class="content">
           <p>Each needle head is to be used one time per treatment, and disposed of after each treatment. 
This minimizes the risk of infection and unnecessary damage to the skin. Use 1 full serum ampoule per treatment. </p>
          </div>
        </div>
        
        <div class="set" id="aaccordion-no-mob-7" style="display: none;">
          <a href="javascript:;">
            Can I use any serum?<i class="fa fa-plus"></i>
          </a>
          <div class="content">
            <p>Please keep in mind that not all serums are suitable for Micro-Infusion. Some may cause irritation and should be avoided! We have developed our potent serum ampoules that are perfect for Qure’s micro infusion system. They are formulated to have low risk of irritation and with no fragrance. </p>
          </div>
        </div>
        
        <div class="set" id="aaccordion-no-mob-8" style="display: none;">
          <a href="javascript:;">
            What are the benefits of Micro-Infusion?<i class="fa fa-plus"></i>
          </a>
          <div class="content">
            <p>The needles of the Micro-Infusion device and the stamping action triggers the body’s natural healing process and in turn boosts the production of collage, making your skin look firmer and fine lines look softer. </p>
<p>The serum booster that you choose to infuse during your Micro-Infusion will determine the major benefits of your treatment. Very fine hollow needles infuse micro-droplets of concentrated serum at a specific depth into the dermis (top layer) of your skin precisely where they are needed to accelerate absorption of active ingredients that target specific skin concerns.  </p>

<p>You can switch up your treatments and even mix the two serums together!  </p>
<p>A few more benefits:</p>
</p>
<ul>
<li>More even skin tone and texture
</li>
<li>Glowing, fresh complexion
</li>
<li>Softer fine lines</li>
<li>Firmer, rejuvenated skin
</li>
</ul>
          </div>
        </div>
        
        <div class="set" id="aaccordion-no-mob-9" style="display: none;">
          <a href="javascript:;">
            Are there any side effects? <i class="fa fa-plus"></i>
          </a>
          <div class="content">
            <p>Everyone’s skin is different. You may experience a bit of skin redness for the first few hours after treatment. However, this should be minimal and disappear quickly. </p>
<p>We recommend consulting with your dermatologist or doctor before use if you suffer from any skin condition. A patch test on an area of your skin that isn't too exposed prior to treatment is also recommended, to have a better understanding of how your skin will react and the downtime you should expect. 
</p>
          </div>
        </div>
        
        <div class="set" id="aaccordion-no-mob-10" style="display: none;">
          <a href="javascript:;">
            What’s the difference between home micro-needling rolling and micro-infusion?<i class="fa fa-plus"></i>
          </a>
          <div class="content">
            <p>Micro-needling focuses on stimulating your body's own collagen by creating micro-injuries. But it doesn’t deliver any ingredients directly into your skin.</p>
             
            <p>With microinfusion, you not only reap the benefits of micro-needling, but also deliver active ingredient solutions to target your specific skin concerns - This makes it work quicker and more effectively.</p>
          </div>
        </div>
        
        <div class="set" id="aaccordion-no-mob-11" style="display: none;">
          <a href="javascript:;">
            Is there any aftercare that I should follow post treatment? <i class="fa fa-plus"></i>
          </a>
          <div class="content">
           <p>After you’ve infused your skin with all that skin boosting serum, try to keep the skin clean for 24 hours and follow these post treatment guidelines:</p>
           <ul>
<li>The day after treatment, wash your face with a gentle cleanser and apply a nourishing moisturizer. 
</li>
<li>Users may experience minor redness and irritation after the procedure but should quickly subside. Skin may experience mild swelling, peeling or flaking. You can minimize these effects by keeping the skin moisturized, which will reduce shedding and alleviate tightness.
</li>
<li>Skip makeup for as long as you can, but at minimum, at least 24 hours. 
</li>
<li>No exercising or strenuous activity for the first 24 hours post-treatment. Sweating and gym environments are harmful, rife with bacteria, and may cause adverse reactions.
</li>
<li>Keep in mind, anything you put on your skin after using Qure Microinfusion will absorb more easily, so it’s important to keep the skin clean and use products that don’t have harsh ingredients (no acids!). 
</li>
<li>Avoid touching your face, especially with dirty hands that haven’t been sanitized.
</li>
<li>Avoid swimming, saunas and steam rooms for at least 24 hours post-treatment.
</li>
<li>Avoid applying skincare products containing fragrances, active ingredients or acids such as Alpha Hydroxy Acids, Beta Hydroxy Acid, Retinol (Vitamin A), Vitamin C or anything perceived as ‘active’ skincare including scrubs or toners for at least 2-3 days post-treatment, as it may cause irritation. 
</li>
<li>Avoid exfoliating products for 2-3 days after treatment because they can be abrasive on skin when it is in that kind of condition.
</li>
<li>Avoid direct sun exposure immediately after treatment. Apply a high protection sunscreen when going outdoors, and avoid prolonged sun exposure. Use good quality non-comedogenic sunscreen if going in the sun.
</li>
</ul>
<p>By the next day, you should be free to resume your normal activities, skincare routine, and any makeup you want to apply—but you may not even need it. Just ensure you monitor your skin’s reaction. 
</p>
          </div>
        </div>
        
        <div class="set" id="aaccordion-no-mob-12" style="display: none;">
          <a href="javascript:;">
            What’s the difference between home micro-needling derma roller and microinfusion? <i class="fa fa-plus"></i>
          </a>
          <div class="content">
            <p>Micro-needling focuses on stimulating your body's own collagen by creating micro-injuries. But it doesn’t deliver any ingredients directly into your skin. The reuse of needles can cause unnecessary damage to the skin and has a higher risk of infection as using alcohol does disinfect the tool, but it is difficult to sterilize it completely and the needles also become blunt when reused, which severely compromises technique.</p>

<p>With microinfusion, you not only reap the benefits of micro-needling, but also deliver active ingredient solutions to target your specific skin concerns - This makes it work quicker and more effectively. </p>
<p>Qure’s microinfusion system has single-use needle heads which are disposed of after each to ensure that any risk of infection is minimal - unlike at-home microneedling rollers multiple times. 

</p>
          </div>
        </div>
        
        <div class="set" id="aaccordion-no-mob-13" style="display: none;">
          <a href="javascript:;">
            What is the length of the needles?<i class="fa fa-plus"></i>
          </a>
          <div class="content">
           <p>Qure’s microinfusion system needle heads are 0.5mm length for <b>“epidermal-needling”</b> which is designed to enhance skin-care ingredient absorption and skin texture . 

</p>
          </div>
        </div>
        
        <div class="set" id="aaccordion-no-mob-14" style="display: none;">
          <a href="javascript:;">
            How do I use/ perform the Micro-Infusion facial?<i class="fa fa-plus"></i>
          </a>
          <div class="content">
            <p>
1. Twist open the chamber of the device and fill with one (1) ampule of serum and secure the lid back on the device.
<br>Option: You can mix two of the serums to treat multiple concerns!
<br><br>
2. Leave it upside down for 1-2 minutes. During this time, you can wash your face and make sure your hands are nice and clean.
<br><br>
3. Once the serum has had enough time to make its way into the needles, you can take off the lid and start stamping!
<br>
Start at the center of the face and work your way outward to cover the full face. 
Stamp with a 50% overlap. This means each time you stamp you overlap the previous stamp halfway.
<img src="https://cdn.shopify.com/s/files/1/0441/1431/3365/files/unnamed_1_e9f2b188-ded8-425e-8f28-bfdf8b6f0493.png?v=1674540658" style="width:50%; display:block;" alt="">
<br>
If you would like more collagen-building on a specific area such as a stubborn divot or acne scar, you can go over it 2-3 times to target that concern. If you have any active blemishes, you can get as close as possible, but avoid stamping directly on any active breakouts on the skin.
<br><br>
4. Repeat 2-3 passes for better results.
<br><br>
5. Take any left over serum and pat into your face and neck so your skin can drink up all that yummy serum. (Hack: take any leftover serum from the bottle and pat it onto your face and neck). 

</p>
          </div>
        </div>


                <div class="set" id="aaccordion-no-mob-15" style="display: none;">
          <a href="javascript:;">
            How do I clean the device?<i class="fa fa-plus"></i>
          </a>
          <div class="content">
<p>
Once you’ve finished stamping your way to brighter and plumper skin, follow the below cleaning instructions:
</p>
<ol>
<li>Twist off the needle head with the cap attached and safely dispose.
</li>
<li>Wash the chamber out with water and gentle cleanser.
</li>
<li>Let the device air dry completely, on a clean surface, before packing away.
</li>
<li>Open a brand new needle head and attach the needle head onto the device. Ensure hands are clean and don’t open the cap of the needle head.
</li>
</ol>
          </div>
        </div>

                 <div class="set" id="aaccordion-no-mob-16" style="display: none;">
          <a href="javascript:;">
            How does the 90-day money back guarantee work? <i class="fa fa-plus"></i>
          </a>
          <div class="content">
<p>You have 90 days to try Qure’s Micro Infusion System and see the results for yourself. If you don’t see any difference in your skin— if you do not experience firmer, brighter, younger-looking skin, simply contact us and we will gladly refund your money. This guarantee applies to the 3 month supply bundle. You’ll just need to provide before and after photos after each 2 week treatment to qualify. 
</p>
          </div>
        </div>
        
      </div>
  </div>

  <div class="row">
    <div class="faq-caption">
      <p><a href="#" onclick="showhide()" title="#" rel="noindex nofollow">Show More Questions</a></p>
    </div>
  </div>
</div>
</div>
{% comment %} <script>
  	  document.getElementById('accordion-no-mob-6').style.display = 'none';
      document.getElementById('accordion-no-mob-7').style.display = 'none';
      document.getElementById('accordion-no-mob-8').style.display = 'none';
      document.getElementById('accordion-no-mob-9').style.display = 'none';
      document.getElementById('accordion-no-mob-10').style.display = 'none';
      document.getElementById('accordion-no-mob-11').style.display = 'none';
      document.getElementById('accordion-no-mob-12').style.display = 'none';
      document.getElementById('accordion-no-mob-13').style.display = 'none';
      document.getElementById('accordion-no-mob-14').style.display = 'none';
      document.getElementById('accordion-no-mob-15').style.display = 'none';
      document.getElementById('accordion-no-mob-16').style.display = 'none';
  
	var a;
  function showhide(){
    if(a==0){
      document.getElementById('accordion-no-mob-6').style.display = 'none';
      document.getElementById('accordion-no-mob-7').style.display = 'none';
      document.getElementById('accordion-no-mob-8').style.display = 'none';
      document.getElementById('accordion-no-mob-9').style.display = 'none';
      document.getElementById('accordion-no-mob-10').style.display = 'none';
      document.getElementById('accordion-no-mob-11').style.display = 'none';
      document.getElementById('accordion-no-mob-12').style.display = 'none';
      document.getElementById('accordion-no-mob-13').style.display = 'none';
      document.getElementById('accordion-no-mob-14').style.display = 'none';
      document.getElementById('accordion-no-mob-15').style.display = 'none';
      document.getElementById('accordion-no-mob-16').style.display = 'none';
      var txt = $(".content").hasClass('visible') ? 'Hide More Questions' : 'Show More Questions';
      $(".faq-caption a").text(txt);
      return a=1;
    }
    else{
      document.getElementById('accordion-no-mob-6').style.display = 'block';
      document.getElementById('accordion-no-mob-7').style.display = 'block';
      document.getElementById('accordion-no-mob-8').style.display = 'block';
      document.getElementById('accordion-no-mob-9').style.display = 'block';
      document.getElementById('accordion-no-mob-10').style.display = 'block';
      document.getElementById('accordion-no-mob-11').style.display = 'block';
      document.getElementById('accordion-no-mob-12').style.display = 'block';
      document.getElementById('accordion-no-mob-13').style.display = 'block';
      document.getElementById('accordion-no-mob-14').style.display = 'block';
      document.getElementById('accordion-no-mob-15').style.display = 'block';
      document.getElementById('accordion-no-mob-16').style.display = 'block';
      var txt = $(".content").hasClass('visible') ? 'Show More Questions' : 'Hide More Questions';
      $(".faq-caption a").text(txt);
      return a=0;
    }
  }
</script> {% endcomment %}

{% schema %}
  {
    "name": "Micro Landing Faq Mobile",
    "settings": [
      {
        "type": "text",
        "id": "heading",
        "label": "Heading"
      },
      {
        "type": "richtext",
        "id": "text",
        "label": "Text"
      }
    ],
    "blocks": [
      {
        "type": "faqs",
        "name": "Text",
        "settings": [
          {
            "type": "text",
            "id": "title",
            "label": "Title Label"
          },
          {
            "type": "textarea",
            "id": "content",
            "label": "Content Label"
          }
        ]
      }
    ]
  }
{% endschema %}