<div class="179-video-txt">
  <img
    src="https://cdn.shopify.com/s/files/1/0441/1431/3365/files/image_83.png?v=1669703766"
    alt="image"
    class="desktop-image"
  >
  <img
    src="https://cdn.shopify.com/s/files/1/0441/1431/3365/files/image_83_db4b6a23-24a7-4f37-9323-4f94ee9cf7ad.png?v=1675252744"
    alt="image"
    class="mobile-image"
  >
  <div class="container">
    <div class="content">
      <h2 class="title dek-tit">
        <b>Tested</b> and <b>recommended</b> by
        <b
          ><i>world<span>-</span>leading</i></b
        >
        Dermatologists and Skincare Experts
      </h2>
      <h2 class="title mobile">
        <b>Tested</b> and <br>
        <b>recommended</b> by
        <b
          ><i
            >world<br>
            <span>-</span>leading</i
          ></b
        >
        Dermatologists <br>
        and Skincare Experts
      </h2>
      <span class="sub-t mobile"><b>Doctorly Dr Shah & Dr Maxfield</b> Certified Dermatologists</span>
      <ul>
        <li>
          <div class="infus-img">
            <img src="https://cdn.shopify.com/s/files/1/0441/1431/3365/files/Ellipse_65.png?v=1673423771">
          </div>
          <div class="infus-txt">
            <p>"In terms of safety, the micro stamping devices, this [Qure's Micro-Infusion] is great..."</p>
            <span><b>Dr Maxfield, MD</b> Certified Dermatologist</span>
          </div>
        </li>
        <li>
          <div class="infus-img">
            <img src="https://cdn.shopify.com/s/files/1/0441/1431/3365/files/Ellipse_66.png?v=1673423770">
          </div>
          <div class="infus-txt">
            <p>"These devices definitely work but using them safely is the key to long term results..."</p>
            <span><b>Dr Shah, MD</b> Certified Dermatologist</span>
          </div>
        </li>
      </ul>
    </div>
  </div>
  <a class="popup-btn js-open-modal btn open-popup-link" href="#v1">
    <img
      src="https://cdn.shopify.com/s/files/1/0441/1431/3365/files/Vector_10_937518a4-314f-4860-ac4a-aee8180d3b25.png?v=1669705367"
      alt="image"
    >
    <span>Click To Watch Review</span>
    <div class="before-review">522K views</div>
  </a>
  <div class="slid-bottom mobile">
    <div class="bottom-img">
      <img src="https://cdn.shopify.com/s/files/1/0441/1431/3365/files/Ellipse_66_1.png?v=1674026176">
    </div>
    <div class="bottom-cont">
      <p>"These devices definitely work but using them safely is the key to long term results..."</p>
      <span><b>Dr Shah, MD</b> Certified Dermatologist</span>
    </div>
  </div>
  <div class="slid-bottom mobile new-2">
    <div class="bottom-img">
      <img src="https://cdn.shopify.com/s/files/1/0441/1431/3365/files/Ellipse_65.png?v=1673423771">
    </div>
    <div class="bottom-cont">
      <p>"In terms of safety, the micro stamping devices, this [Qure's Micro-Infusion] is great..."</p>
      <span><b>Dr Maxfield, MD</b> Certified Dermatologist</span>
    </div>
  </div>
  <div class="mfp-hide" id="v1">
    <div class="video-popups">
      <div class="video-wrappers">
        <div class="video-containers">
          <iframe
            width="100"
            height="100"
            src="https://www.youtube.com/embed/JPWycy8cwN8?start=528"
            title="YouTube video player"
            frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
            allowfullscreen
          ></iframe>
        </div>
      </div>
    </div>
  </div>
</div>
<style>
    .shopify-section.video-text-section .\31 79-video-txt{
    position: relative;
    display: table;
    margin: 0;
    width: 100%;
  }
  .shopify-section.video-text-section .\31 79-video-txt img{
    float: left;
    width: 100%;
    display: block;
  }
  .shopify-section.video-text-section .\31 79-video-txt img.mobile-image{
    display: none;
  }
  .shopify-section.video-text-section .\31 79-video-txt .container{
    position: absolute;
    top: 50%;
    display: block;
    left: 0;
    right: 0;
    margin: 0 auto;
    transform: translateY(-50%);
  }
  .shopify-section.video-text-section .\31 79-video-txt .container .content{
    display: block;
    width: 100%;
    max-width: 400px;
    background: transparent;
    border-bottom: none;
  }
  .shopify-section.video-text-section .\31 79-video-txt .container .content .title{
      font-family: 'Canela-Thin';
      font-style: normal;
      font-weight: 600;
      font-size: 45px;
      line-height: 55px;
      letter-spacing: 1px;
      color: #000000;
      margin-bottom: 30px;
  }
  #shopify-section-micro-video-text.video-text-section .\31 79-video-txt .container .content .title b {
      font-family: 'Poppins' !important;
      font-weight: 600 !important;
      font-size: 36px;
  }
  .shopify-section.video-text-section .\31 79-video-txt .container .content .details{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.3px;
    color: #008763;
    padding:0px;
  }
  .shopify-section.video-text-section .\31 79-video-txt .container .content .details span{
    color: #000000;
    width: 100%;
    display :table;
  }
  .shopify-section.video-text-section .\31 79-video-txt a.popup-btn{
      position: absolute;
      right: 19% !important;
      top: 45% !important;
      transform: translateY(-50%);
      padding-top: 0px;
      padding-bottom: 0px;
  }
.shopify-section.video-text-section .\31 79-video-txt a.popup-btn img{
  width:auto;
}
  .shopify-section.video-text-section .overlay{
    position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: #000;
      z-index: -1;
      opacity: 0.4;
  }
  #shopify-section-micro-video-text.infusion-video .content {
      max-width: 560px!important;
  }
  .shopify-section.video-text-section .modal-box {
    display: none;
    position: fixed;
    z-index: 1000;
    width: 98%;
    background: white;
    border-bottom: 1px solid #aaa;
    border-radius: 4px;
    box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
    border: 1px solid rgba(0, 0, 0, 0.1);
    background-clip: padding-box;
    max-height: 90vh;
    overflow: hidden;
    top: 50%;
  }
  section#shopify-section-micro-video-text a.popup-btn span {
      text-shadow: 0px 1px 2px rgb(0 0 0 / 41%);
          font-weight: 600;
    display: block;
    width: 100%;
    font-weight: 400;
    font-size: 16px;
    line-height: 14px;
    text-align: center;
    letter-spacing: 0.3px;
    color: #FFFFFF;
    margin-top: 15px;
  }
  section#shopify-section-micro-video-text h2.title {
      font-size: 36px!important;
      line-height: 55px!important;
      margin-bottom: 33px!important;
  }
  .shopify-section.video-text-section .\31 79-video-txt a.popup-btn .before-review {
      font-family: 'Poppins';
      font-style: normal;
      font-weight: 600;
      font-size: 14px;
      line-height: 21px;
      text-align: center;
      letter-spacing: 0.3px;
      color: #FFFFFF;
      background: #008763;
      padding: 3px 8px;
      position: relative;
      margin-top: 15px;
  }
  .shopify-section.video-text-section .\31 79-video-txt a.popup-btn .before-review:before {
      content: '';
      border-left: 20px solid transparent;
      border-right: 20px solid transparent;
      border-bottom: 25px solid #008763;
      position: absolute;
      top: -11px;
      left: 0;
      right: 0;
      display: inline-block;
      width: 25px;
      margin: auto;
      z-index: -1;
  }
  @media (min-width: 32em) {
  .shopify-section.video-text-section .modal-box { width: 70%; }
  }
  .shopify-section.video-text-section .modal-box header,
  .shopify-section.video-text-section .modal-box .modal-header {
    padding: 1.25em 1.5em;
    border-bottom: 1px solid #ddd;
  }
  .shopify-section.video-text-section .modal-box header h3,
  .shopify-section.video-text-section .modal-box header h4,
  .shopify-section.video-text-section .modal-box .modal-header h3,
  .shopify-section.video-text-section .modal-box .modal-header h4 { margin: 0; }
  .shopify-section.video-text-section .modal-box .modal-body { padding: 0; }
  .shopify-section.video-text-section .modal-box .modal-body video{
    float: left;
    width: 100%;
    max-height: 90vh;
  }
  .shopify-section.video-text-section .modal-box footer,
  .shopify-section.video-text-section .modal-box .modal-footer {
    padding: 1em;
    border-top: 1px solid #ddd;
    background: rgba(0, 0, 0, 0.02);
    text-align: right;
  }
  .shopify-section.video-text-section .modal-overlay {
    opacity: 0;
    filter: alpha(opacity=0);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 900;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.3) !important;
  }
  .shopify-section.video-text-section a.close {
    line-height: 1;
    font-size: 24px;
    position: absolute;
    top: 15px;
    right: 15px;
    text-decoration: none;
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    background: #000;
    border-radius: 50%;
    overflow: hidden;
    padding-top: 2px;
    padding-left: 2px;
    z-index: 1111;
  }
  .shopify-section.video-text-section a.close:hover {
    color: #222;
    -webkit-transition: color 1s ease;
    -moz-transition: color 1s ease;
    transition: color 1s ease;
  }
  .video-text-section .modal {
      display: none;
      position: fixed;
      z-index: 1;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      overflow: auto;
     background-color: rgb(11 11 11 / 80%);
  }
  .video-text-section .video-popup {
      display: none;
      z-index: 2;
      position: absolute;
      top: 20%;
      left: 50%;
      transform: translateX(-50%);
  }
  .video-text-section .video-popup .close {
      position: absolute;
      right: 8px;
      top: -3px;
      font-weight: 900;
      font-size: 28px;
      color: black;
      padding: 5px 10px;
      border-bottom: none;
      cursor: pointer;
  }
  .video-text-section .video-wrapper {
      width: 900px;
      margin: 0;
  }
  .video-text-section .video-wrapper .video-container {
      position: relative;
      padding-bottom: 56.25%;
      height: 0;
      overflow: hidden;
  }
  .video-text-section .video-wrapper .video-container iframe {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      min-height: 100%;
  }
  .shopify-section.video-text-section a.close {
      line-height: 1;
      font-size: 24px;
      position: absolute;
      top: -20px;
      right: -14px;
      text-decoration: none;
      width: 30px;
      height: 30px;
      display: flex;
      align-items: center;
      justify-content: center;
      color: #fff;
      border-radius: 50%;
      overflow: hidden;
      padding-top: 0;
      padding-left: 0;
      z-index: 1111;
      font-weight: normal;
      padding:0;
  }
  .shopify-section.video-text-section .\31 79-video-txt a.popup-btn {
      top: 35%;
      right: 23%;
    flex-wrap:wrap;
  }
  div#v1 {position: relative;width: 900px;margin: 0 auto;}
  div#v1 .video-wrappers .video-containers {
      position: relative;
      padding-bottom: 56.25%;
      height: 0;
  }
  div#v1 .video-wrappers .video-containers iframe {
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      height: 100%;
      width: 100%;
  }
  div#v1 .mfp-close {
      top: -40px;
      color: white;
      right: -6px;
      text-align: right;
      padding-right: 6px;
      width: 100%;
  }
  @media (max-width: 1200px){
    .shopify-section.video-text-section .\31 79-video-txt .container .content{
      max-width: 530px;
    }
  }

  @media (max-width: 991px){
    .shopify-section.video-text-section .\31 79-video-txt img{
      display: none;
    }

    .shopify-section.video-text-section .\31 79-video-txt img.mobile-image{
      display: block;
    }

    .shopify-section.video-text-section .\31 79-video-txt .container{
      top: 50px;
      transform: translateY(0);
      text-align: center;
    }

    .shopify-section.video-text-section .\31 79-video-txt .container .content{
      margin: 0 auto;
    }

    .shopify-section.video-text-section .\31 79-video-txt a.popup-btn img{
      display: block;
    }

    .shopify-section.video-text-section .\31 79-video-txt a.popup-btn{
      top: 70%;
      left: 50%;
      right: auto;
      transform: translate(-50%, -50%);
    }

  div#v1 {
      position: relative;
      width: 100%;
      margin: 0 auto;
  }
    .shopify-section.video-text-section .\31 79-video-txt a.popup-btn {
      top: 59%;
      left: 51%;
  }
    .slid-bottom {
      position: absolute;
      bottom: 100px;
      left: 0;
      right: 0;
      width: 100%;
      display: flex;
      padding: 0 20px;
  }
    .slid-bottom.new-2 {
      bottom: 15px;
  }
  .slid-bottom .bottom-img {
      width: 54px;
  }
  .slid-bottom .bottom-cont {
      width: calc(100% - 64px);
      margin-left: 10px;
  }
  .slid-bottom .bottom-cont p {
      font-family: 'Poppins';
      font-style: italic;
      font-weight: 400;
      font-size: 11px;
      line-height: 18px;
      letter-spacing: 0.3px;
      color: #FFFFFF;
      margin: 0;
  }
  .slid-bottom .bottom-cont span {
      font-family: 'Poppins';
      font-style: normal;
      font-weight: 400;
      font-size: 10px;
      line-height: 24px;
      letter-spacing: 0.3px;
      color: #fff;
      margin-top: 3px;
      display: block;
  }
  .slid-bottom .bottom-cont span b {
      color: #008763;
      font-family: 'Poppins' !important;
      font-weight: 600 !important;
  }
  .slid-bottom .bottom-cont img {
      display: block;
  }
  .slid-bottom .bottom-img img {
      display: block;
  }
  .slid-bottom .bottom-img img {
      display: block !important;
  }
  /* .shopify-section.video-text-section .\31 79-video-txt:before {
      content: '';
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      background: linear-gradient(360deg, #000000 4.31%, rgba(0, 0, 0, 0) 37.76%), linear-gradient(179.95deg, #C7E7DC 41.98%, rgba(199, 231, 220, 0.17) 56.76%, rgba(255, 255, 255, 0.12) 70.86%);
  } */
    .shopify-section.video-text-section .\31 79-video-txt a.popup-btn {
      right: 19% !important;
      top: 45% !important;
      left: 49%;
      width: 100%;
  }
  }
  @media (max-width: 568px){
    h2.title.dek-tit {
      display: none;
  }
    .shopify-section.video-text-section .\31 79-video-txt .container .content .title{
        font-size: 28px;
        line-height: 36px;
        margin-bottom: 20px;
          padding: 0 10px;
    }

    .shopify-section.video-text-section .\31 79-video-txt .container{
      top: 30px;
    }
    .shopify-section.video-text-section .\31 79-video-txt .container .content .title b{
      font-size: 24px;
    }
    .shopify-section.video-text-section .\31 79-video-txt .container .content .title b i {
      font-style: normal;
  }
    section#shopify-section-micro-video-text h2.title {
      font-size: 24px!important;
      line-height: 38px!important;
      margin-bottom: 0px!important;
      padding: 0;
    }
    #shopify-section-micro-video-text.video-text-section .\31 79-video-txt .container .content .title b {
      font-size: 24px;
      font-weight: 500 !important;
    }
    .shopify-section.video-text-section .\31 79-video-txt .container .content .title b i span {
      display: none;
    }
    .shopify-section.video-text-section span.sub-t.mobile{
      display:none;
    }
    section#shopify-section-micro-video-text a.popup-btn span {
      font-weight: 400;
    }
  }
</style>

{% schema %}
{
  "name": "Infusion Video",
  "tag": "section",
  "class": "video-text-section infusion-video",
  "max_blocks": 5,
  "settings": [

  ],
  "blocks": [

   ],
  "presets": [
    {
      "name": "Infusion Video"
    }
  ]
}
{% endschema %}
