<div class="bf-page-width-full">
  <div class="bf-page-width">
    <div class="new-bundle-title">
      <div class="bf-bundles__offer-wrapper">
        <div class="bf-bundles__offer black">Don’t miss out!</div>
        <div class="bf-bundles__offer red">
          <span class="bf-desktop">SPECIAL HOLIDAY OFFER</span><span class="bf-mobile">HOLIDAY</span>
        </div>
        <div class="bf-bundles__offer black">Ends this month</div>
      </div>
      <h2><b>Save 20%</b> On Our Best Sellers</h2>
      <p>Designed by experts to get you <b>clinical grade therapy results</b> at an <b>affordable price.</b></p>
      <span class="bundle-code">Use Code: <b>BLACKFRIDAY</b></span>
    </div>
    <div class="new-bundle-info">
      <div class="new-bundle-detail detail-1">
        <img
          src="https://cdn.shopify.com/s/files/1/0441/1431/3365/files/Untitled_1.png?v=1686826520"
          style="border-radius: 25px 25px 0 0;"
					alt=""
        >
        <div class="new-bundle-content">
          <h3>All-In-One Face Serum</h3>
          <div class="bf-bundles__item-included-wrapper">
            <div class="bf-bundles__item-included">
              What is included
              <span>
                <svg
                  class="included-arrow"
                  width="15"
                  height="8"
                  viewBox="0 0 15 8"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path opacity="0.8" d="M1 1L7.38039 6.51343L10.5706 3.75672L13.7608 1" stroke="black" stroke-width="1.25" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"></path>
                </svg>
              </span>
            </div>
            <div class="bf-bundles__item-dropdown" style="display: none;"><p>2x All-In-One Face Serum (30ml)</p></div>
          </div>
          <div class="bf-bundles__item-price-wrapper">
            <div class="bf-bundles__item-before">$85</div>
            <div class="bf-bundles__item-after">$65</div>
            <div class="bf-bundles__item-save">YOU SAVE $20</div>
          </div>
          <div class="bundle-pay-text">
            <span>OR 4 monthly payments $82.25 with</span>
            <img
              src="https://cdn.shopify.com/s/files/1/0441/1431/3365/files/1280px-Klarna_Logo_black_3.png?v=1666473417"
							alt=""
            >
            <img
              src="https://cdn.shopify.com/s/files/1/0441/1431/3365/files/sezzle-logo-freelogovectors_1_926f2380-c033-47b6-83fb-64454b9ed497.png?v=1666473417"
							alt=""
            >
            <img
              src="https://cdn.shopify.com/s/files/1/0441/1431/3365/files/afterpay-seeklogo.com.svg?v=1677232056"
              class="new-pay"
							alt=""
            >
          </div>
          <div class="bf-buy-button bundle-button_4" data-prod-id="35987553419413">
            <span>Buy Now</span>
          </div>
          <!--
            <div class="bundles-more">
              Want to save more?
            </div>
          -->
        </div>
      </div>
      <div class="new-bundle-detail detail-2">
        <img src="https://cdn.shopify.com/s/files/1/0441/1431/3365/files/image_2022_11_17T11_53_13_676Z.png?v=1668686009" alt="">
        <div class="new-bundle-content">
          <h3>Q-Rejuvalight Pro LED Mask (PRE-ORDER)</h3>
          <div class="bf-bundles__item-included-wrapper">
            <div class="bf-bundles__item-included">
              What is included
              <span>
                <svg
                  class="included-arrow"
                  width="15"
                  height="8"
                  viewBox="0 0 15 8"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path opacity="0.8" d="M1 1L7.38039 6.51343L10.5706 3.75672L13.7608 1" stroke="black" stroke-width="1.25" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"></path>
                </svg>
              </span>
            </div>
            <div class="bf-bundles__item-dropdown" style="display: none;">
              <p>1x Q-Rejuvalight Pro LED Mask (+ 1 Year Warranty)</p>
              <p>1x Luxury Storage & Universal USB-C Charging Cable</p>
              <p>
                <em><strong>NOTE: Stock is expected to arrive Early July.</strong></em>
              </p>
            </div>
          </div>
          <div class="bf-bundles__item-price-wrapper">
            <div class="bf-bundles__item-before">$529</div>
            <div class="bf-bundles__item-after">$329</div>
            <div class="bf-bundles__item-save">YOU SAVE $285</div>
          </div>
          <div class="bundle-pay-text">
            <span>OR 4 monthly payments $82.25 with</span>
            <img
              src="https://cdn.shopify.com/s/files/1/0441/1431/3365/files/1280px-Klarna_Logo_black_3.png?v=1666473417"
							alt=""
            >
            <img
              src="https://cdn.shopify.com/s/files/1/0441/1431/3365/files/sezzle-logo-freelogovectors_1_926f2380-c033-47b6-83fb-64454b9ed497.png?v=1666473417"
							alt=""
            >
            <img
              src="https://cdn.shopify.com/s/files/1/0441/1431/3365/files/afterpay-seeklogo.com.svg?v=1677232056"
              class="new-pay"
							alt=""
            >
          </div>
          <div class="bf-buy-button bundle-button_1" data-prod-id="37390541553813">
            <span>Reserve Now</span>
            <span class="buy-sold-wrapper">
              <span class="buy-sold">
                <span class="buy-sold__top">78%</span>
                <span class="buy-sold__bottom">sold</span>
              </span>
            </span>
          </div>
          <!--
            <div class="bundles-more">
              Want to save more?
            </div>
          -->
          <div class="bf-choice">MOST POPULAR CHOICE</div>
          <div class="selling-fast">
            <img src="https://cdn.shopify.com/s/files/1/0441/1431/3365/files/image_2022_11_18T06_01_07_418Z.png?v=1668751317" alt="">
            <p>Selling Out FAST</p>
          </div>
        </div>
      </div>
      <div class="new-bundle-detail detail-3">
        <img src="https://cdn.shopify.com/s/files/1/0441/1431/3365/files/image_2022_11_17T11_54_00_817Z.png?v=1668686057" alt="">
        <div class="new-bundle-content">
          <h3>Micro-Infusion System</h3>
          <div class="bf-bundles__item-included-wrapper">
            <div class="dropdown cus-drop drop-1">
              <a href="#" class="js-link" rel="noindex nofollow">3 Month Supply<i class="fa fa-chevron-down"></i></a>
              <ul class="js-dropdown-list">
                <li>3 Month Supply</li>
                <li>2 Month Supply</li>
                <li>1 Month Supply</li>
              </ul>
            </div>
            <div class="dropdown cus-drop drop-2">
              <a href="#" class="js-link" rel="noindex nofollow">Rejuvenating Serum<i class="fa fa-chevron-down"></i></a>
              <ul class="js-dropdown-list">
                <li>Rejuvenating Serum</li>
                <li>Hydra-Soothing Serum</li>
                <li>Rejuvenating + Hydra-Soothing Serums</li>
              </ul>
            </div>
            <div class="hidden-option" style="display:none;">
              <select class="dropdown_selection">
                <option value="43216299819247">3 Month SupplyRejuvenating Serum</option>
                <option value="43216359555311">3 Month SupplyHydra-Soothing Serum</option>
                <option value="43216377217263">3 Month SupplyRejuvenating + Hydra-Soothing Serums</option>

                <option value="43216398450927">2 Month SupplyRejuvenating Serum</option>
                <option value="43216434069743">2 Month SupplyHydra-Soothing Serum</option>
                <option value="43216449208559">2 Month SupplyRejuvenating + Hydra-Soothing Serums</option>

                <option value="43216457203951">1 Month SupplyRejuvenating Serum</option>
                <option value="43216483942639">1 Month SupplyHydra-Soothing Serum</option>
                <option value="43216489513199">1 Month SupplyRejuvenating + Hydra-Soothing Serums</option>
              </select>
            </div>
          </div>
          <div class="bf-bundles__item-included-wrapper">
            <div class="bf-bundles__item-included">
              What is included
              <span>
                <svg
                  class="included-arrow"
                  width="15"
                  height="8"
                  viewBox="0 0 15 8"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path opacity="0.8" d="M1 1L7.38039 6.51343L10.5706 3.75672L13.7608 1" stroke="black" stroke-width="1.25" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"></path>
                </svg>
              </span>
            </div>
            <div class="bf-bundles__item-dropdown" style="display: none;">
              <ul>
                <li>Micro-Infusion Device (valued at $80)</li>
                <li>>5 Clinical-Grade Micro-Needling Heads (valued at $50)</li>
                <li>
                  >6 clinically-formulatd 4ml serums of choice to treat your specific skin concerns (valued at $120)
                </li>
                <li>World-wide shipping (valued at $25)</li>
                <li>24/7 customer support access</li>
                <li>Risk free 90 Days money back guarantee to trial</li>
                <p>
                  <i><b>NOTE: Stock is expected to arrive Late August.</b></i>
                </p>
              </ul>
            </div>
          </div>
          <div class="bf-bundles__item-price-wrapper">
            <div class="bf-bundles__item-before">$297</div>
            <div class="bf-bundles__item-after">$169</div>
            <div class="bf-bundles__item-save">YOU SAVE $128</div>
          </div>
          <div class="bundle-pay-text">
            <span>OR 4 monthly payments $82.25 with</span>
            <img
              src="https://cdn.shopify.com/s/files/1/0441/1431/3365/files/1280px-Klarna_Logo_black_3.png?v=1666473417"
							alt=""
            >
            <img
              src="https://cdn.shopify.com/s/files/1/0441/1431/3365/files/sezzle-logo-freelogovectors_1_926f2380-c033-47b6-83fb-64454b9ed497.png?v=1666473417"
							alt=""
            >
            <img
              src="https://cdn.shopify.com/s/files/1/0441/1431/3365/files/afterpay-seeklogo.com.svg?v=1677232056"
              class="new-pay"
							alt=""
            >
          </div>
          <div class="bf-buy-button bundle-button_3 bf-new-buy-bundle" data-prod-id="43216299819247">
            <span>Reserve Now</span>
            <span class="buy-sold-wrapper">
              <span class="buy-sold">
                <span class="buy-sold__top">81%</span>
                <span class="buy-sold__bottom">pre- sold</span>
              </span>
            </span>
          </div>
          <!--
            <div class="sold-out-txt active">
              <h6>We are sold out</h6>
              <p><b>Back in stock by End of May.</b> We are running a special deal where you can reserve yours from the next shipment right now as we sell out quickly and get an exclusive discount. <b>This is a limited-time offer so act now!</b></p>
            </div>
          -->
          <!--
            <div class="bundles-more">
              Want to save more?
            </div>
          -->
        </div>
      </div>
    </div>
  </div>
</div>

{% schema %}
{
  "name": "Section name",
  "class":"new-bundle",
  "settings": []
}
{% endschema %}
