<section class="new-hp-feature">
  <div class="hp-feature-container">
    <h2>FEATURED IN</h2>
    <div class="marquee-wrap">
      <div class="hp-feature-icon marquee">
        <img
          src="https://cdn.shopify.com/s/files/1/0441/1431/3365/files/Object_101bfa19-47d9-467c-bc2b-6ce39c5c3cbe.png?v=1684145456"
          alt="cosmopolitan"
          class="marqueelogo"
        >
        <img
          src="https://cdn.shopify.com/s/files/1/0441/1431/3365/files/Object_1_616cbf65-28ca-4c5a-b865-814b33e9c800.png?v=1684145456"
          alt="Bazaar"
          class="marqueelogo"
        >
        <img
          src="https://cdn.shopify.com/s/files/1/0441/1431/3365/files/Object_2_c8358e9e-7187-47e5-a98f-dd3bd4221251.png?v=1684145456"
          alt="Elle"
          class="marqueelogo"
        >
        <img
          src="https://cdn.shopify.com/s/files/1/0441/1431/3365/files/Object_3_ef74dc7a-eaeb-4dae-a749-bbb898e67e5d.png?v=1684145456"
          alt="Glamour"
          class="marqueelogo"
        >
        <img
          src="https://cdn.shopify.com/s/files/1/0441/1431/3365/files/Object_4_035b120a-5b94-4753-9da0-1a9f83c660e3.png?v=1684145456"
          alt="Grazia"
          class="marqueelogo"
        >
      </div>
    </div>
  </div>
</section>
{% schema %}
{
  "name": "New Hp Features",
  "settings": [],
  "presets": [
  {
  "name": "New Hp Features",
  "category": "Icon"
  }
  ]
}
{% endschema %}
