<section class="hp-bestseller">
  <div class="container">
    <div class="bestseller-wrap">
      <div class="bestseller-block s-block-1">
        <div class="bestseller-img">
          <img src="https://cdn.shopify.com/s/files/1/0441/1431/3365/files/serum_b9626cec-ca60-440d-8f2e-60839786e3e5.png?v=1684300506" alt="bestselling">
        </div>
        <div class="bestseller-content">
          <span class="badge-seller">Bestseller</span>
          <h4>All-In-One Face Serum</h4>
          <svg width="101" height="17" viewBox="0 0 101 17" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" clip-rule="evenodd" d="M92.1171 0.432818L94.0211 5.96877L99.97 6.03641C100.482 6.04226 100.694 6.68288 100.283 6.9827L95.5105 10.4713L97.2833 16.0489C97.4356 16.5288 96.8813 16.9243 96.4634 16.6336L91.6105 13.2536L86.757 16.6329C86.3398 16.9236 85.7848 16.5275 85.9371 16.0482L87.7099 10.4706L82.9372 6.98205C82.5266 6.68223 82.7385 6.04161 83.2504 6.03576L89.1993 5.96812L91.1033 0.432168C91.2675 -0.0439038 91.9536 -0.0439038 92.1171 0.432818Z" fill="#008763"></path>
            <path fill-rule="evenodd" clip-rule="evenodd" d="M71.5625 0.432818L73.4664 5.96877L79.4153 6.03641C79.9272 6.04226 80.1391 6.68288 79.7285 6.9827L74.9558 10.4713L76.7286 16.0489C76.8809 16.5288 76.3266 16.9243 75.9087 16.6336L71.0558 13.2536L66.2023 16.6329C65.7851 16.9236 65.2301 16.5275 65.3824 16.0482L67.1553 10.4706L62.3825 6.98205C61.9719 6.68223 62.1838 6.04161 62.6957 6.03576L68.6446 5.96812L70.5486 0.432168C70.7128 -0.0439038 71.3989 -0.0439038 71.5625 0.432818Z" fill="#008763"></path>
            <path fill-rule="evenodd" clip-rule="evenodd" d="M51.0068 0.432818L52.9107 5.96877L58.8596 6.03641C59.3715 6.04226 59.5835 6.68288 59.1729 6.9827L54.4001 10.4713L56.1729 16.0489C56.3252 16.5288 55.7709 16.9243 55.3531 16.6336L50.5002 13.2536L45.6466 16.6329C45.2294 16.9236 44.6745 16.5275 44.8268 16.0482L46.5996 10.4706L41.8268 6.98205C41.4162 6.68223 41.6282 6.04161 42.1401 6.03576L48.089 5.96812L49.9929 0.432168C50.1571 -0.0439038 50.8432 -0.0439038 51.0068 0.432818Z" fill="#008763"></path>
            <path fill-rule="evenodd" clip-rule="evenodd" d="M30.4521 0.432818L32.356 5.96877L38.3049 6.03641C38.8169 6.04226 39.0288 6.68288 38.6182 6.9827L33.8454 10.4713L35.6182 16.0489C35.7705 16.5288 35.2163 16.9243 34.7984 16.6336L29.9455 13.2536L25.0919 16.6329C24.6747 16.9236 24.1198 16.5275 24.2721 16.0482L26.0449 10.4706L21.2721 6.98205C20.8616 6.68223 21.0735 6.04161 21.5854 6.03576L27.5343 5.96812L29.4382 0.432168C29.6025 -0.0439038 30.2885 -0.0439038 30.4521 0.432818Z" fill="#008763"></path>
            <path fill-rule="evenodd" clip-rule="evenodd" d="M9.89644 0.432818L11.8004 5.96877L17.7493 6.03641C18.2612 6.04226 18.4731 6.68288 18.0625 6.9827L13.2898 10.4713L15.0626 16.0489C15.2149 16.5288 14.6606 16.9243 14.2427 16.6336L9.38983 13.2536L4.53628 16.6329C4.11906 16.9236 3.56411 16.5275 3.71642 16.0482L5.48924 10.4706L0.716479 6.98205C0.30589 6.68223 0.517807 6.04161 1.02972 6.03576L6.97861 5.96812L8.88255 0.432168C9.04679 -0.0439038 9.73287 -0.0439038 9.89644 0.432818Z" fill="#008763"></path>
          </svg>
          <p>
            Multi-tasking face serum <b>boosts firmness, smooths fine lines and brightens dark spots</b> with
            Argireline® Peptides, Retinol, Bakuchiol, Niacinamide, Vit C, Vit E, Ferulic Acid
          </p>
          <a href="/products/face-serum">Learn More</a>
        </div>
      </div>
      <div class="bestseller-block s-block-2">
        <div class="bestseller-img">
          <img src="https://cdn.shopify.com/s/files/1/0441/1431/3365/files/led-thumbnail-01.png?v=1684230144" alt="bestselling">
        </div>
        <div class="bestseller-content">
          <span class="badge-seller">Bestseller</span>
          <h4>Light Therapy Mask</h4>
          <svg width="101" height="17" viewBox="0 0 101 17" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" clip-rule="evenodd" d="M92.1171 0.432818L94.0211 5.96877L99.97 6.03641C100.482 6.04226 100.694 6.68288 100.283 6.9827L95.5105 10.4713L97.2833 16.0489C97.4356 16.5288 96.8813 16.9243 96.4634 16.6336L91.6105 13.2536L86.757 16.6329C86.3398 16.9236 85.7848 16.5275 85.9371 16.0482L87.7099 10.4706L82.9372 6.98205C82.5266 6.68223 82.7385 6.04161 83.2504 6.03576L89.1993 5.96812L91.1033 0.432168C91.2675 -0.0439038 91.9536 -0.0439038 92.1171 0.432818Z" fill="#008763"></path>
            <path fill-rule="evenodd" clip-rule="evenodd" d="M71.5625 0.432818L73.4664 5.96877L79.4153 6.03641C79.9272 6.04226 80.1391 6.68288 79.7285 6.9827L74.9558 10.4713L76.7286 16.0489C76.8809 16.5288 76.3266 16.9243 75.9087 16.6336L71.0558 13.2536L66.2023 16.6329C65.7851 16.9236 65.2301 16.5275 65.3824 16.0482L67.1553 10.4706L62.3825 6.98205C61.9719 6.68223 62.1838 6.04161 62.6957 6.03576L68.6446 5.96812L70.5486 0.432168C70.7128 -0.0439038 71.3989 -0.0439038 71.5625 0.432818Z" fill="#008763"></path>
            <path fill-rule="evenodd" clip-rule="evenodd" d="M51.0068 0.432818L52.9107 5.96877L58.8596 6.03641C59.3715 6.04226 59.5835 6.68288 59.1729 6.9827L54.4001 10.4713L56.1729 16.0489C56.3252 16.5288 55.7709 16.9243 55.3531 16.6336L50.5002 13.2536L45.6466 16.6329C45.2294 16.9236 44.6745 16.5275 44.8268 16.0482L46.5996 10.4706L41.8268 6.98205C41.4162 6.68223 41.6282 6.04161 42.1401 6.03576L48.089 5.96812L49.9929 0.432168C50.1571 -0.0439038 50.8432 -0.0439038 51.0068 0.432818Z" fill="#008763"></path>
            <path fill-rule="evenodd" clip-rule="evenodd" d="M30.4521 0.432818L32.356 5.96877L38.3049 6.03641C38.8169 6.04226 39.0288 6.68288 38.6182 6.9827L33.8454 10.4713L35.6182 16.0489C35.7705 16.5288 35.2163 16.9243 34.7984 16.6336L29.9455 13.2536L25.0919 16.6329C24.6747 16.9236 24.1198 16.5275 24.2721 16.0482L26.0449 10.4706L21.2721 6.98205C20.8616 6.68223 21.0735 6.04161 21.5854 6.03576L27.5343 5.96812L29.4382 0.432168C29.6025 -0.0439038 30.2885 -0.0439038 30.4521 0.432818Z" fill="#008763"></path>
            <path fill-rule="evenodd" clip-rule="evenodd" d="M9.89644 0.432818L11.8004 5.96877L17.7493 6.03641C18.2612 6.04226 18.4731 6.68288 18.0625 6.9827L13.2898 10.4713L15.0626 16.0489C15.2149 16.5288 14.6606 16.9243 14.2427 16.6336L9.38983 13.2536L4.53628 16.6329C4.11906 16.9236 3.56411 16.5275 3.71642 16.0482L5.48924 10.4706L0.716479 6.98205C0.30589 6.68223 0.517807 6.04161 1.02972 6.03576L6.97861 5.96812L8.88255 0.432168C9.04679 -0.0439038 9.73287 -0.0439038 9.89644 0.432818Z" fill="#008763"></path>
          </svg>
          <p>
            <b>FDA cleared,</b> dermatologist recommended, at-home LED Light Therapy Mask that’s proven to reduce fine
            lines, wrinkles, redness, pigmentation, and acne. Connects with app to customize, plan and track treatments.
          </p>
          <a href="/products/q-rejuvalight-pro-facewear">Learn More</a>
        </div>
      </div>
      <div class="bestseller-block s-block-3">
        <div class="bestseller-img">
          <img src="https://cdn.shopify.com/s/files/1/0441/1431/3365/files/mi.png?v=1684303524" alt="bestselling">
        </div>
        <div class="bestseller-content">
          <span class="badge-seller">Bestseller</span>
          <h4>Micro-Infusion System</h4>
          <svg width="101" height="17" viewBox="0 0 101 17" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" clip-rule="evenodd" d="M92.1171 0.432818L94.0211 5.96877L99.97 6.03641C100.482 6.04226 100.694 6.68288 100.283 6.9827L95.5105 10.4713L97.2833 16.0489C97.4356 16.5288 96.8813 16.9243 96.4634 16.6336L91.6105 13.2536L86.757 16.6329C86.3398 16.9236 85.7848 16.5275 85.9371 16.0482L87.7099 10.4706L82.9372 6.98205C82.5266 6.68223 82.7385 6.04161 83.2504 6.03576L89.1993 5.96812L91.1033 0.432168C91.2675 -0.0439038 91.9536 -0.0439038 92.1171 0.432818Z" fill="#008763"></path>
            <path fill-rule="evenodd" clip-rule="evenodd" d="M71.5625 0.432818L73.4664 5.96877L79.4153 6.03641C79.9272 6.04226 80.1391 6.68288 79.7285 6.9827L74.9558 10.4713L76.7286 16.0489C76.8809 16.5288 76.3266 16.9243 75.9087 16.6336L71.0558 13.2536L66.2023 16.6329C65.7851 16.9236 65.2301 16.5275 65.3824 16.0482L67.1553 10.4706L62.3825 6.98205C61.9719 6.68223 62.1838 6.04161 62.6957 6.03576L68.6446 5.96812L70.5486 0.432168C70.7128 -0.0439038 71.3989 -0.0439038 71.5625 0.432818Z" fill="#008763"></path>
            <path fill-rule="evenodd" clip-rule="evenodd" d="M51.0068 0.432818L52.9107 5.96877L58.8596 6.03641C59.3715 6.04226 59.5835 6.68288 59.1729 6.9827L54.4001 10.4713L56.1729 16.0489C56.3252 16.5288 55.7709 16.9243 55.3531 16.6336L50.5002 13.2536L45.6466 16.6329C45.2294 16.9236 44.6745 16.5275 44.8268 16.0482L46.5996 10.4706L41.8268 6.98205C41.4162 6.68223 41.6282 6.04161 42.1401 6.03576L48.089 5.96812L49.9929 0.432168C50.1571 -0.0439038 50.8432 -0.0439038 51.0068 0.432818Z" fill="#008763"></path>
            <path fill-rule="evenodd" clip-rule="evenodd" d="M30.4521 0.432818L32.356 5.96877L38.3049 6.03641C38.8169 6.04226 39.0288 6.68288 38.6182 6.9827L33.8454 10.4713L35.6182 16.0489C35.7705 16.5288 35.2163 16.9243 34.7984 16.6336L29.9455 13.2536L25.0919 16.6329C24.6747 16.9236 24.1198 16.5275 24.2721 16.0482L26.0449 10.4706L21.2721 6.98205C20.8616 6.68223 21.0735 6.04161 21.5854 6.03576L27.5343 5.96812L29.4382 0.432168C29.6025 -0.0439038 30.2885 -0.0439038 30.4521 0.432818Z" fill="#008763"></path>
            <path fill-rule="evenodd" clip-rule="evenodd" d="M9.89644 0.432818L11.8004 5.96877L17.7493 6.03641C18.2612 6.04226 18.4731 6.68288 18.0625 6.9827L13.2898 10.4713L15.0626 16.0489C15.2149 16.5288 14.6606 16.9243 14.2427 16.6336L9.38983 13.2536L4.53628 16.6329C4.11906 16.9236 3.56411 16.5275 3.71642 16.0482L5.48924 10.4706L0.716479 6.98205C0.30589 6.68223 0.517807 6.04161 1.02972 6.03576L6.97861 5.96812L8.88255 0.432168C9.04679 -0.0439038 9.73287 -0.0439038 9.89644 0.432818Z" fill="#008763"></path>
          </svg>
          <p>
            Facial stamping system that painlessly stimulates collagen whilst infusing serums directly into the skin to
            boost absorption and maximise results with no downtime.
          </p>
          <a href="/pages/microinfusion">Learn More</a>
        </div>
      </div>
    </div>
  </div>
</section>
{% schema %}
{
  "name": "New HP Bestseller",
  "settings": [],
  "presets": [
    {
    "name": "New HP Bestseller",
    "category": "New HP Bestseller"
    }
    ]
}
{% endschema %}
