<section class="hp-skincare">
  <div class="container">
    <div class="hp-skincare-title">
      <h2>Science-backed skincare that’s proven to work.</h2>
      <p>
        See the real, unedited results for yourself<br>
        <br>
        Want smoother fine lines? Even toned complexion? Clearer skin?,<br>
        Our science-backed skincare and treatments are <i>clinically-proven</i> to work.<br>
        <b>Reclaim your confidence at any age,</b> no matter what your skin concern is, so you can.
      </p>
    </div>
    <div class="hp-skincare-slider">
      <div class="hp-skincare-wrap hp-skinslide-1">
        <div class="hp-skin-review-title">
          <h3>Fine Lines and Wrinkles</h3>
        </div>
        <div class="hp-skin-main">
          <div class="hp-skin-img">
            <div class="img-main">
              <div class="hp-skin-left skin-images">
                <img
                  src="https://cdn.shopify.com/s/files/1/0441/1431/3365/files/before-01_300x.png?v=1684222926"
                  alt=""
                >
                <span>BEFORE</span>
              </div>
              <div class="hp-skin-right skin-images">
                <img
                  src="https://cdn.shopify.com/s/files/1/0441/1431/3365/files/after-01_300x.png?v=1684222878"
                  alt=""
                >
                <span>AFTER 8 WEEKS</span>
              </div>
            </div>
            <div class="hp-skin-verify">
              <div class="hp-skin-view">
                <img
                  src="https://cdn.shopify.com/s/files/1/0441/1431/3365/files/Mask_Group_1_e0b6911d-ab61-4fe3-bf10-e6ea479e7fac_300x.png?v=1684230836"
                  alt=""
                >
                Michelle S.
              </div>
              <div class="hp-skin-veri">
                <svg width="16" height="17" viewBox="0 0 16 17" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M16 8.06738C16 6.90378 15.3388 5.88818 14.3736 5.37538C14.6372 4.37098 14.3804 3.25418 13.5964 2.47058C13.0112 1.88498 12.24 1.59378 11.468 1.59378C11.2068 1.59378 10.9456 1.62698 10.6916 1.69378C10.1792 0.728583 9.1636 0.0673828 8 0.0673828C6.8364 0.0673828 5.8208 0.728583 5.308 1.69378C5.0536 1.62698 4.7928 1.59378 4.5316 1.59378C3.7596 1.59378 2.9888 1.88538 2.4032 2.47058C1.6196 3.25418 1.3624 4.37058 1.626 5.37538C0.6612 5.88818 0 6.90378 0 8.06738C0 9.23098 0.6612 10.2466 1.6264 10.7594C1.3628 11.7638 1.6196 12.8806 2.4036 13.6642C2.9888 14.2494 3.76 14.541 4.532 14.541C4.7932 14.541 5.0544 14.5078 5.3084 14.441C5.8208 15.4062 6.8364 16.0674 8 16.0674C9.1636 16.0674 10.1792 15.4062 10.692 14.441C10.9464 14.5078 11.2072 14.541 11.4684 14.541C12.2404 14.541 13.0112 14.2494 13.5968 13.6642C14.3804 12.8806 14.6376 11.7642 14.374 10.7594C15.3388 10.2466 16 9.23098 16 8.06738Z" fill="#008763"></path>
                  <path d="M6.99133 10.734L4 8.13955L5.14101 7.15007L6.99133 8.75431L10.859 5.40063L12 6.39012L6.99133 10.734Z" fill="white"></path>
                </svg>
                Verified customer
              </div>
            </div>
          </div>
          <div class="hp-skin-content">
            <div class="hp-skin-percan">
              <span>87%</span>
              <p><b>smoother</b> facial wrinkles and fine lines after 12 weeks.</p>
            </div>
            <div class="hp-skin-clinical">
              <div class="clinical-title">
                <h4>In a Clinical Trial...</h4>
              </div>
              <div class="clinical-detail">
                <p><b>...8 out of 10 subjects</b> reported a significant <b>reduction in wrinkles.</b></p>
                <a href="#result-popup" class="clinical-link open-popup-link">Read More About Clinical Study</a>
                <div id="result-popup" class="white-popup mfp-hide">
                  87% experienced a reduction in the Fitzpatrick wrinkling severity score via a blinded clinical
                  assessment. Improvements in skin appearance observed in LED-treated individuals suggested that LED at
                  660 nm is a safe and effective collagen-enhancement strategy. No adverse events or downtime were
                  reported.
                  <br>
                  <h2>About the clinical trial</h2>
                  Clinical trial was conducted and investigated the potential of light-emitting diode (LED) treatments
                  with a 660 nm. LED effects were then assessed in aged/photoaged individuals in a split-face
                  single-blinded study.
                  <p>
                    <i
                      >Reference: SOURCE: J Invest Dermatol. 2009 Dec;129(12):2751-9. doi: 10.1038/<span class="skimlinks-unlinked"
                        >jid.2009.186</span
                      >. Epub 2009 Jul 9</i
                    >
                  </p>
                </div>
              </div>
            </div>
            <div class="hp-skin-sell">
              <div class="sell-img">
                <img
                  src="https://cdn.shopify.com/s/files/1/0441/1431/3365/files/led-thumbnail-01_300x.png?v=1684230144"
                  alt=""
                >
              </div>
              <div class="sell-info">
                <h5>Q-Rejuvalight LED Mask</h5>
                <a href="/products/q-rejuvalight-pro-facewear">Learn more ></a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="hp-skincare-wrap hp-skinslide-2">
        <div class="hp-skin-review-title">
          <h3>Acne and Breakouts</h3>
        </div>
        <div class="hp-skin-main">
          <div class="hp-skin-img">
            <div class="img-main">
              <div class="hp-skin-left skin-images">
                <img
                  src="https://cdn.shopify.com/s/files/1/0441/1431/3365/files/before-02_300x.png?v=1684230937"
                  alt=""
                >
                <span>BEFORE</span>
              </div>
              <div class="hp-skin-right skin-images">
                <img
                  src="https://cdn.shopify.com/s/files/1/0441/1431/3365/files/after-02_300x.png?v=1684230937"
                  alt=""
                >
                <span>AFTER 4 WEEKS</span>
              </div>
            </div>
            <div class="hp-skin-verify">
              <div class="hp-skin-view">
                <img
                  src="https://cdn.shopify.com/s/files/1/0441/1431/3365/files/Mask_Group_2_691be485-2bf6-411a-ab5e-5be7676bd908_300x.png?v=1684230996"
                  alt=""
                >
                BJ Nardi.
              </div>
              <div class="hp-skin-veri">
                <svg width="16" height="17" viewBox="0 0 16 17" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M16 8.06738C16 6.90378 15.3388 5.88818 14.3736 5.37538C14.6372 4.37098 14.3804 3.25418 13.5964 2.47058C13.0112 1.88498 12.24 1.59378 11.468 1.59378C11.2068 1.59378 10.9456 1.62698 10.6916 1.69378C10.1792 0.728583 9.1636 0.0673828 8 0.0673828C6.8364 0.0673828 5.8208 0.728583 5.308 1.69378C5.0536 1.62698 4.7928 1.59378 4.5316 1.59378C3.7596 1.59378 2.9888 1.88538 2.4032 2.47058C1.6196 3.25418 1.3624 4.37058 1.626 5.37538C0.6612 5.88818 0 6.90378 0 8.06738C0 9.23098 0.6612 10.2466 1.6264 10.7594C1.3628 11.7638 1.6196 12.8806 2.4036 13.6642C2.9888 14.2494 3.76 14.541 4.532 14.541C4.7932 14.541 5.0544 14.5078 5.3084 14.441C5.8208 15.4062 6.8364 16.0674 8 16.0674C9.1636 16.0674 10.1792 15.4062 10.692 14.441C10.9464 14.5078 11.2072 14.541 11.4684 14.541C12.2404 14.541 13.0112 14.2494 13.5968 13.6642C14.3804 12.8806 14.6376 11.7642 14.374 10.7594C15.3388 10.2466 16 9.23098 16 8.06738Z" fill="#008763"></path>
                  <path d="M6.99133 10.734L4 8.13955L5.14101 7.15007L6.99133 8.75431L10.859 5.40063L12 6.39012L6.99133 10.734Z" fill="white"></path>
                </svg>
                Verified customer
              </div>
            </div>
          </div>
          <div class="hp-skin-content">
            <div class="hp-skin-percan">
              <span>83%</span>
              <p><b>reduction</b> of acne breakouts after 8 weeks.</p>
            </div>
            <div class="hp-skin-clinical">
              <div class="clinical-title">
                <h4>In a Clinical Trial...</h4>
              </div>
              <div class="clinical-detail">
                <p><b>...9 out of 10</b> subjects said they saw <b>a reduction in skin acne after 2 weeks.</b></p>
                <a href="#result-popup-1" class="open-popup-link clinical-link">Read More About Clinical Study</a>
                <div id="result-popup-1" class="white-popup mfp-hide">
                  Improvement ranging up to 83.3% of moderate acne lesion count. A downward shift in the Burton grade
                  was seen overall. No adverse effects were reported.
                  <br>
                  <h2>About the clinical trial</h2>
                  Clinical trial was conducted with male and female subjects with acne grades at baseline ranging from
                  Burton grade 1 to 5. Subjects were treated with LED therapy, alternating between the blue (415 nm) and
                  near-IR (830 nm) heads. No other treatment was allowed. Results were assessed and compared with the
                  baseline values at 1, 4 and 8 weeks post-treatment.
                  <p>
                    <i
                      >Reference: SOURCE: J Invest Dermatol. 2009 Dec;129(12):2751-9. doi: 10.1038/<span class="skimlinks-unlinked"
                        >jid.2009.186</span
                      >. Epub 2009 Jul 9</i
                    >
                  </p>
                </div>
              </div>
            </div>
            <div class="hp-skin-sell">
              <div class="sell-img">
                <img
                  src="https://cdn.shopify.com/s/files/1/0441/1431/3365/files/led-thumbnail-01_300x.png?v=1684230144"
                  alt=""
                >
              </div>
              <div class="sell-info">
                <h5>Q-Rejuvalight LED Mask</h5>
                <a href="/products/q-rejuvalight-pro-facewear">Learn more ></a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="hp-skincare-wrap hp-skinslide-3">
        <div class="hp-skin-review-title">
          <h3>Skin Tone and Texture</h3>
        </div>
        <div class="hp-skin-main">
          <div class="hp-skin-img">
            <div class="img-main">
              <div class="hp-skin-left skin-images">
                <img
                  src="https://cdn.shopify.com/s/files/1/0441/1431/3365/files/before-03_300x.png?v=1684231314"
                  alt=""
                >
                <span>BEFORE</span>
              </div>
              <div class="hp-skin-right skin-images">
                <img
                  src="https://cdn.shopify.com/s/files/1/0441/1431/3365/files/after-03_300x.png?v=1684231314"
                  alt=""
                >
                <span>AFTER 1 TREATMENT</span>
              </div>
            </div>
            <div class="hp-skin-verify">
              <div class="hp-skin-view">
                <img
                  src="https://cdn.shopify.com/s/files/1/0441/1431/3365/files/Mask_Group_1_e0b6911d-ab61-4fe3-bf10-e6ea479e7fac_300x.png?v=1684230836"
                  alt=""
                >
                Mica A.
              </div>
              <div class="hp-skin-veri">
                <svg width="16" height="17" viewBox="0 0 16 17" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M16 8.06738C16 6.90378 15.3388 5.88818 14.3736 5.37538C14.6372 4.37098 14.3804 3.25418 13.5964 2.47058C13.0112 1.88498 12.24 1.59378 11.468 1.59378C11.2068 1.59378 10.9456 1.62698 10.6916 1.69378C10.1792 0.728583 9.1636 0.0673828 8 0.0673828C6.8364 0.0673828 5.8208 0.728583 5.308 1.69378C5.0536 1.62698 4.7928 1.59378 4.5316 1.59378C3.7596 1.59378 2.9888 1.88538 2.4032 2.47058C1.6196 3.25418 1.3624 4.37058 1.626 5.37538C0.6612 5.88818 0 6.90378 0 8.06738C0 9.23098 0.6612 10.2466 1.6264 10.7594C1.3628 11.7638 1.6196 12.8806 2.4036 13.6642C2.9888 14.2494 3.76 14.541 4.532 14.541C4.7932 14.541 5.0544 14.5078 5.3084 14.441C5.8208 15.4062 6.8364 16.0674 8 16.0674C9.1636 16.0674 10.1792 15.4062 10.692 14.441C10.9464 14.5078 11.2072 14.541 11.4684 14.541C12.2404 14.541 13.0112 14.2494 13.5968 13.6642C14.3804 12.8806 14.6376 11.7642 14.374 10.7594C15.3388 10.2466 16 9.23098 16 8.06738Z" fill="#008763"></path>
                  <path d="M6.99133 10.734L4 8.13955L5.14101 7.15007L6.99133 8.75431L10.859 5.40063L12 6.39012L6.99133 10.734Z" fill="white"></path>
                </svg>
                Verified customer
              </div>
            </div>
          </div>
          <div class="hp-skin-content">
            <div class="hp-skin-percan">
              <span>91%</span>
              <p><b>improved</b> skin tone and enhanced smoothness.</p>
            </div>
            <div class="hp-skin-clinical">
              <div class="clinical-title">
                <h4>In a User Study...</h4>
              </div>
              <div class="clinical-detail">
                <p>
                  <b>...9 out of 10</b> subjects reported a
                  <b>noticeable difference in skin texture and clarify</b> after treatment.
                </p>
                <!--
                  <a href="#result-popup-2" class="open-popup-link clinical-link">Read More About Clinical Study</a>
                -->
                <div id="result-popup-2" class="white-popup mfp-hide">
                  Treatment of the periorbital region was reported more effective than the nasolabial region. At 12-week
                  follow-up, 91% of subjects reported improved skin tone, and 82% reported enhanced smoothness of skin
                  in the treatment area.
                  <br>
                  <h2>About the clinical trial</h2>
                  Clinical trial was conducted to assess reduction in sun damage signs following 12 weeks of LED therapy
                  with combined wavelengths of 633 and 830 nm. Sun-damage reduction was assessed at 6, 9, and 12 weeks
                  by clinical photography and patient satisfaction scores.
                  <p>
                    <i
                      >Reference: SOURCE: J Invest Dermatol. 2009 Dec;129(12):2751-9. doi: 10.1038/<span class="skimlinks-unlinked"
                        >jid.2009.186</span
                      >. Epub 2009 Jul 9</i
                    >
                  </p>
                </div>
              </div>
            </div>
            <div class="hp-skin-sell">
              <div class="sell-img">
                <img
                  src="https://cdn.shopify.com/s/files/1/0441/1431/3365/files/mi-thumbnail-01_300x.png?v=1684231494"
                  alt=""
                >
              </div>
              <div class="sell-info">
                <h5>Micro-Infusion Facial System</h5>
                <a href="/pages/microinfusion">Learn more ></a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="hp-skincare-wrap hp-skinslide-4">
        <div class="hp-skin-review-title">
          <h3>Pigmentation and Dark Spots</h3>
        </div>
        <div class="hp-skin-main">
          <div class="hp-skin-img">
            <div class="img-main">
              <div class="hp-skin-left skin-images">
                <img
                  src="https://cdn.shopify.com/s/files/1/0441/1431/3365/files/before-04_300x.png?v=1684231313"
                  alt=""
                >
                <span>BEFORE</span>
              </div>
              <div class="hp-skin-right skin-images">
                <img
                  src="https://cdn.shopify.com/s/files/1/0441/1431/3365/files/after-04_300x.png?v=1684231313"
                  alt=""
                >
                <span>AFTER 4 WEEKS</span>
              </div>
            </div>
            <div class="hp-skin-verify">
              <div class="hp-skin-view">
                <img
                  src="https://cdn.shopify.com/s/files/1/0441/1431/3365/files/Mask_Group_1_e0b6911d-ab61-4fe3-bf10-e6ea479e7fac_300x.png?v=1684230836"
                  alt=""
                >
                Jess.
              </div>
              <div class="hp-skin-veri">
                <svg width="16" height="17" viewBox="0 0 16 17" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M16 8.06738C16 6.90378 15.3388 5.88818 14.3736 5.37538C14.6372 4.37098 14.3804 3.25418 13.5964 2.47058C13.0112 1.88498 12.24 1.59378 11.468 1.59378C11.2068 1.59378 10.9456 1.62698 10.6916 1.69378C10.1792 0.728583 9.1636 0.0673828 8 0.0673828C6.8364 0.0673828 5.8208 0.728583 5.308 1.69378C5.0536 1.62698 4.7928 1.59378 4.5316 1.59378C3.7596 1.59378 2.9888 1.88538 2.4032 2.47058C1.6196 3.25418 1.3624 4.37058 1.626 5.37538C0.6612 5.88818 0 6.90378 0 8.06738C0 9.23098 0.6612 10.2466 1.6264 10.7594C1.3628 11.7638 1.6196 12.8806 2.4036 13.6642C2.9888 14.2494 3.76 14.541 4.532 14.541C4.7932 14.541 5.0544 14.5078 5.3084 14.441C5.8208 15.4062 6.8364 16.0674 8 16.0674C9.1636 16.0674 10.1792 15.4062 10.692 14.441C10.9464 14.5078 11.2072 14.541 11.4684 14.541C12.2404 14.541 13.0112 14.2494 13.5968 13.6642C14.3804 12.8806 14.6376 11.7642 14.374 10.7594C15.3388 10.2466 16 9.23098 16 8.06738Z" fill="#008763"></path>
                  <path d="M6.99133 10.734L4 8.13955L5.14101 7.15007L6.99133 8.75431L10.859 5.40063L12 6.39012L6.99133 10.734Z" fill="white"></path>
                </svg>
                Verified customer
              </div>
            </div>
          </div>
          <div class="hp-skin-content">
            <div class="hp-skin-percan">
              <span>91%</span>
              <p><b>improved</b> skin tone and enhanced smoothness after 12 weeks.</p>
            </div>
            <div class="hp-skin-clinical">
              <div class="clinical-title">
                <h4>In a Clinical Trial...</h4>
              </div>
              <div class="clinical-detail">
                <p><b>...10 out of 10</b> subjects experienced <b>improved skin complexion and collagen density.</b></p>
                <a href="#result-popup-3" class="open-popup-link clinical-link">Read More About Clinical Study</a>
                <div id="result-popup-3" class="white-popup mfp-hide">
                  Treatment of the periorbital region was reported more effective than the nasolabial region. At 12-week
                  follow-up, 91% of subjects reported improved skin tone, and 82% reported enhanced smoothness of skin
                  in the treatment area.
                  <br>
                  <h2>About the clinical trial</h2>
                  Clinical trial was conducted to assess reduction in sun damage signs following 12 weeks of LED therapy
                  with combined wavelengths of 633 and 830 nm. Sun-damage reduction was assessed at 6, 9, and 12 weeks
                  by clinical photography and patient satisfaction scores.
                  <p>
                    <i
                      >Reference: SOURCE: J Invest Dermatol. 2009 Dec;129(12):2751-9. doi: 10.1038/<span class="skimlinks-unlinked"
                        >jid.2009.186</span
                      >. Epub 2009 Jul 9</i
                    >
                  </p>
                </div>
              </div>
            </div>
            <div class="hp-skin-sell">
              <div class="sell-img">
                <img
                  src="https://cdn.shopify.com/s/files/1/0441/1431/3365/files/led-thumbnail-01_300x.png?v=1684230144"
                  alt=""
                >
              </div>
              <div class="sell-info">
                <h5>Q-Rejuvalight LED Mask</h5>
                <a href="/products/q-rejuvalight-pro-facewear">Learn more ></a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{% schema %}
{
  "name": "New Hp Skincare",
  "settings": [],
   "presets": [
   {
   "name": "New Hp Skincare",
   "category": "Review"
   }
 ]
}
{% endschema %}
