<section class="new-hp-video-qure">
  <div class="new-hp-video">
    <img
      src="https://cdn.shopify.com/s/files/1/0441/1431/3365/files/Mask_Group_ea265c65-d107-4d59-b0a6-e8ae6bb2e228.png?v=1684146769"
      alt="Why-Qure"
    >
    <div class="hp-video-wrap">
      <h2>Why <b>Qure?</b></h2>
      <a href="https://www.youtube.com/watch?v=X9KXJPv6rno" class="custom-popup"><span>WATCH VIDEO</span></a>
    </div>
  </div>
  <div class="container">
    <div class="hp-info-wrapper">
      <div class="hp-info__slider">
        <div class="hp-info__block hp-info__block1">
          <div class="hp-info__block-content">
            <div class="hp-info__block-img">
              <img
                class="hp-desktop"
                src="//www.qureskincare.com/cdn/shop/files/img-16_250x.png?v=1666734412"
								alt="hp-desktop"
              >
              <img
                class="hp-mobile"
                src="https://cdn.shopify.com/s/files/1/0441/1431/3365/files/Group_1949_27774a2e-20e7-458d-986a-a712a29a29ea_150x.png?v=1684393359"
								alt="hp-mobile"
							>
            </div>
            <div class="hp-info__block-title">
              <h4>Science-Backed, Dermatologist Approved</h4>
              <svg
                class="hp-info__block-title--arrow"
                width="20"
                height="10"
                viewBox="0 0 20 10"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path opacity="0.8" d="M19 1.28564L10 8.99993L1 1.28564" stroke="black" stroke-width="1.5" stroke-linecap="round"></path>
              </svg>
            </div>
            <div class="hp-info__block-droptext">
              <p>
                Backed by the most respected peer-reviewed <b>Dermatologist Journals</b> and
                <b>scientific studies</b> that <b>prove;</b> Qure’s skincare <b>works.</b>
              </p>
            </div>
          </div>
        </div>
        <span class="border-class class-1"></span>
        <div class="hp-info__block hp-info__block2">
          <div class="hp-info__block-content">
            <div class="hp-info__block-img">
              <img
                class="hp-desktop"
                src="https://cdn.shopify.com/s/files/1/0441/1431/3365/files/safe-and-easy_250x.png?v=1685000793"
								alt="hp-desktop"
              >
              <img
                class="hp-mobile"
                src="https://cdn.shopify.com/s/files/1/0441/1431/3365/files/Rectangle_171_2_10d5db6b-dae7-4552-8b9b-b8b3523f433d_150x.png?v=1684393359"
								alt="hp-mobile"
              >
            </div>
            <div class="hp-info__block-title">
              <h4>Safe and Easy To Use</h4>
              <svg
                class="hp-info__block-title--arrow"
                width="20"
                height="10"
                viewBox="0 0 20 10"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path opacity="0.8" d="M19 1.28564L10 8.99993L1 1.28564" stroke="black" stroke-width="1.5" stroke-linecap="round"></path>
              </svg>
            </div>
            <div class="hp-info__block-droptext">
              <p>
                Perform <b>safely</b> from home for quick and <b>easy</b> regular <b>DIY therapies</b> so you can
                maintain long term smooth and healthy skin.
              </p>
            </div>
          </div>
        </div>
        <span class="border-class class-2"></span>
        <div class="hp-info__block hp-info__block3">
          <div class="hp-info__block-content">
            <div class="hp-info__block-img">
              <img
                class="hp-desktop"
                src="https://cdn.shopify.com/s/files/1/0441/1431/3365/files/saves-you-time_250x.png?v=1685000824"
								alt="hp-desktop"
              >
              <img
                class="hp-mobile"
                src="https://cdn.shopify.com/s/files/1/0441/1431/3365/files/Rectangle_173_c4f47fba-2a53-4a84-9046-1c97f4103862_150x.png?v=1684393359"
								alt="hp-mobile"
              >
            </div>
            <div class="hp-info__block-title">
              <h4>Saves You Time, and Money</h4>
              <svg
                class="hp-info__block-title--arrow"
                width="20"
                height="10"
                viewBox="0 0 20 10"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path opacity="0.8" d="M19 1.28564L10 8.99993L1 1.28564" stroke="black" stroke-width="1.5" stroke-linecap="round"></path>
              </svg>
            </div>
            <div class="hp-info__block-droptext">
              <p>
                No one has the time, or the money, to attend regular in-clinic treatments in order to see long lasting
                results. With Qure, it’s like going to the clinic 5x a week - Minus the cost and the time commitment.
              </p>
            </div>
          </div>
        </div>
        <span class="border-class class-3"></span>
        <div class="hp-info__block hp-info__block4">
          <div class="hp-info__block-content">
            <div class="hp-info__block-img">
              <img
                class="hp-desktop"
                src="https://cdn.shopify.com/s/files/1/0441/1431/3365/files/Frame_1666_4e9faf44-26f3-4ecb-92f6-dbca6e2994c7_250x.png?v=1684152487"
								alt="hp-desktop"
              >
              <img
                class="hp-mobile"
                src="https://cdn.shopify.com/s/files/1/0441/1431/3365/files/Frame_1666_1_150x.png?v=1684393359"
								alt="hp-mobile"
              >
            </div>
            <div class="hp-info__block-title">
              <h4>Clinically Proven Results</h4>
              <svg
                class="hp-info__block-title--arrow"
                width="20"
                height="10"
                viewBox="0 0 20 10"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path opacity="0.8" d="M19 1.28564L10 8.99993L1 1.28564" stroke="black" stroke-width="1.5" stroke-linecap="round"></path>
              </svg>
            </div>
            <div class="hp-info__block-droptext">
              <p>
                Keep your skin looking like you for longer. We put <b>clinically proven</b> technology and skincare
                that’s backed by science in your hands, so you can
                <b>achieve in-clinic results without the guess work.</b>
              </p>
            </div>
          </div>
        </div>
        <span class="border-class class-4"></span>
      </div>
    </div>
  </div>
</section>
{% schema %}
{
  "name": "Why Qure Video",
  "settings": [],
  "presets": [
    {
    "name": "Why Qure Video",
    "category": "Video"
    }
  ]
}
{% endschema %}
