<div class="new-logo">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="new-logo-detail dekstop-only">
          <div class="new-img">
            <img src="https://cdn.shopify.com/s/files/1/0441/1431/3365/files/Their_mask_light_th.svg?v=1661437257" alt="icon">
          </div>
          <div class="new-img">
            <img src=" https://cdn.shopify.com/s/files/1/0441/1431/3365/files/icon_3.svg?v=1661437329" alt="icon">
          </div>
          <div class="new-img">
            <img src="https://cdn.shopify.com/s/files/1/0441/1431/3365/files/icon_4.svg?v=1661437382" alt="icon">
          </div>
          <div class="new-img">
            <img src="https://cdn.shopify.com/s/files/1/0441/1431/3365/files/icon_5.svg?v=1661437428" alt="icon">
          </div>
          <div class="new-img">
            <img src="https://cdn.shopify.com/s/files/1/0441/1431/3365/files/Object.svg?v=1669637692" alt="icon">
          </div>
          <div class="new-img">
            <img src="https://cdn.shopify.com/s/files/1/0441/1431/3365/files/icon1_59c0e63e-8c6e-467d-a8dc-dfa682cc292e.svg?v=1661437022" alt="icon">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% schema %}
{
"name": "Section name",
"settings": []
}
{% endschema %}
