<div class="land-container">
<div class="land-text__title-wrapper imgText__title-wrapper">
<h2 class="landing-title imgText__title">Clinical-grade LED, personalized to your skin. See transformative results in less than 12 weeks.</h2>
</div>
<div class="land-imgText-second-wrapper">
<div class="land-imgText__item imgText__item--0">
<div class="land-imgText__img-wrapper wrapper--right">
<div class="cus-dekstop">
  <div class="right-img">
    <img src="https://cdn.shopify.com/s/files/1/0441/1431/3365/files/Group_1343.png?v=1646825554" alt="">
  </div>
  <div class="left-img">
    <img src="https://cdn.shopify.com/s/files/1/0441/1431/3365/files/image_47_ef28e7af-d030-417a-9f4f-5b463329e46d.png?v=1680694891" alt="">
    <img src="https://cdn.shopify.com/s/files/1/0441/1431/3365/files/Rectangle_165_4612dac2-66f3-4183-a0e8-2644597e3055.png?v=1680694891" alt="">
    <img src="https://cdn.shopify.com/s/files/1/0441/1431/3365/files/image_54_2aef6164-ee92-4765-9f29-b1cac81cbd76.png?v=1680694891" alt="">
  </div>
</div>
</div>
<div class="land-imgText__text-wrapper land-imgText__text-wrapper--left">
<div class="imtText-second__subtitle"><p>Use the healing power of light to achieve clearer, younger looking skin so you can <b>feel more like yourself.</b></p></div>
<div class="imtText-second__text">
  <p>Safe, <b>clinically proven</b> wavelengths of light penetrate the layers of the skin at various depths to trigger natural cellular reactions that treats skin concerns from the inside out, for <b>immediate and long lasting results.</b></p>
  <p>The <b>same technology used in professional clinics</b> by dermatologists, giving you <b>in-clinic results conveniently from home,</b> without the clinical price tag. </p>
  <p>Proven to work, targeted treatments for your specific skin needs. </p>
</div>

<div class="imgText-second__text imgText-second__text--list"><div class="imgText-second__text--list__items">
  <!--           <div class="imgTxtTicks">
<svg width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
<circle cx="9" cy="9" r="8.5" stroke="#008763"></circle>
<path d="M5 9L8 12L13.5 6.5" stroke="#008763" stroke-width="2"></path>
</svg>
</div> -->
  <p>Stimulate collagen production, naturally</p></div><div class="imgText-second__text--list__items">
  <!--           <div class="imgTxtTicks">
<svg width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
<circle cx="9" cy="9" r="8.5" stroke="#008763"></circle>
<path d="M5 9L8 12L13.5 6.5" stroke="#008763" stroke-width="2"></path>
</svg>
</div> -->
  <p><b>Smooth</b> fine lines and wrinkles up to <b>87%</b></p></div><div class="imgText-second__text--list__items">
  <!--           <div class="imgTxtTicks">
<svg width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
<circle cx="9" cy="9" r="8.5" stroke="#008763"></circle>
<path d="M5 9L8 12L13.5 6.5" stroke="#008763" stroke-width="2"></path>
</svg>
</div> -->
  <p><b>Clear acne up to 83%</b> and <b>prevent</b> future breakouts</p></div><div class="imgText-second__text--list__items">
  <!--           <div class="imgTxtTicks">
<svg width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
<circle cx="9" cy="9" r="8.5" stroke="#008763"></circle>
<path d="M5 9L8 12L13.5 6.5" stroke="#008763" stroke-width="2"></path>
</svg>
</div> -->
  <p>Even skin tone for <b>healthy, glowing</b> skin</p></div><div class="imgText-second__text--list__items">
  <!--           <div class="imgTxtTicks">
<svg width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
<circle cx="9" cy="9" r="8.5" stroke="#008763"></circle>
<path d="M5 9L8 12L13.5 6.5" stroke="#008763" stroke-width="2"></path>
</svg>
</div> -->
  <p>Daily <b>quick</b> 3 minute <b>personalized</b> treatments</p></div><div class="imgText-second__text--list__items">
  <!--           <div class="imgTxtTicks">
<svg width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
<circle cx="9" cy="9" r="8.5" stroke="#008763"></circle>
<path d="M5 9L8 12L13.5 6.5" stroke="#008763" stroke-width="2"></path>
</svg>
</div> -->
  <p>Proven results, backed by clinical research </p></div></div>
</div>
<div class="cus-mobile">
<div class="right-img">
  <img src="https://cdn.shopify.com/s/files/1/0441/1431/3365/files/Group_1343.png?v=1646825554" alt="">
</div>
<div class="left-img">
  <img src="https://cdn.shopify.com/s/files/1/0441/1431/3365/files/image_47.png?v=1646805630" alt="">
  <img src="https://cdn.shopify.com/s/files/1/0441/1431/3365/files/Rectangle_165.png?v=1646805630" alt="">
  <img src="https://cdn.shopify.com/s/files/1/0441/1431/3365/files/image_54.png?v=1646805631" alt="">
</div>
</div>
</div>
</div>


<div class="land-imgText__item imgText__item--1">
<div class="land-imgText__text-wrapper land-imgText__text-wrapper--right">
<h3 class="imtText-second__title"><strong>Qure</strong> Mobile App</h3>
<div class="imtText-second__subtitle"><p>Your skin is unique, so your treatment should be too.</div>
<div class="imtText-second__text">
<p>Qure’s LED Light Therapy Mask comes with a companion iPhone/ Android app.</p>
<p>Select from our range of <b>treatments</b> across five different facial areas to treat and target what your skin needs today. So you can <b>help prevent breakouts on your chin</b> while smoothing the appearance of “crow’s feet” at the same time.</p>
<p>You’ll never miss a treatment with Qure mobile app planner and phone reminders.</p>
</div> 
</div>
<div class="land-imgText__img-wrapper wrapper--left">
<div class="cus-dekstop">
<div class="left-img">
  <img src="https://cdn.shopify.com/s/files/1/0441/1431/3365/files/Group_1371.png?v=1646743520" alt="">
  <img src="https://cdn.shopify.com/s/files/1/0441/1431/3365/files/Rectangle_149_36007379-a29c-4929-aeaa-a42c7c57add2.png?v=1646743521" alt="">
  <img src="https://cdn.shopify.com/s/files/1/0441/1431/3365/files/Mask_Group_1_4c6a1907-57ea-4f5c-a6db-99d1ab5699d2.png?v=1646743520" alt="">
</div>
<div class="right-img">
  <img src="https://cdn.shopify.com/s/files/1/0441/1431/3365/files/changing-treatment-desktop-02.gif?v=1679485148" alt="">
</div>
</div>
<div class="cus-mobile">
  <div class="left-img">
  <img src="https://cdn.shopify.com/s/files/1/0441/1431/3365/files/Group_1371.png?v=1646743520" alt="">
  <img src="https://cdn.shopify.com/s/files/1/0441/1431/3365/files/Rectangle_149_36007379-a29c-4929-aeaa-a42c7c57add2.png?v=1646743521" alt="">
  <img src="https://cdn.shopify.com/s/files/1/0441/1431/3365/files/Mask_Group_1_4c6a1907-57ea-4f5c-a6db-99d1ab5699d2.png?v=1646743520" alt="">
</div>
<div class="right-img">
  <img src="https://cdn.shopify.com/s/files/1/0441/1431/3365/files/changing-treatment-mobile-02.gif?v=1679485148" alt="">
</div>
</div>
</div>
</div>
<div class="use-mask">
  <a href="javascript:void(0)" class="uses-cus" rel="noindex nofollow">
    <svg width="10" height="16" viewBox="0 0 10 16" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M1 1L8 8L1 15" stroke="white" stroke-width="2"></path>
    </svg>
    How To Use Our LED Mask?
  </a>
  <div class="use-mask-cont">
    <div class="swiper use-masks">
      <div class="swiper-wrapper">
        <div class="cus-swiper-slid swiper-slide">
          <img src="https://cdn.shopify.com/s/files/1/0441/1431/3365/files/1a_1_c9157130-d528-4f81-bd2b-ccc8d8375398.png?v=1679895544" alt="">
          <div class="use-mask-detail">
            <h6>STEP 1:</h6>
            <p>Download the Qure Skincare app and follow the instructions to set up your profile. Then turn on your Bluetooth and pair your Q-Rejuvalight Pro Facewear with the app.</p>
          </div>
        </div>
        <div class="cus-swiper-slid swiper-slide">
          <img src="https://cdn.shopify.com/s/files/1/0441/1431/3365/files/1a_1_1_11493052-5724-4c9c-9dac-03980b64c10e.png?v=1679895544" alt="">
          <div class="use-mask-detail">
            <h6>STEP 2:</h6>
            <p>Wash and dry your face prior to use, removing all makeup. Then place and position the Q-Rejuvalight Pro on your face and adjust the strap so it fits comfortably.</p>
          </div>
        </div>
        <div class="cus-swiper-slid swiper-slide">
          <img src="https://cdn.shopify.com/s/files/1/0441/1431/3365/files/1a_1_2_da2f0178-e6ea-4b36-965e-9e435a793fdc.png?v=1679895544" alt="">
          <div class="use-mask-detail">
            <h6>STEP 3:</h6>
            <p>Open the Qure Skincare app and customize your treatment by selecting which treatment (Anti-Aging or Anti-Breakout) you want on 5 facial areas. Once programmed, then press start.</p>
          </div>
        </div>
        <div class="cus-swiper-slid swiper-slide">
          <img src="https://cdn.shopify.com/s/files/1/0441/1431/3365/files/1a_1_3.png?v=1679895549" alt="">
          <div class="use-mask-detail">
            <h6>STEP 4:</h6>
            <p>The treatment will automatically turn OFF after 3 minutes. Remove the Q-Rejuvalight Pro from face and clean with wipe. Then follow <a href="/products/face-serum">Qure All-In-One Face Serum</a> or your regular skin care routine.</p>
          </div>
        </div>
      </div>
      <div class="swiper-button-prev"><svg class="slick-next" width="27" height="12" viewBox="0 0 27 12" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M1 5.0835C0.585786 5.0835 0.25 5.41928 0.25 5.8335C0.25 6.24771 0.585786 6.5835 1 6.5835L1 5.0835ZM26.5303 6.36383C26.8232 6.07094 26.8232 5.59606 26.5303 5.30317L21.7574 0.530197C21.4645 0.237304 20.9896 0.237304 20.6967 0.530197C20.4038 0.823091 20.4038 1.29796 20.6967 1.59086L24.9393 5.8335L20.6967 10.0761C20.4038 10.369 20.4038 10.8439 20.6967 11.1368C20.9896 11.4297 21.4645 11.4297 21.7574 11.1368L26.5303 6.36383ZM1 6.5835L26 6.5835L26 5.0835L1 5.0835L1 6.5835Z" fill="black" fill-opacity="0.8"/></svg></div>
      <div class="swiper-button-next"><svg class="slick-prev" width="27" height="12" viewBox="0 0 27 12" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M1 5.0835C0.585786 5.0835 0.25 5.41928 0.25 5.8335C0.25 6.24771 0.585786 6.5835 1 6.5835L1 5.0835ZM26.5303 6.36383C26.8232 6.07094 26.8232 5.59606 26.5303 5.30317L21.7574 0.530197C21.4645 0.237304 20.9896 0.237304 20.6967 0.530197C20.4038 0.823091 20.4038 1.29796 20.6967 1.59086L24.9393 5.8335L20.6967 10.0761C20.4038 10.369 20.4038 10.8439 20.6967 11.1368C20.9896 11.4297 21.4645 11.4297 21.7574 11.1368L26.5303 6.36383ZM1 6.5835L26 6.5835L26 5.0835L1 5.0835L1 6.5835Z" fill="black" fill-opacity="0.8"/></svg></div>   
     <div class="swiper-pagination"></div>
    </div>
  </div>
</div>
</div>
{%comment%}
<style>
.imgText-second__text--list p::before {
content: '';
width:18px;
height:18px;
position:absolute;
left:0;
top:5px;
background-image: url({{'circle-check.png' | asset_img_url: 'master'}});
}
</style>
{%endcomment%}

{% schema %}
{
"name": "Product image with text",
"class": "landing-section img-with-text-second-section",
"settings": [
{
"type": "html",
"id": "title",
"label": "Title"
},
{
"type": "richtext",
"id": "subtitle",
"label": "Subtitle"
}
],
"blocks": [
{
"type": "image",
"name": "Image",
"settings": [
{
"type": "header",
"content": "Rating"
},
{
"type": "checkbox",
"id": "show_rating",
"label": "Show rating",
"default": false
},
{
"type": "text",
"id": "rating",
"label": "Rating"
},
{
"type": "html",
"id": "rating_svg",
"label": "Rating SVG"
},
{
"type": "header",
"content": "Images and position"
},
{
"type": "image_picker",
"id": "image",
"label": "Image"
},
{
"type": "image_picker",
"id": "image_mob",
"label": "Image Mobile"
},
{
"type": "select",
"id": "img_pos",
"label": "Image position",
"options": [
{"value": "left", "label": "Left"},
{"value": "right", "label": "Right"}
]
},
{
"type": "header",
"content": "TEXT"
},
{
"type": "textarea",
"id": "title",
"label": "Title"
},
{
"type": "richtext",
"id": "subtitle",
"label": "Subtitle"
},
{
"type": "richtext",
"id": "text",
"label": "Text"
},
{
"type": "checkbox",
"id": "show_list",
"label": "Paragraph list",
"default": false,
"info": "Show next paragraphs as unordered list"
},
{
"type": "richtext",
"id": "text_list",
"label": "Text"
}
]
}
]
}
{% endschema %}
