<div class="lp-video skin-video mask-video">
<!--   <h2>Tested and <b>recommended</b> by <b>world-leading</b> Dermatologists and Skincare Experts</h2> -->
  <div class="container">
    <div class="lp-wrap">
                  <div class="lp-video-item">
        <div class="lp-v-img">
         <a href="https://www.youtube.com/watch?v=_w8yWCPeijg" class="custom-popup">
            <img src="https://cdn.shopify.com/s/files/1/0441/1431/3365/files/image_18_1779ba18-a876-427c-bbff-23f1820e84ac.png?v=1679471263"  alt="">
           <div class="video__play">
            <svg class="video__play-btn" width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M10 0C4.489 0 0 4.489 0 10C0 15.511 4.489 20 10 20C15.511 20 20 15.511 20 10C20 4.489 15.511 0 10 0ZM10 2C14.4301 2 18 5.56988 18 10C18 14.4301 14.4301 18 10 18C5.56988 18 2 14.4301 2 10C2 5.56988 5.56988 2 10 2ZM8 6.53516V13.4648L14 10L8 6.53516Z" fill="black"></path>
            </svg>
            <span>Watch Video</span>
          </div>
          </a> 
        </div>
        <div class="lp-v-name">
          <div class="lp-text">"Qure has a fully customized mask which has 5 clinical-grade wavelength for anti-ageing, hyperpigmentation and acne and app actually make a very easy to customize and control..."</div>
          <p><strong>Dr. Prem,</strong> Certified Dermatologist</p>
        </div>
      </div>
            <div class="lp-video-item">
        <div class="lp-v-img">
         <a href="https://www.youtube.com/watch?v=1iXBgh7WPOY" class="custom-popup">
            <img src="https://cdn.shopify.com/s/files/1/0441/1431/3365/files/image_13_1_64fa62cf-ff43-49e4-9d11-44ce8838cc09.png?v=1682927677"  alt="">
           <div class="video__play">
            <svg class="video__play-btn" width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M10 0C4.489 0 0 4.489 0 10C0 15.511 4.489 20 10 20C15.511 20 20 15.511 20 10C20 4.489 15.511 0 10 0ZM10 2C14.4301 2 18 5.56988 18 10C18 14.4301 14.4301 18 10 18C5.56988 18 2 14.4301 2 10C2 5.56988 5.56988 2 10 2ZM8 6.53516V13.4648L14 10L8 6.53516Z" fill="black"></path>
            </svg>
            <span>Watch Video</span>
          </div>
          </a>
        </div>
        <div class="lp-v-name">
          <div class="lp-text">"Qure's anti-ageing treatment gets down deep into your skin to stimulate collagen & makes a big difference in skin texture, decreasing fine lines & wrinkles."</div>
          <p><strong>Dr Greeney,</strong> Certified Dermatologist</p>
        </div>
      </div> 

      <div class="lp-video-item">
        <div class="lp-v-img">
         <a href="https://www.youtube.com/watch?v=DvA8FkhJqso" class="custom-popup">
            <img src="https://cdn.shopify.com/s/files/1/0441/1431/3365/files/Mask_Group_2_2ab54d4a-c2e8-400f-a6df-e84753f32f6b.png?v=1679053290"  alt="">
           <div class="video__play">
            <svg class="video__play-btn" width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M10 0C4.489 0 0 4.489 0 10C0 15.511 4.489 20 10 20C15.511 20 20 15.511 20 10C20 4.489 15.511 0 10 0ZM10 2C14.4301 2 18 5.56988 18 10C18 14.4301 14.4301 18 10 18C5.56988 18 2 14.4301 2 10C2 5.56988 5.56988 2 10 2ZM8 6.53516V13.4648L14 10L8 6.53516Z" fill="black"></path>
            </svg>
            <span>Watch Video</span>
          </div>
          </a>
        </div>
        <div class="lp-v-name">
          <div class="lp-text">"There are actually many of these on the market but I love this one for several reasons. It's well made, it has a comfortable adjustable headband, it comes with an app.."</div>
          <p><strong>Dr. Maren Locke,</strong> Certified Dermatologist</p>
        </div>
      </div>  
       <div class="lp-video-item">
        <div class="lp-v-img">
         <a href="https://www.youtube.com/watch?v=AeksxRPZyrA" class="custom-popup">
            <img src="https://cdn.shopify.com/s/files/1/0441/1431/3365/files/Mask_Group_92f3a31f-edb5-4e11-9858-808df81a3f91.png?v=1679053290"  alt="">
           <div class="video__play">
            <svg class="video__play-btn" width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M10 0C4.489 0 0 4.489 0 10C0 15.511 4.489 20 10 20C15.511 20 20 15.511 20 10C20 4.489 15.511 0 10 0ZM10 2C14.4301 2 18 5.56988 18 10C18 14.4301 14.4301 18 10 18C5.56988 18 2 14.4301 2 10C2 5.56988 5.56988 2 10 2ZM8 6.53516V13.4648L14 10L8 6.53516Z" fill="black"></path>
            </svg>
            <span>Watch Video</span>
          </div>
          </a>
        </div>
        <div class="lp-v-name">
          <div class="lp-text">"This is one of my faves from @qureskincare. It’s a high quality mask and personalizable"</div>
          <p><strong>Dr Maxfield (Doctorly),</strong> Certified Dermatologist</p>
        </div>
      </div>  
    </div>
  </div>
</div>
<style>
  .lp-v-img .custom-popup {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}
.lp-v-img .custom-popup .video__play {
    position: absolute;
    display: flex;
    align-items: center;
      top: auto;
}
  .lp-v-img .custom-popup .video__play svg path {
    fill: #fff;
}
  .lp-wrap {
    display: flex;
}
  .skin-video {
    background: linear-gradient(180deg, rgba(199, 231, 220, 0.91) -98.65%, #FFFFFF 69.3%);
    padding: 20px 0 100px;
}
.skin-video h2 {
    font-family: 'Canela-Thin';
    font-style: normal;
    font-weight: 600;
    font-size: 38px;
    line-height: 55px;
    align-items: center;
    text-align: center;
    letter-spacing: 1px;
    color: #000000;
    margin: 0 auto 28px;
    max-width: 585px;
}
  .lp-video-item {
    padding-right:38px;
    margin-bottom: 25px;
  }
  .lp-video-item:last-child{
    padding-right:0px;
  }
  .lp-video-item .lp-v-name {
    margin-top: 15px;
}
  .lp-video-item .lp-v-name .lp-text {
    font-family: 'Poppins';
    font-style: italic;
    font-weight: 400;
    font-size: 11px;
    line-height: 24px;
    letter-spacing: 0.3px;
    color: rgb(0 0 0 / 80%);
    min-height: 72px;
    height: 72px;
    margin-bottom: 45px;
}
.lp-video-item .lp-v-name p {
    margin: 0;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 28px;
    letter-spacing: 0.3px;
    color: rgb(0 0 0 / 80%);
}
  .lp-v-img .custom-popup .video__play span {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 14px;
    letter-spacing: 0.3px;
    color: #FFFFFF;
    padding-left: 10px;
}
.lp-wrap svg.slick-prev {
    top: auto;
    bottom: -39px;
    transform: rotate(-180deg);
    left: 45%;
    width: 35px;
}
.lp-wrap svg.slick-next {
    top: auto;
    bottom: -48px;
    right: 46%;
    width: 35px;
}
  @media (min-width:767px) and (max-width:991px){
    .lp-video-item .lp-v-name .lp-text {
      height: 110px;
    }
    .lp-wrap svg.slick-next {
      bottom: -49px;
      right: 40%;
    }
    .lp-wrap svg.slick-prev {
      left: 45%;
    }
  }
  @media (max-width:767px){
    .lp-wrap svg.slick-prev {
      left: 35%;
  }
    .lp-wrap svg.slick-next {
    right: 32%;
  }
    .mask-video{
      padding: 20px 0 65px;
    }
    .skin-video h2 {
      font-size: 28px;
      line-height: 36px;
      max-width: 325px;
    }
    .mask-video .lp-video-item {
      padding-right: 10px;
      margin-bottom: 10px;
      padding-left: 10px;
    }
    .mask-video .lp-video-item .lp-v-name .lp-text {
      font-size: 12px;
      line-height: 22px;
    }
    .mask-video .lp-video-item .lp-v-name p {
      font-size: 15px;
      line-height: 26px;
    }
  }
</style>
{% schema %}
  {
    "name": "Skin Video",
    "settings": [],
    "presets":[
    {
      "name": "Skin Video"
    }
  ]
  }
{% endschema %}