<div class="prodcuct-scientific">
  <div class="container">
    <div class="row">
      <h2>Scientific Citations</h2>
      <div class="col-md-4">
        <div class="scientific-cont">
          <p>¹Ablon, Glynis. “Phototherapy with Light Emitting Diodes: Treating a Broad Range of Medical and Aesthetic Conditions in Dermatology.” The Journal of Clinical and Aesthetic Dermatology, Matrix Medical Communications, Feb. 2018, www.ncbi.nlm.nih.gov/pmc/articles/PMC5843358/. </p>
        </div>  
      </div>
      <div class="col-md-4">
        <div class="scientific-cont">
          <p>²Jagdeo, Jared, et al. “Light-Emitting Diodes in Dermatology: A Systematic Review of Randomized Controlled Trials.” Lasers in Surgery and Medicine, John Wiley and Sons Inc., 22 Jan. 2018, www.ncbi.nlm.nih.gov/pmc/articles/PMC6099480/.</p>
        </div>
      </div>
      <div class="col-md-4">
        <div class="scientific-cont">
          <p>³Rocha Mota, Lidiane, et al. “Efficacy of Phototherapy to Treat Facial Ageing When Using a Red versus an Amber LED: a Protocol for a Randomised Controlled Trial.” BMJ Open, BMJ Publishing Group, 31 May 2018, www.ncbi.nlm.nih.gov/pmc/articles/PMC5988166/. </p>
        </div>
      </div>
    </div>
  </div>
</div>
{% schema %}
  {
    "name": "Section name",
    "settings": []
  }
{% endschema %}