<section class="result-in">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
      {% if section.settings.title !=blank %}
      <h2 class="res-title">{{ section.settings.title }}</h2>
      {% endif %}
        <div class="new-slick">
          <div class="new-slick-main">
            <div class="new-slick-img">
              <img src="https://cdn.shopify.com/s/files/1/0441/1431/3365/files/image_2023_04_04T06_12_35_518Z.png?v=1680588809">
              <span class="beofre">BEFORE</span>
              <span class="after">AFTER 1 TREATMENT</span>
            </div>
            <div class="new-slick-content">
              <div class="slick-verify">
                <div class="verify-img">
                  <img src="https://cdn.shopify.com/s/files/1/0441/1431/3365/files/Mask_Group_6_9ce4853a-4ee2-4b51-81c0-d07d180733c5.png?v=1673271071">
                  <span class="verify-txt">Mica A.</span>
                </div>
                <div class="verify-mark">
                  <svg width="12" height="12" viewBox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M12 6C12 5.1273 11.5041 4.3656 10.7802 3.981C10.9779 3.2277 10.7853 2.3901 10.1973 1.8024C9.7584 1.3632 9.18 1.1448 8.601 1.1448C8.4051 1.1448 8.2092 1.1697 8.0187 1.2198C7.6344 0.4959 6.8727 0 6 0C5.1273 0 4.3656 0.4959 3.981 1.2198C3.7902 1.1697 3.5946 1.1448 3.3987 1.1448C2.8197 1.1448 2.2416 1.3635 1.8024 1.8024C1.2147 2.3901 1.0218 3.2274 1.2195 3.981C0.4959 4.3656 0 5.1273 0 6C0 6.8727 0.4959 7.6344 1.2198 8.019C1.0221 8.7723 1.2147 9.6099 1.8027 10.1976C2.2416 10.6365 2.82 10.8552 3.399 10.8552C3.5949 10.8552 3.7908 10.8303 3.9813 10.7802C4.3656 11.5041 5.1273 12 6 12C6.8727 12 7.6344 11.5041 8.019 10.7802C8.2098 10.8303 8.4054 10.8552 8.6013 10.8552C9.1803 10.8552 9.7584 10.6365 10.1976 10.1976C10.7853 9.6099 10.9782 8.7726 10.7805 8.019C11.5041 7.6344 12 6.8727 12 6Z" fill="#008763"/>
                  <path d="M5.24349 8L3 6.05419L3.85576 5.31208L5.24349 6.51525L8.14424 4L9 4.74211L5.24349 8Z" fill="white"/>
                  </svg>
                  <span class="mark-text">Verified Customer</span>
                </div>
                </div>
                 <div class="resu-title">
                   <h3>93%</h3><p>saw <b>smoother, clearer</b>&nbsp;skin</p>
                 </div>  
                <div class="res-cont">
                  <h4>Fine Lines & Blemishes</h4>
                  <ul>
                    <li>Smooths bumpy skin texture & <b>evens out skin tone</b></li>
                    <li>Stimulates natural collagen production for <b>firmer, plumpler skin & softer fine lines</b></li>
                    <li>Helps <b>fade dark spots, post-acne marks, and hyperpigmentation</b></li>
                  </ul>
                </div>
            </div>
          </div>
            <div class="new-slick-main">
            <div class="new-slick-img">
              <img src="https://cdn.shopify.com/s/files/1/0441/1431/3365/files/image_2023_04_04T06_12_48_756Z.png?v=1680588809">
              <span class="beofre">BEFORE</span>
              <span class="after">AFTER 2 TREATMENT</span>
            </div>
            <div class="new-slick-content">
              <div class="slick-verify">
                <div class="verify-img">
                  <img src="https://cdn.shopify.com/s/files/1/0441/1431/3365/files/Mask_Group_7_cda8934c-c39a-40a0-a097-153cf3533f85.png?v=1673272594">
                  <span class="verify-txt">Monika</span>
                </div>
                <div class="verify-mark">
                  <svg width="12" height="12" viewBox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M12 6C12 5.1273 11.5041 4.3656 10.7802 3.981C10.9779 3.2277 10.7853 2.3901 10.1973 1.8024C9.7584 1.3632 9.18 1.1448 8.601 1.1448C8.4051 1.1448 8.2092 1.1697 8.0187 1.2198C7.6344 0.4959 6.8727 0 6 0C5.1273 0 4.3656 0.4959 3.981 1.2198C3.7902 1.1697 3.5946 1.1448 3.3987 1.1448C2.8197 1.1448 2.2416 1.3635 1.8024 1.8024C1.2147 2.3901 1.0218 3.2274 1.2195 3.981C0.4959 4.3656 0 5.1273 0 6C0 6.8727 0.4959 7.6344 1.2198 8.019C1.0221 8.7723 1.2147 9.6099 1.8027 10.1976C2.2416 10.6365 2.82 10.8552 3.399 10.8552C3.5949 10.8552 3.7908 10.8303 3.9813 10.7802C4.3656 11.5041 5.1273 12 6 12C6.8727 12 7.6344 11.5041 8.019 10.7802C8.2098 10.8303 8.4054 10.8552 8.6013 10.8552C9.1803 10.8552 9.7584 10.6365 10.1976 10.1976C10.7853 9.6099 10.9782 8.7726 10.7805 8.019C11.5041 7.6344 12 6.8727 12 6Z" fill="#008763"/>
                  <path d="M5.24349 8L3 6.05419L3.85576 5.31208L5.24349 6.51525L8.14424 4L9 4.74211L5.24349 8Z" fill="white"/>
                  </svg>
                  <span class="mark-text">Verified Customer</span>
                </div>
                </div>
                 <div class="resu-title">
                   <h3>90%</h3><p>reported <b>brighter, glowing</b> skin</p>
                 </div>  
                <div class="res-cont">
                  <h4>Skin Tone & Texture</h4>
                  <ul>
                    <li>Brightens the skin for a <b>healthier, more radiant complexion</b></li>
                    <li>Helps to fade dark spot for more <b>even toned skin</b></li>
                    <li>Increases hydration and plumps skin for a <b>dewy appearance </b></li>
                  </ul>
                </div>
            </div>
          </div>
            <div class="new-slick-main">
            <div class="new-slick-img">
              <img src="https://cdn.shopify.com/s/files/1/0441/1431/3365/files/image_2023_04_04T06_13_00_633Z.png?v=1680588809">
              <span class="beofre">BEFORE</span>
              <span class="after">AFTER 8 TREATMENT</span>
            </div>
            <div class="new-slick-content">
              <div class="slick-verify">
                <div class="verify-img">
                  <img src="https://cdn.shopify.com/s/files/1/0441/1431/3365/files/Mask_Group_6_9ce4853a-4ee2-4b51-81c0-d07d180733c5.png?v=1673271071">
                  <span class="verify-txt">Jess</span>
                </div>
                <div class="verify-mark">
                  <svg width="12" height="12" viewBox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M12 6C12 5.1273 11.5041 4.3656 10.7802 3.981C10.9779 3.2277 10.7853 2.3901 10.1973 1.8024C9.7584 1.3632 9.18 1.1448 8.601 1.1448C8.4051 1.1448 8.2092 1.1697 8.0187 1.2198C7.6344 0.4959 6.8727 0 6 0C5.1273 0 4.3656 0.4959 3.981 1.2198C3.7902 1.1697 3.5946 1.1448 3.3987 1.1448C2.8197 1.1448 2.2416 1.3635 1.8024 1.8024C1.2147 2.3901 1.0218 3.2274 1.2195 3.981C0.4959 4.3656 0 5.1273 0 6C0 6.8727 0.4959 7.6344 1.2198 8.019C1.0221 8.7723 1.2147 9.6099 1.8027 10.1976C2.2416 10.6365 2.82 10.8552 3.399 10.8552C3.5949 10.8552 3.7908 10.8303 3.9813 10.7802C4.3656 11.5041 5.1273 12 6 12C6.8727 12 7.6344 11.5041 8.019 10.7802C8.2098 10.8303 8.4054 10.8552 8.6013 10.8552C9.1803 10.8552 9.7584 10.6365 10.1976 10.1976C10.7853 9.6099 10.9782 8.7726 10.7805 8.019C11.5041 7.6344 12 6.8727 12 6Z" fill="#008763"/>
                  <path d="M5.24349 8L3 6.05419L3.85576 5.31208L5.24349 6.51525L8.14424 4L9 4.74211L5.24349 8Z" fill="white"/>
                  </svg>
                  <span class="mark-text">Verified Customer</span>
                </div>
                </div>
                 <div class="resu-title">
                   <h3>91%</h3><p>saw a <b>noticeable difference</b></p>
                 </div>  
                <div class="res-cont">
                  <h4>Overall Transformation</h4>
                  <ul>
                    <li>Skin appears <b>brighter, smoother, and more youthful</b></li>
                    <li>Enhanced skincare results with up to <b>300% better absorption</b></li>
                    <li>Promotes cell renewal and <b>minimizes appearance of pores and wrinkles</b></li>
                  </ul>
                </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{% schema %}
  {
    "name": "Result In Mobile ",
    "settings": [
      {
        "type": "text",
        "id": "title",
        "label": "Heading Label"
      }
    ],
    "blocks":[
      {
        "type":"slide",
        "name": "Silder",
        "settings":[
          {
            "type": "image_picker",
            "id": "logo_image",
            "label": "Logo image"
          },
          {
            "type": "text",
            "id": "headings",
            "label": "Heading Label"
          },
                    {
            "type": "text",
            "id": "after_txt",
            "label": "After Text"
          },
          {
            "type": "text",
            "id": "before_txt",
            "label": "Before Text"
          },
          {
            "type": "textarea",
            "id": "title_text",
            "label": "Title Text Label"
          },
          {
            "type": "text",
            "id": "cus_title",
            "label": "Custom Heading"
          },
          {
            "type": "textarea",
            "id": "cus_text_1",
            "label": "Custom Text"
          },
          {
            "type": "textarea",
            "id": "cus_text_2",
            "label": "Custom Text"
          },
          {
            "type": "textarea",
            "id": "cus_text_3",
            "label": "Custom Text"
          }
        ]
      }
    ]
  }
{% endschema %}