<div class="feel-serum">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <div class="feel-contnet">
          <h2>You can feel like <span class="golden">yourself</span> <b>again.</b></h2>
          <p>Over 98% of customers saw an <b>improvement</b> in their <b>fine lines, dark spots, skin texture</b> and <b>self-confidence.</b> <span>And you can, too. </span></p>
        </div>
      </div>
      <div class="col-md-6">
        <div class="feel-border">
          <div class="border-content">
          <span>98%</span>
          <p>Saw a noticeable difference in their skin.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% schema %}
  {
    "name": "Section name",
    "settings": []
  }
{% endschema %}