<div class="feel-out">
  <h2>Thousands Are Out-Glowing Their Skin Insecurities...</h2>
  <div class="feel-out-slider">
        <div class="feel-main">
      <img src="https://cdn.shopify.com/s/files/1/0441/1431/3365/files/image_16.png?v=1683095194" alt="">
      <div class="feel-content">
        <div class="fee-verify">
                  <div class="feel-review">
          <div class="feel-country">
          <img src="/cdn/shop/files/australia.png?v=1675747081" alt="">
            Ebony
          </div>
          <div class="feel-verify">
            <svg width="12" height="12" viewBox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                              <path d="M12 6C12 5.1273 11.5041 4.3656 10.7802 3.981C10.9779 3.2277 10.7853 2.3901 10.1973 1.8024C9.7584 1.3632 9.18 1.1448 8.601 1.1448C8.4051 1.1448 8.2092 1.1697 8.0187 1.2198C7.6344 0.4959 6.8727 0 6 0C5.1273 0 4.3656 0.4959 3.981 1.2198C3.7902 1.1697 3.5946 1.1448 3.3987 1.1448C2.8197 1.1448 2.2416 1.3635 1.8024 1.8024C1.2147 2.3901 1.0218 3.2274 1.2195 3.981C0.4959 4.3656 0 5.1273 0 6C0 6.8727 0.4959 7.6344 1.2198 8.019C1.0221 8.7723 1.2147 9.6099 1.8027 10.1976C2.2416 10.6365 2.82 10.8552 3.399 10.8552C3.5949 10.8552 3.7908 10.8303 3.9813 10.7802C4.3656 11.5041 5.1273 12 6 12C6.8727 12 7.6344 11.5041 8.019 10.7802C8.2098 10.8303 8.4054 10.8552 8.6013 10.8552C9.1803 10.8552 9.7584 10.6365 10.1976 10.1976C10.7853 9.6099 10.9782 8.7726 10.7805 8.019C11.5041 7.6344 12 6.8727 12 6Z" fill="#008763"></path>
                              <path d="M5.24349 8L3 6.05419L3.85576 5.31208L5.24349 6.51525L8.14424 4L9 4.74211L5.24349 8Z" fill="white"></path>
                              </svg>
            Verified Customer
          </div>
        </div>
         <span class="imtText-second__stars">
            <svg width="100" height="21" viewBox="0 0 132 21" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" clip-rule="evenodd" d="M121.43 0.450854L123.83 7.43002L131.33 7.51529C131.975 7.52267 132.243 8.33029 131.725 8.70828L125.708 13.1063L127.943 20.138C128.135 20.7431 127.436 21.2416 126.909 20.8751L120.791 16.614L114.673 20.8743C114.147 21.2408 113.447 20.7414 113.639 20.1372L115.874 13.1055L109.857 8.70746C109.339 8.32947 109.606 7.52185 110.252 7.51447L117.752 7.4292L120.152 0.450034C120.359 -0.150148 121.224 -0.150148 121.43 0.450854Z" fill="#008763"></path>
            <path fill-rule="evenodd" clip-rule="evenodd" d="M94.0355 0.450854L96.4358 7.43002L103.936 7.51529C104.581 7.52267 104.848 8.33029 104.33 8.70828L98.3135 13.1063L100.548 20.138C100.74 20.7431 100.042 21.2416 99.5149 20.8751L93.3968 16.614L87.278 20.8743C86.752 21.2408 86.0524 20.7414 86.2444 20.1372L88.4794 13.1055L82.4624 8.70746C81.9447 8.32947 82.2119 7.52185 82.8573 7.51447L90.357 7.4292L92.7573 0.450034C92.9644 -0.150148 93.8293 -0.150148 94.0355 0.450854Z" fill="#008763"></path>
            <path fill-rule="evenodd" clip-rule="evenodd" d="M66.6351 0.450854L69.0354 7.43002L76.5351 7.51529C77.1805 7.52267 77.4477 8.33029 76.93 8.70828L70.913 13.1063L73.148 20.138C73.34 20.7431 72.6412 21.2416 72.1144 20.8751L65.9964 16.614L59.8775 20.8743C59.3515 21.2408 58.6519 20.7414 58.8439 20.1372L61.0789 13.1055L55.0619 8.70746C54.5443 8.32947 54.8115 7.52185 55.4568 7.51447L62.9566 7.4292L65.3569 0.450034C65.5639 -0.150148 66.4289 -0.150148 66.6351 0.450854Z" fill="#008763"></path>
            <path fill-rule="evenodd" clip-rule="evenodd" d="M39.2406 0.450854L41.6409 7.43002L49.1407 7.51529C49.786 7.52267 50.0532 8.33029 49.5356 8.70828L43.5185 13.1063L45.7535 20.138C45.9456 20.7431 45.2468 21.2416 44.7199 20.8751L38.6019 16.614L32.4831 20.8743C31.9571 21.2408 31.2574 20.7414 31.4495 20.1372L33.6845 13.1055L27.6674 8.70746C27.1498 8.32947 27.417 7.52185 28.0623 7.51447L35.5621 7.4292L37.9624 0.450034C38.1694 -0.150148 39.0344 -0.150148 39.2406 0.450854Z" fill="#008763"></path>
            <path fill-rule="evenodd" clip-rule="evenodd" d="M11.8461 0.450854L14.2464 7.43002L21.7461 7.51529C22.3915 7.52267 22.6587 8.33029 22.141 8.70828L16.124 13.1063L18.359 20.138C18.551 20.7431 17.8522 21.2416 17.3254 20.8751L11.2074 16.614L5.08852 20.8743C4.56255 21.2408 3.86291 20.7414 4.05494 20.1372L6.28992 13.1055L0.272914 8.70746C-0.244714 8.32947 0.0224489 7.52185 0.667814 7.51447L8.16757 7.4292L10.5679 0.450034C10.7749 -0.150148 11.6399 -0.150148 11.8461 0.450854Z" fill="#008763"></path>
            </svg>
        </span>   
        </div>
        <p>“I rarely have the guts to try new skincare as I just hate wasting my money on products I don't like and haven't gotten to sample before.<br/>
But I got recommended this from a girlfriend of mine and was so happy I took on her recommendation because i LOVE this serum. It's the perfect everyday serum that you can actually notice a difference in your skin with!”</p>
      </div>
    </div>
        <div class="feel-main">
     <div class="feel-both">
       <div class="feel-left">
         <img src="https://cdn.shopify.com/s/files/1/0441/1431/3365/files/image_15_5983804d-307d-44a7-b574-6a6a9fc0de2b.png?v=1683095398"  alt="">
         <span class="left-txt">BEFORE</span>
       </div>
       <div class="feel-right">
         <img src="https://cdn.shopify.com/s/files/1/0441/1431/3365/files/image_19_2.png?v=1683095398"  alt="">
         <span class="right-txt">AFTER 6 WEEKS</span>
       </div>
     </div>
      <div class="feel-content">
        <div class="fee-verify">
                  <div class="feel-review">
          <div class="feel-country">
          <img src="/cdn/shop/files/australia.png?v=1675747081"  alt="">
            Vanessa B.
          </div>
          <div class="feel-verify">
            <svg width="12" height="12" viewBox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                              <path d="M12 6C12 5.1273 11.5041 4.3656 10.7802 3.981C10.9779 3.2277 10.7853 2.3901 10.1973 1.8024C9.7584 1.3632 9.18 1.1448 8.601 1.1448C8.4051 1.1448 8.2092 1.1697 8.0187 1.2198C7.6344 0.4959 6.8727 0 6 0C5.1273 0 4.3656 0.4959 3.981 1.2198C3.7902 1.1697 3.5946 1.1448 3.3987 1.1448C2.8197 1.1448 2.2416 1.3635 1.8024 1.8024C1.2147 2.3901 1.0218 3.2274 1.2195 3.981C0.4959 4.3656 0 5.1273 0 6C0 6.8727 0.4959 7.6344 1.2198 8.019C1.0221 8.7723 1.2147 9.6099 1.8027 10.1976C2.2416 10.6365 2.82 10.8552 3.399 10.8552C3.5949 10.8552 3.7908 10.8303 3.9813 10.7802C4.3656 11.5041 5.1273 12 6 12C6.8727 12 7.6344 11.5041 8.019 10.7802C8.2098 10.8303 8.4054 10.8552 8.6013 10.8552C9.1803 10.8552 9.7584 10.6365 10.1976 10.1976C10.7853 9.6099 10.9782 8.7726 10.7805 8.019C11.5041 7.6344 12 6.8727 12 6Z" fill="#008763"></path>
                              <path d="M5.24349 8L3 6.05419L3.85576 5.31208L5.24349 6.51525L8.14424 4L9 4.74211L5.24349 8Z" fill="white"></path>
                              </svg>
            Verified Customer
          </div>
        </div>
        <span class="imtText-second__stars">
                                    <svg width="100" height="21" viewBox="0 0 132 21" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd" clip-rule="evenodd" d="M121.43 0.450854L123.83 7.43002L131.33 7.51529C131.975 7.52267 132.243 8.33029 131.725 8.70828L125.708 13.1063L127.943 20.138C128.135 20.7431 127.436 21.2416 126.909 20.8751L120.791 16.614L114.673 20.8743C114.147 21.2408 113.447 20.7414 113.639 20.1372L115.874 13.1055L109.857 8.70746C109.339 8.32947 109.606 7.52185 110.252 7.51447L117.752 7.4292L120.152 0.450034C120.359 -0.150148 121.224 -0.150148 121.43 0.450854Z" fill="#008763"></path>
                                    <path fill-rule="evenodd" clip-rule="evenodd" d="M94.0355 0.450854L96.4358 7.43002L103.936 7.51529C104.581 7.52267 104.848 8.33029 104.33 8.70828L98.3135 13.1063L100.548 20.138C100.74 20.7431 100.042 21.2416 99.5149 20.8751L93.3968 16.614L87.278 20.8743C86.752 21.2408 86.0524 20.7414 86.2444 20.1372L88.4794 13.1055L82.4624 8.70746C81.9447 8.32947 82.2119 7.52185 82.8573 7.51447L90.357 7.4292L92.7573 0.450034C92.9644 -0.150148 93.8293 -0.150148 94.0355 0.450854Z" fill="#008763"></path>
                                    <path fill-rule="evenodd" clip-rule="evenodd" d="M66.6351 0.450854L69.0354 7.43002L76.5351 7.51529C77.1805 7.52267 77.4477 8.33029 76.93 8.70828L70.913 13.1063L73.148 20.138C73.34 20.7431 72.6412 21.2416 72.1144 20.8751L65.9964 16.614L59.8775 20.8743C59.3515 21.2408 58.6519 20.7414 58.8439 20.1372L61.0789 13.1055L55.0619 8.70746C54.5443 8.32947 54.8115 7.52185 55.4568 7.51447L62.9566 7.4292L65.3569 0.450034C65.5639 -0.150148 66.4289 -0.150148 66.6351 0.450854Z" fill="#008763"></path>
                                    <path fill-rule="evenodd" clip-rule="evenodd" d="M39.2406 0.450854L41.6409 7.43002L49.1407 7.51529C49.786 7.52267 50.0532 8.33029 49.5356 8.70828L43.5185 13.1063L45.7535 20.138C45.9456 20.7431 45.2468 21.2416 44.7199 20.8751L38.6019 16.614L32.4831 20.8743C31.9571 21.2408 31.2574 20.7414 31.4495 20.1372L33.6845 13.1055L27.6674 8.70746C27.1498 8.32947 27.417 7.52185 28.0623 7.51447L35.5621 7.4292L37.9624 0.450034C38.1694 -0.150148 39.0344 -0.150148 39.2406 0.450854Z" fill="#008763"></path>
                                    <path fill-rule="evenodd" clip-rule="evenodd" d="M11.8461 0.450854L14.2464 7.43002L21.7461 7.51529C22.3915 7.52267 22.6587 8.33029 22.141 8.70828L16.124 13.1063L18.359 20.138C18.551 20.7431 17.8522 21.2416 17.3254 20.8751L11.2074 16.614L5.08852 20.8743C4.56255 21.2408 3.86291 20.7414 4.05494 20.1372L6.28992 13.1055L0.272914 8.70746C-0.244714 8.32947 0.0224489 7.52185 0.667814 7.51447L8.16757 7.4292L10.5679 0.450034C10.7749 -0.150148 11.6399 -0.150148 11.8461 0.450854Z" fill="#008763"></path>
                                    </svg>
                                </span>   
        </div>
        <p>“So far loving it! Had a little purging the first day using it but when it settled down, boy was it good. <br><br>
          <b>My cystic acne is gone.</b> I still have some hyperpigmentation and little surface pimples that I get occasionally but no where near the pain I experienced with cystic acne.”</p>

      </div>
    </div>
        <div class="feel-main">
      <img src="https://cdn.shopify.com/s/files/1/0441/1431/3365/files/image_19_1.png?v=1683095240"  alt="">
      <div class="feel-content">
        <div class="fee-verify">
                  <div class="feel-review">
          <div class="feel-country">
          <img src="/cdn/shop/files/Mask_Group_6_9ce4853a-4ee2-4b51-81c0-d07d180733c5.png?v=1673271071"  alt="">
            Dona S.
          </div>
          <div class="feel-verify">
            <svg width="12" height="12" viewBox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                              <path d="M12 6C12 5.1273 11.5041 4.3656 10.7802 3.981C10.9779 3.2277 10.7853 2.3901 10.1973 1.8024C9.7584 1.3632 9.18 1.1448 8.601 1.1448C8.4051 1.1448 8.2092 1.1697 8.0187 1.2198C7.6344 0.4959 6.8727 0 6 0C5.1273 0 4.3656 0.4959 3.981 1.2198C3.7902 1.1697 3.5946 1.1448 3.3987 1.1448C2.8197 1.1448 2.2416 1.3635 1.8024 1.8024C1.2147 2.3901 1.0218 3.2274 1.2195 3.981C0.4959 4.3656 0 5.1273 0 6C0 6.8727 0.4959 7.6344 1.2198 8.019C1.0221 8.7723 1.2147 9.6099 1.8027 10.1976C2.2416 10.6365 2.82 10.8552 3.399 10.8552C3.5949 10.8552 3.7908 10.8303 3.9813 10.7802C4.3656 11.5041 5.1273 12 6 12C6.8727 12 7.6344 11.5041 8.019 10.7802C8.2098 10.8303 8.4054 10.8552 8.6013 10.8552C9.1803 10.8552 9.7584 10.6365 10.1976 10.1976C10.7853 9.6099 10.9782 8.7726 10.7805 8.019C11.5041 7.6344 12 6.8727 12 6Z" fill="#008763"></path>
                              <path d="M5.24349 8L3 6.05419L3.85576 5.31208L5.24349 6.51525L8.14424 4L9 4.74211L5.24349 8Z" fill="white"></path>
                              </svg>
            Verified Customer
          </div>
        </div>
        <span class="imtText-second__stars">
                                    <svg width="100" height="21" viewBox="0 0 132 21" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd" clip-rule="evenodd" d="M121.43 0.450854L123.83 7.43002L131.33 7.51529C131.975 7.52267 132.243 8.33029 131.725 8.70828L125.708 13.1063L127.943 20.138C128.135 20.7431 127.436 21.2416 126.909 20.8751L120.791 16.614L114.673 20.8743C114.147 21.2408 113.447 20.7414 113.639 20.1372L115.874 13.1055L109.857 8.70746C109.339 8.32947 109.606 7.52185 110.252 7.51447L117.752 7.4292L120.152 0.450034C120.359 -0.150148 121.224 -0.150148 121.43 0.450854Z" fill="#008763"></path>
                                    <path fill-rule="evenodd" clip-rule="evenodd" d="M94.0355 0.450854L96.4358 7.43002L103.936 7.51529C104.581 7.52267 104.848 8.33029 104.33 8.70828L98.3135 13.1063L100.548 20.138C100.74 20.7431 100.042 21.2416 99.5149 20.8751L93.3968 16.614L87.278 20.8743C86.752 21.2408 86.0524 20.7414 86.2444 20.1372L88.4794 13.1055L82.4624 8.70746C81.9447 8.32947 82.2119 7.52185 82.8573 7.51447L90.357 7.4292L92.7573 0.450034C92.9644 -0.150148 93.8293 -0.150148 94.0355 0.450854Z" fill="#008763"></path>
                                    <path fill-rule="evenodd" clip-rule="evenodd" d="M66.6351 0.450854L69.0354 7.43002L76.5351 7.51529C77.1805 7.52267 77.4477 8.33029 76.93 8.70828L70.913 13.1063L73.148 20.138C73.34 20.7431 72.6412 21.2416 72.1144 20.8751L65.9964 16.614L59.8775 20.8743C59.3515 21.2408 58.6519 20.7414 58.8439 20.1372L61.0789 13.1055L55.0619 8.70746C54.5443 8.32947 54.8115 7.52185 55.4568 7.51447L62.9566 7.4292L65.3569 0.450034C65.5639 -0.150148 66.4289 -0.150148 66.6351 0.450854Z" fill="#008763"></path>
                                    <path fill-rule="evenodd" clip-rule="evenodd" d="M39.2406 0.450854L41.6409 7.43002L49.1407 7.51529C49.786 7.52267 50.0532 8.33029 49.5356 8.70828L43.5185 13.1063L45.7535 20.138C45.9456 20.7431 45.2468 21.2416 44.7199 20.8751L38.6019 16.614L32.4831 20.8743C31.9571 21.2408 31.2574 20.7414 31.4495 20.1372L33.6845 13.1055L27.6674 8.70746C27.1498 8.32947 27.417 7.52185 28.0623 7.51447L35.5621 7.4292L37.9624 0.450034C38.1694 -0.150148 39.0344 -0.150148 39.2406 0.450854Z" fill="#008763"></path>
                                    <path fill-rule="evenodd" clip-rule="evenodd" d="M11.8461 0.450854L14.2464 7.43002L21.7461 7.51529C22.3915 7.52267 22.6587 8.33029 22.141 8.70828L16.124 13.1063L18.359 20.138C18.551 20.7431 17.8522 21.2416 17.3254 20.8751L11.2074 16.614L5.08852 20.8743C4.56255 21.2408 3.86291 20.7414 4.05494 20.1372L6.28992 13.1055L0.272914 8.70746C-0.244714 8.32947 0.0224489 7.52185 0.667814 7.51447L8.16757 7.4292L10.5679 0.450034C10.7749 -0.150148 11.6399 -0.150148 11.8461 0.450854Z" fill="#008763"></path>
                                    </svg>
                                </span>  
        </div>
        <p>“Love your serum! It goes on easily, <b>feels good, and did make my old skin look and feel better.</b> 
Wish it had been around when I was in my 30’s. I might have taken care of my skin. Since my late 60’s I’ve tried other brands. All were a bit disappointing and I saw few results. After two weeks using Qure <b>I actually thought my old skin looked better.</b> Thanks for making this<br> worthwhile product. ”</p>
      </div>
    </div>
        <div class="feel-main">
      <img src="https://cdn.shopify.com/s/files/1/0441/1431/3365/files/image_14_2_88ddd551-a07d-43d7-b677-6020b9e4a94d.png?v=1683095261"  alt="">
      <div class="feel-content">
        <div class="fee-verify">
                  <div class="feel-review">
          <div class="feel-country">
          <img src="/cdn/shop/files/australia.png?v=1675747081"  alt="">
           Tina C.
          </div>
          <div class="feel-verify">
            <svg width="12" height="12" viewBox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                              <path d="M12 6C12 5.1273 11.5041 4.3656 10.7802 3.981C10.9779 3.2277 10.7853 2.3901 10.1973 1.8024C9.7584 1.3632 9.18 1.1448 8.601 1.1448C8.4051 1.1448 8.2092 1.1697 8.0187 1.2198C7.6344 0.4959 6.8727 0 6 0C5.1273 0 4.3656 0.4959 3.981 1.2198C3.7902 1.1697 3.5946 1.1448 3.3987 1.1448C2.8197 1.1448 2.2416 1.3635 1.8024 1.8024C1.2147 2.3901 1.0218 3.2274 1.2195 3.981C0.4959 4.3656 0 5.1273 0 6C0 6.8727 0.4959 7.6344 1.2198 8.019C1.0221 8.7723 1.2147 9.6099 1.8027 10.1976C2.2416 10.6365 2.82 10.8552 3.399 10.8552C3.5949 10.8552 3.7908 10.8303 3.9813 10.7802C4.3656 11.5041 5.1273 12 6 12C6.8727 12 7.6344 11.5041 8.019 10.7802C8.2098 10.8303 8.4054 10.8552 8.6013 10.8552C9.1803 10.8552 9.7584 10.6365 10.1976 10.1976C10.7853 9.6099 10.9782 8.7726 10.7805 8.019C11.5041 7.6344 12 6.8727 12 6Z" fill="#008763"></path>
                              <path d="M5.24349 8L3 6.05419L3.85576 5.31208L5.24349 6.51525L8.14424 4L9 4.74211L5.24349 8Z" fill="white"></path>
                              </svg>
            Verified Customer
          </div>
        </div>
        <span class="imtText-second__stars">
                                    <svg width="100" height="21" viewBox="0 0 132 21" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd" clip-rule="evenodd" d="M121.43 0.450854L123.83 7.43002L131.33 7.51529C131.975 7.52267 132.243 8.33029 131.725 8.70828L125.708 13.1063L127.943 20.138C128.135 20.7431 127.436 21.2416 126.909 20.8751L120.791 16.614L114.673 20.8743C114.147 21.2408 113.447 20.7414 113.639 20.1372L115.874 13.1055L109.857 8.70746C109.339 8.32947 109.606 7.52185 110.252 7.51447L117.752 7.4292L120.152 0.450034C120.359 -0.150148 121.224 -0.150148 121.43 0.450854Z" fill="#008763"></path>
                                    <path fill-rule="evenodd" clip-rule="evenodd" d="M94.0355 0.450854L96.4358 7.43002L103.936 7.51529C104.581 7.52267 104.848 8.33029 104.33 8.70828L98.3135 13.1063L100.548 20.138C100.74 20.7431 100.042 21.2416 99.5149 20.8751L93.3968 16.614L87.278 20.8743C86.752 21.2408 86.0524 20.7414 86.2444 20.1372L88.4794 13.1055L82.4624 8.70746C81.9447 8.32947 82.2119 7.52185 82.8573 7.51447L90.357 7.4292L92.7573 0.450034C92.9644 -0.150148 93.8293 -0.150148 94.0355 0.450854Z" fill="#008763"></path>
                                    <path fill-rule="evenodd" clip-rule="evenodd" d="M66.6351 0.450854L69.0354 7.43002L76.5351 7.51529C77.1805 7.52267 77.4477 8.33029 76.93 8.70828L70.913 13.1063L73.148 20.138C73.34 20.7431 72.6412 21.2416 72.1144 20.8751L65.9964 16.614L59.8775 20.8743C59.3515 21.2408 58.6519 20.7414 58.8439 20.1372L61.0789 13.1055L55.0619 8.70746C54.5443 8.32947 54.8115 7.52185 55.4568 7.51447L62.9566 7.4292L65.3569 0.450034C65.5639 -0.150148 66.4289 -0.150148 66.6351 0.450854Z" fill="#008763"></path>
                                    <path fill-rule="evenodd" clip-rule="evenodd" d="M39.2406 0.450854L41.6409 7.43002L49.1407 7.51529C49.786 7.52267 50.0532 8.33029 49.5356 8.70828L43.5185 13.1063L45.7535 20.138C45.9456 20.7431 45.2468 21.2416 44.7199 20.8751L38.6019 16.614L32.4831 20.8743C31.9571 21.2408 31.2574 20.7414 31.4495 20.1372L33.6845 13.1055L27.6674 8.70746C27.1498 8.32947 27.417 7.52185 28.0623 7.51447L35.5621 7.4292L37.9624 0.450034C38.1694 -0.150148 39.0344 -0.150148 39.2406 0.450854Z" fill="#008763"></path>
                                    <path fill-rule="evenodd" clip-rule="evenodd" d="M11.8461 0.450854L14.2464 7.43002L21.7461 7.51529C22.3915 7.52267 22.6587 8.33029 22.141 8.70828L16.124 13.1063L18.359 20.138C18.551 20.7431 17.8522 21.2416 17.3254 20.8751L11.2074 16.614L5.08852 20.8743C4.56255 21.2408 3.86291 20.7414 4.05494 20.1372L6.28992 13.1055L0.272914 8.70746C-0.244714 8.32947 0.0224489 7.52185 0.667814 7.51447L8.16757 7.4292L10.5679 0.450034C10.7749 -0.150148 11.6399 -0.150148 11.8461 0.450854Z" fill="#008763"></path>
                                    </svg>
                                </span>  
        </div>
        
        <p>“I am only 2 weeks in on using this product, <b>my skin feels softer, hydrated and glowing.</b><br><br> 

Friends have asked me what do I use on my face as I look fresher. I tell them Qure All in One Face Serum. I have give them your website to order their choice of products from your company <br>
😁👍.”</p>

      </div>
    </div>

    <div class="feel-main">
     <div class="feel-both">
       <div class="feel-left">
         <img src="https://cdn.shopify.com/s/files/1/0441/1431/3365/files/image_15_4cc20f66-1e93-44f3-80cd-f8d71a40bd6b.png?v=1683191757" alt="">
         <span class="left-txt">BEFORE</span>
       </div>
       <div class="feel-right">
         <img src="https://cdn.shopify.com/s/files/1/0441/1431/3365/files/image_19_2dce27d5-f588-45a9-b23a-c36640d4599e.png?v=1683191757" alt="">
         <span class="right-txt">AFTER 6 WEEKS</span>
       </div>
     </div>
      <div class="feel-content">
        <div class="fee-verify">
                  <div class="feel-review">
          <div class="feel-country">
          <img src="https://cdn.shopify.com/s/files/1/0441/1431/3365/files/Mask_Group_e9b0e629-e6cf-4940-b373-3eb81e07cfaa.png?v=1683192060" alt="">
           Bethany N.
          </div>
          <div class="feel-verify">
            <svg width="12" height="12" viewBox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                              <path d="M12 6C12 5.1273 11.5041 4.3656 10.7802 3.981C10.9779 3.2277 10.7853 2.3901 10.1973 1.8024C9.7584 1.3632 9.18 1.1448 8.601 1.1448C8.4051 1.1448 8.2092 1.1697 8.0187 1.2198C7.6344 0.4959 6.8727 0 6 0C5.1273 0 4.3656 0.4959 3.981 1.2198C3.7902 1.1697 3.5946 1.1448 3.3987 1.1448C2.8197 1.1448 2.2416 1.3635 1.8024 1.8024C1.2147 2.3901 1.0218 3.2274 1.2195 3.981C0.4959 4.3656 0 5.1273 0 6C0 6.8727 0.4959 7.6344 1.2198 8.019C1.0221 8.7723 1.2147 9.6099 1.8027 10.1976C2.2416 10.6365 2.82 10.8552 3.399 10.8552C3.5949 10.8552 3.7908 10.8303 3.9813 10.7802C4.3656 11.5041 5.1273 12 6 12C6.8727 12 7.6344 11.5041 8.019 10.7802C8.2098 10.8303 8.4054 10.8552 8.6013 10.8552C9.1803 10.8552 9.7584 10.6365 10.1976 10.1976C10.7853 9.6099 10.9782 8.7726 10.7805 8.019C11.5041 7.6344 12 6.8727 12 6Z" fill="#008763"></path>
                              <path d="M5.24349 8L3 6.05419L3.85576 5.31208L5.24349 6.51525L8.14424 4L9 4.74211L5.24349 8Z" fill="white"></path>
                              </svg>
            Verified Customer
          </div>
        </div>
        <span class="imtText-second__stars">
                                    <svg width="100" height="21" viewBox="0 0 132 21" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd" clip-rule="evenodd" d="M121.43 0.450854L123.83 7.43002L131.33 7.51529C131.975 7.52267 132.243 8.33029 131.725 8.70828L125.708 13.1063L127.943 20.138C128.135 20.7431 127.436 21.2416 126.909 20.8751L120.791 16.614L114.673 20.8743C114.147 21.2408 113.447 20.7414 113.639 20.1372L115.874 13.1055L109.857 8.70746C109.339 8.32947 109.606 7.52185 110.252 7.51447L117.752 7.4292L120.152 0.450034C120.359 -0.150148 121.224 -0.150148 121.43 0.450854Z" fill="#008763"></path>
                                    <path fill-rule="evenodd" clip-rule="evenodd" d="M94.0355 0.450854L96.4358 7.43002L103.936 7.51529C104.581 7.52267 104.848 8.33029 104.33 8.70828L98.3135 13.1063L100.548 20.138C100.74 20.7431 100.042 21.2416 99.5149 20.8751L93.3968 16.614L87.278 20.8743C86.752 21.2408 86.0524 20.7414 86.2444 20.1372L88.4794 13.1055L82.4624 8.70746C81.9447 8.32947 82.2119 7.52185 82.8573 7.51447L90.357 7.4292L92.7573 0.450034C92.9644 -0.150148 93.8293 -0.150148 94.0355 0.450854Z" fill="#008763"></path>
                                    <path fill-rule="evenodd" clip-rule="evenodd" d="M66.6351 0.450854L69.0354 7.43002L76.5351 7.51529C77.1805 7.52267 77.4477 8.33029 76.93 8.70828L70.913 13.1063L73.148 20.138C73.34 20.7431 72.6412 21.2416 72.1144 20.8751L65.9964 16.614L59.8775 20.8743C59.3515 21.2408 58.6519 20.7414 58.8439 20.1372L61.0789 13.1055L55.0619 8.70746C54.5443 8.32947 54.8115 7.52185 55.4568 7.51447L62.9566 7.4292L65.3569 0.450034C65.5639 -0.150148 66.4289 -0.150148 66.6351 0.450854Z" fill="#008763"></path>
                                    <path fill-rule="evenodd" clip-rule="evenodd" d="M39.2406 0.450854L41.6409 7.43002L49.1407 7.51529C49.786 7.52267 50.0532 8.33029 49.5356 8.70828L43.5185 13.1063L45.7535 20.138C45.9456 20.7431 45.2468 21.2416 44.7199 20.8751L38.6019 16.614L32.4831 20.8743C31.9571 21.2408 31.2574 20.7414 31.4495 20.1372L33.6845 13.1055L27.6674 8.70746C27.1498 8.32947 27.417 7.52185 28.0623 7.51447L35.5621 7.4292L37.9624 0.450034C38.1694 -0.150148 39.0344 -0.150148 39.2406 0.450854Z" fill="#008763"></path>
                                    <path fill-rule="evenodd" clip-rule="evenodd" d="M11.8461 0.450854L14.2464 7.43002L21.7461 7.51529C22.3915 7.52267 22.6587 8.33029 22.141 8.70828L16.124 13.1063L18.359 20.138C18.551 20.7431 17.8522 21.2416 17.3254 20.8751L11.2074 16.614L5.08852 20.8743C4.56255 21.2408 3.86291 20.7414 4.05494 20.1372L6.28992 13.1055L0.272914 8.70746C-0.244714 8.32947 0.0224489 7.52185 0.667814 7.51447L8.16757 7.4292L10.5679 0.450034C10.7749 -0.150148 11.6399 -0.150148 11.8461 0.450854Z" fill="#008763"></path>
                                    </svg>
                                </span>   
        </div>
        <p>“This product has changed my life! My skin feels brighter, clearer and way more even! I’ll use this for the rest of my life!”</p>

      </div>
    </div>
 <div class="feel-main">
      <img src="https://cdn.shopify.com/s/files/1/0441/1431/3365/files/image_14_5cf73df9-d3ba-4c27-8a8a-13bde82ac2ff.png?v=1683192138" alt="">
      <div class="feel-content">
        <div class="fee-verify">
                  <div class="feel-review">
          <div class="feel-country">
          <img src="/cdn/shop/files/Mask_Group_6_9ce4853a-4ee2-4b51-81c0-d07d180733c5.png?v=1673271071" alt="">
           Lena A.
          </div>
          <div class="feel-verify">
            <svg width="12" height="12" viewBox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                              <path d="M12 6C12 5.1273 11.5041 4.3656 10.7802 3.981C10.9779 3.2277 10.7853 2.3901 10.1973 1.8024C9.7584 1.3632 9.18 1.1448 8.601 1.1448C8.4051 1.1448 8.2092 1.1697 8.0187 1.2198C7.6344 0.4959 6.8727 0 6 0C5.1273 0 4.3656 0.4959 3.981 1.2198C3.7902 1.1697 3.5946 1.1448 3.3987 1.1448C2.8197 1.1448 2.2416 1.3635 1.8024 1.8024C1.2147 2.3901 1.0218 3.2274 1.2195 3.981C0.4959 4.3656 0 5.1273 0 6C0 6.8727 0.4959 7.6344 1.2198 8.019C1.0221 8.7723 1.2147 9.6099 1.8027 10.1976C2.2416 10.6365 2.82 10.8552 3.399 10.8552C3.5949 10.8552 3.7908 10.8303 3.9813 10.7802C4.3656 11.5041 5.1273 12 6 12C6.8727 12 7.6344 11.5041 8.019 10.7802C8.2098 10.8303 8.4054 10.8552 8.6013 10.8552C9.1803 10.8552 9.7584 10.6365 10.1976 10.1976C10.7853 9.6099 10.9782 8.7726 10.7805 8.019C11.5041 7.6344 12 6.8727 12 6Z" fill="#008763"></path>
                              <path d="M5.24349 8L3 6.05419L3.85576 5.31208L5.24349 6.51525L8.14424 4L9 4.74211L5.24349 8Z" fill="white"></path>
                              </svg>
            Verified Customer
          </div>
        </div>
        <span class="imtText-second__stars">
                                    <svg width="100" height="21" viewBox="0 0 132 21" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd" clip-rule="evenodd" d="M121.43 0.450854L123.83 7.43002L131.33 7.51529C131.975 7.52267 132.243 8.33029 131.725 8.70828L125.708 13.1063L127.943 20.138C128.135 20.7431 127.436 21.2416 126.909 20.8751L120.791 16.614L114.673 20.8743C114.147 21.2408 113.447 20.7414 113.639 20.1372L115.874 13.1055L109.857 8.70746C109.339 8.32947 109.606 7.52185 110.252 7.51447L117.752 7.4292L120.152 0.450034C120.359 -0.150148 121.224 -0.150148 121.43 0.450854Z" fill="#008763"></path>
                                    <path fill-rule="evenodd" clip-rule="evenodd" d="M94.0355 0.450854L96.4358 7.43002L103.936 7.51529C104.581 7.52267 104.848 8.33029 104.33 8.70828L98.3135 13.1063L100.548 20.138C100.74 20.7431 100.042 21.2416 99.5149 20.8751L93.3968 16.614L87.278 20.8743C86.752 21.2408 86.0524 20.7414 86.2444 20.1372L88.4794 13.1055L82.4624 8.70746C81.9447 8.32947 82.2119 7.52185 82.8573 7.51447L90.357 7.4292L92.7573 0.450034C92.9644 -0.150148 93.8293 -0.150148 94.0355 0.450854Z" fill="#008763"></path>
                                    <path fill-rule="evenodd" clip-rule="evenodd" d="M66.6351 0.450854L69.0354 7.43002L76.5351 7.51529C77.1805 7.52267 77.4477 8.33029 76.93 8.70828L70.913 13.1063L73.148 20.138C73.34 20.7431 72.6412 21.2416 72.1144 20.8751L65.9964 16.614L59.8775 20.8743C59.3515 21.2408 58.6519 20.7414 58.8439 20.1372L61.0789 13.1055L55.0619 8.70746C54.5443 8.32947 54.8115 7.52185 55.4568 7.51447L62.9566 7.4292L65.3569 0.450034C65.5639 -0.150148 66.4289 -0.150148 66.6351 0.450854Z" fill="#008763"></path>
                                    <path fill-rule="evenodd" clip-rule="evenodd" d="M39.2406 0.450854L41.6409 7.43002L49.1407 7.51529C49.786 7.52267 50.0532 8.33029 49.5356 8.70828L43.5185 13.1063L45.7535 20.138C45.9456 20.7431 45.2468 21.2416 44.7199 20.8751L38.6019 16.614L32.4831 20.8743C31.9571 21.2408 31.2574 20.7414 31.4495 20.1372L33.6845 13.1055L27.6674 8.70746C27.1498 8.32947 27.417 7.52185 28.0623 7.51447L35.5621 7.4292L37.9624 0.450034C38.1694 -0.150148 39.0344 -0.150148 39.2406 0.450854Z" fill="#008763"></path>
                                    <path fill-rule="evenodd" clip-rule="evenodd" d="M11.8461 0.450854L14.2464 7.43002L21.7461 7.51529C22.3915 7.52267 22.6587 8.33029 22.141 8.70828L16.124 13.1063L18.359 20.138C18.551 20.7431 17.8522 21.2416 17.3254 20.8751L11.2074 16.614L5.08852 20.8743C4.56255 21.2408 3.86291 20.7414 4.05494 20.1372L6.28992 13.1055L0.272914 8.70746C-0.244714 8.32947 0.0224489 7.52185 0.667814 7.51447L8.16757 7.4292L10.5679 0.450034C10.7749 -0.150148 11.6399 -0.150148 11.8461 0.450854Z" fill="#008763"></path>
                                    </svg>
                                </span>  
        </div>
        
        <p>“I tried this serum after trying all the others. I have found the fountain of youth! It started minimizing fine lines from the first use. My skin feels tight, but, not too tight. My face is softer than it has been in 20 years. I will not be using any serums on my face except QURE. I am thrilled with the results!”</p>

      </div>
    </div>
  </div>
</div>
{% schema %}
  {
    "name": "Section name",
    "settings": []
  }
{% endschema %}