<div class="skin-action reason-action serum-action">
	<div class="container" style="width:90%">
    <div class="row">
      <div class="col-md-6">
        <div class="skin-action-title">
          <h2>How To Use</h2>
          <ul>
          <li>
            <img src="/cdn/shop/files/Vector_dabf4ae0-5c12-460c-b8ee-74f4e39eff5a.png?v=1625751022" alt="">
           <div class="act-content">
             <h6>How much</h6>
             <p>1-2 pumps onto already cleansed face and neck</p>
           </div>
          </li>
          <li>
          <img src="/cdn/shop/files/Vector_1_3a4a6c2b-8e04-4faf-863c-6112adf9f269.png?v=1625751749" alt="">
           <div class="act-content">
             <h6>How often</h6>
             <p>Daily for best results</p>
           </div>
          </li>
          <li>
          <img src="/cdn/shop/files/Group_d8cc0c4f-dec1-4ce1-9e0d-b3f3fea03e68_1.png?v=1625751910" alt="">
           <div class="act-content">
             <h6>Boost results by 31%</h6>
             <p>Apply directly after a <a href="/products/q-rejuvalight-pro-facewear">light therapy session</a></p>
           </div>
          </li>
            </ul>
        </div>
      </div>
      <div class="col-md-6">
        <div class="skin-action-img">
          <a href="https://cdn.shopify.com/s/files/1/0441/1431/3365/files/Untitled.mp4?v=1623652485" class="custom-popup">
            <svg width="60" height="60" viewBox="0 0 34 34" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M17 0C7.6313 0 0 7.6313 0 17C0 26.3687 7.6313 34 17 34C26.3687 34 34 26.3687 34 17C34 7.6313 26.3687 0 17 0ZM17 3.4C24.5312 3.4 30.6 9.46879 30.6 17C30.6 24.5312 24.5312 30.6 17 30.6C9.46879 30.6 3.4 24.5312 3.4 17C3.4 9.46879 9.46879 3.4 17 3.4ZM13.6 11.1098V22.8902L23.8 17L13.6 11.1098Z" fill="white"></path>
            </svg>
          </a>
          <img src="https://cdn.shopify.com/s/files/1/0441/1431/3365/files/LVS-Serum-Close-Up-Hand-1_1_b03405c1-1ceb-4f67-89df-14cfdff08b79.png?v=1683271794" class="mobile-only"  alt="">
        </div>
      </div>
    </div>
  </div>
</div>
{% schema %}
  {
    "name": "Reason Action",
    "settings": [],
        "presets" : [{
        "name" : "Reason Action"
    }]
  }
{% endschema %}