<div class="land-container--full serum-upsell">
<div class="upsell__inner">
<div class="upsell__item upsell__item--left"> 

</div>
<div class="upsell__item upsell__item--right">
    <ul>
    <li>
      <span class="up-icon">
        <img src="https://cdn.shopify.com/s/files/1/0441/1431/3365/files/Mask_group_1_8b92b27a-c719-447a-9298-e048aeec3296.png?v=1682588222" alt="">
      </span>
      <span class="up-text">
        Unique blend of the <b>world’s most trusted active ingredients</b> that work together to <b>brighten, plump</b> and <b>smooth skin.</b>  
      </span> 
    </li>
    <li>
       <span class="up-icon">
<img src="https://cdn.shopify.com/s/files/1/0441/1431/3365/files/Mask_group_2_b791736a-0150-42f9-88ed-6e22f636aabb.png?v=1682588222" alt="">
      </span>
      <span class="up-text">
       <b>Save time</b> and <b>money</b> by using All-In-One Face Serum. <b>No multi-product layering, no multi-step routine.</b>
      </span>
    </li>
    <li>
      <span class="up-icon">
<img src="https://cdn.shopify.com/s/files/1/0441/1431/3365/files/Mask_group_3_d38a882e-63aa-4ac8-a0a1-0fdb2c51ad22.png?v=1682588222" alt="">
      </span>
      <span class="up-text">
        Combines BEST quality ingredients that are scientifically proven to <b>produce the best results,</b> for the lowest cost. 
      </span>
    </li>
    <li>
      <span class="up-icon">
<img src="https://cdn.shopify.com/s/files/1/0441/1431/3365/files/Fade_pigmentation_and_prevent_dark_spots_1.png?v=1683114685" alt="">
      </span>
      <span class="up-text">
        <b>Fragrance,</b> Paraben & <b>PEG</b> Free
      </span>
    </li>
  </ul>
</div>
</div>
</div>
{% schema %}
  {
    "name": "Section name",
    "settings": []
  }
{% endschema %}