<div class="skin-video serum-video">
  <h2>Tested and <b>recommended</b> by <b>world-leading</b> Skincare Experts</h2>
  <div class="container">
    <div class="lp-wrap">
      <div class="lp-video-item">
        <div class="lp-v-img">
         <a href="https://www.youtube.com/watch?v=Jb99E6ztDIM" class="custom-popup">
            <img src="https://cdn.shopify.com/s/files/1/0441/1431/3365/files/Rectangle_66.png?v=1682586348"  alt="">
           <div class="video__play">
            <svg class="video__play-btn" width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M10 0C4.489 0 0 4.489 0 10C0 15.511 4.489 20 10 20C15.511 20 20 15.511 20 10C20 4.489 15.511 0 10 0ZM10 2C14.4301 2 18 5.56988 18 10C18 14.4301 14.4301 18 10 18C5.56988 18 2 14.4301 2 10C2 5.56988 5.56988 2 10 2ZM8 6.53516V13.4648L14 10L8 6.53516Z" fill="black"></path>
            </svg>
            <span>Watch Video</span>
          </div>
          </a>
        </div>
        <div class="lp-v-name">
          <div class="lp-text">"It’s very very light it just seems to help relax the skin around the face and it really helps those wrinkles relax more and not leave behind static fine lines & wrinkles...”</div>
          <p><strong>Chris Gibson,</strong> Skincare Expert</p>
        </div>
      </div>  
      <div class="lp-video-item">
        <div class="lp-v-img">
         <a href="https://www.youtube.com/watch?v=CRIvl-gwQHU" class="custom-popup">
            <img src="https://cdn.shopify.com/s/files/1/0441/1431/3365/files/Mask_Group_1174bbcb-3436-4356-b5f8-95c2b2c6fe7d.png?v=1682586348"  alt="">
           <div class="video__play">
            <svg class="video__play-btn" width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M10 0C4.489 0 0 4.489 0 10C0 15.511 4.489 20 10 20C15.511 20 20 15.511 20 10C20 4.489 15.511 0 10 0ZM10 2C14.4301 2 18 5.56988 18 10C18 14.4301 14.4301 18 10 18C5.56988 18 2 14.4301 2 10C2 5.56988 5.56988 2 10 2ZM8 6.53516V13.4648L14 10L8 6.53516Z" fill="black"></path>
            </svg>
            <span>Watch Video</span>
          </div>
          </a>
        </div>
        <div class="lp-v-name">
          <div class="lp-text">"I really really like serum...really lightweight serum, absorbs really nice into the skin, gives your skin a nice glow..."</div>
          <p><strong>Trina Albus,</strong> Beauty Creator</p>
        </div>
      </div>  
      <div class="lp-video-item">
        <div class="lp-v-img">
         <a href="https://www.youtube.com/watch?v=tgLVkCQ7zJM" class="custom-popup">
            <img src="https://cdn.shopify.com/s/files/1/0441/1431/3365/files/image_78.png?v=1682586349"  alt="">
           <div class="video__play">
            <svg class="video__play-btn" width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M10 0C4.489 0 0 4.489 0 10C0 15.511 4.489 20 10 20C15.511 20 20 15.511 20 10C20 4.489 15.511 0 10 0ZM10 2C14.4301 2 18 5.56988 18 10C18 14.4301 14.4301 18 10 18C5.56988 18 2 14.4301 2 10C2 5.56988 5.56988 2 10 2ZM8 6.53516V13.4648L14 10L8 6.53516Z" fill="black"></path>
            </svg>
            <span>Watch Video</span>
          </div>
          </a>
        </div>
        <div class="lp-v-name">
          <div class="lp-text">"Qure pushing the boundaries of skincare with products where the evidence is really starting to grow.."</div>
          <p><strong>Alice,</strong> Skincare Expert</p>
        </div>
      </div>  
    </div>
  </div>
</div>
<style>
  .lp-v-img .custom-popup {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}
.lp-v-img .custom-popup .video__play {
    position: absolute;
    display: flex;
    align-items: center;
      top: auto;
}
  .lp-v-img .custom-popup .video__play svg path {
    fill: #fff;
}
  .lp-wrap {
    display: flex;
}
  .skin-video {
    background: linear-gradient(180deg, rgba(199, 231, 220, 0.91) -98.65%, #FFFFFF 69.3%);
    padding: 55px 0 47px;
}
.skin-video h2 {
    font-family: 'Canela-Thin';
    font-style: normal;
    font-weight: 600;
    font-size: 38px;
    line-height: 55px;
    align-items: center;
    text-align: center;
    letter-spacing: 1px;
    color: #000000;
    margin: 0 auto 50px;
    max-width: 585px;
}
  .skin-video h2 b {
    font-family: 'Poppins' !important;
    font-weight: 500 !important;
}
  .lp-video-item {
    padding-right:26px;
    margin-bottom: 25px;
        width: 33.33%;
  }
  .lp-v-img .custom-popup img {
    width: 100%;
}
  .lp-video-item:last-child{
    padding-right:0px;
  }
  .lp-video-item .lp-v-name {
    margin-top: 15px;
}
  .lp-video-item .lp-v-name .lp-text {
    font-family: 'Poppins';
    font-style: italic;
    font-weight: 400;
    font-size: 11px;
    line-height: 24px;
    letter-spacing: 0.3px;
    color: rgb(0 0 0 / 80%);
    min-height: 72px;
    height: 72px;
    margin-bottom: 20px;
        padding-right: 15px;
}
.lp-video-item .lp-v-name p {
    margin: 0;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 28px;
    letter-spacing: 0.3px;
    color: rgb(0 0 0 / 80%);
}
  .lp-v-img .custom-popup .video__play span {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 14px;
    letter-spacing: 0.3px;
    color: #FFFFFF;
    padding-left: 10px;
}
.lp-wrap svg.slick-prev {
    top: auto;
    bottom: -39px;
    transform: rotate(-180deg);
    left: 45%;
    width: 35px;
}
.lp-wrap svg.slick-next {
    top: auto;
    bottom: -48px;
    right: 46%;
    width: 35px;
}
  @media (min-width:767px) and (max-width:991px){
    .lp-video-item .lp-v-name .lp-text {
      height: 110px;
    }
    .lp-wrap svg.slick-next {
      bottom: -49px;
      right: 40%;
    }
    .lp-wrap svg.slick-prev {
      left: 45%;
    }
  }
  @media (max-width:767px){
    .lp-wrap svg.slick-prev {
      left: 35%;
  }
    .lp-wrap svg.slick-next {
    right: 32%;
  }
    .serum-video{
      padding: 20px 0 65px;
    }
    .skin-video h2 {
      font-size: 28px;
      line-height: 36px;
      max-width: 320px;
      margin: 0 auto 39px;
    }
    .serum-video .lp-video-item {
      padding-right: 10px;
      margin-bottom: 10px;
      padding-left: 10px;
    }
    .serum-video .lp-video-item .lp-v-name .lp-text {
      font-size: 11px;
      line-height: 22px;
      padding-right: 0;
      margin-bottom: 15px;
    min-height: 68px;
    height: 68px;
    }
    .serum-video .lp-video-item .lp-v-name p {
      font-size: 14px;
      line-height: 28px;
    }
    .serum-video {
    padding: 38px 0 20px;
}
    .serum-video .lp-video-item{
         display: none; 
    }
    .serum-video .lp-video-item:first-child{
      display: block;
    }
    .serum-video .lp-video-item.slick-slide{
      display: block;
    }
    .serum-video .lp-video-item{
      width:100%;
    }
    .serum-video .lp-wrap ul.slick-dots {
      bottom: 0;
    }
    .serum-video .lp-wrap ul.slick-dots li {
      width: 10px;
      height: 10px;
      border-radius: 100%;
      background: rgba(0, 0, 0, 0.1);
    }
    .serum-video .lp-wrap {
      padding-bottom: 35px;
    }
    .serum-video .lp-wrap .slick-arrow.slick-prev {
      width: 8px;
      bottom: 0;
      left: 28%;
      z-index:1;
    }
    .serum-video .lp-wrap .slick-arrow.slick-next {
      width: 8px;
      bottom: -10px;
      right: 30%;
      z-index:1;
    }
  }
</style>
{% schema %}
  {
    "name": "Skin Video",
    "settings": [],
    "presets":[
    {
      "name": "Skin Video"
    }
  ]
  }
{% endschema %}