<div class="new-sections">
  <div class="container">
    <div class="row">
      <div class="col-md-12 mobile-hide">
        <div class="new-info">
          <div class="info-slider">
            <div class="slider slider-thumb">
              <div>
                <a href="#" rel="noindex nofollow">
                  <img src="https://cdn.shopify.com/s/files/1/0441/1431/3365/files/Harper_s-Baazar-1b.png?v=1623848622" alt="">
                </a>
              </div>
              <div>
                <a href="#" rel="noindex nofollow">
                  <img src="https://cdn.shopify.com/s/files/1/0441/1431/3365/files/Instyle-1b.png?v=1623848622" alt="">
                </a>
              </div>
              <div>
                <a href="#" rel="noindex nofollow">
                  <img src="https://cdn.shopify.com/s/files/1/0441/1431/3365/files/Cosmopolitan-1b.png?v=1623848622" alt="">
                </a>
              </div>
              <div>
                <a href="#" rel="noindex nofollow">
                  <img src="https://cdn.shopify.com/s/files/1/0441/1431/3365/files/Elle-1b.png?v=1623848622" alt="">
                </a>
              </div>
              <div>
                <a href="#" rel="noindex nofollow">
                  <img src="https://cdn.shopify.com/s/files/1/0441/1431/3365/files/Glamour-1b.png?v=1623848623" alt="">
                </a>
              </div>
              <div>
                <a href="#" rel="noindex nofollow">
                  <img src="https://cdn.shopify.com/s/files/1/0441/1431/3365/files/Grazia-1b.png?v=1623848622" alt="">
                </a>
              </div>
             
            </div>
          </div>
        </div>
      </div>
     <div class="col-md-12 mobile-show">
        <div class="new-info">
          <div class="icon-sldier">
            <div>
              <div class="icons-image">
                <img src="https://cdn.shopify.com/s/files/1/0441/1431/3365/files/Instyle-1b.png?v=1623848622" alt="">
              </div>
            </div>
            <div>
              <div class="icons-image">
                <img src="https://cdn.shopify.com/s/files/1/0441/1431/3365/files/Harper_s-Baazar-1b.png?v=1623848622" alt="">
              </div>
            </div>  
            <div>
              <div class="icons-image">
                <img src="https://cdn.shopify.com/s/files/1/0441/1431/3365/files/Cosmopolitan-1b.png?v=1623848622" alt="">
              </div>
            </div>
            <div>
              <div class="icons-image">
                <img src="https://cdn.shopify.com/s/files/1/0441/1431/3365/files/Elle-1b.png?v=1623848622" alt="">
              </div>
            </div>
            <div>
              <div class="icons-image">
                <img src="https://cdn.shopify.com/s/files/1/0441/1431/3365/files/Glamour-1b.png?v=1623848623" alt="">
              </div>
            </div>
            <div>
              <div class="icons-image">
                <img src="https://cdn.shopify.com/s/files/1/0441/1431/3365/files/Grazia-1b.png?v=1623848622" alt="">
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% schema %}
{
"name": "Logo Section",
"settings": [
{
"id": "title",
"type": "text",
"label": "Main Title"
}
],
"blocks": [
{
"type": "text",
"name": "Slider",
"settings": [

{
"id": "prd_img",
"type": "image_picker",
"label": "Choose Logo"
}

]
}
]
}
{% endschema %}
