<div class="skin-needle">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <div class="needle-content">
          <h2 class="dekstop">Replacement Micro-Infusion Needle Heads</h2>
          <p><b>Specialized sterile</b> needles go into the skin at a depth of 0.5mm to <b>stimulate cellular renewal</b> in the upper layer of the skin through gentle, controlled damage, stimulating <b>skin regeneration</b> and <b>rejuvenation.</b> The centre of the needles infuse serum, delivering nourishing ingredients below the skin surface DIRECTLY into skin for fast, visible results.</p>
          <ul>
            <li><span>0.5 mm</span>needle length</li>
            <li><span>24K gold</span>plated hypoallergenic microchannels</li>
            <li><span>20 pcs</span>surgical grade stainless steel needles</li>
          </ul>
        </div>
      </div>
      <div class="col-md-6">
        <h2 class="mobile">Micro-Infusion Heads</h2>
        <div class="needle-img">
          <img src="https://cdn.shopify.com/s/files/1/0441/1431/3365/files/disposable-heads-desktop.gif?v=1677850863" alt="">
        </div>
      </div>
    </div>
  </div>
</div>
{% schema %}
  {
    "name": "Section name",
    "settings": []
  }
{% endschema %}