<div class="skin-action">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <div class="skin-action-title">
          <h2>See It in Action — An Instant, Effortless Glow that Looks as Good as It Feels </h2>
          <p>5 Minutes Total, Every 2-4 Weeks</p>
        </div>
      </div>
      <div class="col-md-6">
        <div class="skin-action-img">
          <a href="https://cdn.shopify.com/videos/c/o/v/2ee1eefeb3ce4b199f1ed3d1a3cdd802.mp4" class="custom-popup">
            <svg width="60" height="60" viewBox="0 0 34 34" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M17 0C7.6313 0 0 7.6313 0 17C0 26.3687 7.6313 34 17 34C26.3687 34 34 26.3687 34 17C34 7.6313 26.3687 0 17 0ZM17 3.4C24.5312 3.4 30.6 9.46879 30.6 17C30.6 24.5312 24.5312 30.6 17 30.6C9.46879 30.6 3.4 24.5312 3.4 17C3.4 9.46879 9.46879 3.4 17 3.4ZM13.6 11.1098V22.8902L23.8 17L13.6 11.1098Z" fill="white"></path>
            </svg>
            <span>Click To Watch review</span>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
{% schema %}
  {
    "name": "Skin Action",
    "settings": [],
        "presets" : [{
        "name" : "Skin Action"
    }]
  }
{% endschema %}