<section class="Skincare-App">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <div class="skincare-info">
          <h2>Qure Skincare App </h2>
          <h4>Next-level Personalized Skincare</h4>
          <p>Your skin is unique, so your treatments should be too.  Unlike other masks out there, Q-Rejuvalight Pro Facewear is the world’s first customizable LED mask provides you a totally personalized experience, every treatment. </p>
          <div class="info-button">
            <a href="/pages/qure-skincare-app" class="button button_hero">Download  now</a>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="img">
          <img src="https://cdn.shopify.com/s/files/1/0441/1431/3365/files/Untitled-1_a12f2492-255c-4033-994a-e226f9bdbd2b.png?v=1613992858">
        </div>
      </div>
      <div class="col-md-4">
        <div class="skincare-detail">
<!--           <h2>Qure Skincare App:</h2> -->
          <ul>
            <li>
              <span class="icon"><img src="https://cdn.shopify.com/s/files/1/0441/1431/3365/files/mark.png?v=1613992386"></span>
              <span class="text">Choose Anti-Ageing or Anti-Breakout treatment on 5 facial areas to treat your specific concerns. </span>
            </li>
            <li>
              <span class="icon"><img src="https://cdn.shopify.com/s/files/1/0441/1431/3365/files/mark.png?v=1613992386"></span>
              <span class="text">Treat only the areas that are bothering you - with the treatment of your choice.</span>
            </li>
            <li>
              <span class="icon"><img src="https://cdn.shopify.com/s/files/1/0441/1431/3365/files/mark.png?v=1613992386"></span>
              <span class="text">Schedule your personalized treatments in the Qure calendar and track treatment history</span>
            </li>
            <li>
              <span class="icon"><img src="https://cdn.shopify.com/s/files/1/0441/1431/3365/files/mark.png?v=1613992386"></span>
              <span class="text">Set reminders on your phone to help you stay on track </span>
            </li> <li>
            <span class="icon"><img src="https://cdn.shopify.com/s/files/1/0441/1431/3365/files/mark.png?v=1613992386"></span>
            <span class="text">Get motivated with treatment challenge courses for maximum results.</span>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
{% schema %}
{
"name": "Section name",
"settings": []
}
{% endschema %}
