<div class="skin-formulated">
  <div class="container">
    <div class="skin-formu-title">
      <h2>Unique“Customizable” System With Clinically Formulated Serums </h2>
      <p>Your skin is <b>unique,</b> so your treatment should be. We believe in <span class="text-cross">one-size-fits-all</span> <b>personalized</b> skincare.  Choose the exact serum (or both) you want to infuse and experience a set of benefits tailored to <b>your</b> exact skin concerns.</p>
    </div>
    <div class="row">
      <div class="col-md-5">
        <div class="formulated-img">
          <img src="https://cdn.shopify.com/s/files/1/0441/1431/3365/files/mi-serum-gif-01.gif?v=1681128022" alt="">
        </div>
      </div>
      <div class="col-md-7">
        <div class="formulated-cont">
          <h3>Hydra-Soothing Serum</h3>
          <div class="formula-heading">
            Beta Glucan (β-G) serum • 4 ml / 0.14 fl. Oz 
          </div>
          <p><b>Instant, intense hydration.</b> Effectively <b>plumps</b> up fine lines, <b>reduces</b> redness, boosts and protects the skin barrier for a healthy, supple complexion of <b>fresher, glowing skin</b></p>
          <div class="formulated-icon">
            <div class="icon-main">
              <svg width="44" height="44" viewBox="0 0 44 44" fill="none" xmlns="http://www.w3.org/2000/svg">
                <g clip-path="url(#clip0_3718_3474)">
                  <path d="M21.9986 36.2328C29.8597 36.2328 36.2324 29.8601 36.2324 21.999C36.2324 14.1378 29.8597 7.76514 21.9986 7.76514C14.1375 7.76514 7.76477 14.1378 7.76477 21.999C7.76477 29.8601 14.1375 36.2328 21.9986 36.2328Z" stroke="#C7E7DC" stroke-opacity="0.25" stroke-width="1.2" stroke-miterlimit="2.61313" stroke-linecap="round" stroke-linejoin="round"/>
                  <path d="M21.9983 32.573C27.8381 32.573 32.5722 27.839 32.5722 21.9992C32.5722 16.1594 27.8381 11.4253 21.9983 11.4253C16.1585 11.4253 11.4244 16.1594 11.4244 21.9992C11.4244 27.839 16.1585 32.573 21.9983 32.573Z" stroke="#C7E7DC" stroke-opacity="0.5" stroke-width="1.2" stroke-miterlimit="2.61313" stroke-linecap="round" stroke-linejoin="round"/>
                  <path d="M21.9991 28.7089C25.7049 28.7089 28.709 25.7047 28.709 21.999C28.709 18.2932 25.7049 15.2891 21.9991 15.2891C18.2933 15.2891 15.2892 18.2932 15.2892 21.999C15.2892 25.7047 18.2933 28.7089 21.9991 28.7089Z" stroke="#C7E7DC" stroke-opacity="0.75" stroke-width="1.2" stroke-miterlimit="2.61313" stroke-linecap="round" stroke-linejoin="round"/>
                  <path d="M21.999 25.0958C23.7092 25.0958 25.0957 23.7093 25.0957 21.9991C25.0957 20.2888 23.7092 18.9023 21.999 18.9023C20.2887 18.9023 18.9023 20.2888 18.9023 21.9991C18.9023 23.7093 20.2887 25.0958 21.999 25.0958Z" stroke="#C7E7DC" stroke-width="1.2" stroke-miterlimit="2.61313" stroke-linecap="round" stroke-linejoin="round"/>
                  <path d="M22.0775 0L22.0775 4.54725" stroke="#C7E7DC" stroke-width="1.2" stroke-miterlimit="2.61313" stroke-linecap="round" stroke-linejoin="round"/>
                  <path d="M20.7318 3.52734L22.0779 4.54691" stroke="#C7E7DC" stroke-width="1.2" stroke-miterlimit="2.61313" stroke-linecap="round" stroke-linejoin="round"/>
                  <path d="M23.4236 3.52783L22.0775 4.5474" stroke="#C7E7DC" stroke-width="1.2" stroke-miterlimit="2.61313" stroke-linecap="round" stroke-linejoin="round"/>
                  <path d="M22.0784 44.1558L22.0784 39.6085" stroke="#C7E7DC" stroke-width="1.2" stroke-miterlimit="2.61313" stroke-linecap="round" stroke-linejoin="round"/>
                  <path d="M23.4241 40.6284L22.078 39.6088" stroke="#C7E7DC" stroke-width="1.2" stroke-miterlimit="2.61313" stroke-linecap="round" stroke-linejoin="round"/>
                  <path d="M20.7323 40.6279L22.0784 39.6084" stroke="#C7E7DC" stroke-width="1.2" stroke-miterlimit="2.61313" stroke-linecap="round" stroke-linejoin="round"/>
                  <path d="M44.1562 22.0771L39.6089 22.0771" stroke="#C7E7DC" stroke-width="1.2" stroke-miterlimit="2.61313" stroke-linecap="round" stroke-linejoin="round"/>
                  <path d="M40.6278 20.7314L39.6082 22.0775" stroke="#C7E7DC" stroke-width="1.2" stroke-miterlimit="2.61313" stroke-linecap="round" stroke-linejoin="round"/>
                  <path d="M40.6278 23.4237L39.6082 22.0776" stroke="#C7E7DC" stroke-width="1.2" stroke-miterlimit="2.61313" stroke-linecap="round" stroke-linejoin="round"/>
                  <path d="M0 22.0776L4.54725 22.0776" stroke="#C7E7DC" stroke-width="1.2" stroke-miterlimit="2.61313" stroke-linecap="round" stroke-linejoin="round"/>
                  <path d="M3.52835 23.4238L4.54792 22.0778" stroke="#C7E7DC" stroke-width="1.2" stroke-miterlimit="2.61313" stroke-linecap="round" stroke-linejoin="round"/>
                  <path d="M3.52835 20.7316L4.54792 22.0776" stroke="#C7E7DC" stroke-width="1.2" stroke-miterlimit="2.61313" stroke-linecap="round" stroke-linejoin="round"/>
                  <path d="M37.6888 6.46631L34.4734 9.6817" stroke="#C7E7DC" stroke-width="1.2" stroke-miterlimit="2.61313" stroke-linecap="round" stroke-linejoin="round"/>
                  <path d="M34.243 8.00879L34.4738 9.68155" stroke="#C7E7DC" stroke-width="1.2" stroke-miterlimit="2.61313" stroke-linecap="round" stroke-linejoin="round"/>
                  <path d="M36.1459 9.91276L34.4731 9.68188" stroke="#C7E7DC" stroke-width="1.2" stroke-miterlimit="2.61313" stroke-linecap="round" stroke-linejoin="round"/>
                  <path d="M6.46618 37.6885L9.68157 34.4731" stroke="#C7E7DC" stroke-width="1.2" stroke-miterlimit="2.61313" stroke-linecap="round" stroke-linejoin="round"/>
                  <path d="M9.91105 36.146L9.68017 34.4732" stroke="#C7E7DC" stroke-width="1.2" stroke-miterlimit="2.61313" stroke-linecap="round" stroke-linejoin="round"/>
                  <path d="M8.00777 34.2425L9.68054 34.4734" stroke="#C7E7DC" stroke-width="1.2" stroke-miterlimit="2.61313" stroke-linecap="round" stroke-linejoin="round"/>
                  <path d="M37.6899 37.689L34.4745 34.4736" stroke="#C7E7DC" stroke-width="1.2" stroke-miterlimit="2.61313" stroke-linecap="round" stroke-linejoin="round"/>
                  <path d="M36.1472 34.2432L34.4744 34.474" stroke="#C7E7DC" stroke-width="1.2" stroke-miterlimit="2.61313" stroke-linecap="round" stroke-linejoin="round"/>
                  <path d="M34.2436 36.1462L34.4745 34.4734" stroke="#C7E7DC" stroke-width="1.2" stroke-miterlimit="2.61313" stroke-linecap="round" stroke-linejoin="round"/>
                  <path d="M6.46636 6.4668L9.68175 9.68219" stroke="#C7E7DC" stroke-width="1.2" stroke-miterlimit="2.61313" stroke-linecap="round" stroke-linejoin="round"/>
                  <path d="M8.00908 9.9126L9.68184 9.68172" stroke="#C7E7DC" stroke-width="1.2" stroke-miterlimit="2.61313" stroke-linecap="round" stroke-linejoin="round"/>
                  <path d="M9.9127 8.0096L9.68182 9.68237" stroke="#C7E7DC" stroke-width="1.2" stroke-miterlimit="2.61313" stroke-linecap="round" stroke-linejoin="round"/>
                </g>
                <defs>
                <clipPath id="clip0_3718_3474">
                <rect width="44" height="44" fill="white"/>
                </clipPath>
                </defs>
              </svg>
              <p>Soothes Redness <br>& Irritation</p>
            </div>
            <div class="icon-main">
              <svg width="44" height="33" viewBox="0 0 44 33" fill="none" xmlns="http://www.w3.org/2000/svg">
                <g clip-path="url(#clip0_4105_3912)">
                <path d="M17.4581 1.06445L34.8972 1.06445L39.3763 17.4027" stroke="#C7E7DC" stroke-width="1.2" stroke-miterlimit="2.61313" stroke-linecap="round" stroke-linejoin="round"/>
                <path fill-rule="evenodd" clip-rule="evenodd" d="M39.3765 17.4029L5.45902 17.4029C5.45902 17.4029 10.4043 8.63574 19.0546 8.63574L37.0257 8.63574L39.3765 17.4029V17.4029Z" stroke="#C7E7DC" stroke-width="1.2" stroke-miterlimit="2.61313" stroke-linecap="round" stroke-linejoin="round"/>
                <path fill-rule="evenodd" clip-rule="evenodd" d="M24.0195 6.40674L26.1743 6.40674C27.3805 6.40674 28.3677 7.40984 28.3677 8.63547L21.827 8.63547C21.827 7.40984 22.8141 6.40674 24.0203 6.40674L24.0195 6.40674Z" stroke="#C7E7DC" stroke-width="1.2" stroke-miterlimit="2.61313" stroke-linecap="round" stroke-linejoin="round"/>
                <path d="M7.39355 14.728L38.6421 14.728" stroke="#C7E7DC" stroke-width="1.2" stroke-miterlimit="2.61313" stroke-linecap="round" stroke-linejoin="round"/>
                <path d="M2.45556 22.4958C2.96711 22.4958 3.37858 22.2524 3.91067 22.0412C4.39571 21.8412 4.79006 21.6239 5.27425 21.6239C5.78495 21.6239 6.12627 21.8925 6.64552 22.1402C7.77899 22.6818 8.07326 22.5236 9.15711 22.0777C9.68919 21.8664 10.0998 21.623 10.6122 21.623C11.1238 21.623 11.5352 21.8656 12.0673 22.0777C12.5524 22.2776 12.9467 22.4949 13.4309 22.4949C13.9151 22.4949 14.3094 22.2776 14.7945 22.0777C15.3266 21.8664 15.7372 21.623 16.2496 21.623C16.7611 21.623 17.1726 21.8656 17.7047 22.0777C18.1897 22.2776 18.5841 22.4949 19.0683 22.4949" stroke="#C7E7DC" stroke-width="1.2" stroke-miterlimit="2.61313" stroke-linecap="round" stroke-linejoin="round"/>
                <path d="M19.0673 22.4958C19.5788 22.4958 19.9903 22.2524 20.5224 22.0412C21.0074 21.8412 21.4018 21.6239 21.886 21.6239C22.3967 21.6239 22.738 21.8925 23.2572 22.1402C24.3907 22.6818 24.685 22.5236 25.7688 22.0777C26.3009 21.8664 26.7115 21.623 27.2239 21.623C27.7355 21.623 28.147 21.8656 28.679 22.0777C29.1641 22.2776 29.5584 22.4949 30.0426 22.4949C30.5268 22.4949 30.9212 22.2776 31.4062 22.0777C31.9383 21.8664 32.3489 21.623 32.8613 21.623C33.3729 21.623 33.7843 21.8656 34.3164 22.0777C34.8015 22.2776 35.1958 22.4949 35.68 22.4949" stroke="#C7E7DC" stroke-width="1.2" stroke-miterlimit="2.61313" stroke-linecap="round" stroke-linejoin="round"/>
                <path d="M35.678 22.4959C36.1895 22.4959 36.601 22.2525 37.1331 22.0413C37.6181 21.8413 38.0125 21.624 38.4967 21.624C39.0074 21.624 39.3487 21.8926 39.8679 22.1404C41.0014 22.6819 41.2957 22.5237 42.3795 22.0778" stroke="#C7E7DC" stroke-width="1.2" stroke-miterlimit="2.61313" stroke-linecap="round" stroke-linejoin="round"/>
                <path d="M1.04726 12.7329L3.72308 13.437" stroke="#C7E7DC" stroke-width="1.2" stroke-miterlimit="2.61313" stroke-linecap="round" stroke-linejoin="round"/>
                <path d="M4.65102 6.2666L6.62111 8.23543" stroke="#C7E7DC" stroke-width="1.2" stroke-miterlimit="2.61313" stroke-linecap="round" stroke-linejoin="round"/>
                <path d="M10.6013 3.04199L11.3395 5.74794" stroke="#C7E7DC" stroke-width="1.2" stroke-miterlimit="2.61313" stroke-linecap="round" stroke-linejoin="round"/>
                <path d="M11.7714 26.5645L11.7714 31.6973" stroke="#C7E7DC" stroke-width="1.2" stroke-miterlimit="2.61313" stroke-linecap="round" stroke-linejoin="round"/>
                <path d="M10.2759 30.5464L11.7712 31.6973" stroke="#C7E7DC" stroke-width="1.2" stroke-miterlimit="2.61313" stroke-linecap="round" stroke-linejoin="round"/>
                <path d="M13.2658 30.5464L11.7714 31.6973" stroke="#C7E7DC" stroke-width="1.2" stroke-miterlimit="2.61313" stroke-linecap="round" stroke-linejoin="round"/>
                <path d="M18.8686 26.5645L18.8686 31.6973" stroke="#C7E7DC" stroke-width="1.2" stroke-miterlimit="2.61313" stroke-linecap="round" stroke-linejoin="round"/>
                <path d="M17.3741 30.5464L18.8686 31.6973" stroke="#C7E7DC" stroke-width="1.2" stroke-miterlimit="2.61313" stroke-linecap="round" stroke-linejoin="round"/>
                <path d="M20.3639 30.5464L18.8686 31.6973" stroke="#C7E7DC" stroke-width="1.2" stroke-miterlimit="2.61313" stroke-linecap="round" stroke-linejoin="round"/>
                <path d="M25.9651 26.5645L25.9651 31.6973" stroke="#C7E7DC" stroke-width="1.2" stroke-miterlimit="2.61313" stroke-linecap="round" stroke-linejoin="round"/>
                <path d="M24.4696 30.5464L25.9649 31.6973" stroke="#C7E7DC" stroke-width="1.2" stroke-miterlimit="2.61313" stroke-linecap="round" stroke-linejoin="round"/>
                <path d="M27.4604 30.5464L25.9651 31.6973" stroke="#C7E7DC" stroke-width="1.2" stroke-miterlimit="2.61313" stroke-linecap="round" stroke-linejoin="round"/>
                <path d="M33.0633 26.5645L33.0633 31.6973" stroke="#C7E7DC" stroke-width="1.2" stroke-miterlimit="2.61313" stroke-linecap="round" stroke-linejoin="round"/>
                <path d="M31.5678 30.5464L33.0631 31.6973" stroke="#C7E7DC" stroke-width="1.2" stroke-miterlimit="2.61313" stroke-linecap="round" stroke-linejoin="round"/>
                <path d="M34.5578 30.5464L33.0633 31.6973" stroke="#C7E7DC" stroke-width="1.2" stroke-miterlimit="2.61313" stroke-linecap="round" stroke-linejoin="round"/>
                </g>
                <defs>
                <clipPath id="clip0_4105_3912">
                <rect width="44" height="33" fill="white"/>
                </clipPath>
                </defs>
                </svg>
                <p>Plumps Fine <br> Lines</p>
            </div>
            <div class="icon-main">
              <svg width="46" height="44" viewBox="0 0 46 44" fill="none" xmlns="http://www.w3.org/2000/svg">
                <g clip-path="url(#clip0_4105_3945)">
                <path d="M22.8619 31.5757C19.5419 31.5757 16.852 28.8813 16.852 25.5591" stroke="#C7E7DC" stroke-width="1.2" stroke-miterlimit="2.61313" stroke-linecap="round" stroke-linejoin="round"/>
                <path fill-rule="evenodd" clip-rule="evenodd" d="M18.1182 34.7891C19.371 35.4229 20.7873 35.78 22.2868 35.78L22.2942 35.78L22.3017 35.78C23.8012 35.78 25.2174 35.4229 26.4702 34.7891L26.4673 34.7832C29.4826 33.2537 31.5498 30.1205 31.5498 26.5052C31.5498 26.2894 31.5409 26.0752 31.5275 25.8639L31.529 25.8639C31.529 25.8639 31.532 25.8416 31.535 25.797L31.5498 25.794C31.5781 25.2168 31.4295 20.8085 22.3017 7.51221L22.2942 7.52262L22.2868 7.51221C13.1605 20.8085 13.0119 25.2153 13.0386 25.794L13.0535 25.797C13.0564 25.8416 13.0594 25.8639 13.0594 25.8639L13.0609 25.8639C13.046 26.0752 13.0386 26.2894 13.0386 26.5052C13.0386 30.1205 15.1058 33.2537 18.1212 34.7832L18.1182 34.7891V34.7891Z" stroke="#C7E7DC" stroke-width="1.2" stroke-miterlimit="2.61313" stroke-linecap="round" stroke-linejoin="round"/>
                <path d="M1.07199 21.6475L13.9077 21.6475" stroke="#C7E7DC" stroke-width="1.2" stroke-miterlimit="2.61313" stroke-linecap="round" stroke-linejoin="round"/>
                <path d="M30.4766 21.6475L43.3123 21.6475" stroke="#C7E7DC" stroke-width="1.2" stroke-miterlimit="2.61313" stroke-linecap="round" stroke-linejoin="round"/>
                <path d="M22.2966 43.4377L22.2966 40.0649" stroke="#C7E7DC" stroke-width="1.2" stroke-miterlimit="2.61313" stroke-linecap="round" stroke-linejoin="round"/>
                <path d="M13.6887 41.1285L15.3725 38.2095" stroke="#C7E7DC" stroke-width="1.2" stroke-miterlimit="2.61313" stroke-linecap="round" stroke-linejoin="round"/>
                <path d="M7.3869 34.8204L10.3027 33.1348" stroke="#C7E7DC" stroke-width="1.2" stroke-miterlimit="2.61313" stroke-linecap="round" stroke-linejoin="round"/>
                <path d="M36.142 26.2046L39.5111 26.2046" stroke="#C7E7DC" stroke-width="1.2" stroke-miterlimit="2.61313" stroke-linecap="round" stroke-linejoin="round"/>
                <path d="M5.08307 26.2046L8.45064 26.2046" stroke="#C7E7DC" stroke-width="1.2" stroke-miterlimit="2.61313" stroke-linecap="round" stroke-linejoin="round"/>
                <path d="M34.2888 33.1348L37.2046 34.8204" stroke="#C7E7DC" stroke-width="1.2" stroke-miterlimit="2.61313" stroke-linecap="round" stroke-linejoin="round"/>
                <path d="M29.2181 38.21L30.9019 41.129" stroke="#C7E7DC" stroke-width="1.2" stroke-miterlimit="2.61313" stroke-linecap="round" stroke-linejoin="round"/>
                <path d="M34.8041 16.0254C35.6723 16.0254 36.3761 15.3208 36.3761 14.4516C36.3761 13.5825 35.6723 12.8779 34.8041 12.8779C33.9359 12.8779 33.2321 13.5825 33.2321 14.4516C33.2321 15.3208 33.9359 16.0254 34.8041 16.0254Z" fill="#C7E7DC"/>
                <path d="M10.1478 19.2451C11.016 19.2451 11.7198 18.5405 11.7198 17.6714C11.7198 16.8022 11.016 16.0977 10.1478 16.0977C9.27966 16.0977 8.57587 16.8022 8.57587 17.6714C8.57587 18.5405 9.27966 19.2451 10.1478 19.2451Z" fill="#C7E7DC"/>
                <path d="M3.71641 12.8061C4.58459 12.8061 5.28839 12.1015 5.28839 11.2324C5.28839 10.3633 4.58459 9.65869 3.71641 9.65869C2.84824 9.65869 2.14444 10.3633 2.14444 11.2324C2.14444 12.1015 2.84824 12.8061 3.71641 12.8061Z" fill="#C7E7DC"/>
                <path d="M42.3073 11.7329C43.1755 11.7329 43.8793 11.0283 43.8793 10.1592C43.8793 9.29002 43.1755 8.58545 42.3073 8.58545C41.4391 8.58545 40.7353 9.29002 40.7353 10.1592C40.7353 11.0283 41.4391 11.7329 42.3073 11.7329Z" fill="#C7E7DC"/>
                <path d="M13.3631 9.5864C14.2313 9.5864 14.9351 8.88182 14.9351 8.01268C14.9351 7.14354 14.2313 6.43896 13.3631 6.43896C12.4949 6.43896 11.7911 7.14354 11.7911 8.01268C11.7911 8.88182 12.4949 9.5864 13.3631 9.5864Z" fill="#C7E7DC"/>
                <path d="M32.6595 7.43991C33.5276 7.43991 34.2314 6.73533 34.2314 5.8662C34.2314 4.99706 33.5276 4.29248 32.6595 4.29248C31.7913 4.29248 31.0875 4.99706 31.0875 5.8662C31.0875 6.73533 31.7913 7.43991 32.6595 7.43991Z" fill="#C7E7DC"/>
                </g> 
                <defs>
                <clipPath id="clip0_4105_3945">
                <rect width="45.0233" height="44" fill="white"/>
                </clipPath>
                </defs>
              </svg>
              <p>Deeply<br> Hydrates</p>
            </div>
          </div>
          <div class="formula-dropdown">
            <h5 class="accordion__title">What can it do for your skin 
              <svg width="16" height="10" viewBox="0 0 16 10" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path opacity="0.8" d="M15 1L8 8L1 1" stroke="black" stroke-width="1.5" stroke-linecap="round"/>
              </svg>
            </h5>
            <div class="accordion__panel">
              <div class="accordion__panel-text">
                 <p><b>Instant, intense hydration.</b> Effectively plumps up fine lines, reduces redness, boosts and protects the skin barrier for healthy, supple skin.</p>
                 <p><b>Skin Concerns:</b> Dehydration, dryness, redness, fine lines, dull skin.</p>
                <ul>
                	<li>Deeply moisturises the skin and provides lightweight hydration whilst also locking in moisture.</li>
                	<li>Antioxidant properties soothes skin, reduces redness and irritation </li>
                	<li>Decreases appearance of fine lines and wrinkles, creating plumped and well hydrated skin.</li>
                </ul>
              </div>
            </div>
             <h5 class="accordion__title last-title">Clinical research 
               <svg width="16" height="10" viewBox="0 0 16 10" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path opacity="0.8" d="M15 1L8 8L1 1" stroke="black" stroke-width="1.5" stroke-linecap="round"/>
               </svg>
            </h5>
            <div class="accordion__panel">
                <div class="accordion__panel-text">
                   <span>In clinical studies....</span>
                  <p>...Beta-glucan is found to be <b>20% more hydrating than hyaluronic acid;</b> penetrating deeper into the skin. </p>
                  <p>...Increases collagen up to 32%, <b>reducing the depth of wrinkles</b> and diminishing fine lines.</p>
                  <p class="small=txt"><b>Citations...</b><br>
                  Pillai R, Redmond M, Roding J. Anti-wrinkle therapy: Significant new findings in the non-invasive cosmetic treatment of skin wrinkles with beta-glucan. Int J Cosmet Sci. 2005;27(5):292-292. </p>
                  <p class="small=txt"> John HE, Price RD. Perspectives in the selection of hyaluronic acid fillers for facial wrinkles and aging skin. Patient Prefer Adherence. 2009;3:225-230. doi:10.2147/<span class="skimlinks-unlinked">ppa.s3183</span></p>
                </div>
            </div>
             <h5 class="accordion__title last-title">All Ingredients 
                <svg width="16" height="10" viewBox="0 0 16 10" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path opacity="0.8" d="M15 1L8 8L1 1" stroke="black" stroke-width="1.5" stroke-linecap="round"/>
                </svg>
            </h5>
            <div class="accordion__panel">
                <div class="accordion__panel-text">
                  <p>Fragrance-free, Alcohol-Free, Paraben-Free. Vegan. No Preservatives Added. </p>
                  <p><b>Beta Glucan:</b> A tall glass of water for your skin. Boosts skin barrier, smooths skin, antioxidant.</p>
                  <p><b>Other ingredients: </b><br>
                  Niacinamide: Derm-approved superstar ingredient that helps with most skin concerns from soothing to  brightening and clarifying, and reducing fine lines and wrinkles. </p>
                  <p><b>Butylene Glycol:</b> Expert-backed hydrator that improves penetration to help it perform more effectively.</p>
                  <p><b>Glycerin:</b> Replenishes moisture skin loses into the deeper layers of the dermis and makes skin appear dewy.</p>
                  <p><b>All ingredients:</b><br>
                  Rosa Damascena Flower Water, Butylene Glycol, Panthenol, Glycerin, Niacinamide, 1,2-Hexanediol, Allantoin, Yeast Beta-Glucan, Sodium Hyaluronate,  Arginine, Carbomer.</p>
                </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row new-row">
      <div class="col-md-7">
        <div class="formulated-cont">
          <h3>Rejuvenating Serum</h3>
          <div class="formula-heading">
            Epidermal growth factor  (E.G.F) serum  • 4 ml / 0.14 fl. Oz 
          </div>
          <p>Reveals a <b>smoother, radiant</b> complexion. Reduction of fine lines, <b>dark spot brightening,</b> and <b>wrinkle-combatting</b> properties restore youthful skin.</p>
          <div class="formulated-icon">
            <div class="icon-main">
              <svg width="44" height="44" viewBox="0 0 44 44" fill="none" xmlns="http://www.w3.org/2000/svg">
                <mask id="mask0_4109_5016" style="mask-type:alpha" maskUnits="userSpaceOnUse" x="7" y="7" width="30" height="30">
                <path fill-rule="evenodd" clip-rule="evenodd" d="M22 8.24658C29.5948 8.24658 35.7532 14.405 35.7532 21.9998C35.7532 29.5946 29.5948 35.753 22 35.753C14.4052 35.753 8.24677 29.5946 8.24677 21.9998C8.24677 14.405 14.4052 8.24658 22 8.24658Z" fill="#D9D9D9" stroke="#008763" stroke-width="1.2" stroke-miterlimit="2.61313" stroke-linecap="round" stroke-linejoin="round"/>
                </mask>
                <g mask="url(#mask0_4109_5016)">
                <path d="M22 3.4082L22 40.5913" stroke="#C7E7DC" stroke-width="1.2" stroke-miterlimit="2.61313" stroke-linecap="round" stroke-linejoin="round"/>
                <path d="M24.3837 3.4082L24.3837 40.5913" stroke="#C7E7DC" stroke-width="1.2" stroke-miterlimit="2.61313" stroke-linecap="round" stroke-linejoin="round"/>
                <path d="M26.7663 3.4082L26.7663 40.5913" stroke="#C7E7DC" stroke-width="1.2" stroke-miterlimit="2.61313" stroke-linecap="round" stroke-linejoin="round"/>
                <path d="M29.1501 3.4082L29.1501 40.5913" stroke="#C7E7DC" stroke-width="1.2" stroke-miterlimit="2.61313" stroke-linecap="round" stroke-linejoin="round"/>
                <path d="M31.5337 3.4082L31.5337 40.5913" stroke="#C7E7DC" stroke-width="1.2" stroke-miterlimit="2.61313" stroke-linecap="round" stroke-linejoin="round"/>
                <path d="M33.9163 3.4082L33.9163 40.5913" stroke="#C7E7DC" stroke-width="1.2" stroke-miterlimit="2.61313" stroke-linecap="round" stroke-linejoin="round"/>
                <path d="M36.3001 3.4082L36.3001 40.5913" stroke="#C7E7DC" stroke-width="1.2" stroke-miterlimit="2.61313" stroke-linecap="round" stroke-linejoin="round"/>
                </g>
                <path fill-rule="evenodd" clip-rule="evenodd" d="M22 8.24658C29.5948 8.24658 35.7532 14.405 35.7532 21.9998C35.7532 29.5946 29.5948 35.753 22 35.753C14.4052 35.753 8.24677 29.5946 8.24677 21.9998C8.24677 14.405 14.4052 8.24658 22 8.24658V8.24658Z" stroke="#C7E7DC" stroke-width="1.2" stroke-miterlimit="2.61313" stroke-linecap="round" stroke-linejoin="round"/>
                <path d="M22 4.6153L22 0.383789" stroke="#C7E7DC" stroke-width="1.2" stroke-miterlimit="2.61313" stroke-linecap="round" stroke-linejoin="round"/>
                <path d="M22 43.6153L22 39.3838" stroke="#C7E7DC" stroke-width="1.2" stroke-miterlimit="2.61313" stroke-linecap="round" stroke-linejoin="round"/>
                <path d="M30.6959 6.94274L32.8068 3.2793" stroke="#C7E7DC" stroke-width="1.2" stroke-miterlimit="2.61313" stroke-linecap="round" stroke-linejoin="round"/>
                <path d="M11.1944 40.7206L13.3053 37.0571" stroke="#C7E7DC" stroke-width="1.2" stroke-miterlimit="2.61313" stroke-linecap="round" stroke-linejoin="round"/>
                <path d="M37.0573 13.3038L40.7208 11.1929" stroke="#C7E7DC" stroke-width="1.2" stroke-miterlimit="2.61313" stroke-linecap="round" stroke-linejoin="round"/>
                <path d="M3.27957 32.8057L6.94301 30.6948" stroke="#C7E7DC" stroke-width="1.2" stroke-miterlimit="2.61313" stroke-linecap="round" stroke-linejoin="round"/>
                <path d="M39.3851 21.9995L43.6166 21.9995" stroke="#C7E7DC" stroke-width="1.2" stroke-miterlimit="2.61313" stroke-linecap="round" stroke-linejoin="round"/>
                <path d="M0.384552 21.9995L4.61607 21.9995" stroke="#C7E7DC" stroke-width="1.2" stroke-miterlimit="2.61313" stroke-linecap="round" stroke-linejoin="round"/>
                <path d="M37.0573 30.6948L40.7208 32.8057" stroke="#C7E7DC" stroke-width="1.2" stroke-miterlimit="2.61313" stroke-linecap="round" stroke-linejoin="round"/>
                <path d="M3.27957 11.1929L6.94301 13.3038" stroke="#C7E7DC" stroke-width="1.2" stroke-miterlimit="2.61313" stroke-linecap="round" stroke-linejoin="round"/>
                <path d="M30.6959 37.0571L32.8068 40.7206" stroke="#C7E7DC" stroke-width="1.2" stroke-miterlimit="2.61313" stroke-linecap="round" stroke-linejoin="round"/>
                <path d="M11.1944 3.2793L13.3053 6.94274" stroke="#C7E7DC" stroke-width="1.2" stroke-miterlimit="2.61313" stroke-linecap="round" stroke-linejoin="round"/>
              </svg>
              <p>Brightens &<br> evens skin tone</p>
            </div>
            <div class="icon-main">
              <svg width="40" height="39" viewBox="0 0 40 39" fill="none" xmlns="http://www.w3.org/2000/svg">
                <g clip-path="url(#clip0_4109_5043)">
                <path d="M10.2175 7.65357L8.08719 9.74609L37.5782 38.7136L39.7085 36.6211L10.2175 7.65357Z" fill="#C7E7DC" stroke="#C7E7DC" stroke-width="1.2" stroke-miterlimit="2.61313" stroke-linecap="round" stroke-linejoin="round"/>
                <path d="M10.2175 7.65357L8.08719 9.74609L14.2022 15.7526L16.3326 13.6601L10.2175 7.65357Z" fill="white" stroke="#C7E7DC" stroke-width="1.2" stroke-miterlimit="2.61313" stroke-linecap="round" stroke-linejoin="round"/>
                <path fill-rule="evenodd" clip-rule="evenodd" d="M19.9297 7.86871C19.9297 7.86871 19.9653 4.85824 22.6481 4.15229C22.6481 4.15229 19.9723 3.44829 19.9297 0.435879C19.9287 0.386287 19.9287 0.336696 19.9297 0.286133C19.9307 0.336696 19.9307 0.38726 19.9297 0.435879C19.8871 3.44732 17.2113 4.15229 17.2113 4.15229C19.8941 4.85824 19.9297 7.86871 19.9297 7.86871Z" fill="white" stroke="#C7E7DC" stroke-width="1.2" stroke-miterlimit="2.61313" stroke-linecap="round" stroke-linejoin="round"/>
                <path fill-rule="evenodd" clip-rule="evenodd" d="M8.51348 26.1929C8.51348 26.1929 8.54912 23.1825 11.2319 22.4765C11.2319 22.4765 8.55605 21.7725 8.51348 18.7601C8.51249 18.7105 8.51249 18.6609 8.51348 18.6104C8.51447 18.6609 8.51447 18.7115 8.51348 18.7601C8.47091 21.7715 5.79509 22.4765 5.79509 22.4765C8.47784 23.1825 8.51348 26.1929 8.51348 26.1929Z" fill="white" stroke="#C7E7DC" stroke-width="1.2" stroke-miterlimit="2.61313" stroke-linecap="round" stroke-linejoin="round"/>
                <path fill-rule="evenodd" clip-rule="evenodd" d="M3.00976 8.90143C3.00976 8.90143 3.0454 5.89095 5.72815 5.18501C5.72815 5.18501 3.05233 4.48101 3.00976 1.46859C3.00877 1.419 3.00877 1.36941 3.00976 1.31885C3.01075 1.36941 3.01075 1.41997 3.00976 1.46859C2.96719 4.48004 0.291367 5.18501 0.291367 5.18501C2.97412 5.89095 3.00976 8.90143 3.00976 8.90143Z" fill="white" stroke="#C7E7DC" stroke-width="1.2" stroke-miterlimit="2.61313" stroke-linecap="round" stroke-linejoin="round"/>
                </g>
                <defs>
                <clipPath id="clip0_4109_5043">
                <rect width="40" height="39" fill="white"/>
                </clipPath>
                </defs>
              </svg>
                <p>Reduces fine <br>lines & wrinkles</p>
            </div>
            <div class="icon-main">
              <svg width="44" height="37" viewBox="0 0 44 37" fill="none" xmlns="http://www.w3.org/2000/svg">
                <g clip-path="url(#clip0_4109_5050)">
                <path fill-rule="evenodd" clip-rule="evenodd" d="M17.3078 30.8362C18.6368 31.5083 20.1381 31.8872 21.728 31.8872L21.7358 31.8872L21.7436 31.8872C23.3335 31.8872 24.8349 31.5083 26.1638 30.8362L26.1615 30.8292C29.3592 29.2065 31.551 25.8841 31.551 22.0483C31.551 21.8188 31.5417 21.5924 31.5269 21.3676L31.5277 21.3676C31.5277 21.3676 31.5308 21.3443 31.5331 21.2968L31.5487 21.2937C31.5782 20.6807 31.4205 16.0055 21.7436 1.90137L21.7358 1.91226L21.728 1.90137C12.0511 16.0055 11.8934 20.6807 11.9229 21.2937L11.9385 21.2968C11.9408 21.3443 11.9439 21.3676 11.9439 21.3676L11.9447 21.3676C11.9291 21.5924 11.9206 21.8188 11.9206 22.0483C11.9206 25.8841 14.1125 29.2065 17.3101 30.8292L17.3078 30.8362Z" fill="white" stroke="#C7E7DC" stroke-width="1.2" stroke-miterlimit="2.61313" stroke-linecap="round" stroke-linejoin="round"/>
                <path d="M21.5623 28.2499C18.0431 28.2499 15.1894 25.3919 15.1894 21.8672" stroke="#C7E7DC" stroke-width="1.2" stroke-miterlimit="2.61313" stroke-linecap="round" stroke-linejoin="round"/>
                <path d="M36.5 17.5273C35.1192 17.5273 34 16.406 34 15.0234" stroke="#C7E7DC" stroke-width="1.2" stroke-miterlimit="2.61313" stroke-linecap="round" stroke-linejoin="round"/>
                <path fill-rule="evenodd" clip-rule="evenodd" d="M34.6466 18.4854C35.0525 18.7051 35.5117 18.8293 35.9975 18.8293L36.0002 18.8293L36.0029 18.8293C36.4887 18.8293 36.9479 18.7051 37.3539 18.4854L37.3528 18.4831C38.3299 17.952 38.9999 16.8644 38.9999 15.6089C38.9999 15.5337 38.9972 15.4597 38.9923 15.3862L38.9928 15.3862C38.9928 15.3862 38.9939 15.3786 38.9945 15.3629L38.9993 15.3617C39.0086 15.1612 38.9602 13.6306 36.0024 9.01416L36.0002 9.01766L35.998 9.01416C33.0402 13.6312 32.9918 15.1612 33.0011 15.3617L33.006 15.3629C33.0065 15.3786 33.0076 15.3862 33.0076 15.3862C33.0027 15.4597 33 15.5343 33 15.6089C33 16.8644 33.67 17.952 34.6471 18.4831L34.646 18.4854L34.6466 18.4854Z" stroke="#C7E7DC" stroke-width="1.2" stroke-miterlimit="2.61313" stroke-linecap="round" stroke-linejoin="round"/>
                <path d="M8.3755 33.2655C7.14287 33.2655 6.14326 32.2643 6.14326 31.0298" stroke="#C7E7DC" stroke-width="1.2" stroke-miterlimit="2.61313" stroke-linecap="round" stroke-linejoin="round"/>
                <path fill-rule="evenodd" clip-rule="evenodd" d="M6.88535 34.1716C7.3506 34.4066 7.87642 34.5396 8.4341 34.5396L8.4372 34.5396L8.44031 34.5396C8.99721 34.5396 9.52304 34.4066 9.98828 34.1716L9.98751 34.1693C11.1075 33.6006 11.8757 32.4369 11.8757 31.0935C11.8757 31.0133 11.8726 30.934 11.8671 30.8554C11.8671 30.8554 11.8687 30.8476 11.8695 30.8305L11.8749 30.8298C11.885 30.6151 11.8298 28.9776 8.44031 24.0371L8.43798 24.041L8.43565 24.0371C5.04612 28.9776 4.99097 30.6151 5.00107 30.8298L5.0065 30.8305C5.00728 30.8469 5.00883 30.8554 5.00883 30.8554C5.0034 30.934 5.00029 31.0133 5.00029 31.0935C5.00029 32.4369 5.76845 33.6006 6.88846 34.1693L6.88768 34.1716L6.88535 34.1716Z" stroke="#C7E7DC" stroke-width="1.2" stroke-miterlimit="2.61313" stroke-linecap="round" stroke-linejoin="round"/>
                <path fill-rule="evenodd" clip-rule="evenodd" d="M10.132 17.4565C10.7122 17.7498 11.3685 17.9155 12.0629 17.9155L12.0668 17.9155L12.0707 17.9155C12.765 17.9155 13.4214 17.7498 14.0016 17.4565L14 17.4534C15.3965 16.7448 16.3542 15.2932 16.3542 13.6176C16.3542 13.5172 16.3503 13.4185 16.3433 13.3204L16.3441 13.3204C16.3441 13.3204 16.3457 13.3103 16.3464 13.2893L16.3534 13.2878C16.3666 13.0202 16.2975 10.9774 12.0699 4.81641L12.0668 4.82107L12.0637 4.81641C7.83609 10.9782 7.76696 13.0202 7.78016 13.2878L7.78715 13.2893C7.78793 13.3103 7.78948 13.3204 7.78948 13.3204C7.78249 13.4185 7.77861 13.518 7.77861 13.6176C7.77861 15.2932 8.73629 16.7448 10.1328 17.4534L10.1312 17.4565L10.132 17.4565Z" fill="white" stroke="#C7E7DC" stroke-width="1.2" stroke-miterlimit="2.61313" stroke-linecap="round" stroke-linejoin="round"/>
                <path d="M11.9899 16.3271C10.452 16.3271 9.20542 15.0785 9.20542 13.5391" stroke="#C7E7DC" stroke-width="1.2" stroke-miterlimit="2.61313" stroke-linecap="round" stroke-linejoin="round"/>
                <path d="M31.5853 30.8254C33.3385 30.8254 34.7597 29.402 34.7597 27.6461C34.7597 25.8902 33.3385 24.4668 31.5853 24.4668C29.8322 24.4668 28.4109 25.8902 28.4109 27.6461C28.4109 29.402 29.8322 30.8254 31.5853 30.8254Z" fill="white" stroke="#C7E7DC" stroke-width="1.2" stroke-miterlimit="2.61313" stroke-linecap="round" stroke-linejoin="round"/>
                <path d="M3.82783 20.2204C5.21037 20.2204 6.33114 19.0979 6.33114 17.7132C6.33114 16.3286 5.21037 15.2061 3.82783 15.2061C2.44528 15.2061 1.32451 16.3286 1.32451 17.7132C1.32451 19.0979 2.44528 20.2204 3.82783 20.2204Z" fill="white" stroke="#C7E7DC" stroke-width="1.2" stroke-miterlimit="2.61313" stroke-linecap="round" stroke-linejoin="round"/>
                <path d="M41.7496 19.6024C42.5595 19.6024 43.216 18.9448 43.216 18.1337C43.216 17.3226 42.5595 16.665 41.7496 16.665C40.9397 16.665 40.2832 17.3226 40.2832 18.1337C40.2832 18.9448 40.9397 19.6024 41.7496 19.6024Z" fill="white" stroke="#C7E7DC" stroke-width="1.2" stroke-miterlimit="2.61313" stroke-linecap="round" stroke-linejoin="round"/>
                <path d="M27.6732 5.53899C28.8794 5.53899 29.8572 4.55963 29.8572 3.35152C29.8572 2.14342 28.8794 1.16406 27.6732 1.16406C26.4669 1.16406 25.4891 2.14342 25.4891 3.35152C25.4891 4.55963 26.4669 5.53899 27.6732 5.53899Z" fill="white" stroke="#C7E7DC" stroke-width="1.2" stroke-miterlimit="2.61313" stroke-linecap="round" stroke-linejoin="round"/>
                <path d="M37.7073 29.8041C38.5172 29.8041 39.1738 29.1465 39.1738 28.3354C39.1738 27.5242 38.5172 26.8667 37.7073 26.8667C36.8975 26.8667 36.2409 27.5242 36.2409 28.3354C36.2409 29.1465 36.8975 29.8041 37.7073 29.8041Z" fill="white" stroke="#C7E7DC" stroke-width="1.2" stroke-miterlimit="2.61313" stroke-linecap="round" stroke-linejoin="round"/>
                <path d="M14.1864 35.3426C14.9963 35.3426 15.6529 34.6851 15.6529 33.874C15.6529 33.0628 14.9963 32.4053 14.1864 32.4053C13.3766 32.4053 12.72 33.0628 12.72 33.874C12.72 34.6851 13.3766 35.3426 14.1864 35.3426Z" fill="white" stroke="#C7E7DC" stroke-width="1.2" stroke-miterlimit="2.61313" stroke-linecap="round" stroke-linejoin="round"/>
                </g>
                <defs>
                <clipPath id="clip0_4109_5050">
                <rect width="44" height="36.0556" fill="white"/>
                </clipPath>
                </defs>
              </svg>
              <p>Boosts <br>hydration</p>
            </div>
          </div>
          <div class="formula-dropdown">
            <h5 class="accordion__title">What can it do for your skin 
              <svg width="16" height="10" viewBox="0 0 16 10" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path opacity="0.8" d="M15 1L8 8L1 1" stroke="black" stroke-width="1.5" stroke-linecap="round"/>
              </svg>
            </h5>
            <div class="accordion__panel">
                <div class="accordion__panel-text">
                  <p>Reveals a <b>smoother, evenly radiant</b> complexion, generating a glow effect. Reduction of fine lines, dark spot brightening, and wrinkle-combatting properties restores youthful skin.</p>
                  <p><b>Skin Concerns:</b> Fine lines and wrinkles, rough texture, dark spots, dryness.</p>
                  <ul>
                  <li>Fades dark spots, improves skin tone and brightens dull skin</li>
                  <li>Fine lines and wrinkles look smoother, skin appears noticeably more lifted and firmer.</li>
                  <li>Repairs sun damaged skin for luminous, healthier skin with a radiant glow</li>
                  </ul>
                </div>
            </div>
             <h5 class="accordion__title last-title">Clinical research 
               <svg width="16" height="10" viewBox="0 0 16 10" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path opacity="0.8" d="M15 1L8 8L1 1" stroke="black" stroke-width="1.5" stroke-linecap="round"/>
               </svg>
             </h5>
            <div class="accordion__panel">
                <div class="accordion__panel-text">
                   <span>In a clinical study....</span>
                  <p>...Participants saw improvement in wrinkles, pigmentation, skin tone, overall brightness and skin moistness.</p>
                  <p class="small-txt"><b>Citations...</b><br>
                  Draelos, Z. (2016). The Effect of a Combination of Recombinant EGF Cosmetic Serum And A Crosslinked Hyaluronic Acid Serum As Compared To A Fibroblast-Conditioned Media Serum On The Appearance Of Aging Skin. Journal Of Drugs In Dermatology.</p>
                  <p class="small-txt"> Laato, M. (1987). Epidermal Growth Factor Increases Collagen Production In Granulation Tissue By Stimulation Of Fibroblast Proliferation And Not By Activation Of Procollagen Genes. Biochem Journal. </p>
                </div>
            </div>
             <h5 class="accordion__title last-title">All Ingredients 
               <svg width="16" height="10" viewBox="0 0 16 10" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path opacity="0.8" d="M15 1L8 8L1 1" stroke="black" stroke-width="1.5" stroke-linecap="round"/>
               </svg>
            </h5>
            <div class="accordion__panel">
                <div class="accordion__panel-text">
                  <p>Fragrance-free, Alcohol-Free, Paraben-Free. Vegan. No Preservatives Added. </p>
                  <p><b>Epidermal Growth Factor (EGF):</b><br>
                  Works at a cellular level to repair and rejuvenate skin. Reduces appearance of wrinkles, improves hydration, and prevents pigmentation.
                  </p><p><b>Other ingredients: </b><br>
                  Niacinamide: Derm-approved superstar ingredient that helps with most skin concerns from soothing to  brightening and clarifying, and reducing fine lines and wrinkles. </p>
                  <p><b>Butylene Glycol:</b> Expert-backed hydrator that improves penetration to help it perform more effectively.</p>
                  <p><b>Glycerin:</b> Replenishes moisture skin loses into the deeper layers of the dermis and makes skin appear dewy.</p>
                  <p><b>All ingredients:</b><br>
                  Rosa Damascena Flower Water, Butylene Glycol, Panthenol, Glycerin, Niacinamide, 1,2-Hexanediol, Allantoin, Sodium Hyaluronate, sh-Oligopeptide-1, Carbomer, Arginine,  Ethylhexylglycerin.</p>
                </div>
            </div>
          </div>
        </div> 
      </div>
      <div class="col-md-5">
        <div class="formulated-img">
          <img src="https://cdn.shopify.com/s/files/1/0441/1431/3365/files/mi-serum-gif-02.gif?v=1681128022" alt="">
        </div>
      </div>
    </div>
  </div>
</div>
{% schema %}
  {
    "name": "Section name",
    "settings": []
  }
{% endschema %}