<!-- -- main banner start -- -->
<div class="refill_bl pt-0 tabSlider">
		<div class="container">
				<div class="row">
						<div class="col-md-6 order-2 order-md-1">
								<div class="refill_info pt-0 pt-md-3">
										<div class="section_header text-start">
												<h2 class="title-xl">The quickest, easiest,<br>
														most convenient way to get “Red Carpet ready” skin</h2>
										</div>
										<div class="refill_review">
												<div class="star_gp">
														<svg xmlns="http://www.w3.org/2000/svg" width="115" height="18" viewBox="0 0 115 18"
																fill="none">
																<path fill-rule="evenodd" clip-rule="evenodd"
																		d="M105.012 0.386446L107.07 6.36859L113.498 6.44168C114.051 6.448 114.28 7.14025 113.836 7.46424L108.679 11.234L110.595 17.2611C110.759 17.7798 110.16 18.2071 109.709 17.8929L104.465 14.2405L99.22 17.8922C98.7692 18.2064 98.1695 17.7784 98.3341 17.2604L100.25 11.2333L95.0923 7.46353C94.6486 7.13955 94.8776 6.4473 95.4308 6.44098L101.859 6.36788L103.917 0.385743C104.094 -0.128698 104.835 -0.128698 105.012 0.386446Z"
																		fill="#008763" />
																<path fill-rule="evenodd" clip-rule="evenodd"
																		d="M81.5317 0.386446L83.5891 6.36859L90.0175 6.44168C90.5706 6.448 90.7996 7.14025 90.3559 7.46424L85.1985 11.234L87.1142 17.2611C87.2788 17.7798 86.6798 18.2071 86.2283 17.8929L80.9843 14.2405L75.7395 17.8922C75.2887 18.2064 74.689 17.7784 74.8536 17.2604L76.7693 11.2333L71.6119 7.46353C71.1682 7.13955 71.3972 6.4473 71.9503 6.44098L78.3787 6.36788L80.4361 0.385743C80.6136 -0.128698 81.3549 -0.128698 81.5317 0.386446Z"
																		fill="#008763" />
																<path fill-rule="evenodd" clip-rule="evenodd"
																		d="M58.0454 0.386446L60.1028 6.36859L66.5311 6.44168C67.0843 6.448 67.3133 7.14025 66.8696 7.46424L61.7122 11.234L63.6279 17.2611C63.7925 17.7798 63.1935 18.2071 62.742 17.8929L57.4979 14.2405L52.2532 17.8922C51.8024 18.2064 51.2027 17.7784 51.3673 17.2604L53.283 11.2333L48.1255 7.46353C47.6818 7.13955 47.9108 6.4473 48.464 6.44098L54.8924 6.36788L56.9498 0.385743C57.1272 -0.128698 57.8686 -0.128698 58.0454 0.386446Z"
																		fill="#008763" />
																<path fill-rule="evenodd" clip-rule="evenodd"
																		d="M34.5649 0.386446L36.6223 6.36859L43.0507 6.44168C43.6038 6.448 43.8328 7.14025 43.3892 7.46424L38.2317 11.234L40.1474 17.2611C40.312 17.7798 39.713 18.2071 39.2615 17.8929L34.0175 14.2405L28.7727 17.8922C28.3219 18.2064 27.7222 17.7784 27.8868 17.2604L29.8025 11.2333L24.6451 7.46353C24.2014 7.13955 24.4304 6.4473 24.9835 6.44098L31.4119 6.36788L33.4693 0.385743C33.6468 -0.128698 34.3882 -0.128698 34.5649 0.386446Z"
																		fill="#008763" />
																<path fill-rule="evenodd" clip-rule="evenodd"
																		d="M11.0835 0.386446L13.1409 6.36859L19.5692 6.44168C20.1224 6.448 20.3514 7.14025 19.9077 7.46424L14.7503 11.234L16.666 17.2611C16.8306 17.7798 16.2316 18.2071 15.78 17.8929L10.536 14.2405L5.29128 17.8922C4.84044 18.2064 4.24076 17.7784 4.40535 17.2604L6.32105 11.2333L1.16361 7.46353C0.719933 7.13955 0.948929 6.4473 1.5021 6.44098L7.93047 6.36788L9.98786 0.385743C10.1653 -0.128698 10.9067 -0.128698 11.0835 0.386446Z"
																		fill="#008763" />
														</svg>
												</div>
												<p class="text-sm fw-normal" style="text-decoration: none;">4.8/5 Based on 43,893 Users
												</p>
										</div>
										<a class="mt-4 mb-2 mt-md-5 mt-md-3 btn btn-lg btn-primary" href="#productSubscription">GET
												SMOOTHER,
												GLOWING
												SKIN <span class="d-none d-md-inline">NOW</span>
										</a>
										<div class="ss_list mw-452 py-4">
												<ul>
														<li><b>Smooths</b> fine lines, <b>reforms</b> skin texture, <b>brightens</b> skin
														</li>
														<li><b>Easy</b> 5-minute facial, <b>customized</b> to your skin for immediately
																visible results</li>
														<li><b>No downtime,</b> virtually <b>painless &amp; safe</b> to perform
																<b>conveniently</b> from home
														</li>
												</ul>
										</div>
										<div class="see_work swiper-slide video_popup mw-452">
												<img src="https://qureskincaredns.com/assets/images/refill-banner/see_work.png" alt="">
												<div class="play_btn">
														<a class="popup-youtube"
																href="https://cdn.shopify.com/videos/c/o/v/ceec5349f67d4c0787fe34201dfe5300.mp4"><span><svg
																				xmlns="http://www.w3.org/2000/svg" width="44" height="44"
																				viewBox="0 0 44 44" fill="none">
																				<path
																						d="M22.2918 0.391602C10.334 0.391602 0.59375 10.0735 0.59375 21.9596C0.59375 33.8457 10.334 43.5276 22.2918 43.5276C34.2496 43.5276 43.9898 33.8457 43.9898 21.9596C43.9898 10.0735 34.2496 0.391602 22.2918 0.391602ZM22.2918 4.7052C31.9043 4.7052 39.6502 12.4047 39.6502 21.9596C39.6502 31.5145 31.9043 39.214 22.2918 39.214C12.6793 39.214 4.93336 31.5145 4.93336 21.9596C4.93336 12.4047 12.6793 4.7052 22.2918 4.7052ZM17.9522 14.4866V29.4326L30.971 21.9596L17.9522 14.4866Z"
																						fill="white" />
																		</svg>
																		<h6>See How It Works</h6>
																</span></a>
												</div>
										</div>
								</div>
						</div>
						<div class="col-md-6  order-1 order-md-2">
								<div class="refill_slider mw-mob-100">
										<div class="refill_s_tab_content">
												<div class="tab-content" id="pills-tabContent">
														<div class="tab-pane fade show active" id="pills-home" role="tabpanel"
																aria-labelledby="pills-home-tab">
																<div class="swiper productSlider dot_pagination">
																		<div class="swiper-wrapper">
																				<div class="swiper-slide">
																						<a class="banner-popup-link"
																								href="https://qureskincaredns.com/_sunil_mi-landing-new/assets/images/refill-banner/refill_tab/r_tab_1.png">
																								<img loading="eager" src="https://qureskincaredns.com/_sunil_mi-landing-new/assets/images/refill-banner/refill_tab/r_tab_1.png"
																										alt="" class="img-fluid tab_img">
																						</a>
																				</div>
																				<div class="swiper-slide video_popup">
																						<a class="popup-youtube"
																								href="https://cdn.shopify.com/videos/c/o/v/71857fdec6b0497294117ed84cab480e.mp4">
																								<img src="https://qureskincaredns.com/_sunil_mi-landing-new/assets/images/refill-banner/refill_tab/r_tab_6.png"
																										alt="" class="img-fluid tab_img">

																						</a>
																				</div>
																				<div class="swiper-slide">
																						<a class="banner-popup-link"
																								href="https://qureskincaredns.com/_sunil_mi-landing-new/assets/images/refill-banner/refill_tab/r_tab_4.png">
																								<img src="https://qureskincaredns.com/_sunil_mi-landing-new/assets/images/refill-banner/refill_tab/r_tab_4.png"
																										alt="" class="img-fluid tab_img">
																						</a>
																				</div>
																				<div class="swiper-slide">
																						<a class="banner-popup-link"
																								href="https://qureskincaredns.com/_sunil_mi-landing-new/assets/images/refill-banner/refill_tab/r_tab_3.png">
																								<img src="https://qureskincaredns.com/_sunil_mi-landing-new/assets/images/refill-banner/refill_tab/r_tab_3.png"
																										alt="" class="img-fluid tab_img">
																						</a>
																				</div>
																				<div class="swiper-slide">
																						<a class="banner-popup-link"
																								href="https://qureskincaredns.com/_sunil_mi-landing-new/assets/images/refill-banner/refill_tab/r_tab_2.png">
																								<img src="https://qureskincaredns.com/_sunil_mi-landing-new/assets/images/refill-banner/refill_tab/r_tab_2.png"
																										alt="" class="img-fluid tab_img">
																						</a>
																				</div>
																				<div class="swiper-slide">
																						<a class="banner-popup-link"
																								href="https://qureskincaredns.com/_sunil_mi-landing-new/assets/images/refill-banner/refill_tab/r_tab_5.png">
																								<img src="https://qureskincaredns.com/_sunil_mi-landing-new/assets/images/refill-banner/refill_tab/r_tab_5.png"
																										alt="" class="img-fluid tab_img">
																						</a>
																				</div>

																		</div>
																		<div class="swiper-pagination"></div>
																</div>
														</div>
														<div class="tab-pane fade" id="pills-profile" role="tabpanel"
																aria-labelledby="pills-profile-tab">
																<div class="swiper realResultSlider dot_pagination">
																		<div class="swiper-wrapper">
																				<div class="swiper-slide">
																						<a class="banner-popup-link"
																								href="https://qureskincaredns.com/_sunil_mi-landing-new/assets/images/refill-banner/refill_tab/r_tab_7_n.png">
																								<img src="https://qureskincaredns.com/_sunil_mi-landing-new/assets/images/refill-banner/refill_tab/r_tab_7.png"
																										alt="" class="img-fluid tab_img1">
																						</a>
																				</div>
																				<div class="swiper-slide">
																						<a class="banner-popup-link"
																								href="https://qureskincaredns.com/_sunil_mi-landing-new/assets/images/refill-banner/refill_tab/r_tab_8_n.png">
																								<img src="https://qureskincaredns.com/_sunil_mi-landing-new/assets/images/refill-banner/refill_tab/r_tab_8.png"
																										alt="" class="img-fluid tab_img1">
																						</a>
																				</div>
																				<div class="swiper-slide">
																						<a class="banner-popup-link"
																								href="https://qureskincaredns.com/_sunil_mi-landing-new/assets/images/refill-banner/refill_tab/r_tab_9_n.png">
																								<img src="https://qureskincaredns.com/_sunil_mi-landing-new/assets/images/refill-banner/refill_tab/r_tab_9.png"
																										alt="" class="img-fluid tab_img1">
																						</a>
																				</div>
																		</div>
																		<div class="swiper-pagination"></div>
																</div>
														</div>
												</div>
										</div>
										<div class="refill_s_tab">
												<ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
														<li class="nav-item" role="presentation">
																<button class="nav-link active" id="pills-home-tab" data-bs-toggle="pill"
																		data-bs-target="#pills-home" type="button" role="tab"
																		aria-controls="pills-home" aria-selected="true">Product</button>
														</li>
														<li class="nav-item" role="presentation">
																<button class="nav-link d-none d-md-block" id="pills-profile-tab"
																		data-bs-toggle="pill" data-bs-target="#pills-profile" type="button"
																		role="tab" aria-controls="pills-profile" aria-selected="false">Real
																		Results</button>
																<button class="nav-link d-block d-md-none" id="pills-profile-tab"
																		data-bs-toggle="pill" data-bs-target="#pills-profile" type="button"
																		role="tab" aria-controls="pills-profile" aria-selected="false">See Real
																		Results</button>
														</li>
												</ul>
										</div>
								</div>
						</div>
				</div>
		</div>
</div>
<!-- -- main banner end -- -->

<!-- -- press slider start -- -->
<div class="press_bl press_bl_4">
		<div class="container">
				<div class="row align-items-center">
						<div class="col-lg-2">
								<div class="p_bl_header">
										<p>FEATURED IN</p>
								</div>

						</div>
						<div class="col-lg-10">
								<div class="swiper press_slider_4">
										<div class="swiper-wrapper ps_wrapper">
												<div class="swiper-slide">
														<div class="ps_item">
																<img src="https://qureskincaredns.com/assets/images/press-slider/bazaar.png" alt="" class="img-fluid">
														</div>
												</div>
												<div class="swiper-slide">
														<div class="ps_item">
																<img src="https://qureskincaredns.com/assets/images/press-slider/cosmopolitan.png" alt="" class="img-fluid">
														</div>
												</div>
												<div class="swiper-slide">
														<div class="ps_item">
																<img src="https://qureskincaredns.com/assets/images/press-slider/elle.png" alt="" class="img-fluid">
														</div>
												</div>
												<div class="swiper-slide">
														<div class="ps_item">
																<img src="https://qureskincaredns.com/assets/images/press-slider/glamour.png" alt="" class="img-fluid">
														</div>
												</div>
												<div class="swiper-slide">
														<div class="ps_item">
																<img src="https://qureskincaredns.com/assets/images/press-slider/grazia.png" alt="" class="img-fluid">
														</div>
												</div>
										</div>
								</div>
						</div>

				</div>
		</div>
</div>
<!-- -- press slider end -- -->

<!-- -- image with text start -- -->
<div class="imageText buzz_about p-0">
		<div class="container">
				<div class="row align-items-center">
						<div class="col-12 col-md-6 order-2 order-md-1">
								<div class="it_img">
										<img src="https://www.qureskincare.com/cdn/shop/files/microinfusion-02_large_14da63bc-4c1b-473f-992c-9f7a478f1714_large.webp?v=1673595704"
												alt="" class="img-fluid">
								</div>
						</div>
						<div class="col-12 col-md-6 order-1 order-md-2">
								<div class="secret_grid_wrap ps-0 ps-md-5">
										<h2 class="title-lg paddingB d-none d-md-block">Unlock Dermatologist's <br>best kept secret
										</h2>
										<div class="secret_grid">
												<img src="https://qureskincaredns.com/_sunil_mi-landing-new/assets/images/imageText/unlock.png" alt=""
														class="img-fluid">
												<div class="secret_grid_info">
														<h6>1,000s of women are canceling their expensive facial appointments.
														</h6>
														<p>Estheticians blame this one at - home treatment.</p>
												</div>
										</div>

								</div>
						</div>

				</div>
		</div>
</div>
<!-- -- image with text end -- -->

<!-- -- image with text start -- -->
<div class="imageText section">
		<div class="container">
				<div class="hollywood_skin">
						<div class="row">
								<div class="col-12 col-md-7 order-2 order-md-1">
										<div class="it_info p-0 pe-md-5">
												<h2 class="title-lg d-none d-md-block mb-4 mw-546">“Hollywood” skin is finally
														accessible
														without the a-list budget</h2>
												<div class="mw-546">
														<p>Have you ever wondered how your skin would look and feel if you had access to the
																most advanced treatments? </p>

														<p>The ones that only the “rich and famous” can afford, performed by the best
																dermatologists, only available at exclusive clinics.<br>
																<strong>Now you can find out!</strong>
														</p>
												</div>
										</div>
								</div>
								<div class="col-12 col-md-5 order-1 order-md-2">
										<h2 class="title-lg d-block d-md-none text-left mb-3">“Hollywood” skin is finally accessible
												without the a-list budget</h2>
										<div class="it_img pb-4 pb-md-0">
												<img src="https://qureskincaredns.com/_sunil_mi-landing-new/assets/images/imageText/carpet_2.png" alt=""
														class="img-fluid">
												<p>On Photo: Kourtney K</p>
										</div>
								</div>
						</div>
				</div>
		</div>
</div>
<!-- -- image with text end -- -->

<!-- -- image with text start -- -->
<div class="imageText section">
		<div class="container">
				<div class="hollywood_skin mt-0">
						<div class="row align-items-center">
								<div class="col-12 col-md-6">
										<h2 class="title-lg d-block d-md-none text-left mb-3 mw-327">Go to skin booster for
												confident Make
												up
												free days</h2>
										<div class="it_img pb-3 pb-md-0">
												<div class="it_img_grid pe-0 pe-md-3">
														<img src="https://qureskincaredns.com/_sunil_mi-landing-new/assets/images/imageText/hollywood_skin_bf.png"
																alt="" class="img-fluid">
														<img src="https://qureskincaredns.com/_sunil_mi-landing-new/assets/images/imageText/hollywood_skin_af.png"
																alt="" class="img-fluid">
												</div>
												<p>On Photo: Results after 6th treatment</p>
										</div>
								</div>
								<div class="col-12 col-md-6">
										<div class="it_info p-0 ps-md-4">
												<h2 class="title-lg d-none d-md-block mb-4">Go to skin booster for confident<br>Make up
														free days</h2>
												<p>Micro-infusion – <strong>the favorite skin treatment of stars like Kourtney
																K.</strong> – is finally accessible to the general public. </p>

												<p>Now you too can experience <strong>the luxurious facial that celebrities use the day
																before big
																events to help clear complexion, smooth texture, and get a ‘red carpet’ ready
																glow.</strong> </p>

												<p>The best part? You can enjoy it for a <strong>fraction of the cost in the comfort of
																your home,</strong>
														with no downtime. Women can’t get enough of this treatment!</p>
										</div>
								</div>
						</div>
				</div>
		</div>
</div>
<!-- -- image with text end -- -->

<!-- -- image with text start -- -->
<div class="available_bar bg_Darkgreen">
		<p class="d-none d-md-block">THE ONLY FACIAL TREATMENT YOUR SKIN NEEDS</p>
		<p class="d-block d-md-none">THE ONLY FACIAL TREATMENT YOU WILL EVER NEED</p>
</div>
<div class="main_banner section pt-0 pt-md-2">
		<div class="container">
				<div class="row">
						<div class="col-12 col-md-6 order-2 order-md-1">
								<div class="mb_contents text-start pt-3 mw-486">
										<h2 class="title-lg pb-2 text-start opacity-8 mw-359">Introducing the Qure Micro-Infusion
												System</h2>
										<div class="star text-start">
												<img src="https://qureskincaredns.com/assets/images/refill-banner/star-gp.svg" alt="" class="img-fluid">
										</div>
										<p class="py-3 text-start">Clinics, Dermatologists, and Celebrities Agree
												<strong>– It REALLY Works</strong>
										</p>
										<div class="ss_list">
												<ul>
														<li>Stimulate <strong>collagen</strong> production</li>
														<li>Rejuvenated, <strong>glowing</strong> complexion</li>
														<li>Plump and <strong>brighten </strong>dull skin</li>
														<li>Help fade appearance of dark spots and <strong>smooth texture</strong></li>
														<li><strong>Smoother</strong> fine lines with consistent treatments</li>
												</ul>
										</div>

										<a href="#productSubscription" class="mt-4 btn btn-lg btn-primary">BUY NOW &amp; SAVE UP TO
												43%</a>
								</div>
						</div>
						<div class="col-12 col-md-6 order-1 order-md-2">
								<div class="it_img mw-mob-100">
										<img src="https://qureskincaredns.com/_sunil_mi-landing-new/assets/images/imageText/micro_grid.png" alt=""
												class="img-fluid">
								</div>
						</div>
				</div>
		</div>
</div>
<!-- -- image with text end -- -->

<!-- -- featured promotion start -- -->
<div class="featured_promotion bg-white">
		<div class="container">
				<div class="fp-wrapper">
						<div class="fp_item">
								<div class="fp_icon">
										<svg xmlns="http://www.w3.org/2000/svg" width="42" height="35" viewBox="0 0 42 35"
												fill="none">
												<g opacity="0.8">
														<path fill-rule="evenodd" clip-rule="evenodd"
																d="M21.6116 6H24.4315V25.1755H16.8332C16.2692 22.9196 14.5276 21.2276 11.4536 21.2276C8.37957 21.2276 6.63802 22.9196 6.07404 25.1755H5.25595C5.25595 25.1755 5.25595 25.1755 5.25595 24.6116C5.25595 23.4836 4.12797 21.7916 3 21.2276V6L21.6116 6Z"
																stroke="black" stroke-width="1.5" stroke-miterlimit="2.61313"
																stroke-linecap="round" stroke-linejoin="round" />
														<path fill-rule="evenodd" clip-rule="evenodd"
																d="M11.4596 23.7822C13.1515 23.7822 14.2795 24.9102 14.2795 26.6022C14.2795 28.2941 13.1515 29.4221 11.4596 29.4221C9.76762 29.4221 8.63965 28.2941 8.63965 26.6022C8.63965 24.9102 9.76762 23.7822 11.4596 23.7822Z"
																stroke="black" stroke-width="1.5" stroke-miterlimit="2.61313"
																stroke-linecap="round" stroke-linejoin="round" />
														<path fill-rule="evenodd" clip-rule="evenodd"
																d="M33.982 23.7822C35.674 23.7822 36.802 24.9102 36.802 26.6022C36.802 28.2941 35.674 29.4221 33.982 29.4221C32.2901 29.4221 31.1621 28.2941 31.1621 26.6022C31.1621 24.9102 32.2901 23.7822 33.982 23.7822Z"
																stroke="black" stroke-width="1.5" stroke-miterlimit="2.61313"
																stroke-linecap="round" stroke-linejoin="round" />
														<path fill-rule="evenodd" clip-rule="evenodd"
																d="M28.1568 10.8105H34.9246L40.0005 17.0144V25.4742H39.1204C38.5564 23.2183 36.8149 21.5263 33.7966 21.5263C30.6668 21.5263 28.9253 23.2183 28.3613 25.4742H27.5928V10.8105H28.1568Z"
																stroke="black" stroke-width="1.5" stroke-miterlimit="2.61313"
																stroke-linecap="round" stroke-linejoin="round" />
														<path d="M40.0003 16.6738L28.1406 16.6738" stroke="black" stroke-width="1.5" />
														<path d="M30.5127 10.744L30.5127 16.6738" stroke="black" stroke-width="1.5" />
														<path d="M19.8389 6H3.23535V19.0457H19.8389V6Z" stroke="black" stroke-width="1.5"
																stroke-miterlimit="2.61313" stroke-linecap="round" stroke-linejoin="round" />
														<path
																d="M12.1067 14.3545L12.1077 14.3545C12.4701 14.3482 12.8203 14.2683 13.1521 14.1275L13.1521 14.1275L13.153 14.1271C13.5088 13.9678 13.8171 13.7533 14.0896 13.484L14.09 13.4836C14.3569 13.214 14.5763 12.8953 14.7363 12.5279C14.8966 12.1598 14.9797 11.7671 14.9797 11.3443C14.9797 10.9215 14.8966 10.5289 14.7363 10.1608C14.5764 9.79364 14.363 9.47492 14.09 9.19904L14.09 9.19903C13.8229 8.92914 13.5085 8.71468 13.153 8.55553L13.1527 8.55537C12.8022 8.40191 12.4278 8.32207 12.0415 8.32207C11.6552 8.32207 11.2866 8.40196 10.9362 8.55537C10.5864 8.70855 10.2717 8.92316 10.0045 9.19924C9.73166 9.47507 9.51827 9.79373 9.35842 10.1608C9.19809 10.5289 9.11504 10.9276 9.11504 11.3443C9.11504 11.7669 9.19804 12.1655 9.35243 12.5275L9.35242 12.5275L9.35286 12.5285C9.51843 12.8951 9.73172 13.2137 9.99887 13.4836C10.266 13.7534 10.5803 13.9678 10.9297 14.1269L10.9297 14.127L10.9307 14.1274C11.2154 14.2499 11.5064 14.3236 11.8209 14.3483C11.8763 14.3546 11.9497 14.356 12.0072 14.356C12.0365 14.356 12.0622 14.3556 12.0802 14.3553L12.1012 14.3547L12.1067 14.3545ZM12.7788 13.8886L12.7783 13.889C12.5776 14.0215 12.3308 14.0917 12.0415 14.0917C11.7574 14.0917 11.5116 14.0272 11.3122 13.8841L11.3122 13.884L11.31 13.8826C11.1023 13.7492 10.9327 13.557 10.8018 13.316L10.8018 13.316L10.8014 13.3152C10.6648 13.0741 10.5671 12.7842 10.5036 12.4445C10.4401 12.104 10.4053 11.7333 10.4053 11.3383C10.4053 10.9435 10.44 10.5729 10.5036 10.2325C10.5729 9.89252 10.6707 9.602 10.8021 9.35408C10.9326 9.10787 11.1021 8.92128 11.3109 8.78137L11.3109 8.78137L11.3114 8.78101C11.5117 8.64303 11.7581 8.57279 12.0474 8.57279C12.3362 8.57279 12.577 8.6428 12.7836 8.78119C12.9864 8.92097 13.1565 9.11382 13.2933 9.35531C13.4299 9.59634 13.5275 9.892 13.5851 10.2254L13.5851 10.2254L13.5852 10.2261C13.6488 10.5665 13.6836 10.9372 13.6836 11.3383C13.6836 11.7454 13.6488 12.1161 13.5853 12.4503L13.5852 12.4505C13.5218 12.7902 13.4241 13.0801 13.2875 13.3213L13.287 13.3221C13.1562 13.5631 12.9866 13.7552 12.7788 13.8887L12.7788 13.8886Z"
																fill="black" stroke="black" stroke-width="0.1" stroke-linecap="round"
																stroke-linejoin="round" />
														<path
																d="M14.9293 14.9814C14.9569 14.9814 14.9793 14.959 14.9793 14.9314V13.6895C14.9793 13.6618 14.9569 13.6395 14.9293 13.6395C14.5194 13.6395 14.1388 13.7254 13.7821 13.8913C13.4265 14.0567 13.1177 14.2775 12.8563 14.5598C12.5955 14.8416 12.3882 15.166 12.2343 15.5267L12.2343 15.5267L12.2339 15.5279C12.0974 15.8713 12.0263 16.2327 12.0145 16.6059L12.0145 16.6059V16.6074V16.6074V16.6075V16.6075V16.6075V16.6075V16.6075V16.6075V16.6075V16.6075V16.6075V16.6075V16.6075V16.6075V16.6075V16.6075V16.6075V16.6075V16.6076V16.6076V16.6076V16.6076V16.6076V16.6076V16.6076V16.6076V16.6077V16.6077V16.6077V16.6077V16.6077V16.6077V16.6078V16.6078V16.6078V16.6078V16.6078V16.6079V16.6079V16.6079V16.6079V16.608V16.608V16.608V16.608V16.6081V16.6081V16.6081V16.6081V16.6082V16.6082V16.6082V16.6082V16.6083V16.6083V16.6083V16.6084V16.6084V16.6084V16.6085V16.6085V16.6085V16.6086V16.6086V16.6086V16.6087V16.6087V16.6087V16.6088V16.6088V16.6089V16.6089V16.6089V16.609V16.609V16.6091V16.6091V16.6091V16.6092V16.6092V16.6093V16.6093V16.6094V16.6094V16.6095V16.6095V16.6096V16.6096V16.6096V16.6097V16.6097V16.6098V16.6098V16.6099V16.61V16.61V16.6101V16.6101V16.6102V16.6102V16.6103V16.6103V16.6104V16.6104V16.6105V16.6106V16.6106V16.6107V16.6107V16.6108V16.6108V16.6109V16.611V16.611V16.6111V16.6112V16.6112V16.6113V16.6113V16.6114V16.6115V16.6115V16.6116V16.6117V16.6117V16.6118V16.6119V16.6119V16.612V16.6121V16.6122V16.6122V16.6123V16.6124V16.6124V16.6125V16.6126V16.6127V16.6127V16.6128V16.6129V16.613V16.613V16.6131V16.6132V16.6133V16.6133V16.6134V16.6135V16.6136V16.6137V16.6137V16.6138V16.6139V16.614V16.6141V16.6142V16.6142V16.6143V16.6144V16.6145V16.6146V16.6147V16.6148V16.6148V16.6149V16.615V16.6151V16.6152V16.6153V16.6154V16.6155V16.6156V16.6157V16.6158V16.6158V16.6159V16.616V16.6161V16.6162V16.6163V16.6164V16.6165V16.6166V16.6167V16.6168V16.6169V16.617V16.6171V16.6172V16.6173V16.6174V16.6175V16.6176V16.6177V16.6178V16.6179V16.618V16.6181V16.6182V16.6183V16.6184V16.6186V16.6187V16.6188V16.6189V16.619V16.6191V16.6192V16.6193V16.6194V16.6195V16.6196V16.6198V16.6199V16.62V16.6201V16.6202V16.6203V16.6204V16.6206V16.6207V16.6208V16.6209V16.621V16.6211V16.6213V16.6214V16.6215V16.6216V16.6217V16.6219V16.622V16.6221V16.6222V16.6224V16.6225V16.6226V16.6227V16.6228V16.623V16.6231V16.6232V16.6234V16.6235V16.6236V16.6237V16.6239V16.624V16.6241V16.6243V16.6244V16.6245V16.6246V16.6248V16.6249V16.625V16.6252V16.6253V16.6254V16.6256V16.6257V16.6259V16.626V16.6261V16.6263V16.6264V16.6265V16.6267V16.6268V16.627V16.6271V16.6272V16.6274V16.6275V16.6277V16.6278V16.628V16.6281V16.6282V16.6284V16.6285V16.6287V16.6288V16.629V16.6291V16.6293V16.6294V16.6296V16.6297V16.6299V16.63V16.6302V16.6303V16.6305V16.6306V16.6308V16.6309V16.6311V16.6312V16.6314V16.6315V16.6317V16.6318V16.632V16.6322V16.6323V16.6325V16.6326V16.6328V16.6329V16.6331V16.6333V16.6334V16.6336V16.6337V16.6339V16.6341V16.6342V16.6344V16.6346V16.6347V16.6349V16.6351V16.6352V16.6354V16.6356V16.6357V16.6359V16.6361V16.6362V16.6364V16.6366V16.6367V16.6369V16.6371V16.6372V16.6374V16.6376V16.6378V16.6379V16.6381V16.6383V16.6385V16.6386V16.6388V16.639V16.6392V16.6393V16.6395V16.6397V16.6399V16.64V16.6402V16.6404V16.6406V16.6408V16.6409V16.6411V16.6413V16.6415V16.6417V16.6418V16.642V16.6422V16.6424V16.6426V16.6428V16.643V16.6431V16.6433V16.6435V16.6437V16.6439V16.6441V16.6443V16.6445V16.6446V16.6448V16.645V16.6452V16.6454V16.6456V16.6458V16.646V16.6462V16.6464V16.6466V16.6468V16.647V16.6471V16.6473V16.6475V16.6477V16.6479V16.6481V16.6483V16.6485V16.6487V16.6489V16.6491V16.6493V16.6495V16.6497V16.6499V16.6501V16.6503V16.6505V16.6507V16.6509V16.6512V16.6514V16.6516V16.6518V16.652V16.6522V16.6524V16.6526V16.6528V16.653V16.6532V16.6534V16.6536V16.6538V16.6541V16.6543V16.6545V16.6547V16.6549V16.6551V16.6553V16.6555V16.6558V16.656V16.6562V16.6564V16.6566V16.6568V16.6571V16.6573V16.6575V16.6577V16.6579V16.6581V16.6584V16.6586V16.6588V16.659V16.6592V16.6595V16.6597V16.6599V16.6601V16.6604V16.6606V16.6608V16.661V16.6612V16.6615V16.6617V16.6619V16.6621V16.6624V16.6626V16.6628V16.6631V16.6633V16.6635V16.6637V16.664V16.6642V16.6644V16.6647V16.6649V16.6651V16.6654V16.6656V16.6658V16.6661V16.6663V16.6665V16.6668V16.667V16.6672V16.6675V16.6677V16.6679V16.6682V16.6684V16.6687V16.6689V16.6691V16.6694V16.6696V16.6699V16.6701V16.6703V16.6706V16.6708V16.6711V16.6713V16.6716V16.6718V16.672V16.6723V16.6725V16.6728V16.673V16.6733V16.6735V16.6738C12.0145 16.7014 12.0368 16.7238 12.0645 16.7238H12.222C12.2496 16.7238 12.272 16.7014 12.272 16.6738C12.272 16.3801 12.3402 16.1242 12.4687 15.9163C12.598 15.7072 12.7841 15.5318 13.0174 15.3906C13.2575 15.2548 13.5382 15.1482 13.8598 15.0829C14.183 15.0173 14.5414 14.9814 14.9293 14.9814Z"
																fill="black" stroke="black" stroke-width="0.1" stroke-linecap="round"
																stroke-linejoin="round" />
												</g>
										</svg>
								</div>
								<div class="fp_icon_text">
										<p>Free Shipping </p>
										<p>Orders Over <span class="money">$100</span></p>
								</div>
						</div>
						<div class="fp_item">
								<div class="fp_icon">
										<svg xmlns="http://www.w3.org/2000/svg" width="36" height="35" viewBox="0 0 36 35"
												fill="none">
												<g opacity="0.8">
														<path
																d="M24.8284 18.9858C24.8284 23.7625 20.9681 27.5117 16.2053 27.5117C11.4286 27.5117 7.56836 23.6514 7.56836 18.8886C7.56836 14.7645 13.817 6.64131 16.2053 2.91992L22.3984 12.6677"
																stroke="black" stroke-width="1.5" stroke-miterlimit="2.61313"
																stroke-linecap="round" stroke-linejoin="round" />
														<path
																d="M26.8836 18.9306H21.1487L26.6475 10.8213L32.1602 18.9306H29.4385M29.3969 18.8889C29.3969 26.1651 23.4954 32.0804 16.2054 32.0804M16.2054 32.0804C8.91535 32.0804 3 26.1651 3 18.8889"
																stroke="black" stroke-width="1.5" stroke-miterlimit="2.61313"
																stroke-linecap="round" stroke-linejoin="round" />
														<path d="M3.41699 16.5137L3.66694 15.875" stroke="black" stroke-width="1.5"
																stroke-miterlimit="2.61313" stroke-linecap="round" stroke-linejoin="round" />
														<path d="M4.40234 14.0421L4.65229 13.4033" stroke="black" stroke-width="1.5"
																stroke-miterlimit="2.61313" stroke-linecap="round" stroke-linejoin="round" />
														<path
																d="M14.1363 21.0685C14.414 21.2906 14.9973 21.6794 15.8443 21.7627V22.3876C15.8443 22.5681 15.9415 22.6653 16.1498 22.6653H16.2331C16.4414 22.6653 16.5386 22.5542 16.5386 22.3459V21.7627C17.705 21.6239 18.3993 20.8046 18.3993 19.8187C18.3993 17.6109 14.9973 17.9025 14.9973 16.5139C14.9973 15.9724 15.511 15.5003 16.247 15.5003C16.8163 15.5003 17.2606 15.7363 17.4967 15.9029C17.6911 16.014 17.8438 16.0001 17.9549 15.8057L18.0799 15.5697C18.1771 15.3892 18.1632 15.2364 17.9966 15.1253C17.7328 14.9448 17.2467 14.6671 16.5386 14.6254V13.9867C16.5386 13.8062 16.4414 13.709 16.2331 13.709H16.1498C15.9415 13.709 15.8443 13.8201 15.8443 14.0284V14.6254C14.7473 14.7921 14.0252 15.5836 14.0252 16.5417C14.0252 18.6384 17.4273 18.4163 17.4273 19.8604C17.4273 20.513 16.8579 20.8741 16.2192 20.8741C15.5249 20.8741 14.9834 20.5408 14.7057 20.3325C14.5251 20.2214 14.3724 20.2214 14.2474 20.388L14.0947 20.6241C13.9558 20.7769 13.9697 20.9435 14.1363 21.0685Z"
																fill="black" stroke="black" stroke-width="0.5" />
												</g>
										</svg>
								</div>
								<div class="fp_icon_text">
										<p>Buy Now,</p>
										<p>Pay Later</p>
								</div>
						</div>
						<div class="fp_item">
								<div class="fp_icon">
										<svg xmlns="http://www.w3.org/2000/svg" width="34" height="35" viewBox="0 0 34 35"
												fill="none">
												<g opacity="0.8">
														<path fill-rule="evenodd" clip-rule="evenodd"
																d="M16.157 3.5V31.5C16.157 31.5 4.48374 28.2958 3.06934 8.09245C3.06934 8.09245 13.5202 5.67399 16.157 3.50873V3.5Z"
																stroke="black" stroke-width="1.5" stroke-miterlimit="2.61313"
																stroke-linecap="round" stroke-linejoin="round" />
														<path fill-rule="evenodd" clip-rule="evenodd"
																d="M16.1572 3.5V31.5C16.1572 31.5 27.8304 28.2958 29.2448 8.09245C29.2448 8.09245 18.794 5.67399 16.1572 3.50873V3.5Z"
																stroke="black" stroke-width="1.5" stroke-miterlimit="2.61313"
																stroke-linecap="round" stroke-linejoin="round" />
														<path
																d="M16.1565 24.3248C20.5264 24.3248 24.0689 20.7823 24.0689 16.4124C24.0689 12.0425 20.5264 8.5 16.1565 8.5C11.7866 8.5 8.24414 12.0425 8.24414 16.4124C8.24414 20.7823 11.7866 24.3248 16.1565 24.3248Z"
																fill="#FFFAF1" stroke="black" stroke-width="1.5" stroke-miterlimit="2.61313"
																stroke-linecap="round" stroke-linejoin="round" />
														<path fill-rule="evenodd" clip-rule="evenodd"
																d="M14.6313 21.2124C15.089 21.4464 15.6077 21.5786 16.1569 21.5786C16.7061 21.5786 17.2247 21.4464 17.6824 21.2124C18.7909 20.6531 19.5435 19.5039 19.5435 18.1919C19.5435 18.1105 19.5435 18.0393 19.5334 17.958C19.5334 17.958 19.5334 17.9478 19.5334 17.9376H19.5435C19.5537 17.7241 19.5028 16.1172 16.1569 11.2559C12.8211 16.1172 12.76 17.7241 12.7702 17.9376H12.7804C12.7804 17.958 12.7804 17.958 12.7804 17.958C12.7702 18.0393 12.7702 18.1105 12.7702 18.1919C12.7702 19.514 13.5228 20.6632 14.6313 21.2124Z"
																stroke="black" stroke-width="1.5" stroke-miterlimit="2.61313"
																stroke-linecap="round" stroke-linejoin="round" />
												</g>
										</svg>
								</div>
								<div class="fp_icon_text">
										<p>Dermatologist Tested </p>
										<p>&amp; Approved</p>
								</div>
						</div>
						<div class="fp_item">
								<div class="fp_icon">
										<svg xmlns="http://www.w3.org/2000/svg" width="35" height="35" viewBox="0 0 35 35"
												fill="none">
												<g opacity="0.8">
														<path
																d="M23.9547 17.4219C23.9547 21.4777 23.1703 25.1129 21.9354 27.706C20.6739 30.3551 19.0778 31.6719 17.5618 31.6719C16.0458 31.6719 14.4497 30.3551 13.1882 27.706C11.9533 25.1129 11.1689 21.4777 11.1689 17.4219C11.1689 13.366 11.9533 9.73088 13.1882 7.13772C14.4497 4.48864 16.0458 3.17188 17.5618 3.17188C19.0778 3.17188 20.6739 4.48864 21.9354 7.13772C23.1703 9.73088 23.9547 13.366 23.9547 17.4219Z"
																stroke="black" stroke-width="1.5" />
														<path
																d="M14.3658 22.9586C10.8533 20.9307 8.09739 18.4338 6.46907 16.0678C4.80563 13.6508 4.46335 11.6101 5.22135 10.2972C5.97935 8.98433 7.91777 8.2604 10.8427 8.49248C13.7058 8.71966 17.2462 9.85791 20.7586 11.8858C24.2711 13.9138 27.027 16.4107 28.6554 18.7766C30.3188 21.1936 30.6611 23.2343 29.9031 24.5472C29.1451 25.8601 27.2067 26.584 24.2817 26.352C21.4186 26.1248 17.8783 24.9865 14.3658 22.9586Z"
																stroke="black" stroke-width="1.5" />
														<path
																d="M14.3651 11.8852C17.8776 9.85722 21.4179 8.71897 24.2811 8.49179C27.206 8.25971 29.1444 8.98363 29.9024 10.2965C30.6604 11.6094 30.3181 13.6501 28.6547 16.0671C27.0264 18.4331 24.2704 20.93 20.758 22.9579C17.2455 24.9858 13.7052 26.1241 10.842 26.3513C7.91709 26.5833 5.97867 25.8594 5.22067 24.5465C4.46267 23.2336 4.80494 21.1929 6.46839 18.7759C8.09671 16.41 10.8526 13.9131 14.3651 11.8852Z"
																stroke="black" stroke-width="1.5" />
												</g>
										</svg>
								</div>
								<div class="fp_icon_text">
										<p>Proven Results, </p>
										<p>Backed by science</p>
								</div>
						</div>

				</div>
		</div>
</div>
<!-- -- featured promotion end -- -->

<!-- -- result section start -- -->
<div class="result_s section">
		<link rel="stylesheet" href="https://qureskincaredns.com/assets/css/_sunil_component-resultSlider.css">
		<div class="container">
				<div class="section_header text-start text-md-center">
						<h2 class="title-lg">Achieve your skincare goals </h2>
				</div>
				<div class="result_s_wrapper">
						<div class="swiper  dot_pagination result_slider_lp">
								<div class="swiper-wrapper">
										<div class="swiper-slide">
												<div class="result_item">
														<div class="result_img_m">
																<img src="https://qureskincaredns.com/_sunil_mi-landing-new/assets/images/results/cus_22.png" alt=""
																		class="img-fluid">
														</div>

														<div class="r_c_info py-1 bg_grey">
																<div class="c_information">
																		<div class="flag_img pe-2">
																				<img src="https://qureskincaredns.com/assets/images/common/america_f.png" alt="" class="img-fluid">
																		</div>
																		<p class="r_c_name pe-2">Mica A.</p>
																		<div class="verified_img pe-2">
																				<svg xmlns="http://www.w3.org/2000/svg" width="20" height="20"
																						viewBox="0 0 20 20" fill="none">
																						<path
																								d="M20 10C20 8.5455 19.1735 7.276 17.967 6.635C18.2965 5.3795 17.9755 3.9835 16.9955 3.004C16.264 2.272 15.3 1.908 14.335 1.908C14.0085 1.908 13.682 1.9495 13.3645 2.033C12.724 0.8265 11.4545 0 10 0C8.5455 0 7.276 0.8265 6.635 2.033C6.317 1.9495 5.991 1.908 5.6645 1.908C4.6995 1.908 3.736 2.2725 3.004 3.004C2.0245 3.9835 1.703 5.379 2.0325 6.635C0.8265 7.276 0 8.5455 0 10C0 11.4545 0.8265 12.724 2.033 13.365C1.7035 14.6205 2.0245 16.0165 3.0045 16.996C3.736 17.7275 4.7 18.092 5.665 18.092C5.9915 18.092 6.318 18.0505 6.6355 17.967C7.276 19.1735 8.5455 20 10 20C11.4545 20 12.724 19.1735 13.365 17.967C13.683 18.0505 14.009 18.092 14.3355 18.092C15.3005 18.092 16.264 17.7275 16.996 16.996C17.9755 16.0165 18.297 14.621 17.9675 13.365C19.1735 12.724 20 11.4545 20 10Z"
																								fill="#008763" />
																						<path
																								d="M8.73916 13.333L5 10.09L6.42627 8.85318L8.73916 10.8585L13.5737 6.66638L15 7.90323L8.73916 13.333Z"
																								fill="white" />
																				</svg>
																		</div>
																		<p>Verified customer</p>
																</div>
														</div>
														<div class="rc_desc px-2">
																<div class="skincare_percent">
																		<div class="progressCont">
																				<p><span class="progressWrapper">
																								<span class="progessInfo text-dark">93%</span>
																								<svg class="vMQQx" height="68" width="68"
																										viewBox="-29 -29 58 58">
																										<defs>
																												<linearGradient id="gradient" x1="0" x2="0" y1="1"
																														y2="0">
																														<stop offset="0%" stop-color="#C7E7DC"></stop>
																														<stop offset="100%" stop-color="#C7E7DC"></stop>
																												</linearGradient>
																										</defs>
																										<circle stroke="rgba(221, 224, 228, 1)" fill="none"
																												pathLength="100" class="K4v4P" r="24"
																												style="stroke-width: 1px;"></circle>
																										<circle visibility="visible" fill="none" pathLength="100"
																												transform="rotate(-90)" class="OKwUu" r="24"
																												stroke="url(#gradient)"
																												style="stroke-dasharray: 100; stroke-dashoffset: 7; stroke-width: 5px;">
																										</circle>
																								</svg>
																						</span>
																				</p>
																		</div>
																		<p>saw <strong>smoother, cleaner</strong> skin</p>
																</div>
																<h3>Fine Lines & Blemishes</h3>
																<div class="ss_list">
																		<ul>
																				<li>Smooths bumpy skin texture & <strong>evens out skin tone</strong>
																				</li>
																				<li>Stimulates natural collagen production for <strong>firmer, plumper
																								skin &
																								softer fine lines</strong></li>
																				<li>Helps <strong>fade dark spots, post-acne marks, and
																								hyperpigmentation</strong></li>
																		</ul>
																</div>
														</div>
												</div>
										</div>
										<div class="swiper-slide">
												<div class="result_item">
														<div class="result_img_m">
																<img src="https://qureskincaredns.com/_sunil_mi-landing-new/assets/images/results/cus_23.png" alt=""
																		class="img-fluid">
														</div>

														<div class="r_c_info py-1 bg_grey">
																<div class="c_information">
																		<div class="flag_img pe-2">
																				<img src="https://qureskincaredns.com/assets/images/common/australia_f.png" alt=""
																						class="img-fluid">
																		</div>
																		<p class="r_c_name pe-2">Monika</p>
																		<div class="verified_img pe-2">
																				<svg xmlns="http://www.w3.org/2000/svg" width="20" height="20"
																						viewBox="0 0 20 20" fill="none">
																						<path
																								d="M20 10C20 8.5455 19.1735 7.276 17.967 6.635C18.2965 5.3795 17.9755 3.9835 16.9955 3.004C16.264 2.272 15.3 1.908 14.335 1.908C14.0085 1.908 13.682 1.9495 13.3645 2.033C12.724 0.8265 11.4545 0 10 0C8.5455 0 7.276 0.8265 6.635 2.033C6.317 1.9495 5.991 1.908 5.6645 1.908C4.6995 1.908 3.736 2.2725 3.004 3.004C2.0245 3.9835 1.703 5.379 2.0325 6.635C0.8265 7.276 0 8.5455 0 10C0 11.4545 0.8265 12.724 2.033 13.365C1.7035 14.6205 2.0245 16.0165 3.0045 16.996C3.736 17.7275 4.7 18.092 5.665 18.092C5.9915 18.092 6.318 18.0505 6.6355 17.967C7.276 19.1735 8.5455 20 10 20C11.4545 20 12.724 19.1735 13.365 17.967C13.683 18.0505 14.009 18.092 14.3355 18.092C15.3005 18.092 16.264 17.7275 16.996 16.996C17.9755 16.0165 18.297 14.621 17.9675 13.365C19.1735 12.724 20 11.4545 20 10Z"
																								fill="#008763" />
																						<path
																								d="M8.73916 13.333L5 10.09L6.42627 8.85318L8.73916 10.8585L13.5737 6.66638L15 7.90323L8.73916 13.333Z"
																								fill="white" />
																				</svg>
																		</div>
																		<p>Verified customer</p>
																</div>
														</div>
														<div class="rc_desc px-2">
																<div class="skincare_percent">
																		<div class="progressCont">
																				<p><span class="progressWrapper">
																								<span class="progessInfo text-dark">90%</span>
																								<svg class="vMQQx" height="68" width="68"
																										viewBox="-29 -29 58 58">
																										<defs>
																												<linearGradient id="gradient" x1="0" x2="0" y1="1"
																														y2="0">
																														<stop offset="0%" stop-color="#C7E7DC"></stop>
																														<stop offset="100%" stop-color="#C7E7DC"></stop>
																												</linearGradient>
																										</defs>
																										<circle stroke="rgba(221, 224, 228, 1)" fill="none"
																												pathLength="100" class="K4v4P" r="24"
																												style="stroke-width: 1px;"></circle>
																										<circle visibility="visible" fill="none" pathLength="100"
																												transform="rotate(-90)" class="OKwUu" r="24"
																												stroke="url(#gradient)"
																												style="stroke-dasharray: 100; stroke-dashoffset: 10; stroke-width: 5px;">
																										</circle>
																								</svg>
																						</span>
																				</p>
																		</div>
																		<p>reported <strong>brighter, glowing</strong> skin</p>
																</div>
																<h3>Skin Tone & Texture</h3>
																<div class="ss_list">
																		<ul>
																				<li>Brightens the skin for a <strong>healthier, more radiant
																								complexion</strong></li>
																				<li>Helps to fade dark spot for more <strong>even toned skin</strong>
																				</li>
																				<li>Increases hydration and plumps skin for a <strong>
																								appearance</strong></li>
																		</ul>
																</div>
														</div>
												</div>
										</div>
										<div class="swiper-slide">
												<div class="result_item">
														<div class="result_img_m">
																<img src="https://qureskincaredns.com/_sunil_mi-landing-new/assets/images/results/cus_24.png" alt=""
																		class="img-fluid">
														</div>

														<div class="r_c_info py-1 bg_grey">
																<div class="c_information">
																		<div class="flag_img pe-2">
																				<img src="https://qureskincaredns.com/assets/images/common/america_f.png" alt="" class="img-fluid">
																		</div>
																		<p class="r_c_name pe-2">Ellie V.</p>
																		<div class="verified_img pe-2">
																				<svg xmlns="http://www.w3.org/2000/svg" width="20" height="20"
																						viewBox="0 0 20 20" fill="none">
																						<path
																								d="M20 10C20 8.5455 19.1735 7.276 17.967 6.635C18.2965 5.3795 17.9755 3.9835 16.9955 3.004C16.264 2.272 15.3 1.908 14.335 1.908C14.0085 1.908 13.682 1.9495 13.3645 2.033C12.724 0.8265 11.4545 0 10 0C8.5455 0 7.276 0.8265 6.635 2.033C6.317 1.9495 5.991 1.908 5.6645 1.908C4.6995 1.908 3.736 2.2725 3.004 3.004C2.0245 3.9835 1.703 5.379 2.0325 6.635C0.8265 7.276 0 8.5455 0 10C0 11.4545 0.8265 12.724 2.033 13.365C1.7035 14.6205 2.0245 16.0165 3.0045 16.996C3.736 17.7275 4.7 18.092 5.665 18.092C5.9915 18.092 6.318 18.0505 6.6355 17.967C7.276 19.1735 8.5455 20 10 20C11.4545 20 12.724 19.1735 13.365 17.967C13.683 18.0505 14.009 18.092 14.3355 18.092C15.3005 18.092 16.264 17.7275 16.996 16.996C17.9755 16.0165 18.297 14.621 17.9675 13.365C19.1735 12.724 20 11.4545 20 10Z"
																								fill="#008763" />
																						<path
																								d="M8.73916 13.333L5 10.09L6.42627 8.85318L8.73916 10.8585L13.5737 6.66638L15 7.90323L8.73916 13.333Z"
																								fill="white" />
																				</svg>
																		</div>
																		<p>Verified customer</p>
																</div>
														</div>
														<div class="rc_desc px-2">
																<div class="skincare_percent">
																		<div class="progressCont">
																				<p><span class="progressWrapper">
																								<span class="progessInfo text-dark">91%</span>
																								<svg class="vMQQx" height="68" width="68"
																										viewBox="-29 -29 58 58">
																										<defs>
																												<linearGradient id="gradient" x1="0" x2="0" y1="1"
																														y2="0">
																														<stop offset="0%" stop-color="#C7E7DC"></stop>
																														<stop offset="100%" stop-color="#C7E7DC"></stop>
																												</linearGradient>
																										</defs>
																										<circle stroke="rgba(221, 224, 228, 1)" fill="none"
																												pathLength="100" class="K4v4P" r="24"
																												style="stroke-width: 1px;"></circle>
																										<circle visibility="visible" fill="none" pathLength="100"
																												transform="rotate(-90)" class="OKwUu" r="24"
																												stroke="url(#gradient)"
																												style="stroke-dasharray: 100; stroke-dashoffset: 9; stroke-width: 5px;">
																										</circle>
																								</svg>
																						</span>
																				</p>
																		</div>
																		<p>saw <strong>a noticeable difference</strong></p>
																</div>
																<h3>Overall Transformation</h3>
																<div class="ss_list">
																		<ul>
																				<li>Skin appears <strong>brighter, smoother, and more youthful</strong>
																				</li>
																				<li>Enhanced skincare results with up to <strong>300% better
																								absorption</strong></li>
																				<li>Promotes cell renewal and <strong>minimizes appearance of pores and
																								wrinkles</strong>
																				</li>
																		</ul>
																</div>
														</div>
												</div>
										</div>
								</div>
								<div class="swiper-pagination"></div>
						</div>

				</div>
		</div>
</div>
<!-- -- result section end -- -->