<script src="https://qureskincaredns.com/_sunil_homepage/assets/_sunil_swiper-bundle-min.js"></script>
<script src="https://qureskincaredns.com/_sunil_homepage/assets/homepage_product.js"></script>

<style>
.product_slider .swiper-container:not(.swiper-initialized) .swiper-slide{
	padding-right: 15px;
}
/* specical for desktop */
@media only screen and (min-width:769px){

}
/* special for mobile */
@media (max-width: 768px) {
	.homepage_banner {
		min-height: 455px;
	}
}
</style>

<link rel="stylesheet" href="https://qureskincaredns.com/_sunil_homepage/assets/_sunil_bundleBanner21.css">
<div class="swiper_slider_sec d-block d-md-none product_slider">
	<div class="container-fluid">
		<!-- Slider main container -->
		<div class="swiper-container">
			<div class="swiper-wrapper">
				<div class="swiper-slide">
					<a href="/products/q-rejuvalight-pro-facewear" aria-label="Q-Rejuvalight LED Facewear">
						<img class="lcp" src="https://qureskincaredns.com/_sunil_homepage/assets/images/bundle-banner/product_slider/slide-1.png">
						<h3>Q-Rejuvalight<br> LED Facewear</h3>
					</a>
				</div>
				<div class="swiper-slide" aria-label="Micro-Infusion System">
					<a href="/pages/microinfusion">
						<img class="lcp" src="https://qureskincaredns.com/_sunil_homepage/assets/images/bundle-banner/product_slider/slide-2.png">
						<h3>Micro-Infusion<br> System</h3>
					</a>
				</div>
				<div class="swiper-slide">
					<a href="/products/neck-decolletage-led" aria-label="Neck Décolletage LED">
						<img class="lcp" src="https://qureskincaredns.com/_sunil_homepage/assets/images/bundle-banner/product_slider/slide-3.png">
						<h3>Neck &<br> Décolletage LED</h3>
					</a>
				</div>
				<div class="swiper-slide">
					<a href="/products/face-serum" aria-label="All-In-One Face Serum">
						<img class="lcp" src="https://qureskincaredns.com/_sunil_homepage/assets/images/bundle-banner/product_slider/slide-4.png">
						<h3>All-In-One Face<br> Serum</h3>
					</a>
				</div>
				<div class="swiper-slide">
					<a href="/products/q-urify-water-filter" aria-label="Q-urify Water Filter">
						<img class="lcp" src="https://qureskincaredns.com/_sunil_homepage/assets/images/bundle-banner/product_slider/slide-5.png">
						<h3>Q-urify Water<br> Filter</h3>
					</a>
				</div>
				<div class="swiper-slide">
					<a href="/pages/micro-infusion-refill" aria-label="Micro-Infusion Refill">
						<img class="lcp" src="https://qureskincaredns.com/_sunil_homepage/assets/images/bundle-banner/product_slider/slide-6.png">
						<h3>Micro-Infusion<br> Refill</h3>
					</a>
				</div>
			</div>
		</div>
	</div>
</div>

<!-- BF Bundle Banner start -->
<link rel="stylesheet" href="https://qureskincaredns.com/_sunil_homepage/assets/holiday_2023.css">
<div class="homepage_banner position-relative">
	<img class="lcp img-fluid w-100 d-none d-lg-block d-md-block" src="https://qureskincaredns.com/_sunil_homepage/assets/images/bundle-banner/header_banner.webp" alt="">
	<img class="lcp img-fluid w-100 d-lg-none d-md-none" src="https://qureskincaredns.com/_sunil_homepage/assets/images/bundle-banner/header_mob_img_n.webp" alt="">
	<div class="container">
		<div class="homepage_info">
			<div class="homepage_content">
				<div class="homepage_text">
					<h1 class="homepage_info_1">Save Up To 55%</h1>
					<h2 class="homepage_info_2 mt-2">on Exclusive <span class="homepage_info_3">Holiday</span> Bundles</h2>
				</div>
				<div class="mob_view">
					<div class="paragraph_order order-2 order-md-1 order-ab-test">
						<p class="homepage_info_4">
							Get smoother, clearer, glowing skin <br>
							with clinical skincare at its lowest price.
						</p>
					</div>
					{% comment %} original {% endcomment %}
					<div class="button_shop order-1 order-md-2 ab-btn-container-orginal">
						<a href="https://www.qureskincare.com/pages/exclusive-holiday-bundle-deal?_ga=2.267372360.736402931.1699439562-409146804.1699023306https://www.qureskincare.com/pages/exclusive-holiday-bundle-deal?_ga=2.267372360.736402931.1699439562-409146804.1699023306"
							class="btn btn-bfBundle">Shop Now & Save</a>
					</div>
					{% comment %} variant {% endcomment %}
					<div class="button_shop order-1 order-md-2 ab-btn-container-test">
						<a href="https://www.qureskincare.com/pages/exclusive-holiday-bundle-deal?_ga=2.267372360.736402931.1699439562-409146804.1699023306https://www.qureskincare.com/pages/exclusive-holiday-bundle-deal?_ga=2.267372360.736402931.1699439562-409146804.1699023306"
							class="btn btn-abtest-hero btn-bfBundle">Shop Now & Save</a>
						<a href="https://www.qureskincare.com/collections/best-sellers?_ga=2.68951697.1413682615.1702646175-1847278782.1699285247&_gac=1.20943306.1702419923.Cj0KCQiAuqKqBhDxARIsAFZELmI8CPpdpu9NxElOnncQtzdg92Oq73FT3UWI6tqgbX0g6pvrtDAvxLsaAt66EALw_wcB"
							class="btn btn-abtest-hero btn-bfBundle">Best Sellers</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- BF Bundle Banner end -->