<script src="https://qureskincaredns.com/_sunil_homepage/assets/_sunil_swiper-bundle-min.js"></script>
<script src="https://qureskincaredns.com/_sunil_homepage/assets/homepage_product.js"></script>

<style>
.product_slider .swiper-container:not(.swiper-initialized) .swiper-slide{
	padding-right: 15px;
}
/* specical for desktop */
@media only screen and (min-width:769px){

}
/* special for mobile */
@media (max-width: 768px) {
	.homepage_banner {
		min-height: 455px;
	}
}
</style>

<link rel="stylesheet" href="https://qureskincaredns.com/_sunil_homepage/assets/_sunil_bundleBanner21.css">
<div class="swiper_slider_sec d-block d-md-none product_slider">
	<div class="container-fluid">
		<!-- Slider main container -->
		<div class="swiper-container">
			<div class="swiper-wrapper">
				<div class="swiper-slide">
					<a href="/products/q-rejuvalight-pro-facewear" aria-label="Q-Rejuvalight LED Facewear">
						<img class="lcp" src="https://qureskincaredns.com/_sunil_homepage/assets/images/bundle-banner/product_slider/slide-1.png">
						<h3>Q-Rejuvalight<br> LED Facewear</h3>
					</a>
				</div>
				<div class="swiper-slide" aria-label="Micro-Infusion System">
					<a href="/pages/microinfusion">
						<img class="lcp" src="https://qureskincaredns.com/_sunil_homepage/assets/images/bundle-banner/product_slider/slide-2.png">
						<h3>Micro-Infusion<br> System</h3>
					</a>
				</div>
				<div class="swiper-slide">
					<a href="/products/neck-decolletage-led" aria-label="Neck Décolletage LED">
						<img class="lcp" src="https://qureskincaredns.com/_sunil_homepage/assets/images/bundle-banner/product_slider/slide-3.png">
						<h3>Neck &<br> Décolletage LED</h3>
					</a>
				</div>
				<div class="swiper-slide">
					<a href="/products/face-serum" aria-label="All-In-One Face Serum">
						<img class="lcp" src="https://qureskincaredns.com/_sunil_homepage/assets/images/bundle-banner/product_slider/slide-4.png">
						<h3>All-In-One Face<br> Serum</h3>
					</a>
				</div>
				<div class="swiper-slide">
					<a href="/products/q-urify-water-filter" aria-label="Q-urify Water Filter">
						<img class="lcp" src="https://qureskincaredns.com/_sunil_homepage/assets/images/bundle-banner/product_slider/slide-5.png">
						<h3>Q-urify Water<br> Filter</h3>
					</a>
				</div>
				<div class="swiper-slide">
					<a href="/pages/micro-infusion-refill" aria-label="Micro-Infusion Refill">
						<img class="lcp" src="https://qureskincaredns.com/_sunil_homepage/assets/images/bundle-banner/product_slider/slide-6.png">
						<h3>Micro-Infusion<br> Refill</h3>
					</a>
				</div>
			</div>
		</div>
	</div>
</div>

<!-- BF Bundle Banner start -->
{% if settings.sales_valentine %}
	<link rel="stylesheet" href="https://qureskincaredns.com/_sunil_homepage/assets/holiday_2023.css">
	<link rel="stylesheet" href="https://qureskincaredns.com/_sunil_homepage/assets/valentine_special.css">
	<div class="homepage_banner position-relative valentine_special">
	  <picture>
		<source media="(min-width:1920px)" srcset="https://qureskincaredns.com/_sunil_homepage/assets/images/bundle-banner/header_banner.webp" width="144"
		  height="55">
		<source media="(min-width:1600px)" srcset="https://qureskincaredns.com/_sunil_homepage/assets/images/bundle-banner/header_banner.webp" width="144"
		  height="55">
		<source media="(min-width:1100px)" srcset="https://qureskincaredns.com/_sunil_homepage/assets/images/bundle-banner/header_banner.webp" width="144"
		  height="55">
		<source media="(min-width:720px)" srcset="https://qureskincaredns.com/_sunil_homepage/assets/images/bundle-banner/header_banner.webp" width="144"
		  height="55">
		<source media="(min-width:540px)" srcset="https://qureskincaredns.com/_sunil_homepage/assets/images/bundle-banner/header_mob_img_n.webp" width="3"
		  height="5">
		<img src="https://qureskincaredns.com/_sunil_homepage/assets/images/bundle-banner/header_mob_img_n.webp" width="3" height="5" alt="" class="img-fluid">
	  </picture>
	  <div class="container">
		<div class="homepage_info">
		  <div class="homepage_content">
			<div class="homepage_text">
			  <h3 class="homepage_info_3">UNWRAP THE <span style="font-weight:700">GIFT OF LOVE</span></h3>
			  <h1 class="homepage_info_1">Save up to 55% OFF</h1>
			  <h2 class="homepage_info_2 mt-2">on <span style="font-weight: 500;">Valentine's Day</span> Bundles</h2>
			  <div class="button_shop mt-3 mt-md-5">
				<a href="/pages/exclusive-valentines-day-bundle-deal"
				  class="btn btn-bfBundle">Shop Now &amp; Save</a>
				<a href="/collections/best-sellers"
				  class="btn btn-bfBundle">Best Sellers</a>
			  </div>
			</div>

		  </div>
		</div>
	  </div>
	</div>
{% else %}
	<div class="main_banner">
		<picture>
		<source media="(min-width:1920px)" srcset="https://qureskincaredns.com/_sunil_homepage/assets/images/bundle-banner/homepage_banner_desk1.webp"
			class="img-fluid bg_banner" width="432" height="167">
		<source media="(min-width:1600px)" srcset="https://qureskincaredns.com/_sunil_homepage/assets/images/bundle-banner/homepage_banner_desk1.webp"
			class="img-fluid bg_banner" width="350" height="350">
		<source media="(min-width:1100px)" srcset="https://qureskincaredns.com/_sunil_homepage/assets/images/bundle-banner/homepage_banner_desk1.webp"
			class="img-fluid bg_banner" width="350" height="350">
		<source media="(min-width:720px)" srcset="https://qureskincaredns.com/_sunil_homepage/assets/images/bundle-banner/homepage_banner_mob1.webp"
			class="img-fluid bg_banner" width="125" height="173">
		<source media="(min-width:540px)" srcset="https://qureskincaredns.com/_sunil_homepage/assets/images/bundle-banner/homepage_banner_mob1.webp"
			class="img-fluid bg_banner" width="125" height="173">
		<img src="https://qureskincaredns.com/_sunil_homepage/assets/images/bundle-banner/homepage_banner_mob1.webp" width="125" height="173" alt=""
			class="img-fluid bg_banner">
		</picture>
		<div class="main_b_wrapper">
		<div class="container">
			<div class="m_b_content">
			<div class="section_header pb-4 text-light">
				<h2 class="title-xl d-none d-md-block">Clinic-level results from home - minus the ‘clinical’
				costs.</h2>
				<h2 class="title-xl d-block d-md-none">Get Clinic-level results from home - minus the
				‘clinical’ costs.</h2>
			</div>
			<div class="progressCont text-center text-md-left">
				<p>Get<span class="progressWrapper px-0 px-md-2">
					<span class="progessInfo">56%</span>
					<!-- <span> -->
					<svg class="vMQQx" height="68" width="68" viewBox="-29 -29 58 58">
					<defs>
						<linearGradient id="gradient" x1="0" x2="0" y1="1" y2="0">
						<stop offset="0%" stop-color="#C7E7DC"></stop>
						<stop offset="100%" stop-color="#C7E7DC"></stop>
						</linearGradient>
					</defs>
					<circle stroke="rgba(221, 224, 228, 1)" fill="none" pathLength="100" class="K4v4P" r="24"
						style="stroke-width: 1px;"></circle>
					<circle visibility="visible" fill="none" pathLength="100" transform="rotate(-90)" class="OKwUu"
						r="24" stroke="url(#gradient)"
						style="stroke-dasharray: 100; stroke-dashoffset: 44; stroke-width: 5px;">
					</circle>
					</svg>
				</span>
				<strong>smoother, brighter, healthier skin</strong>
				</p>
			</div>
			<div class="btn-auto">
				<a href="https://www.qureskincare.com/collections/best-sellers"
				class="btn_white mx-3">Shop Best Sellers</a>
			</div>
			<div class="m_b_review text-light text-center text-md-left">
				<img src="https://qureskincaredns.com/_sunil_homepage/assets/images/svg/light-green-star.svg" alt="">
				<p class="pt-2"><strong>+ 40,745</strong> customers feel more confident in their own skin.
				</p>
			</div>
			</div>

		</div>

		</div>
	</div>
{% endif %}
<!-- BF Bundle Banner end -->