<section class="use-tabing">
<div class="tabing-title">
<h2>{{ section.settings.heading }} </h2>
{{ section.settings.text }}
</div>
  <div class="swiper-container mob-how-slider">
    <div class="swiper-wrapper">
        <div class="swiper-slide cus-slide">
          <img src="https://cdn.shopify.com/s/files/1/0441/1431/3365/files/Rectangle_180_2932b94a-7d28-48cf-a72e-0db0eac87783.png?v=1680762554">
          <div class="mob-how-con">
            <p>Twist open the chamber of the device and fill with one ampule of serum. Twist on needle head with lid to close it tight. </p>
          </div>
        </div>
        <div class="swiper-slide cus-slide">
          <img src="https://cdn.shopify.com/s/files/1/0441/1431/3365/files/Rectangle_181_856f08d6-e6e2-4977-ba2f-e23a357b81ce.png?v=1680762554">
          <div class="mob-how-con">
            <p>Leave the device upside down for 1-2 minutes. During this time, wash your face and make sure your hands are clean.</p>
          </div>
        </div>
        <div class="swiper-slide cus-slide">
          <img src="https://cdn.shopify.com/s/files/1/0441/1431/3365/files/Rectangle_216_9cb066b4-c2ca-4774-a451-8b19ff6404eb.png?v=1676358937">
          <div class="mob-how-con">
            <p>Once the serum has had enough time to make its way into the needles, you can take off the lid and start micro-infusing!</p>
          </div>
        </div>
        <div class="swiper-slide cus-slide">
          <img src="https://cdn.shopify.com/s/files/1/0441/1431/3365/files/Rectangle_181_3_027fd934-7054-4de0-8613-17aec70992d7.png?v=1676358898">
          <div class="mob-how-con">
            <p>Start at the centre of the face and work your way outward to cover the full face. Take any leftover serum from the device and pat it onto your face and neck to leave on overnight.</p>
          </div>
        </div>
        <div class="swiper-slide cus-slide">
          <img src="https://cdn.shopify.com/s/files/1/0441/1431/3365/files/image_60_ac848258-66df-46e7-875e-c50d5d892027.png?v=1680762554">
          <div class="mob-how-con">
            <p>Once treatment is completed, place lid back on the needle head. Twist the lid off and dispose safely. Open a new sterile needle head and put it on the device ready for your next treatment.</p>
          </div>
        </div>
    </div>
    <div class="swiper-pagination"></div>
  </div>
</section>
{% schema %}
{
"name": "Use dekstop Mobile",
"settings": [
{
"type": "text",
"id": "heading",
"label": "heading"
},
{
"type": "richtext",
"id": "text",
"label": "Text"
},
{
"type": "image_picker",
"id": "image",
"label": "Image"
},
{
"id": "cdnlinkd",
"type": "text",
"label": "CDN link"
},
{
"type": "textarea",
"id": "content",
"label": "Content"
},
{
"type": "text",
"id": "first",
"label": "Step One"
},
{
"type": "image_picker",
"id": "image_one",
"label": "Image One"
},
{
"type": "textarea",
"id": "text_one",
"label": "Text One"
},
{
"type": "text",
"id": "second",
"label": "Step Two"
},
{
"type": "image_picker",
"id": "image_two",
"label": "Image Two"
},
{
"type": "textarea",
"id": "text_two",
"label": "Text Two"
},
{
"type": "text",
"id": "third",
"label": "Step Three"
},
{
"type": "image_picker",
"id": "image_step",
"label": "Image Three"
},
{
"type": "textarea",
"id": "text_three",
"label": "Text Three"
},
{
"type": "text",
"id": "four",
"label": "Step Four"
},
{
"type": "image_picker",
"id": "image_four",
"label": "Image Four"
},
{
"type": "textarea",
"id": "text_four",
"label": "Tex Four"
},
{
"type": "text",
"id": "five",
"label": "Step Five"
},
{
"type": "image_picker",
"id": "image_five",
"label": "Image Five"
},
{
"type": "textarea",
"id": "text_five",
"label": "Tex Five"
}
],
"presets": [
{
"name": "Use dekstop Mobile"
}
]
}
{% endschema %}