<div class="video-section">
  <img src="https://cdn.shopify.com/s/files/1/0441/1431/3365/files/image_83.png?v=1669703766" alt="image" class="desktop-image">
  <img src="https://cdn.shopify.com/s/files/1/0441/1431/3365/files/image_82_1.png?v=1669703963" alt="image" class="mobile-image">

  <div class="container">
  <div class="content">
    <h2 class="title"><b>Tested</b> and <b>recommended</b> by <b><i>world-leading</i></b> Dermatologists and Skincare Experts</h2>
    <p class="details">Doctorly Dr Shah & Dr Maxfield
    <span>Certified Dermatologists</span></p>
  </div>
  </div>
  <a class="popup-btn js-open-modal btn" href="#" rel="noindex nofollow">
    <img src="https://cdn.shopify.com/s/files/1/0441/1431/3365/files/Vector_10_937518a4-314f-4860-ac4a-aee8180d3b25.png?v=1669705367" alt="image">
  </a>
  <div id="modal" class="modal"></div>
    <div class="video-popup">
      <a class="close">&times;</a>
        <div class="video-wrapper">
            <div class="video-container">
               <iframe width="560" height="315" src="https://www.youtube.com/embed/JPWycy8cwN8?start=33" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
        </div>
     </div>
</div>
<style>
  .shopify-section.video-text-section .video-section{
  position: relative;
  display: table;
  margin: 0;
  width: 100%;
}
.video-text-section .modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
   background-color: rgb(11 11 11 / 80%);
}
  .video-text-section .video-popup {
    display: none;
    z-index: 2;
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translateX(-50%);
}
  .video-text-section .video-popup .close {
    position: absolute;
    right: 8px;
    top: -3px;
    font-weight: 900;
    font-size: 28px;
    color: black;
    padding: 5px 10px;
    border-bottom: none;
    cursor: pointer;
}
.video-text-section .video-wrapper {
    width: 900px;
    margin: 0;
}
  .video-text-section .video-wrapper .video-container {
    position: relative;
    padding-bottom: 70%;
    height: 0;
    overflow: hidden;
}
  .video-text-section .video-wrapper .video-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.shopify-section.video-text-section .video-section img{
  float: left;
  width: 100%;
  display: block;
}

.shopify-section.video-text-section .video-section img.mobile-image{
  display: none;
}

.shopify-section.video-text-section .video-section .container{
  position: absolute;
  top: 50%;
  display: block;
  left: 0;
  right: 0;
  margin: 0 auto;
  transform: translateY(-50%);
}

.shopify-section.video-text-section .video-section .container .content{
  display: block;
  width: 100%;
  max-width: 400px;
  background: transparent;
  border-bottom: none;
}

.shopify-section.video-text-section .video-section .container .content .title{
    font-family: 'Canela';
    font-style: normal;
    font-weight: 600;
    font-size: 45px;
    line-height: 55px;
    letter-spacing: 1px;
    color: #000000;
    margin-bottom: 30px;
}
.shopify-section.video-text-section .video-section .container .content .title b {
    font-family: 'Poppins' !important;
    font-weight: 600 !important;
    font-size: 40px;
}
.shopify-section.video-text-section .video-section .container .content .details{
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.3px;
  color: #008763;
  padding:0px;
}

.shopify-section.video-text-section .video-section .container .content .details span{
  color: #000000;
  width: 100%;
  display :table;
}

.shopify-section.video-text-section .video-section a.popup-btn{
  position: absolute;
  right: 25%;
  top: 50%;
  transform: translateY(-50%);
  padding-top: 0px;
  padding-bottom: 0px;
}

.shopify-section.video-text-section .overlay{
  position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #000;
    z-index: -1;
    opacity: 0.4;
}

.shopify-section.video-text-section .modal-box {
  display: none;
  position: fixed;
  z-index: 1000;
  width: 98%;
  background: white;
  border-bottom: 1px solid #aaa;
  border-radius: 4px;
  box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-clip: padding-box;
  max-height: 90vh;
  overflow: hidden;
  top: 50%; 
}
  .shopify-section.video-text-section a.close {
    line-height: 1;
    font-size: 24px;
    position: absolute;
    top: -20px;
    right: -14px;
    text-decoration: none;
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    border-radius: 50%;
    overflow: hidden;
    padding-top: 0;
    padding-left: 0;
    z-index: 1111;
        font-weight: normal;
      padding:0;
}
@media (min-width: 32em) {

.shopify-section.video-text-section .modal-box { width: 70%; }
}

.shopify-section.video-text-section .modal-box header,
.shopify-section.video-text-section .modal-box .modal-header {
  padding: 1.25em 1.5em;
  border-bottom: 1px solid #ddd;
}

.shopify-section.video-text-section .modal-box header h3,
.shopify-section.video-text-section .modal-box header h4,
.shopify-section.video-text-section .modal-box .modal-header h3,
.shopify-section.video-text-section .modal-box .modal-header h4 { margin: 0; }

.shopify-section.video-text-section .modal-box .modal-body { padding: 0; }

.shopify-section.video-text-section .modal-box .modal-body video{
  float: left;
  width: 100%;
  max-height: 90vh;
}

.shopify-section.video-text-section .modal-box footer,
.shopify-section.video-text-section .modal-box .modal-footer {
  padding: 1em;
  border-top: 1px solid #ddd;
  background: rgba(0, 0, 0, 0.02);
  text-align: right;
}

.shopify-section.video-text-section .modal-overlay {
  opacity: 0;
  filter: alpha(opacity=0);
  position: absolute;
  top: 0;
  left: 0;
  z-index: 900;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.3) !important;
}

.shopify-section.video-text-section a.close {
  line-height: 1;
  font-size: 24px;
  position: absolute;
  top: 15px;
  right: 15px;
  text-decoration: none;
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  background: #000;
  border-radius: 50%;
  overflow: hidden;
  padding-top: 2px;
  padding-left: 2px;
  z-index: 1111;
    
}

.shopify-section.video-text-section a.close:hover {
  color: #222;
  -webkit-transition: color 1s ease;
  -moz-transition: color 1s ease;
  transition: color 1s ease;
}

@media (max-width: 1200px){
  .shopify-section.video-text-section .video-section .container .content{
    max-width: 530px;
  }
}

@media (max-width: 991px){
  .shopify-section.video-text-section .video-section img{
    display: none;
  }

  .shopify-section.video-text-section .video-section img.mobile-image{
    display: block;
  }

  .shopify-section.video-text-section .video-section .container{
    top: 50px;
    transform: translateY(0);
    text-align: center;
  }

  .shopify-section.video-text-section .video-section .container .content{
    margin: 0 auto;
  }

  .shopify-section.video-text-section .video-section a.popup-btn img{
    display: block;
  }

  .shopify-section.video-text-section .video-section a.popup-btn{
    top: 70%;
    left: 50%;
    right: auto;
    transform: translate(-50%, -50%);
  }


}

@media (max-width: 568px){
  .shopify-section.video-text-section .video-section .container .content .title{
      font-size: 28px;
      line-height: 36px;
      margin-bottom: 20px;
        padding: 0 10px;
  }

  .shopify-section.video-text-section .video-section .container{
    top: 30px;
  }
  .shopify-section.video-text-section .video-section .container .content .title b{
    font-size: 24px;
  }
  .shopify-section.video-text-section .video-section .container .content .title b i {
    font-style: normal;
}
}
</style>

{% schema %}
{
  "name": "Video with text",
  "tag": "section",
  "class": "video-text-section",
  "max_blocks": 5,
  "settings": [
    
  ],
  "blocks": [
     
   ],
  "presets": [
    {
      "name": "Video with text"
    }
  ]
}
{% endschema %}
