/* navbar fix for ab test */

.ab-navitem-container{
  display: none;
}


body[data-testing="true"] .header-new.new-hp-header{
  width: 100%;
  max-width: none;
  padding: 5px 2rem;
}

body[data-testing="true"] .header-new .menu{
  justify-content: space-around;
}

body[data-testing="true"] .header-new .menu li {
  padding-right: 14px !important;
}

body[data-testing="true"] .ab-navitem-container{
  display: block;
}

/* buttons banner abt test */

.ab-btn-container-test {
  display: none;
}

body[data-testing="true"] .ab-btn-container-orginal {
 display: none;
}

body[data-testing="true"] .ab-btn-container-test {
  display: flex;
  gap: 10px;
}

body[data-testing="true"] .btn-abtest-hero {
  width: 50% !important;
  font-size: 20px;
}

body[data-testing="true"] .order-ab-test > p {
  visibility: hidden;
}

@media screen and (max-width: 768px) {

  /* navbar */
  .ab-test-navbar-mobile-variant {
    display: none;
  }  

  body[data-testing="true"] .ab-test-navbar-mobile-original {
    display: none !important;
  }
  body[data-testing="true"] .ab-test-navbar-mobile-variant {
    display: block !important;
  }

  body[data-testing="true"] .mobile-menu-custome ul#menu li.title:first-child {
    margin-top: 25px !important;
  }

  /* hero */
  
  body[data-testing="true"] .ab-btn-container-test{
    flex-direction: column;
  }
    
  body[data-testing="true"] .btn-abtest-hero{
    width: 100% !important;
  }

  body[data-testing="true"] .order-ab-test{
    order: 1 !important;
  }

  
}

/* PDP Social Proof Data*/
[data-social-proof] .social-proof-data-container {
  display: flex;
  justify-content: center;
  position: fixed;
  left: 50%;
  bottom: -20px;
  z-index: 9999;
  border-radius: 16px 16px 0px 0px;
  border-top: 1px solid #C92127;
  border-right: 1px solid #C92127;
  border-left: 1px solid #C92127;
  background: #D44D52;
  transform: translate(-50%, -50%);
  padding: 9px 12px 8px 16px;
  gap: 16px;
}
[data-social-proof] .social-proof-data-container.hidden { 
  display: none;
}
[data-social-proof] .social-proof-data-container .text-container { 
  color: #FFF;
  text-align: center;
  font-size: 12px;
  font-weight: 400;
  line-height: 16px; 
  letter-spacing: 1px;
}
[data-social-proof] .social-proof-data-container .close-icon { 
  color: #870B0F;  
  cursor: pointer;
}
[data-social-proof] .social-proof-data-container .circle-container {
  position: relative;
  width: 20px; 
  height: 20px; 
}

[data-social-proof] .social-proof-data-container .circle {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 10px; 
  height: 10px; 
  background-color: #C8E6DC;
  border-radius: 50%;
}

[data-social-proof] .social-proof-data-container .shine {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 10px; 
  height: 10px; 
  border-radius: 50%;
  box-shadow: 0 0 10px rgba(200, 230, 220); 
  animation: shine 2s linear infinite; 
}

@keyframes shine {
  0% {
    box-shadow: 0 0 10px rgba(200, 230, 220); 
  }
  50% {
    box-shadow: 0 0 20px rgba(200, 230, 220, 1), 0 0 20px rgba(200, 230, 220, 1), 0 0 20px rgba(200, 230, 220, 1); 
  }
  100% {
    box-shadow: 0 0 10px rgba(200, 230, 220); 
  }
}

/* social proof visibility  */
.social-proof-data-container { 
  display: none;
}
[data-social-proof] .social-proof-data-container { 
  display: flex !important;
}