<div class="container">
  <div class="row">
    <div class="col-md-12 page__title page__title_align_center">
      <h1>{{ page.title }}</h1>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <div class="page__content">
        <div class="page__text">
          {{ page.content }}
        </div>
        {% section 'faq-afterpay' %}
      </div>
    </div>
  </div>
</div>



