<script src="https://cdnjs.cloudflare.com/ajax/libs/wow/1.1.2/wow.min.js" integrity="sha512-Eak/29OTpb36LLo2r47IpVzPBLXnAMPAVypbSZiZ4Qkf8p/7S/XRG5xp7OKWPPYfJT6metI+IORkR5G8F900+g==" crossorigin="anonymous"></script>
<style>
@import url(https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css);
</style>
<script>
  new WOW().init();
</script>
<section  class="app-hero-banner">
  <div class="fluid-over">
    <h1 >Taking personalized <br>skincare to the <br>next level</h1>
  </div>
</section>

<section class="cmn-text-sec">
  <div class="container">
    <div class="text-center wow animate__animated  animate__fadeInUp">
      <p>The Q-Rejuvalight Pro Facewear when paired with the Qure Skincare App opens up possibilities that never existed before. Being the world’s first customizable LED mask and also the only one to have a compatible mobile app, Qure empowers you to embark on a skincare journey that’s <u>truly yours</u>. </p>
    </div>
  </div>
</section>

<section class="featured-app-sec t-4">
  <div class="container">
    <div class="row">
      <div class="col-9 m-auto">
        <div class="row">
          <div class="col-6 ">
            <div class="relat">
            <img src="https://cdn.shopify.com/s/files/1/0441/1431/3365/files/p1.png?v=1607160271">  
            </div>
          </div>
          <div class="col-6 ">
            <div class="featured-content-app wow animate__animated  animate__fadeInUp">
              <h3>Left cheek? Forehead? Full face? The choice is yours.</h3>
              <p>With the flexibility to choose up to 5 facial areas (or even full face), we empower you to treat only the areas that are bothering you - unlike any other mask out there.</p>
              <div class="abs right">
                  <img src="https://cdn.shopify.com/s/files/1/0441/1431/3365/files/right.png?v=1607161177">          
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>


<section class="featured-app-sec">
  <div class="container">
    <div class="row">
      <div class="col-9 m-auto">
        <div class="row">
          <div class="col-6 order-m-2">
            <div class="featured-content-app  wow animate__animated  animate__fadeInUp">
              <h3>Need motivation to stay <br>on track?</h3>
              <p>We’ve done the homework for you. We’ve discovered the optimum routine that gives you the best results.</p>
              <p>Join the 8-week Anti-Breakout or Anti-Ageing Challenge and take all the guesswork out of the equation. </p>
              <div class="abs left">
                  <img src="https://cdn.shopify.com/s/files/1/0441/1431/3365/files/left.png?v=1607162458">          
              </div>
            </div>
          </div>
          <div class="col-6 order-m-1">
            <div class="relat">
            <img src="https://cdn.shopify.com/s/files/1/0441/1431/3365/files/p2.png?v=1607161639">  
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="featured-app-sec">
  <div class="container">
    <div class="row">
      <div class="col-9 m-auto">
        <div class="row">
          <div class="col-6">
            <div class="relat">
            <img src="https://cdn.shopify.com/s/files/1/0441/1431/3365/files/p3.png?v=1607162314">  
            </div>
          </div>
          <div class="col-6">
            <div class="featured-content-app  wow animate__animated  animate__fadeInUp">
              <h3>Love breaking streaks?</h3>
              <p>The Qure planner gives you a glimpse of your treatment history and scheduled treatments in a monthly calendar. </p>
              <p>If breaking streaks is your thing, you’re gonna love it!</p>
              <div class="abs right">
                  <img src="https://cdn.shopify.com/s/files/1/0441/1431/3365/files/right.png?v=1607161177">          
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="featured-app-sec">
  <div class="container">
    <div class="row">
      <div class="col-9 m-auto">
        <div class="row">
          <div class="col-6 order-m-2">
            <div class="featured-content-app  wow animate__animated  animate__fadeInUp">
              <h3>Like staying ahead of time?</h3>
              <p>The Qure calendar lets you effortlessly schedule your at-home clinical treatments.</p>
              <p>With the daily reminders to help you stay on track, we’ve made the process a whole lot easier.</p>
              <div class="abs left">
                  <img src="https://cdn.shopify.com/s/files/1/0441/1431/3365/files/left.png?v=1607162458">          
              </div>
            </div>
          </div>
          <div class="col-6 order-m-1">
            <div class="relat">
            <img src="https://cdn.shopify.com/s/files/1/0441/1431/3365/files/p4.png?v=1607162524">  
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="cmn-text-sec dark">
  <div class="container">
    <div class="text-center">
      <p>And that’s not all. You also get personalized skincare tips along the way. <br><br>Say <a href="javascript:;"><i>hello</i></a> to your new skincare buddy.</p>
    </div>
  </div>
</section>
<section class="app-intro-sec">
  <div class="container">
    <div class="row">
      <div class="col-6">
        <div class="app-links">
          <div class="al  wow animate__animated  animate__fadeInUp">
          <img src="https://cdn.shopify.com/s/files/1/0441/1431/3365/files/qure-logo-big.png?v=1607318472">
          <h4>Skincare App</h4>
          </div>
          <span class=" wow animate__animated  animate__fadeInUp">Step into the world of personalized skincare</span>
          <ul class=" wow animate__animated  animate__fadeInUp">
            <li><a href="https://apps.apple.com/us/app/qure-skincare/id1537832613" target="_blank"><img src="https://cdn.shopify.com/s/files/1/0441/1431/3365/files/asb.png?v=1607319461"></a></li>
            <li><a href="https://play.google.com/store/apps/details?id=com.lighttreeventures.qure" target="_blank"><img src="https://cdn.shopify.com/s/files/1/0441/1431/3365/files/gpb.png?v=1607319468"></a></li>
          </ul>
        </div>
      </div>
      <div class="col-6" class=" wow animate__animated  animate__fadeInUp">
        <img src="https://cdn.shopify.com/s/files/1/0441/1431/3365/files/qure-app-image-06a.jpg?v=1607318356">
      </div>
    </div>
  </div>
</section>
