<div class="cus-annoucment">
  <a href="/pages/black-friday-ledmask-serum-bundle">
    <div class="ann-detail">
      <ul>
        <li><b>EXCLUSIVE HOLIDAY SALE</b></li>
        <li><span>Save $285</span></li>
      </ul>
    </div>
  </a>
</div>

<div class="header-wrapper dekstop">

  <div class="announcement announcement_fixed">
    <div class="announcement__item">

    </div>
  </div>

  <header>
    <div class="header-new">
      <nav class="mobile-menu-custome">
        <div class="hamburger-container">
        </div>

      </nav>
      <ul class="menu">
        <li class="">
          <a href="#" class="mask-section">
            Light Therapy Mask
          </a>
        </li>
        <li class="">
          <a href="#" class="serum-section">
            Face Serum
          </a>
        </li>
      </ul>
      <div class="header-logo">
        <a href="/" class="logo-image">


          <img src="//cdn.shopify.com/s/files/1/0441/1431/3365/files/Qure-Logo.png?v=1622789096" srcset="//cdn.shopify.com/s/files/1/0441/1431/3365/files/Qure-Logo.png?v=1622789096 1x, //cdn.shopify.com/s/files/1/0441/1431/3365/files/Qure-Logo@2x.png?v=1622789096 2x" alt="Qure Skincare">

        </a>
      </div>
      <div class="icon-section">
        <ul class="nav nav_e-commerce">
          <li class="nav__item show-on-desktop">
            <a href="#" class="faq-scroll">FAQ'S</a>
          </li>
        </ul>
      </div>
    </div>
  </header>
</div>
<div class="header-wrapper mobile">
  <header>
    <div class="header-new">
      <nav class="mobile-menu-custome">
        <div class="hamburger-container">
          <ul class="hamburger">
            <li></li>
            <li></li>
            <li></li>
          </ul>
        </div>
        <ul id="menu" style="display:none;">
          <hr>


          <li class="title"><a href=" /products/q-rejuvalight-pro-facewear"> Light Therapy Mask </a></li>

          <li class="title"><a href=" /products/face-serum"> Face Serum</a></li>
          <li class="title"><a href="/pages/faqs"> FAQ'S</a></li>

        </ul>
      </nav>
      <div class="header-logo">
        <a href="/" class="logo-image">


          <img src="//cdn.shopify.com/s/files/1/0441/1431/3365/files/Qure-Logo.png?v=1622789096" srcset="//cdn.shopify.com/s/files/1/0441/1431/3365/files/Qure-Logo.png?v=1622789096 1x, //cdn.shopify.com/s/files/1/0441/1431/3365/files/Qure-Logo@2x.png?v=1622789096 2x" alt="Qure Skincare">

        </a>
      </div>
      <div class="icon-section">
        <ul class="nav nav_e-commerce"><li class="cart-custom">
          <div class="product-single__atc button">
            <form action="/cart/add" method="post" enctype="multipart/form-data">
              <input class="variant variant_selected" type="hidden" name="id" value="">
              <input type="hidden" id="Quantity" name="quantity" value="1" min="1" class="product__single-qty">
              <button type="submit" name="add" class="product-btn button button_atc  ">
                <span> <span class="old-price"></span> - Add to Bag</span>
              </button>
              <button class="button button_atc  viable-button__add-to-cart_disabled active">
                <span>Sold Out</span>
              </button>
            </form>
          </div>
          </li>
          <li class="nav__item show-on-desktop">
            <a href="/pages/skin-consultation">GET FREE CONSULT</a>
          </li>
          <li class="nav__item">
            <a href="/account" class="nav__url ac_url">
              <!--               <i class="fa fa-user nav__icon"></i> -->
              <img src="https://cdn.shopify.com/s/files/1/0441/1431/3365/files/Shape.png?v=1621921751" class="fa fa-user nav__icon">
            </a>
          </li>
          <li class="nav__item">
            <a href="/cart" class="nav__url nav__url_cart">
              <!--               <i class="fa fa-shopping-cart nav__icon"></i> -->
              <img src="https://cdn.shopify.com/s/files/1/0441/1431/3365/files/Shape_a9989acd-5632-43f1-be73-b92ad338c003.png?v=1621921776" class="fa fa-shopping-cart nav__icon">
              <span class="nav__cart-count GrowAOV_CartCount">0</span>
            </a>
          </li>


        </ul>
      </div>
    </div>
  </header>
</div>
<section class="bfcm-banner">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="bfcm-banner-content dekstop">
          <span class="bfcm-review">
            <img src="https://cdn.shopify.com/s/files/1/0441/1431/3365/files/Mask.png?v=1636696135">
            <img src="https://cdn.shopify.com/s/files/1/0441/1431/3365/files/Mask.png?v=1636696135">
            <img src="https://cdn.shopify.com/s/files/1/0441/1431/3365/files/Mask.png?v=1636696135">
            <img src="https://cdn.shopify.com/s/files/1/0441/1431/3365/files/Mask.png?v=1636696135">
            <img src="https://cdn.shopify.com/s/files/1/0441/1431/3365/files/Mask.png?v=1636696135">
          </span>
          <h1>Get Up to 56% Smoother, Brighter, Healthier Skin</h1>
          <p class="sub-title">Meet the world’s first customizable, clinical-grade light therapy mask. With just three minutes per day, you can treat acne, fine lines, wrinkles, and more.</p>
          <div class="bfcm-banner-image">
            <!--             <img src="https://cdn.shopify.com/s/files/1/0441/1431/3365/files/mask-packaging-serum-product-image_2.png?v=1636695830"> -->
            <img src="https://cdn.shopify.com/s/files/1/0441/1431/3365/files/mask-packaging-serum-product-image-03_2.png?v=1637740343">

            <div class="bfcm-offer">
              <div class="offer-og">$329 <span>46% Off</span></div>
              <div class="offer-old">$614<span>before price</span></div>
            </div>
          </div>
          <div class="bfcm-banner-icon">
            <ul>
              <li><span><img src="https://cdn.shopify.com/s/files/1/0441/1431/3365/files/wrinkles.svg?v=1637675138"></span>Removes Fine Lines & Wrinkles</li>
              <li><span><img src="https://cdn.shopify.com/s/files/1/0441/1431/3365/files/acne.svg?v=1637675138"></span>Treats Acne & Breakouts</li>
              <li><span><img src="https://cdn.shopify.com/s/files/1/0441/1431/3365/files/dark_spots.svg?v=1637675139"></span>Reduces dark spots & pigmentation</li>
              <li><span><img src="https://cdn.shopify.com/s/files/1/0441/1431/3365/files/redness.svg?v=1637675138"></span>Reduces inflammation & skin redness</li>
            </ul>
          </div>
          <div class="bfcm-banner-price">
            <div class="price-detail">
              <span class="old-price">Was $614.00</span>
              $329.00
              <span class="new-price">You Save $285.00</span>
            </div>
            <a href="#" class="bfcm-btn scoll-fun" rel="noindex nofollow">PRE-ORDER NOW</a>
            <span class="btn-note">
              <a href="#landing-popup" class="open-popup-link">Find out more about ship date</a>
            </span>
            <div id="landing-popup" class="white-popup mfp-hide">
              <p> Please note that we have currently sold out of Qure LED Light Therapy Mask.<br/>
                Ship date from our warehouse is expected early January. If you order multiple items they will be sent together. </p>
            </div>
          </div>
        </div>
        <div class="bfcm-banner-content mobile">
          <span class="bfcm-review">
            <img src="https://cdn.shopify.com/s/files/1/0441/1431/3365/files/Mask_1.png?v=1637154746">
            <img src="https://cdn.shopify.com/s/files/1/0441/1431/3365/files/Mask_1.png?v=1637154746">
            <img src="https://cdn.shopify.com/s/files/1/0441/1431/3365/files/Mask_1.png?v=1637154746">
            <img src="https://cdn.shopify.com/s/files/1/0441/1431/3365/files/Mask_1.png?v=1637154746">
            <img src="https://cdn.shopify.com/s/files/1/0441/1431/3365/files/Mask_1.png?v=1637154746">
          </span>
          <h1>Get Up to 56% Smoother, Brighter, Healthier Skin</h1>
          <div class="bfcm-banner-image">
            <!--             <img src="https://cdn.shopify.com/s/files/1/0441/1431/3365/files/mask-packaging-serum-product-image_2_2.png?v=1637154581"> -->
            <img src="https://cdn.shopify.com/s/files/1/0441/1431/3365/files/Mask_Group_e3c66479-9d1c-46fa-a2cd-21d313be7b69.png?v=1637740511">
            <div class="bfcm-offer">
              <div class="offer-og">$329 <span>46% Off</span></div>
              <div class="offer-old">$614<span>before price</span></div>
            </div>
          </div>
          <div class="bfcm-banner-icon">
            <ul>
              <li><span><img src="https://cdn.shopify.com/s/files/1/0441/1431/3365/files/wrinkles.svg?v=1637675138"></span>Removes Fine Lines & Wrinkles</li>
              <li><span><img src="https://cdn.shopify.com/s/files/1/0441/1431/3365/files/acne.svg?v=1637675138"></span>Treats Acne & Breakouts</li>
              <li><span><img src="https://cdn.shopify.com/s/files/1/0441/1431/3365/files/dark_spots.svg?v=1637675139"></span>Reduces dark spots & pigmentation</li>
              <li><span><img src="https://cdn.shopify.com/s/files/1/0441/1431/3365/files/redness.svg?v=1637675138"></span>Reduces inflammation & skin redness</li>
            </ul>
          </div>
          <div class="bfcm-banner-price">
            <div class="price-detail">
              <span class="old-price">Was $614.00</span>
              $329.00
              <span class="new-price">You Save $285.00</span>
            </div>
            <a href="#" class="bfcm-btn scoll-fun" rel="noindex nofollow">PRE-ORDER NOW</a>
            <span class="btn-note">
              <a href="#landing-popup" class="open-popup-link">Find out more about ship date</a>
            </span>
            <div id="landing-popup" class="white-popup mfp-hide">
              <p>Please note that we have currently sold out of Qure LED Light Therapy Mask.<br/>
                Ship date from our warehouse is expected early January. If you order multiple items they will be sent together. </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="black-friday">
  <div class="container">
    <div class="row">
      <div class="black-friday-con-1">
        <div class="friday-title">
          <h2>Holiday Sale</h2>
          <div class="friday-timer">
            <p>Ending soon</p>
          </div>
        </div>
      </div>
      <div class="black-friday-con-2">
        <div class="friday-subtitle">
          Save   <span>$285</span>   when you purchase 
          Light Therapy Mask and Face Serum
        </div>
      </div>
      <div class="black-friday-con-3">
        <div class="friday-status">
          <ul>
            <li>Bundles Bought<span>11,081</span></li>
            <li>Status<span>Extended</span></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="bfcm-icon">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="bfcm-slider">
          <div><img src="https://cdn.shopify.com/s/files/1/0441/1431/3365/files/Harper_s-Baazar-1b.png?v=1623848622"></div>
          <div><img src="https://cdn.shopify.com/s/files/1/0441/1431/3365/files/Cosmopolitan-1b.png?v=1623848622"></div>
          <div><img src="https://cdn.shopify.com/s/files/1/0441/1431/3365/files/Elle-1b.png?v=1623848622"></div>
          <div><img src="https://cdn.shopify.com/s/files/1/0441/1431/3365/files/Glamour-1b.png?v=1623848623"></div>
          <div><img src="https://cdn.shopify.com/s/files/1/0441/1431/3365/files/Grazia-1b.png?v=1623848622"></div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="bfcm-skincare">
  <div class="bfcm-step">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h2 class="step-title">Get clinical results for a fraction of the in-clinic cost</h2>
          <div class="bfcm-skincar-main dekstop">
            <div class="bfcm-step-detail">
              <img src="https://cdn.shopify.com/s/files/1/0441/1431/3365/files/Mask_Group_1_ee80d06f-7b65-43df-9361-080c1426be56.png?v=1636713349">
              <div class="bfcm-step-info">
                <h2>Step 1</h2>
                <p>Customize your treatment based on your skin’s needs and put mask on.</p>
              </div>
            </div>
            <div class="bfcm-step-detail">
              <img src="https://cdn.shopify.com/s/files/1/0441/1431/3365/files/Mask_Group_4.png?v=1637049355">
              <div class="bfcm-step-info">
                <h2>Step 2</h2>
                <p>3 minute treatment then remove mask.</p>
              </div>
            </div>
            <div class="bfcm-step-detail">
              <img src="https://cdn.shopify.com/s/files/1/0441/1431/3365/files/Mask_Group_9.png?v=1637130798">
              <div class="bfcm-step-info">
                <h2>Step 3</h2>
                <p>Apply all-in-one face serum to  boost your results and get smoother, brighter skin</p>
              </div>
            </div>
          </div>
          <div class="bfcm-skincar-main mobile">
            <div class="bfcm-skincar-slider">
              <div class="bfcm-step-detail">
                <img src="https://cdn.shopify.com/s/files/1/0441/1431/3365/files/Mask_Group_1_ee80d06f-7b65-43df-9361-080c1426be56.png?v=1636713349">
                <div class="bfcm-step-info">
                  <h2>Step 1</h2>
                  <p>Customize your treatment based on your skin’s needs and put mask on.</p>
                </div>
              </div>
              <div class="bfcm-step-detail">
                <img src="https://cdn.shopify.com/s/files/1/0441/1431/3365/files/Mask_Group_4.png?v=1637049355">
                <div class="bfcm-step-info">
                  <h2>Step 2</h2>
                  <p>3 minute treatment then remove mask.</p>
                </div>
              </div>
              <div class="bfcm-step-detail">
                <img src="https://cdn.shopify.com/s/files/1/0441/1431/3365/files/Mask_Group_9.png?v=1637130798">
                <div class="bfcm-step-info">
                  <h2>Step 3</h2>
                  <p>Apply all-in-one face serum to  boost your results and get smoother, brighter skin</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="bfcm-customer">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h2>Let’s see what our customers have to say</h2>
          <span class="customer-review">
            <img src="https://cdn.shopify.com/s/files/1/0441/1431/3365/files/Mask_f8b65968-3800-4c86-83b7-6e50e081319f.png?v=1637405426">
            <img src="https://cdn.shopify.com/s/files/1/0441/1431/3365/files/Mask_f8b65968-3800-4c86-83b7-6e50e081319f.png?v=1637405426">
            <img src="https://cdn.shopify.com/s/files/1/0441/1431/3365/files/Mask_f8b65968-3800-4c86-83b7-6e50e081319f.png?v=1637405426">
            <img src="https://cdn.shopify.com/s/files/1/0441/1431/3365/files/Mask_f8b65968-3800-4c86-83b7-6e50e081319f.png?v=1637405426">
            <img src="https://cdn.shopify.com/s/files/1/0441/1431/3365/files/Mask_f8b65968-3800-4c86-83b7-6e50e081319f.png?v=1637405426">
          </span>
          <div class="customer-sldier">
            <div class="customer-info">
              <img src="https://cdn.shopify.com/s/files/1/0441/1431/3365/files/IMG-20210531-WA0013.jpg?v=1637562951">
              <div class="customer-contain">
                <h6>Best LED mask</h6>
                <p>“ I liked using the device as I prepare to go to sleep at night. I lay back and enjoy. I find it quite relaxing.  After downloading the app, this self-timed, time-efficient, device is easy to wear and surprisingly easy to use. ”</p>
                <span><i>Bella</i></span>
              </div>
            </div>
            <div class="customer-info">
              <img src="https://cdn.shopify.com/s/files/1/0441/1431/3365/files/Mask_Group_7_3fa13717-f3d9-462a-8abd-e17705a8c5d9.png?v=1637060731">
              <div class="customer-contain">
                <h6>Perfect and easy to use</h6>
                <p>“ I use this before I get out of bed in the morning. That way I don´t have to bother with the strap. I love that it only takes 3 minutes. Since I use it over my whole face I do not need to use the app but I have seen that it is easy to use. ”</p>
                <span><i>Cecilia S.</i></span>
              </div>
            </div>
            <div class="customer-info">
              <img src="https://cdn.shopify.com/s/files/1/0441/1431/3365/files/Mask_Group_8_c5a46776-67bf-4b2f-a1ee-5f4171aae871.png?v=1637060731">
              <div class="customer-contain">
                <h6>Firmer and smoother skin!</h6>
                <p>“ I really love this product - I use to get LED facials and find this a much more cost effective in the end. It's super easy to use and I love the app too. Definitely would recommend this to anyone.  ”</p>
                <span><i>Elena P</i>.</span>
              </div>
            </div>
            <div class="customer-info">
              <img src="https://cdn.shopify.com/s/files/1/0441/1431/3365/files/IMG-20210315-WA0039_1.jpg?v=1638365656">
              <div class="customer-contain">
                <h6>My skin is glowing!</h6>
                <p>“Applying the face serum at night after my Qure led light therapy session, for the past 2 weeks I can already see an improvement in my skin- reduction in lines on my forehead, sun spots are lighter and I have a healthy glow.”</p>
                <span><i>Izy, 36</i></span>
              </div>
            </div>

            <div class="customer-info">
              <img src="https://cdn.shopify.com/s/files/1/0441/1431/3365/files/Website_Before_After_Photos_dd4b852c-7e31-44c5-aa83-35ce43253aae.png?v=1638442482">
              <div class="customer-contain">
                <p>"After 8 weeks I can actually talk about this with confidence. I’ve teased y’all with this clinical grade mask since the end of September. I thought it was only working on my breakouts, zero Maskne for 8 weeks now, BUT thank goodness for Before and Afters because even I was shocked!"</p>
                <span><i>Michelle Spieler</i></span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="bfcm-investment">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h2>One-time investment for a lifetime of results</h2>
        <p class="invest-subtitle">Experience unlimited, clinical-grade treatments from the comfort of home. This breakthrough skin technology and formulation has been clinically shown to:</p>
        <div class="investmen">
          <ul>
            <li><span><img src="https://cdn.shopify.com/s/files/1/0441/1431/3365/files/Smooth_fine_line_and_wrinkles.svg?v=1637045248"></span>Smooth fine line and wrinkles</li>
            <li><span><img src="https://cdn.shopify.com/s/files/1/0441/1431/3365/files/Lift_sagging_skin.svg?v=1637045248"></span>Lift sagging skin</li>
            <li><span><img src="https://cdn.shopify.com/s/files/1/0441/1431/3365/files/Reduce_pore_size.svg?v=1637045248"></span>Reduce pore size</li>
            <li><span><img src="https://cdn.shopify.com/s/files/1/0441/1431/3365/files/Fade_pigmentation_and_prevent_dark_spots.svg?v=1637045248"></span>Fade and prevent dark spots</li>
            <li><span><img src="https://cdn.shopify.com/s/files/1/0441/1431/3365/files/Even_skin_tone.svg?v=1637045248"></span>Even skin tone</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
{% section 'bfcm-result' %}
<section class="bfcm-backed">
  <div class="container">
    <div class="row">
      <div class="col-md-6 d-flex align-items-center">
        <div class="backed-content">
          <h2>It’s not magic, it’s science.</h2>
          <p>Qure’s LED light therapy mask works it’s magic <b>beneath the skin</b>, where even the best serums and creams can’t reach, to improve skin quality from the inside out.</p>
          <p>Uses 5 wavelengths of natural light that activates your skin's natural cellular repair process.</p>
          <p><b>D</b>elivering a <b>clinic-grade</b> plumping and firming treatment that smooths and firms’ skin, diminishes fine lines and deep wrinkles, and improves skin radiance in just 3 minutes per day.</p>
        </div>
      </div>
      <div class="col-md-6">
        <div class="backed-image">
          <!--           <img src="https://cdn.shopify.com/s/files/1/0441/1431/3365/files/Rectangle_Copy_3_0fcc87d7-ae26-4797-b8b8-bb2d264307b9.png?v=1637042167"> -->
          <img src="https://cdn.shopify.com/s/files/1/0441/1431/3365/files/251277127_1206190516531217_4745376130893348202_n.jpg?v=1637562951">
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <div class="backed-image">
          <video width="100%" height="100%" autoplay="" muted="" controls="" loop="">
            <source src="https://cdn.shopify.com/s/files/1/0441/1431/3365/files/changing_treatment_vid-02.mp4?v=1623239386" type="video/mp4">
            Your browser does not support the video tag.
          </video>
        </div>
      </div>
      <div class="col-md-6 d-flex align-items-center">
        <div class="backed-content dekstop">
          <h2>Anti-Breakout Treatment</h2>
          <p>Blue and red light work together for maximum results, reducing and preventing acne in three complementary ways.</p>
          <ul>
            <li>Destroys acne-causing bacteria and <b>prevents</b> future flare ups</li>
            <li>Regulates oil production and minimizes pores.</li>
            <li><b>Soothes</b> irritated skin and reduces inflammation. </li>
            <li>Fades post breakout marks and <b>evens skin tone.</b></li>
          </ul>
          <h2 class="treat-title">Anti-Ageing Treatment</h2>
          <ul>
            <li>Stimulates collagen production for <b>firmer, smoother skin.</b></li>
            <li>Reduces dark spots for more <b>even skin tone.</b></li>
            <li><b>Rejuvenates</b> skin and combats signs of ageing</li>
            <li>Promotes skin healing and visibly <b>reduces redness </b>and inflammation.</li>
          </ul>
        </div>
        <div class="backed-content mobile">
          <div class="tab">
            <button class="tablinks active" onclick="openCity(event, 'London')">Anti-ageing treatment</button>
            <button class="tablinks" onclick="openCity(event, 'Paris')">Anti-breakout treatment</button>
          </div>

          <div id="London" class="tabcontent" style="display:block;">
            <ul>
              <li>Stimulates collagen production for <b>firmer, smoother skin.</b></li>
              <li>Reduces dark spots for more <b>even skin tone.</b></li>
              <li><b>Rejuvenates</b> skin and combats signs of ageing</li>
              <li>Promotes skin healing and visibly <b>reduces redness </b> and inflammation.</li>
            </ul>
          </div>

          <div id="Paris" class="tabcontent">
            <ul>
              <li>Destroys acne-causing bacteria and <b>prevents</b> future flare ups</li>
              <li>Regulates oil production and minimizes pores.</li>
              <li><b>Soothes</b> irritated skin and reduces inflammation. </li>
              <li>Fades post breakout marks and <b>evens skin tone.</b></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 d-flex align-items-center">
        <div class="backed-content">
          <h2>Customized for your skin</h2>
          <ul class="setting">
            <li>The setting: your home.</li>
            <li>The settings: you choose.</li>
          </ul>
          <p>Your skin is unique, so your treatment should be. Target what <b>your skin needs today.</b> Use the Qure app to pick which areas of the face to reduce acne or reverse aging on.</p>
          <p>Experience <b>clinical-grade</b> treatments from the comfort of home with the world’s first customisable LED mask.</p>
        </div>
      </div>
      <div class="col-md-6">
        <div class="backed-image">
          <img src="https://cdn.shopify.com/s/files/1/0441/1431/3365/files/Rectangle_Copy_4_2605edd4-900a-4d42-98de-661c8b067e2d.png?v=1637042474">
        </div>
      </div>
    </div> 
  </div>
</section>
<section class="bfcm-boost">
  <div class="container">
    <div class="row">
      <div class="col-md-5">
        <div class="boost-img">
          <!--                     <img src="https://cdn.shopify.com/s/files/1/0441/1431/3365/files/image_14_2.png?v=1637042050"> -->
          <img src="https://cdn.shopify.com/s/files/1/0441/1431/3365/files/251150504_217927387078464_3602358832309405660_n.jpg?v=1637562951">
        </div>
      </div>
      <div class="col-md-7">
        <div class="bfcm-boost-content">
          <h2>Boost your results by 31%</h2>
          <p>Apply our all-in-one face serum post LED light therapy to make your skin look brighter and younger. How? It’s packed with fast-working ingredients like peptides and retinol.</p>
          <p>our clinical study, those that applied Face Serum after using their mask noticed 31% less wrinkles.</p>
          <ul>
            <li><span><img src="https://cdn.shopify.com/s/files/1/0441/1431/3365/files/Argireline_Peptide.png?v=1637140478"></span>Argireline® Peptide</li>
            <li><span><img src="https://cdn.shopify.com/s/files/1/0441/1431/3365/files/Active_Niacinamide.png?v=1637140478"></span>Active Niacinamide</li>
            <li><span><img src="https://cdn.shopify.com/s/files/1/0441/1431/3365/files/Bakuchiol2.png?v=1637140478"></span>Bakuchiol</li>
            <li><span><img src="https://cdn.shopify.com/s/files/1/0441/1431/3365/files/Actiwhite.png?v=1637140478"></span>Actiwhite™</li>
            <li><span><img src="https://cdn.shopify.com/s/files/1/0441/1431/3365/files/Retinol_Vit._A.png?v=1637140478"></span>Retinol (Vit. A)</li>
            <li><span><img src="https://cdn.shopify.com/s/files/1/0441/1431/3365/files/Ethyl_Ascorbic_Acid_Vit._C.png?v=1637140478"></span>Ethyl Ascorbic Acid (Vit. C)</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="bfcm-saving">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h2 class="dekstop">Get your Holiday savings now Clinical results for a fraction of the cost</h2>
        <h2 class="mobile">Get your Holiday savings now</h2>
        <ul>
          <li><span><img src="https://cdn.shopify.com/s/files/1/0441/1431/3365/files/FREE_World-Wide_Shipping.svg?v=1637045249"></span>FREE World-Wide <br/>Shipping</li>
          <li><span><img src="https://cdn.shopify.com/s/files/1/0441/1431/3365/files/Backed_by_science.svg?v=1637045248"></span>Backed by science  </li>
          <li><span><img src="https://cdn.shopify.com/s/files/1/0441/1431/3365/files/1_year_warranty.svg?v=1637045248"></span>1 year warranty </li>
          <li><span><img src="https://cdn.shopify.com/s/files/1/0441/1431/3365/files/30-Days_Return.svg?v=1637045248"></span>30-Days Return </li>
        </ul>
        <div class="saving-image">
          <img src="https://cdn.shopify.com/s/files/1/0441/1431/3365/files/mask-packaging-serum-product-image_2_1.png?v=1636975274">
        </div>
        <div class="bfcm-banner-price last-btn">
          <div class="price-detail">
            <span class="old-price">Was $614.00</span>
            $329.00
            <span class="new-price">You Save $285.00</span>
          </div>
          <a href="/cart/37390541553813:1,35987553419413:1" class="bfcm-btn">PRE-ORDER NOW</a>
          <a href="#" class="kalna">Get better skin now, pay later<img src="https://cdn.shopify.com/s/files/1/0441/1431/3365/files/Vector_8_03cf446b-c7a1-4119-ac9e-c146206600d9.png?v=1636974372"></a>
          <span class="btn-note">
            <a href="#landing-popup" class="open-popup-link">Find out more about ship date</a>
          </span>
          <div id="landing-popup" class="white-popup mfp-hide">
            <p>Please note that we have currently sold out of Qure LED Light Therapy Mask.<br/>
              Ship date from our warehouse is expected early January. If you order multiple items they will be sent together. </p>
          </div>
        </div> 
      </div>
    </div>
  </div>
</section> 
<section class="video-sldier">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h2>Real reviews</h2>
        <p>What others are saying about the world’s first customizable LED light therapy mask</p>
        <div class="cus-video-sli">
          <div>
            <a href="https://cdn.shopify.com/s/files/1/0441/1431/3365/files/new-video.mp4?v=1628515539" class="video-pop">
              <iframe width="560" height="250" src="https://www.youtube.com/embed/1iXBgh7WPOY" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </a>
            <span class="video-text">Dr Greeney Certified Dermatologist Review</span>
          </div>
          <div>
            <a href="#" class="video-pop"><iframe width="560" height="250" src="https://www.youtube.com/embed/0AysuGjdzrE" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></a>
            <span class="video-text">Chris Gibson Review</span>
          </div>
          <div>
            <a href="#" class="video-pop"><iframe width="560" height="250" src="https://www.youtube.com/embed/JhLkhuDJ0rs" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></a>
            <span class="video-text">Lavinia Rusanda Review </span>
          </div>
          <div>
            <a href="#" class="video-pop"><iframe width="560" height="250" src="https://www.youtube.com/embed/_zZ1SDDuoc0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></a>
            <span class="video-text">Chris Han Review</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{% section 'bfcm-faq' %}

<style>
  .video-sldier {
    padding: 35px 0 100px;
  }
  .video-sldier iframe{
    min-height: 300px;
  }
  .video-sldier .slick-slide{
    margin:0 20px;
  }
  .video-sldier .slick-dots li{
    background: rgb(0 0 0 / 15%);
    border-radius: 30px;
    width: 32px;
    height: 10px;
  }
  .video-sldier .slick-dots li.slick-active button:before{
    width: 18px;
  }
  .video-sldier ul.slick-dots {
    bottom: -50px;
  }
  .video-sldier h2 {
    font-family: 'Canela-Thin';
    margin: 0;
    font-style: normal;
    font-weight: 600;
    font-size: 52px;
    line-height: 75px;
    text-align: center;
    letter-spacing: 0.4px;
    color: #000000;
  }
  .video-sldier p{
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    letter-spacing: 0.2px;
    color: rgb(0 0 0 / 80%);
    margin: 0 auto 50px;
    max-width: 540px;
  }
  .video-sldier span.video-text{
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 22px;
    text-align: center;
    letter-spacing: 0.2px;
    color: #000;
    display: block;
    margin:10px 0;
  }
  .bfcm-banner {
    background: linear-gradient(180deg, #C7E7DC 0, rgba(199, 231, 220, 0) 100%);
  }

  body#bfcm-landing-page main#MainContent {
    padding: 0 !important;
  }
  .bfcm-banner-content h1 {
    font-family: 'Canela-Thin';
    font-style: normal;
    font-weight: 600;
    font-size: 52px;
    line-height: 65px;
    text-align: center;
    letter-spacing: 1px;
    color: #000000;
    margin:0;
  }
  .bfcm-banner-content .sub-title{
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 30px;
    text-align: center;
    letter-spacing: 0.3px;
    color: #000000;
    margin: 20px 0 0px;
    margin: 20px auto 0px;
    max-width: 940px;
  }
  .bfcm-banner-image {
    position: relative;
    text-align:center;
  }
  .bfcm-banner-content {
    padding: 30px 0 45px;
  }
  span.bfcm-review {
    text-align: center;
    display: block;
    padding-bottom:20px;
  }
  .bfcm-offer {
    position: absolute;
    left: 15%;
    top: 0;
    display: flex;
    align-items: center;
  }
  .bfcm-offer .offer-og {
    font-family: 'Canela-Thin';
    background: #000000;
    width: 150px;
    height: 150px;
    border-radius: 100px;
    font-style: normal;
    font-weight: 250;
    font-size: 56px;
    line-height: 135px;
    text-align: center;
    letter-spacing: 1px;
    color: #FFFFFF;
    position:relative;
  }
  .bfcm-offer .offer-og span {
    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: normal;
    text-align: center;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #FFFFFF;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 25px;
  }
  .bfcm-offer .offer-old {
    font-family: 'Canela-Thin';
    font-style: normal;
    font-weight: 250;
    font-size: 48px;
    line-height: normal;
    text-align: center;
    letter-spacing: 1px;
    color: #000000;
    margin-left: 20px;
    position:relative;
  }
  .bfcm-offer .offer-old:before{
    content:'';
    position:absolute;
    border: 1.5px solid #000000;
    transform: rotate(-18.11deg);
    width: 100px;
    top: 24px;
    background-color: #000;
  }
  .bfcm-offer .offer-old span{
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: normal;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 1px;
    color: #000000;
  }
  .bfcm-banner-icon ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    max-width: 1050px;
    margin: 0 auto;
  }
  .bfcm-banner-icon ul li{
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 21px;
    text-align: center;
    letter-spacing: 0.3px;
    color: rgb(0 0 0 / 80%);
    max-width: 175px;
  }
  .bfcm-banner-icon ul li span {
    width: 100%;
    display: block;
    margin-bottom: 7px;
  }
  .bfcm-banner-price {
    margin-top: 45px;
    text-align: center;
  }
  .bfcm-banner-price a.bfcm-btn {
    background: #000000;
    border-radius: 100px;
    width: 493px;
    height: 62px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 28px;
    line-height: 20px;
    letter-spacing: 0.2px;
    color: #FFFFFF;
    text-decoration:none;
  }
  .price-detail {
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
    line-height: 24px;
    text-align: center;
    color: #000000;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
  }
  .price-detail span.old-price{
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 17px;
    text-align: center;
    color: #C92127;
    padding-right: 15px;
  }
  .price-detail span.new-price{
    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 16px;
    text-align: center;
    letter-spacing: -0.01em;
    color: #008763;
    padding-left: 15px;
  }
  .black-friday {
    background: #000000;
    padding: 28px 120px 32px;
  }
  .black-friday .friday-title h2 {
    font-family: 'Canela-Thin';
    font-style: normal;
    font-weight: normal;
    font-size: 48px;
    line-height: 68px;
    display: flex;
    align-items: center;
    letter-spacing: 1px;
    color: #FFFFFF;
  }
  .black-friday .friday-subtitle {
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 22px;
    line-height: 39px;
    letter-spacing: 0.3px;
    color: #FFFFFF;
    max-width: 450px;
  }
  .black-friday .friday-subtitle span{
    color: #000;
    font-weight: 600;
    padding: 2px 12px;
    background: #CCE5DD;
  }
  .black-friday .friday-status ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }
  .black-friday .friday-status ul li {
    background: #CCE5DD;
    border-radius: 5px;
    margin-bottom: 16px;
    padding: 7px 15px;
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 28px;
    letter-spacing: 0.3px;
    color: #000000;
    width: 245px;
  }
  .black-friday .friday-status ul li:last-child{
    margin-bottom: 0;
  }
  .black-friday .friday-status ul li span {
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 28px;
    letter-spacing: 0.3px;
    color: #D00A0A;
    border-left: 1px solid #000000;
    margin-left: 15px;
    padding-left: 15px;
  }
  .black-friday .col-md-3 {
    border-right: 1px solid #fff;
  }
  .bfcm-icon .bfcm-slider img{
    margin: 0 auto;
    text-align: center;
    opacity: 0.5;
    height: 30px;
    width: 165px;
    object-fit: cover;
  }
  .bfcm-icon {
    padding: 60px 120px 60px;
    background: #FFFFFF;
  }
  .bfcm-skincare {
    background: linear-gradient(180deg, #FFFAF1 100.44%, rgba(255, 250, 241, 0) 100.42%);
    padding: 80px 120px 80px;
  }
  .bfcm-step h2.step-title {
    font-family: 'Canela-Thin';
    font-style: normal;
    font-weight: 600;
    font-size: 54px;
    line-height: 68px;
    text-align: center;
    letter-spacing: 0.3px;
    color: #000000;
    margin: 0 auto 70px;
    max-width: 720px;
  }
  .bfcm-step .bfcm-skincar-main {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  .bfcm-step-info h2{
    font-family: 'Canela-Thin';
    font-style: normal;
    font-weight: 600;
    font-size: 28px;
    line-height: 32px;
    text-align: center;
    letter-spacing: 0.3px;
    color: #000000;
    margin: 25px 0 30px;
  }
  .bfcm-step-info p{
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 28px;
    text-align: center;
    letter-spacing: 0.3px;
    color: rgb(0 0 0 / 80%);
    margin: 0;
    max-width: 320px;
  }
  .bfcm-step-detail {
    text-align: center;
  }
  .bfcm-customer {
    margin-top: 100px;
  }
  .bfcm-customer h2{
    font-family: 'Canela-Thin';
    font-style: normal;
    font-weight: 600;
    font-size: 54px;
    line-height: 68px;
    text-align: center;
    letter-spacing: 0.3px;
    color: #000000;
    margin: 0 auto;
    max-width: 650px;
  }
  span.customer-review {
    text-align: center;
    display: block;
    margin-top: 20px;
    margin-bottom:35px;
  }
  .customer-contain h6 {
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 32px;
    text-align: center;
    letter-spacing: 0.3px;
    color: rgb(0 0 0 / 80%);
    margin: 30px 0 0;
  }
  .customer-contain {
    padding: 0 20px 25px;
  }
  .customer-contain p{
    font-family: Poppins;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 32px;
    text-align: center;
    letter-spacing: 0.3px;
    color: rgb(0 0 0 / 80%);
    margin: 30px auto 0;
    max-width: 336px;
    min-height:224px;
  }
  .customer-sldier .customer-info img {
    margin: 0 auto;
    width: 100%;
    height: 411px;
    object-fit: cover;
    border-radius: 12px 12px 0 0;
  }
  .customer-sldier .customer-info {
    text-align: center;
  }
  .customer-info {
    background: #F7EEDE;
    border-radius: 12px;
    margin:0 15px;
  }
  .customer-contain span {
    font-weight: 500;
    margin-top: 20px;
    display: block;
  }
  .customer-sldier .slick-dots li{
    background: rgb(0 0 0 / 15%);
    border-radius: 30px;
    width: 32px;
    height: 10px;
  }
  .customer-sldier .slick-dots li.slick-active button:before{
    width: 18px;
  }
  .customer-sldier ul.slick-dots {
    bottom: -60px;
  }
  .friday-title .counter h1 {
    font-weight: normal;
  }

  .friday-title .counter li {
    display: inline-block;
    font-size: 1em;
    list-style-type: none;
    padding: 1em;
    text-transform: uppercase;
  }

  .friday-title .counter li span {
    display: block;
    font-size: 4.5rem;
  }
  .friday-timer {
    display: flex;
  }
  .friday-timer p{
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 26px;
    color: #FFFFFF;
    margin:0 20px 0 0;
  }
  .friday-timer ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display:flex;
    align-items:center;
  }
  .friday-timer ul li{
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 26px;
    color: #FFFFFF;
    width: 45px;
    margin: 0 15px;
  }
  .friday-timer ul li span{
    background: #FFFFFF;
    border-radius: 5px;
    width: 38px;
    height: 26px;
    color: #000000;
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 33px;
    display: block;
    height: 30px;
    margin: 0 auto;
    text-align: center;
  }
  .friday-status {
    margin-left: 40px;
  }
  .black-friday-con-2 {
    padding-left: 50px;
    border-left: 1px solid #FFFFFF;
    margin-left: 50px;
    display: flex;
    align-items: center;
  }
  .bfcm-investment {
    padding: 52px 0 85px;
    text-align: center;
  }
  .black-friday-con-3 {
    display: flex;
    align-items: center;
  }
  .bfcm-investment .container {
    max-width: 100%;
  }
  .bfcm-investment h2 {
    font-family: 'Canela-Thin';
    font-style: normal;
    font-weight: 600;
    font-size: 54px;
    line-height: 68px;
    text-align: center;
    letter-spacing: 0.3px;
    color: #000000;
    margin: 0 auto 12px;
    max-width: 560px;
  }
  .bfcm-investment p.invest-subtitle{
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    letter-spacing: 0.3px;
    color: rgb(0 0 0 / 80%);
    margin:0 auto;
    padding-bottom:50px;
    max-width: 740px;
  }
  .investmen ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    justify-content: center;
    justify-content: space-between;
    max-width: 1130px;
    margin: 0 auto;
  }
  .investmen ul li{
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 27px;
    text-align: center;
    letter-spacing: 0.3px;
    color: rgb(0 0 0 / 80%);
    max-width: 190px;
  }
  .investmen ul li span{
    display:block;
    width:100%;
  }
  #shopify-section-bfcm-result ul.slick-dots {
    display: none !important;
  }
  #shopify-section-bfcm-result .see-result {
    padding: 100px 0;
    background: linear-gradient(180deg, #C7E7DC 0%, rgba(199, 231, 220, 0) 100%);
  }
  #shopify-section-bfcm-result .see-result .result-title h2{
    font-size: 64px;
    line-height: 68px;
  }
  #shopify-section-bfcm-result .see-result .result-title p{
    font-size: 20px;
    line-height: 34px;
    color: rgb(0 0 0 / 80%);
    opacity: 1;
    padding: 30px 0 70px;
  }
  #shopify-section-bfcm-result .see-result .result-info h2{
    font-style: normal;
    font-weight: 600;
    font-size: 48px;
    line-height: 68px;
    color: #000000;
  }
  #shopify-section-bfcm-result .see-result .result-info h3{
    font-family: 'Canela-Thin';
    font-style: normal;
    font-weight: 600;
    font-size: 72px;
    line-height: 68px;
    text-align: left;
    color: #000000;
    padding: 45px 0 16px;
    margin:0;
  } 
  #shopify-section-bfcm-result .result-info {
    padding-left: 50px;
  }
  #shopify-section-bfcm-result .row.second-slider .result-info {
    padding-left: 0;
    padding-right: 50px;
  }
  span.before {
    position: absolute;
    background: #FFFFFF;
    width: 67px!important;
    height: 24px;
    display: inline-block;
    left: 17px;
    top: 14px;
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    letter-spacing: 0.2px;
    color: rgb(0 0 0 / 80%);
  }
  span.after {
    position: absolute;
    background: #FFFFFF;
    width: 67px!important;
    height: 24px;
    display: inline-block;
    left: 18%;
    top: 14px;
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    letter-spacing: 0.2px;
    color: rgb(0 0 0 / 80%);
  }
  #shopify-section-bfcm-result .container {
    padding-left: 157px;
    padding-right: 157px;
  }
  .bfcm-backed {
    background: #FFFAF1;
    padding: 95px 0 150px;
  }
  .bfcm-backed .backed-image img{
    width:100%;
  }
  .bfcm-backed .backed-content h2{
    font-family: 'Canela-Thin';
    font-style: normal;
    font-weight: 600;
    font-size: 52px;
    line-height: 68px;
    color: #000000;
    margin: 0 0 25px;
  }
  .bfcm-backed .backed-content h2.treat-title{
    margin-top:35px;
  }
  .bfcm-backed .backed-content p{
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 28px;
    letter-spacing: 0.3px;
    color: rgb(0 0 0 / 80%);
    margin: 0 0 20px;
    max-width: 514px;
  }
  .bfcm-backed .backed-content p b{
    font-weight:600;
  }
  .bfcm-backed .backed-content ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }
  .bfcm-backed .backed-content ul li{
    position:relative;
    padding-bottom: 10px;
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 32px;
    letter-spacing: 0.3px;
    color: rgb(0 0 0 / 80%);
    padding-left: 35px;
  }
  .bfcm-backed .backed-content ul li b{
    font-weight:600;
  }
  .bfcm-backed .backed-content ul li:before{
    content:'';
    position:absolute;
    background-image:url(https://cdn.shopify.com/s/files/1/0441/1431/3365/files/Vector_9_8bf07902-56ef-470c-bf33-4b52c61416cf.png?v=1637044451);
    width: 19px;
    height: 14px;
    left: 0;
    top: 10px;
  }
  .bfcm-backed .row {
    margin-bottom: 60px;
  }
  .bfcm-backed .row:last-child{
    margin-bottom: 0px;
  }
  .bfcm-boost {
    padding: 75px 0 0;
  }
  .bfcm-boost .bfcm-boost-content h2 {
    font-family: 'Canela-Thin';
    font-style: normal;
    font-weight: 600;
    font-size: 52px;
    line-height: 78px;
    letter-spacing: 0.3px;
    color: #000000;
    margin: 0 0 16px;
  }
  .bfcm-boost .bfcm-boost-content p{
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 28px;
    letter-spacing: 0.2px;
    color: rgb(0 0 0 / 80%);
    margin: 0 0 15px;
    max-width: 580px;
  }
  .bfcm-boost-content ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 35px;
  }
  .bfcm-boost-content ul li{
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 28px;
    text-align: center;
    color: #000000;
    width: 28%;
    margin-bottom: 25px;
  }
  .bfcm-boost-content ul li span {
    display: block;
    margin: 0 auto 10px;
  }
  .bfcm-boost-content ul li span img {
    width: 90px;
  }
  .bfcm-boost .bfcm-banner-price {
    margin: 90px auto 30px;
  }
  .bfcm-boost a.kalna {
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
    text-align: center;
    color: #000000;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
  }
  .bfcm-saving h2 {
    font-style: normal;
    font-weight: 600;
    font-size: 52px;
    line-height: 75px;
    text-align: center;
    letter-spacing: 0.4px;
    color: #000000;
    margin: 0 auto;
    font-family: 'Canela-Thin';
    max-width: 850px;
  }
  .bfcm-saving ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 50px;
  }
  .bfcm-saving ul li{
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 26px;
    letter-spacing: 0.3px;
    color: #000000;
    display: flex;
    align-items: center;
  }
  .bfcm-saving ul li span{
    float:left;
    margin-right: 15px;
  }
  .bfcm-saving .saving-image {
    text-align: center;
  }
  .bfcm-saving .bfcm-banner-price {
    margin: 0;
  }
  .bfcm-saving a.kalna {
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
    text-align: center;
    color: #000000;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 25px;
  }
  .bfcm-saving {
    padding: 100px 0 60px;
  }
  #shopify-section-bfcm-result .see-result .result-info p strong {
    font-weight: 600;
  }
  #shopify-section-bfcm-faq .faq-section {
    padding: 90px 0 75px;
    background: #FFFAF1;
  }
  #shopify-section-bfcm-faq .faq-section h2 {
    font-size: 46px;
    line-height: 60px;
    letter-spacing: 1px;
    max-width: 350px;
    margin: 0 auto;
  }
  #shopify-section-bfcm-faq .faq-section .accordion-container {
    margin-top: 50px;
  }
  #shopify-section-bfcm-faq .faq-section .accordion-container .set a{
    font-size: 18px;
    line-height: 26px;
  }
  #shopify-section-bfcm-faq .faq-section .faq-caption p a {
    color: #000;
  }
  .bfcm-saving ul li span img {
    width: 58px;
  }
  .investmen ul li span img {
    width: 160px;
  }
  body#bfcm-landing-page {
    padding: 0 !important;
  }
  body#bfcm-landing-page .header-new {
    padding: 16px 110px 16px !important;
  }
  body#bfcm-landing-page .header-new .icon-section {
    justify-content: center;
  }
  .bfcm-backed .backed-content ul.setting {
    margin-bottom: 20px;
  }
  .bfcm-backed .backed-content .setting li {
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 28px;
    letter-spacing: 0.3px;
    color: rgb(0 0 0 / 80%);
    padding: 0;
  }
  .bfcm-backed .backed-content .setting li:before{
    display:none;
  }
  .cus-annoucment {
    background-color: #C7E7DC;
    padding: 10px 0;
  }
  .cus-annoucment a{
    text-decoration:none;
  }
  .cus-annoucment ul {
    margin: 0;
    padding: 0;
    list-style:none;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
  .cus-annoucment ul li{
    margin-right: 40px;
    border-right: 1px solid #000;
    padding-right: 40px;
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    letter-spacing: 0.3px;
    color: #000000;
  }
  .cus-annoucment ul li b{
    font-weight:600;
  }
  .cus-annoucment ul li:last-child{
    margin-right: 0px;
    border-right: 1px solid transparent;
    padding-right: 0px;
  }
  .bfcm-banner-icon ul li img {
    width: 50px;
    object-fit: cover;
  }
  .bfcm-banner-price span.btn-note {
    color: #C92127;
    font-size: 15px;
    margin-top: 11px;
    display: block;
  }
  .bfcm-banner-price span.btn-note a.open-popup-link {
    color: #D00A0A;
    text-decoration:underline;
  }
  @media (max-width:1420px){
    .black-friday {
      padding: 28px 70px 32px;
    }
  }

  @media (max-width:1400px){
    .black-friday-con-2 {
      padding-left: 30px;
      border-left: 1px olid #FFFFFF;
      margin-left: 30px;
    }
    .friday-status {
      margin-left: 25px;
    }
  }
  @media (max-width:1280px){
    .black-friday {
      padding: 28px 30px 32px;
    }
  }
  @media (min-width:1199px){
    .bfcm-banner .container{
      max-width: 100%;
      padding:0 120px;
    }
    .black-friday .container {
      max-width: 100%;
    }
    .bfcm-icon .container{
      max-width: 100%;
    }
    .bfcm-skincare .container{
      max-width: 100%;
    }
    body#bfcm-landing-page .header-wrapper.mobile{
      display:none;
    } 
    /*     .bfcm-banner-image img {
    margin-top: -70px;
    margin-bottom: -40px;
    height: 550px;
    object-fit: cover;
  } */
    .bfcm-saving .saving-image {
      text-align: center;
      margin-top: -66px;
    }
    .black-friday .row{
      flex-wrap: nowrap;
    }
    .bfcm-backed .backed-image img{
      height: 420px;
      object-fit: cover;
    }
    .bfcm-boost .boost-img img {
      height: 556px;
      object-fit: cover;
    }
  }
  @media (min-width:1300px) and (max-width:1400px){
    /*     .bfcm-banner-image img {
    height: 450px;
  } */
  }
  @media (max-width:1199px){
    body#bfcm-landing-page .header-wrapper.dekstop{
      display:none;
    }
    body#bfcm-landing-page .header-new {
      padding: 16px 20px 16px !important;
    }
  }
  @media (min-width:991px) and (max-width:1199px){
    .black-friday {
      padding: 28px 40px 32px;
    }
    .black-friday .friday-title h2{
      font-size:38px;
    }
    .black-friday-con-2 {
      padding-left: 20px;
      margin-left: 20px;
    }
    .black-friday .friday-subtitle{
      font-size: 16px;
      max-width: 310px;
    }
    .friday-status {
      margin-left: 10px;
    }
    .black-friday .friday-status ul li{
      width: 220px;
      font-size: 14px;
      padding: 7px 10px;
    }
    .friday-timer p{
      font-size: 16px;
    }
    .black-friday .row {
      justify-content: space-between;
    }
    .bfcm-skincare{
      padding: 80px 25px 80px;
    }
    #shopify-section-bfcm-result .container {
      padding-left: 40px;
      padding-right: 40px;
    }
    #shopify-section-bfcm-result .result-info {
      padding-left: 0px;
    }
    .bfcm-backed .backed-content h2{
      font-size:44px;
      margin-top: 20px;
      margin-bottom: 20px;
    }
    .bfcm-boost .bfcm-banner-price {
      margin: 30px auto 20px;
    }
  }
  @media (min-width:991px){
    .bfcm-step .bfcm-skincar-main.mobile {
      display: none;
    }

    div#shopify-section-bfcm-result .result-info.mobile{
      display:none;
    }

    .bfcm-backed .backed-content.mobile{
      display:none;
    }

    .bfcm-saving h2.mobile {
      display: none;
    }
  }
  @media  (max-width:991px){

    .black-friday {
      padding: 16px 27px 36px;
      text-align: center;
    }
    .black-friday .friday-title h2{
      justify-content:center;
      margin-bottom: 0;
      font-size: 42px;
    }
    .friday-timer{
      flex-wrap:wrap;
      justify-content: center;
    }
    .friday-timer p{
      width: 100%;
      margin: 0;
      font-size: 16px;
      margin-bottom: 7px;
    }
    .black-friday-con-2{
      border-left:1px solid transparent;
      padding-left: 0;
      margin-left: 0;
      border-top: 1px solid #fff;
      padding-top: 18px;
      margin-top: 20px;
    }
    .black-friday .row{
      justify-content:center;
    }
    .black-friday .friday-subtitle{
      font-size: 16px;
      line-height: 28px;
    }
    .black-friday .friday-status ul li{
      width: 163px;
      margin-bottom: 0;
      margin-right: 13px;
      padding:7px 15px;
    }
    .black-friday .friday-status ul li:last-child{
      margin-right: 0px;
    }
    .black-friday .friday-status ul li span{
      margin-left:0;
      padding-left:0;
      border-left:none;
      display: block;
    }
    .black-friday .friday-status ul{
      display:flex;
    }
    .friday-status {
      margin-left: 0;
      margin-top: 25px;
    }
    .black-friday .friday-subtitle span{
      padding: 2px 7px;
    }
    .bfcm-banner-icon ul{
      max-width:100%;
    }
    .bfcm-banner-icon ul li{
      max-width: 25%;
    }

    .bfcm-icon {
      padding: 38px 20px 40px;
    }
    .bfcm-icon .bfcm-slider img{
      width:195px;
      height:40px;
    }
    .bfcm-icon ul.slick-dots {
      bottom: -42px;
    }
    .bfcm-icon .slick-dots li{
      width: 8px;
      height: 8px;
    }
    .bfcm-icon .slick-dots li button{
      width: 8px;
      height: 8px;
    }
    .bfcm-icon .slick-dots li button:before{
      background: #000000;
      width: 8px;
      height: 8px;
      border-radius:100px;
    }
    .bfcm-step .bfcm-skincar-main.dekstop {
      display: none;
    }
    .bfcm-step h2.step-title{
      font-size: 38px;
      line-height: 44px;
      margin: 0 auto 30px;
    }

    .bfcm-step .bfcm-skincar-main.mobile {
      display: inherit;
    }
    .bfcm-step .slick-dots li{
      width: 8px;
      height: 8px;
    }
    .bfcm-step .slick-dots li button{
      width: 8px;
      height: 8px;
    }
    .bfcm-step .slick-dots li button:before{
      background: #000000;
      width: 8px;
      height: 8px;
      border-radius:100px;
    }
    .bfcm-step .bfcm-skincar-main.mobile img {
      width: 229px;
      margin: 0 auto;
    }
    .bfcm-step-info h2{
      font-size: 20px;
      margin: 20px 0 30px;
    }
    .bfcm-step-info p{
      margin: 0 auto;
    }
    .bfcm-step .slick-dots{
      bottom: -15px;
    }
    .bfcm-skincare{
      padding: 80px 50px 80px;
    }
    .bfcm-investment h2{
      font-size: 38px;
      line-height: 44px;
      margin: 0 auto 25px;
    }
    .bfcm-investment {
      padding: 65px 16px 40px;
    }
    .bfcm-investment p.invest-subtitle{
      max-width: 550px;
    }
    .investmen ul{
      max-width:100%;
      flex-wrap:wrap;
      justify-content:center;
    }
    .investmen ul li{
      width:50%;
      font-size: 14px;
      line-height: 21px;
    }
    .investmen ul li span img {
      width: 130px;
    }

    #shopify-section-bfcm-result .see-result{
      background: linear-gradient(180deg, #C7E7DC 45.83%, #FFFFFF 100%);
      padding: 80px 0 60px;
    }
    #shopify-section-bfcm-result .container{
      padding-left: 24px;
      padding-right: 24px;
    }
    #shopify-section-bfcm-result .see-result .result-title h2{
      font-size: 38px;
      line-height: 46px;
    }
    #shopify-section-bfcm-result .see-result .result-title p{
      font-size: 16px;
      line-height: 28px;
      padding: 20px 0 30px;
    }
    #shopify-section-bfcm-result .result-info.dekstop {
      display: none;
    }
    #shopify-section-bfcm-result .result-info.mobile {
      padding-left: 0;
      flex-wrap: wrap;
    }
    #shopify-section-bfcm-result .result-des {
      padding-left: 0;
      display: flex;
      align-items: center;
    }
    #shopify-section-bfcm-result .result-slider.slick-initialized.slick-slider.slick-dotted {
      margin-bottom: 0;
    }
    #shopify-section-bfcm-result .see-result .result-info h2{
      font-size: 36px;
      line-height: 68px;
      margin-bottom: 8px;
    }
    #shopify-section-bfcm-result .result-info.mobile {
      padding-left: 0;
      flex-wrap: wrap;
      margin-top: 13px;
      margin-bottom: 0;
      padding-bottom: 50px;
    }
    #shopify-section-bfcm-result .see-result .result-info h3{
      font-size: 64px;
      padding: 0;
    }
    #shopify-section-bfcm-result .see-result .result-info p {
      max-width: 197px;
      font-size: 16px;
      line-height: 24px; 
      margin-bottom: 2px;
    }
    #shopify-section-bfcm-result .detail-info {
      margin-left: 31px;
    }
    #shopify-section-bfcm-result .see-result .row {
      margin-bottom: 0;
    }
    #shopify-section-bfcm-result .row.second-slider .result-info {
      padding-left: 0;
      padding-right: 0;
    } 


    .bfcm-backed .col-md-6.d-flex.align-items-center {
      order: 2;
    }
    .bfcm-backed {
      background: #FFFAF1;
      padding: 5px 0 57px;
    }
    .bfcm-backed .container{
      padding:0;
    }
    .bfcm-backed .backed-content {
      padding: 0 0px;
      margin-bottom: 50px;
    }
    .bfcm-backed .backed-content h2{
      font-size: 38px;
      line-height: 46px;
      margin: 25px 0 14px;
    }
    .bfcm-backed .row {
      margin-bottom: 30px;
    }
    .bfcm-backed .backed-content.dekstop{
      display:none;
    }
    .bfcm-backed .tab {
      margin-bottom: 24px;
      border: 2px solid #F6EEDE;
      border-radius: 12px;
      background: #FFFAF1;
      display: flex;
      margin-top: 16px;
    }
    .bfcm-backed .tab button.tablinks {
      font-style: normal;
      font-weight: 600;
      font-size: 28px;
      line-height: 33px;
      display: flex;
      align-items: center;
      text-align: center;
      color: #000000;
      font-family: 'Canela-Thin';
      padding: 15px;
      background: #FFFAF1;
      border: transparent;
    }
    .bfcm-backed .tab button.tablinks.active {
      background: #F6EEDE;
    }
    .bfcm-backed .backed-content ul li{
      padding-bottom: 12px;
      line-height: 28px;
    }
    .bfcm-backed .col-md-6 {
      flex: 0 0 100%;
      max-width: 100%;
    }
    .bfcm-backed .backed-content p{
      max-width: 100%;
    }

    .bfcm-boost{
      padding:0;
    }
    .bfcm-boost .container{
      padding:0;
      max-width:100%;
    }
    .bfcm-boost .bfcm-boost-content {
      padding: 0 24px;
    }
    .bfcm-boost .bfcm-boost-content h2{
      font-size: 40px;
      line-height: 46px;
      margin: 23px 0 19px;
    }
    .bfcm-boost .bfcm-boost-content p{
      max-width: 100%;
    }
    .bfcm-boost-content ul li{
      font-size: 14px;
      line-height: 22px;
    }
    .bfcm-boost .bfcm-banner-price{
      display:none;
    }
    .bfcm-boost .col-md-5 {
      flex: 0 0 100%;
      max-width: 100%;
    }
    .bfcm-boost .col-md-7 {
      flex: 0 0 100%;
      max-width: 100%;
    }
    .bfcm-boost .boost-img img {
      width: 100%;
    }


    .bfcm-saving h2{
      font-size: 40px;
      line-height: 46px;
    }
    .bfcm-saving h2.dekstop {
      display: none;
    }
    .bfcm-saving {
      padding: 70px 0 80px;
    }
    .bfcm-saving ul{
      margin-top: 25px;
      padding: 0 10px;
    }
    .bfcm-saving ul li{
      flex-wrap:wrap;
      font-size: 12px;
      line-height: 20px;
      text-align:center;
      justify-content: center;
    }
    .bfcm-saving ul li span {
      float: none;
      margin-right: 0;
      display: block;
      width: 100%;
      text-align: center;
      margin-bottom: 12px;
    }
    .bfcm-saving ul li span img {
      width: 40px;
    }
    #shopify-section-bfcm-faq .faq-section .accordion-container{
      max-width: 90% !important;
    }
    #shopify-section-bfcm-faq .faq-section .accordion-container .set a {
      font-size: 16px;
      line-height: 24px;
      justify-content: space-between;
    }
    .video-sldier {
      padding: 0 0 80px;
    }
    .video-sldier h2{
      font-size: 40px;
      line-height: 46px;
      margin-bottom: 10px;
    }
  }
  @media (min-width:767px){
    .bfcm-banner-content.mobile{
      display:none;
    }

  }
  @media (max-width:767px){
    .cus-annoucment ul li{
      margin-right: 0px;
      border-right: 1px solid transparent;
      padding-right: 0px;
      font-size: 14px;
      width: 100%;
    }
    .cus-annoucment {
      background-color: #C7E7DC;
      padding: 5px 0;
    }
    .bfcm-banner{
      background: linear-gradient(
        180deg, #C7E7DC 0%, #FFFFFF 100%);
    }
    .bfcm-banner-content.dekstop {
      display: none;
    }
    .bfcm-banner-content h1{
      font-size: 36px;
      line-height: 40px;
    }
    .bfcm-banner-content{
      padding: 22px 0 80px;
    }
    span.bfcm-review{
      padding-bottom:13px;
    }
    .bfcm-offer .offer-og {
      width: 110px;
      height: 110px;
      font-size: 38px;
      line-height: 92px;
    }
    .bfcm-offer .offer-og span{
      font-size: 18px;
      bottom: 22px;
    }
    .bfcm-offer{
      left: 5%;
      top: 0px;
      align-items: self-start;
    }
    .bfcm-offer .offer-old{
      font-size: 30px;
      margin-top: 21px;
    }
    .bfcm-offer .offer-old span{
      letter-spacing: 0.5px;
    }
    .bfcm-offer .offer-old:before {
      content: '';
      position: absolute;
      border: 1px solid #000000;
      transform: rotate(-11.11deg);
      width: 82px;
      top: 14px;
      background-color: #000;
      left: 2px;
    }
    /*     .bfcm-banner-image{
    margin-top: 40px;
    margin-bottom: -20px;
  } */
    .bfcm-banner-image {
      padding: 65px 0 0px;
    }
    .bfcm-banner-icon ul li img {
      width: 35px;
      object-fit: cover;
    }
    .bfcm-banner-icon ul{
      max-width: 100%;
    }
    .bfcm-banner-icon ul li{
      font-size: 10px;
      line-height: 15px;
      max-width: 96px;
    }
    .bfcm-banner-price {
      margin-top: 30px; 
    }
    .price-detail{
      flex-wrap:wrap;
    }

    .price-detail span.new-price {
      font-size: 16px;
      line-height: 16px;
    }
    .bfcm-banner-price a.bfcm-btn{
      width: 366px;
      height: 48px;
      font-size: 14px;
      line-height: 20px;
    }
    body#bfcm-landing-page .header-new {
      padding: 16px 20px 16px !important;
    }

    .bfcm-skincare{
      padding: 68px 27px 80px;
      background: #FFFAF1;
    }
    .bfcm-investment p.invest-subtitle{
      font-size: 16px;
      line-height: 28px;
      max-width: 345px;
      padding-bottom: 30px;
    }
    .bfcm-customer {
      margin-top: 60px;
    }
    .bfcm-customer h2{
      font-size: 38px;
      line-height: 44px;
    }
    .bfcm-customer .col-md-12 {
      padding: 0;
    }
    span.customer-review{
      margin-top: 20px;
      margin-bottom: 40px;
    }
    span.customer-review img {
      width: 25px;
    }
    .bfcm-customer .slick-dots li{
      width: 8px;
      height: 8px;
    }
    .bfcm-customer .slick-dots li button{
      width: 8px;
      height: 8px;
    }
    .bfcm-customer .slick-dots li button:before{
      background: #000000;
      width: 8px;
      height: 8px;
      border-radius:100px;
    }
    .customer-info{
      margin:0;
    }
    .customer-sldier .slick-dots li.slick-active button:before {
      width: 8px;
    }
    .customer-contain {
      padding: 0 20px 15px;
    }
    .customer-contain p{
      font-size:14px;
      line-height:28px;
      min-height: auto;

    }
    .customer-sldier ul.slick-dots {
      bottom: -50px;
    }

    #shopify-section-bfcm-result .swipe-info {
      display: none;
    }

    #shopify-section-bfcm-faq .faq-section {
      padding: 70px 0 50px;
    }
    #shopify-section-bfcm-faq .faq-section h2{
      font-size: 40px;
      line-height: 44px;
      max-width: 310px;
    }
    #shopify-section-bfcm-faq .faq-section .accordion-container {
      margin-top: 15px;
    }
    #shopify-section-bfcm-faq .faq-section .accordion-container .set a {
      font-size: 16px;
      line-height: 24px;
      justify-content: space-between;
    }
    #shopify-section-bfcm-faq .faq-section .faq-caption {
      margin-top: 40px;
    }
    #shopify-section-bfcm-faq .accordion-container .set .content{
      padding: 18px 0px 22px;
    }
    .bfcm-backed .backed-content p{
      font-family: Poppins;
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      line-height: 28px;
      letter-spacing: 0.3px;
      color: rgb(0 0 0 / 80%);
      margin: 0 0 20px;
      max-width: 100%;
    }
    .bfcm-boost .bfcm-boost-content p{
      max-width: 100%;
    }
    .bfcm-backed .backed-content {
      padding: 0 24px;
      margin-bottom: 50px;
    }
    .bfcm-skincare .container {
      max-width: 100%;
    }
    .bfcm-backed .container{
      max-width:100%;
    }
    .result-title {
      width: 100%;
    }
    #shopify-section-bfcm-result .see-result .result-info p {
      max-width: 100%;
    }
    .customer-contain h6{
      font-size: 16px;
    }
    #bfcm-landing-page .mobile-menu-custome ul#menu li.title:nth-child(2){
      margin-bottom: 32px;
    }

  }
  @media (max-width:480px){

    .price-detail span.new-price {
      padding-left: 0;
      margin-top: 8px;
    }
    .bfcm-backed .backed-content p{
      max-width: 514px;
    }
    .bfcm-boost .bfcm-boost-content p{
      max-width: 580px;
    }
    #shopify-section-bfcm-result .see-result .result-info p {
      max-width: 197px;
      font-size: 16px;
      line-height: 24px;
      margin-bottom: 2px;
    }
    .bfcm-banner-icon ul{
      flex-wrap:nowrap;
    }
  }
  @media (max-width:390px){
    .bfcm-banner-price a.bfcm-btn {
      width: 100%;
    }
  }
  @media (max-width:380px){
    .bfcm-banner-price a.bfcm-btn{
      width:100%;
    }
    .bfcm-banner-icon ul li{
      width:25%;
    }
    .bfcm-step .slick-dots {
      bottom: -25px;
    }
    #shopify-section-bfcm-result .see-result .result-info h2{
      font-size: 34px;
    }
    .bfcm-backed .tab button.tablinks{
      font-size: 24px;
    }

  }
  @media (max-width:340px){
    .black-friday .friday-status ul li{
      width:auto;
    }
    .investmen ul li span img {
      width: 90px;
    }
    #shopify-section-bfcm-result .see-result .result-info h2 {
      font-size: 28px;
    }
    .bfcm-backed .tab button.tablinks {
      font-size: 20px;
      line-height: 24px;
    }
  }
</style>

<style>
  .cus-annoucment {
    background-color: #C7E7DC;
    padding: 10px 0;
  }
  .cus-annoucment a{
    text-decoration:none;
  }
  .cus-annoucment ul {
    margin: 0;
    padding: 0;
    list-style:none;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
  .cus-annoucment ul li:first-child{
    border-right: 1px solid #000;
    margin-right: 25px;
    padding-right: 25px;
  }
  .cus-annoucment ul li{
    margin-right: 7px;
    border-right: 1px solid transparent;
    padding-right: 7px;
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    letter-spacing: 0.3px;
    color: #000000;
  }
  .cus-annoucment ul li b{
    font-weight:600;
  }
  .cus-annoucment ul li:last-child{
    margin-right: 0px;
    border-right: 1px solid transparent;
    padding-right: 0px;
  }
  .cus-annoucment ul li span {
    background-color: #000;
    color: #fff;
    padding: 2px 25px;
    border-radius: 25px;
  }
  @media (max-width:767px){
    .cus-annoucment ul li:first-child{
      border-right: 1px solid transparent;
      margin-right: 0px;
      padding-right: 0px;
      width: 100%;
    }
    .cus-annoucment ul li{
      margin-right: 7px;
      border-right: 1px solid transparent;
      padding-right: 7px;
      font-size: 16px;
      width: auto;
    }
    .cus-annoucment {
      background-color: #C7E7DC;
      padding: 5px 0;
    }
  }
</style>
<!-- <script>
const second = 1000,
minute = second * 60,
hour = minute * 60,
day = hour * 24;
var countDown25 = new Date("Nov 30, 2021 00:00:00 GMT+11:00").getTime();
x = setInterval(function() {    

let options = {
timeZone: 'Australia/Canberra',
year: 'numeric',
month: 'numeric',
day: 'numeric',
hour: 'numeric',
minute: 'numeric',
second: 'numeric',
},
formatter = new Intl.DateTimeFormat([], options);
let now25 = new Date().getTime(),
distance25 = countDown25 - now25;


var days25 = Math.floor(distance25 / (day));
var hours25 = Math.floor((distance25 % (day)) / (hour));
var minutes25 = Math.floor((distance25 % (hour)) / (minute));
var seconds25 = Math.floor((distance25 % (minute)) / second); 

jQuery('#days').html(days25 < 10 ? "0" + days25 : days25);
jQuery('#hours').html(hours25 < 10 ? "0" + hours25 : hours25);
jQuery('#minutes').html(minutes25 < 10 ? "0" + minutes25 : minutes25);
jQuery('#second').html(seconds25 < 10 ? "0" + seconds25 : seconds25);
}, second);
</script> -->
<script>
  $(document).ready(function() {
    $(".set > a").on("click", function() {
      if ($(this).hasClass("active")) {
        $(this).removeClass("active");
        $(this)
        .siblings(".content")
        .slideUp(200);
        $(".set > a i")
        .removeClass("fa-minus")
        .addClass("fa-plus");
      } else {
        $(".set > a i")
        .removeClass("fa-minus")
        .addClass("fa-plus");
        $(this)
        .find("i")
        .removeClass("fa-plus")
        .addClass("fa-minus");
        $(".set > a").removeClass("active");
        $(this).addClass("active");
        $(".content").slideUp(200);
        $(this)
        .siblings(".content")
        .slideDown(200);
      }
    });
  });

</script>
<script>
  function openCity(evt, cityName) {
    var i, tabcontent, tablinks;
    tabcontent = document.getElementsByClassName("tabcontent");
    for (i = 0; i < tabcontent.length; i++) {
      tabcontent[i].style.display = "none";
    }
    tablinks = document.getElementsByClassName("tablinks");
    for (i = 0; i < tablinks.length; i++) {
      tablinks[i].className = tablinks[i].className.replace(" active", "");
    }
    document.getElementById(cityName).style.display = "block";
    evt.currentTarget.className += " active";
  }
</script>
<script>
  $("a.mask-section").click(function(e) {
    e.preventDefault();
    $('html, body').animate({
      scrollTop: $(".bfcm-backed").offset().top
    }, 2000);
  });
</script>
<script>
  $("a.serum-section").click(function() {
    $('html, body').animate({
      scrollTop: $(".bfcm-boost").offset().top
    }, 2000);
  });
</script>
<script>
  $(".faq-scroll").click(function() {
    $('html, body').animate({
      scrollTop: $(".faq-section").offset().top
    }, 2000);
  });
</script>
<script>
  $("a.bfcm-btn.scoll-fun").click(function() {
    $('html, body').animate({
      scrollTop: $(".saving-image").offset().top
    }, 2000);
  });
</script>
<!-- <script>
var player;

var $ = function (id) {
return document.getElementById(id);
};
var $$ = function (tagname) {
return document.getElementsByTagName(tagname);
};

function onYouTubeIframeAPIReady() {
var videos = $$("iframe"), // the iframes elements
players = [], // an array where we stock each videos youtube instances class
playingID = null; // stock the current playing video
for (
var i = 0;
i < videos.length;
i++ // for each iframes
) {
var currentIframeID = videos[i].id; // we get the iframe ID
players[currentIframeID] = new YT.Player(currentIframeID); // we stock in the array the instance
// note, the key of each array element will be the iframe ID

videos[i].onmouseover = function (e) {
// assigning a callback for this event
var currentHoveredElement = e.target;
if (playingID) {
// if a video is currently played
players[playingID].pauseVideo();
}
players[currentHoveredElement.id].playVideo();
playingID = currentHoveredElement.id;
};
}
}

</script> -->
<!--   <script>
$('.video-pop').magnificPopup({
type: 'iframe'
});
</script>
-->